<?xml version="1.0"?>
<configuration>
    <configSections>
		<section name="AuditorConfig" type="AuditorLib.AuditorConfig, AuditorLib"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SpecificSettings" type="Scorto.ConnectionsManager.SSSConfigSection,WindowsClientLib" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			<section name="AuditorApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuditorApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	
    <applicationSettings>
        <AuditorApplication.Properties.Settings>
            <setting name="AppCulture" serializeAs="String">
                <value>ru-RU</value>
            </setting>
        </AuditorApplication.Properties.Settings>
        <SpecificSettings>
            <ConnectionProfiles ShowProfiles="true" DefaultProfileName="Local">
                <add Name="Main Connection" Address="http://localhost/303/AuditorServer/Service.asmx" />
                <add Name="Local" Address="http://localhost/EZBOB/AuditorServer/Service.asmx" />
            </ConnectionProfiles>
        </SpecificSettings>
	</applicationSettings>
	<AuditorConfig>
		<Plugins>
			<!-- Plugin Name="Example module" Path=".\ExamplePlugin.dll">
			</Plugin -->
      <Plugin Name="SearchApplications" Path=".\SearchApplications.dll">      </Plugin>
      <Plugin Name="ApplicationState" Path=".\ApplicationState.dll">			</Plugin>
      <Plugin Name="ApplicationHistory" Path=".\ApplicationHistory.dll">			</Plugin>      
      <Plugin Name="NodeLimitExceeded" Path=".\NodeLimitExceeded.dll"> 			</Plugin>
      <Plugin Name="StrategyLimitExceeded" Path=".\StrategyLimitExceeded.dll"> 			</Plugin>      
      <Plugin Name="ReassignApplications" Path=".\ReassignApplications.dll">			</Plugin>
      <Plugin Name="LockedApplications" Path=".\LockedApplications.dll"> 			</Plugin>
      <Plugin Name="RestartApplications" Path=".\RestartApplications.dll">			</Plugin>
      <Plugin Name="BaseEntitiesOperationJournal" Path=".\Scorto.Auditor.Plugin.BaseEntitiesOperationJournal.dll">			</Plugin>
			<Plugin Name="ApplicationsOperationJournal" Path=".\Scorto.Auditor.Plugin.ApplicationsOperationJournal.dll">			</Plugin>
			

		</Plugins>
	</AuditorConfig>

	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
		<!--gcConcurrent enabled="false" /-->
	</runtime>

	<userSettings>
  <AuditorApplication.Properties.Settings>
   <setting name="AppName" serializeAs="String">
    <value>Auditor</value>
   </setting>
   <setting name="AppEdition" serializeAs="String">
    <value>Standard edition</value>
   </setting>
  </AuditorApplication.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>