<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Off = 0, RequestCommand = 1, FullRequest = 2, All = 3  -->
    <add key="ServiceActionLogLevel" value="3" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpModules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </httpModules>
    <webServices>
      <protocols>
        <clear />
        <add name="HttpSoap" />
        <add name="Documentation" />
      </protocols>
      <soapExtensionTypes>
        <add type="Scorto.Web.ExceptionAdapterExtension, ServerLib" priority="1" />
        <add type="Scorto.Web.Security.ScortoAuthorizationExtension, ServerLib" priority="1" />
      </soapExtensionTypes>
    </webServices>
    <pages clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </modules>
  </system.webServer>
</configuration>