@using EzBob.Web.Infrastructure.Html
@model dynamic
@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
}
<div class="page-section hide section-add-customer">
	<section id="content">
		<div class="wizard-wrap">


			<form class="new-lead-form broker-form clearfix" novalidate="novalidate">
				<div class="form_buttons_container">
					<button type="button" class="back-to-list button btn-green pull-right btn-wide clean-btn">Back to client list</button>
					<h2 class="form-start">Add a new client</h2>
				</div>

				@{ int nLeadTabIdx = 1; }

				@EzForm.InputTextWizard(
					new EzInputBuilder(
						"LeadFirstName",
						"Client first name",
						type: "text",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: nLeadTabIdx++,
						uiEventControlID: "broker:lead-first-name"),
					origin: origin)

				@EzForm.InputTextWizard(
					new EzInputBuilder(
						"LeadLastName",
						"Client surname",
						type: "text",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: nLeadTabIdx++,
						uiEventControlID: "broker:lead-last-name"),
					origin: origin)

				@EzForm.InputTextWizard(
					new EzInputBuilder(
						"LeadEmail",
						"Client email",
						type: "email",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: nLeadTabIdx++,
						uiEventControlID: "broker:lead-email"),
					origin: origin)

				<div>
					<div class="form_field_container add_client_button">
						<div class="form_buttons_container">
							Complete the application on behalf of your client

							<button type="submit" id="LeadFillWizard" data-add-mode="fill" class="button btn-green disabled ev-btn-org" tabindex="@{ WriteLiteral(nLeadTabIdx++); }" ui-event-control-id="broker:lead-fill-wizard">
								<i class="fa fa-desktop"></i>&nbsp;Fill
							</button>
						</div>
					</div>
					<div class="form_field_container add_client_button">
						<div class="form_buttons_container">
							Send an invitation to the client to fill himself

							<button type="submit" id="LeadSendInvitation" data-add-mode="invitation" class="button btn-green disabled ev-btn-org" tabindex="@{ WriteLiteral(nLeadTabIdx++); }" ui-event-control-id="broker:lead-send-invitation">
								<i class="fa fa-envelope"></i>&nbsp;Send
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>
