@model dynamic
<div class="section-dashboard-commission">
	<div class="linked_bank" style="display: none;">
		<div class="profile-headlines">
			<h3>Account linked</h3>
			<h5 class="header-message">Automatic payment will be wired to the account.</h5>
		</div>
		<div class="d-widgets">
			<div class="d-widget">
				<h3>Loans</h3>
				<dl>
					<dt>Comission:</dt>
					<dd class="broker-commission"></dd>
				</dl><!--should
				be together--><dl>
					<dt>Issued:</dt>
					<dd class="broker-approved">---</dd>
				</dl>
				<button class="button btn-grey pull-right btn-wide add-bank ev-btn-org">Update bank account</button>
			</div>
		</div>
	</div>
	<div class="not_linked_bank" style="display: none;">
		<div class="profile-headlines">
			<h3><span class="broker-name"></span>, link your bank account &amp; get paid!</h3>
			<h5 class="header-message">Link your bank account and receive commission automatically.</h5>
		</div>
		<div class="d-widgets">
			<div class="d-widget">
				<h3>Loans</h3>
				<dl>
					<dt>Comission:</dt>
					<dd class="dashes">---</dd>
				</dl><dl>
					<dt>Issued:</dt>
					<dd class="broker-approved"></dd>
				</dl>
				<button class="button btn-green pull-right btn-wide add-bank ev-btn-org">Link bank account</button>
			</div>
		</div>
	</div>
</div>
