@model dynamic

<div id="section-dashboard-commission">
	<h2 class="form_start">Commission</h2>
    <button id="AddBank" class="button btn-green pull-right btn-wide">Link bank account</button>
</div>
