@using ConfigManager
<div class="page-section hide section-dashboard">
	<div id="commission-view">@{ Html.RenderPartial("Commission"); }</div>

	<div class="profile-menu">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a href="#section-dashboard-customers">Clients</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-marketing">Marketing materials</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-account-info">Account information</a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-terms-and-conditions">Terms and conditions</a></li>
				@if (CurrentValues.Instance.BrokerInstantOfferEnabled) {
					<li class="divider-vertical"></li>
					<li><a href="#section-dashboard-instant-offer">Instant offer</a></li>
				}
			</ul>
		</div>
	</div>

	<div id="section-dashboard-customers">
		<button type="button" id="AddNewCustomer" class="button btn-green pull-right btn-wide">Add a new client</button>
		<h2 class="form-start">Client list</h2>

		<div class="table-big">
			<table class="customer-list table">
				<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Status</th>
						<th>Applied date</th>
						<th>Approved amount</th>
						<th>Loan amount</th>
						<th>Commission amount</th>
						<th>Commission payment date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div id="section-dashboard-marketing">
		<h2 class="form_start">Marketing materials</h2>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Add ezbob logo to your web site and email</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="image-size">100 x 26</div>
						<div class="value source-ref-sample" data-field-name="SourceRefToLink_100x26"></div>
					</div>
				</div>

				<div class="aka-column-top">
					<div class="value source-ref-sample-text" data-field-name="SourceRefToText_100x26"></div>
				</div>
			</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="image-size">200 x 52</div>
						<div class="value source-ref-sample" data-field-name="SourceRefToLink_200x52"></div>
					</div>
				</div>

				<div class="aka-column-top">
					<div class="value source-ref-sample-text" data-field-name="SourceRefToText_200x52"></div>
				</div>
			</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="direct-link">Direct link</div>
						<div class="send-via-email"><i class="fa fa-envelope"></i>Send via email</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="source-ref-link value" data-field-name="SourceRef"></div>
				</div>
			</div>
		</div>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Useful links</div>
			<div class="aka-row">
				<div class="aka-column">
					<ul class="marketing-files" data-url-template="@Model.MarketingFileUrlTemplate"></ul>
				</div>
			</div>
		</div>
	</div>

	<div id="section-dashboard-account-info">
		<h2 class="form_start">Account information</h2>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Account details</div>

			<div class="aka-row">
				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company name:</span>
							<span class="value" data-field-name="BrokerName"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Contact person:</span>
							<span class="value" data-field-name="ContactName"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company registration number:</span>
							<span class="value" data-field-name="BrokerRegNum"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Mobile phone #:</span>
							<span class="value" data-field-name="ContactMobile"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Other phone #:</span>
							<span class="value" data-field-name="ContactOtherPhone"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company web site:</span>
							<span class="value" data-field-name="BrokerWebSiteUrl"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Contact email:</span>
							<span class="value" data-field-name="ContactEmail"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="aka-row">
				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Bank name:</span>
							<span class="value" data-field-name="BankName"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Account number:</span>
							<span class="value" data-field-name="BankAccount"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Sort code:</span>
							<span class="value" data-field-name="BankSortCode"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Update password</div>

			<div class="aka-row">
				<div class="aka-column">
					<form class="update-password-form broker-form" novalidate="novalidate">
						@{ int nUpdatePassIdx = 1; }

						<div class="form_field_container">
							<label class="attardi-input">
								<span>Current password</span>
								<input type="password" name="OldPassword" id="OldPassword" tabindex="@{ WriteLiteral(nUpdatePassIdx++); }" class="form_field" ui-event-control-id="broker:update-old-password" />
								<img id="OldPasswordImage" class="field_status required" />
							</label>
						</div>

						<div id="strength-update-password-view" class="form_field_container">
							<label class="attardi-input">
								<span>New password</span>
								<input type="password" name="NewPassword" id="NewPassword" tabindex="@{ WriteLiteral(nUpdatePassIdx++); }" class="form_field" ui-event-control-id="broker:update-password" />
								<img id="NewPasswordImage" class="field_status required" />
							</label>
							<p id="message" class="help-block"></p>
						</div>

						<div class="form_field_container">
							<label class="attardi-input">
								<span>Confirm password</span>
								<input type="password" name="NewPassword2" id="NewPassword2" tabindex="@{ WriteLiteral(nUpdatePassIdx++); }" class="form_field" ui-event-control-id="broker:update-confirm-password" />
								<img id="NewPassword2Image" class="field_status required" />
							</label>
						</div>

						<div class="form_buttons_container">
							<div class="attardi-button">
								<button type="submit" id="UpdatePassword" class="button btn-green disabled pull-right btn-wide" tabindex="@{ WriteLiteral(nUpdatePassIdx++); }" ui-event-control-id="broker:submit-update-password">Update password</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="section-dashboard-terms-and-conditions">
		<h2>Terms and conditions</h2>

		Signed on <span class="signed-time">..</span>.

		<div class="terms-and-conditions">Loading...</div>

		<div id="broker-footer-placeholder"></div>
	</div>

	@if (CurrentValues.Instance.BrokerInstantOfferEnabled) {
		Html.RenderPartial("InstantOffer");
	}
</div>
