@using EzBob.Web.Infrastructure
@model EzBob.Web.Areas.Broker.Models.BrokerHomeModel
@{
	Model.RootUrl = Url.Content("~/");
	Model.MarketingFileUrlTemplate = Url.Action("DownloadFile", "BrokerHome", new { Area = "Broker", fid = "__FILE_ID__", });
	Model.LogoUrl = Url.Content("~/Content/css/images/header/ezbob_logo-white.png");
	Model.EuIconUrl = Url.Content("~/Content/img/eu-menu.png");
	UiCustomerOrigin.Set(ViewBag);
	ViewBag.Title = "Brokers |" + ViewBag.CustomerOrigin.GetOrigin();
}

		<div class="row-fluid broker-page-content main-page main-page-ezbob">
			<div class="inner">
				<section class="broker">
					@{
						Html.RenderPartial("Signup");
						Html.RenderPartial("Login");
						Html.RenderPartial("Forgotten");
						Html.RenderPartial("Dashboard");
						Html.RenderPartial("AddCustomer");
						Html.RenderPartial("AddBank");
						Html.RenderPartial("LeadDetails");
						Html.RenderPartial("CustomerDetails");
						Html.RenderPartial("Forbidden");
						Html.RenderPartial("RequestAcceptTerms");
					}
				</section>
			</div>
		</div>

		@{ Html.RenderPartial("ScratchCards_Old_Do_NOT_AppendHere"); }

		<div id="modalRegion" class="modal hide fade"></div>

		<div id="broker-footer-placeholder"></div>

		
	@{
		Html.RenderPartial("~/Areas/Customer/Views/Profile/CompanyDirectorsTemplate.cshtml");
		Html.RenderPartial("~/Areas/Customer/Views/Shared/_TargetingTemplate.cshtml");
		Html.RenderPartial("_LoanScheduleTemplate");
	}

	@EditExperianDirectorData.Render(this)

	
