@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
	bool isEverline = origin == CustomerOriginEnum.everline;
}
<div class="page-section hide section-login">
	<section id="content">
		<div class="wizard-wrap">
			<form class="login-form broker-form" novalidate="novalidate">
				@{ int nLoginTabIdx = 1; }
				<h2 class="form-start">Broker login</h2>

				@if (!isEverline) {
					var verticalDevider = " | ";
					<a href="#" class="ForgottenPassword">Forgotten password</a>@verticalDevider<a href="#" class="Signup">Sign up</a>
				}
				
				<div class="broker-login-fields">

					@EzForm.InputTextWizard(
					new EzInputBuilder(
						"LoginEmail",
						"Contact person email",
						type: "email",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: nLoginTabIdx++,
						uiEventControlID: "broker:login-email",
						autoCorrect: "off",
						autoCapitalize: "off"),
					origin: origin)

					@EzForm.InputTextWizard(
					new EzInputBuilder(
						"LoginPassword",
						"Password",
						type: "password",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: nLoginTabIdx++,
						uiEventControlID: "broker:login-password"),
					origin: origin)
				</div>

				@EzForm.WizardButton(
				new EzButtonModel(
					"LoginBrokerButton",
					"Login",
					"button btn-green disabled pull-right ev-btn-org",
					"broker:login-submit",
					nLoginTabIdx++,
					EzButtonType.submit),
				origin: origin)
				
				@if (isEverline) {
					<a href="#" class="ForgottenPassword">Forgotten password</a>
				}
			</form>
			<aside class="customer-sidebar broker"></aside>
		</div>
	</section>
</div>
