<div id="valentine2015scratch">
	<div class="content">
		<img class="title" src="~/Content/img/valentine2015scratch/headline.png" />

		<div class="scratch-card">
			<div class="alpha-scratch-area"></div>
			<div class="scratch-area"></div>
			<div class="beta-scratch-area"></div>

			<img class="slogan" src="~/Content/img/valentine2015scratch/ribbon.png" />
		</div>
	</div>

	<div class="decline"><a class="decline-game">I don't want to play</a></div>
	<div class="close-lost"><a class="leave">Close</a></div>

	<div class="won">
		<div class="popup">
			<div class="title">Go Pack!</div>
			<div class="msg">You won 2 tickets to <span class="city"></span></div>
		</div>

		<div class="close"><a class="leave">Close</a></div>
	</div>
</div>

<div id="ny2015scratch">
	<div class="content">
		<div class="title">New Year's Revolution</div>
		<div class="slogan">Scratch and win Free cash up to</div>
		<div class="slogan-amount">
			<img src="~/Content/img/ny2015scratch/pound.png" />
			<img src="~/Content/img/ny2015scratch/2.png" />
			<img src="~/Content/img/ny2015scratch/0.png" />
			<img src="~/Content/img/ny2015scratch/1.png" />
			<img src="~/Content/img/ny2015scratch/5.png" />
		</div>

		<div class="frame">
			<div class="scratch-card">
				<div class="scratch-area"></div>

				<div class="alpha-scratch-area"></div>
				<div class="beta-scratch-area"></div>
				<div class="gamma-scratch-area"></div>
			</div>
			<div class="hoops"></div>
		</div>
	</div>

	<div class="decline"><a class="decline-game">I don't want to play</a></div>
	<div class="close-lost"><a class="leave">Close</a></div>

	<div class="won">
		<div class="fire">
			<div class="frame">
				<div class="title">You won!</div>

				<div class="amount-row">
					<img src="~/Content/img/ny2015scratch/pound.png" />
					<span class="amount"></span>
				</div>

				<div class="close"><a class="leave">Close</a></div>
			</div>
		</div>
	</div>
</div>

