<div id="easter2015scratch">
	<div class="opening">
		<!--a class="leave" href="#">Play later</a-->
		<div class="leave"></div>
	</div>
	<div class="playground">
		<img class="egg egg-golden" data-has-prize="no" src="~/Content/img/easter2015scratch/golden-egg.png" />
		<img class="egg egg-magenta" data-has-prize="no" src="~/Content/img/easter2015scratch/magenta-egg.png" />
		<img class="egg egg-pink" data-has-prize="yes" src="~/Content/img/easter2015scratch/pink-egg.png" />

		<div class="exit-game">
			<!--<a class="decline-game" href="#">I don't want to play</a>
			&nbsp;&nbsp;&nbsp;&nbsp;-->
			<!--a class="leave" href="#">Play later</a-->
			<div class="leave"></div>
		</div>

		<div class="not-yet">
			<img src="~/Content/img/easter2015scratch/not-yet.png" />
		</div>
	</div>
	<div class="won"></div>
</div>
