.attardi-input, .attardi-button {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    width: 100%;
}

    .attardi-input span {
        font-weight: normal;
        position: absolute;
        padding: 8px;
        margin-left: 3px;
        color: #999;
        z-index: 1;
        cursor: text;
        pointer-events: none;
        font-size: 16px;
    }

        .attardi-input span.active {
            color: #ccc !important;
        }

        .attardi-input span.attardi-has-data {
            bottom: 24px;
            left: -10px;
            color: #acacac !important;
            font-size: 70%;
            min-height: 18px;
        }

.profile-widgets .attardi-input span.attardi-has-data,
.bank-account .attardi-input span.attardi-has-data,
.paypont-form .attardi-input span.attardi-has-data {
    height: 18px;
}

.attardi-input input:not([type='button']), .attardi-input textarea {
    z-index: 0;
    padding: 0 4px;
    margin: 0;
}

.attardi-input input:not([type='button']):focus, .attardi-input select:focus {
    border: #CCC 1px solid;
    outline: none;
}

.attardi-input input:not([type='button']):hover, .attardi-input select:hover {
    border: #CCC 1px solid;
    outline: none;
}


.attardi-input select {
    z-index: 0;
    margin: 0;
}

.ezDateTime .attardi-input {
    width: 27%;
}

.ezDateTime .attardi-input select {
    width: 96%;
}

.ezDateTime .fs16 {
    display: inline-block;
    width: 14%
}
.field_status {
	vertical-align: top;
	margin-top: 0.4em;
    float: right;
}


