.attardi-input {
	position: relative;
	display: inline-block;
	margin: 0 !important;
}

.attardi-input span {
	font-weight: normal;
	position: absolute;
	padding: 5px;
	margin-left: 3px;
	color: #999;
	z-index: 1;
	cursor: text;
	pointer-events: none;
}

.attardi-input span.active { color: #ccc !important; }

.attardi-input span.attardi-has-data {
	bottom: 20px;
	left: -3px;
	color: black !important;
	font-size: 70%;
}

.profile-widgets .attardi-input span.attardi-has-data,
.bank-account .attardi-input span.attardi-has-data{
    height: 18px;
}

.attardi-input input, .attardi-input textarea, .attardi-input select {
	z-index: 0;
	padding: 4px;
	margin: 0;
	/*font: inherit;*/
}
