html {
    overflow-y: scroll;
}

.ui-widget {
    font-family: 'Titillium Web Regular', Arial, sans-serif;
    font-size: 14px;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 14px;
    font-family: "Titillium Web Semi Bold";
    background-color: inherit !important;
    border: none !important;
}

.broker {
    margin-top: 90px;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button,
.ui-widget button {
    font-size: 16px;
    font-family: "Titillium Web Semi Bold";
    height: 36px;
    line-height: 36px;
    width: 120px;
}

.add-crm-note {
    width: 30px;
}

.forgotten-form .button {
    width: 200px;
}

.box > .box-title {
    background-color: #E2E3E5;
    text-shadow: 0 1px 0 #E2E3E5;
    padding: 0 10px;
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    color: #67c10b;
    margin: 20px 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.form_read_and_accept input[type="checkbox"] {
    margin: 0 5px 5px 0;
}

.broker-form {
    float: left;
    width: 62%;
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

.login-form a {
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

footer {
    clear: both;
}

.simpleCaptcha > div {
    padding-top: 1em;
}

.section-dashboard {
    margin-top: 20px;
}

    .section-dashboard .ui-tabs-panel {
        padding: 0;
    }

table.customer-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: 14px;
    white-space: nowrap;
}

div.dataTables_info {
padding-top: 0;
}

.section-dashboard .dataTables_top_right {
    float: right;
}

.section-dashboard .dataTables_filter {
    display: inline;
}

.section-dashboard .reload-customer-list,
.section-customer-details .delete-selected-files {
    margin-top: 7px;
    margin-left: 10px;
    float: right;
}

.broker a,
#broker-terms-and-conditions a,
.section-dashboard tbody .grid-item-FirstName a,
.section-dashboard tbody .grid-item-LastName a {
    text-decoration: underline;
    color: #428bca;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #ffffff;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    color: #a7a6a6;
}

    .ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {
        background: inherit;
        border-bottom: none;
        color: #ffffff;
    }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
    background: inherit;
}



.section-dashboard tbody .grid-item-LoanAmount,
.section-dashboard tbody .grid-item-SetupFee,
.section-dashboard tfoot .grid-item-LoanAmount,
.section-dashboard tfoot .grid-item-SetupFee,
.section-dashboard tfoot .grid-item-LoanDate {
    text-align: right;
}

.section-dashboard tfoot td {
    font-weight: bold;
    background-color: #E2E3E5;
}

.section-dashboard .lead-send-invitation,
.section-dashboard .lead-fill-wizard {
    white-space: nowrap;
}


.section-customer-details .back-to-list-container {
    margin: 2em 0 1em 0;
    text-align: right;
}

.value-group {
    font-size: 15px;
    margin-bottom: 1em;
    padding: 5px;
}

.aka-table {
    display: table;
    width: 100%;
}

.aka-caption {
    display: table-caption;
    font-weight: bold;
}

    .aka-caption .dataTables_filter {
        float: right;
    }

        .aka-caption .dataTables_filter input {
            margin: 0 !important;
        }

.aka-row {
    display: table-row;
}

.aka-column {
    display: table-cell;
}

.value-title {
    font-weight: bold;
    padding-right: 1em;
    padding-bottom: 0.5em;
    width: 1px !important;
    white-space: nowrap !important;
    font-family: 'Titillium Web Semi Bold';
}

table.table th {
    font-family: 'Titillium Web Semi Bold';
}

.aka-row > .value-title,
.aka-row > .value {
    display: table-cell;
}

.section-customer-details .center {
    text-align: center!important;
}

.section-customer-details .dropzone {
    min-height: 0 !important;
    width: 20%;
}

.section-customer-details .table-responsive {
    width: 80%;
}

.section-customer-details .dataTables_info,
.section-customer-details .dataTables_length {
    display: inline-block;
    float: left;
    margin-right: 1em;
    padding: 0 !important;
}

.section-add-customer .form_buttons_container {
    position: relative;
}

.aka-column-top {
    display: table-cell;
    vertical-align: top;
}

.logo-example > div > div {
    margin-top: 20px;
}

.source-ref-container {
    position: relative;
    width: 220px;
}

    .source-ref-container .image-size {
        position: absolute;
        top: -15px;
        left: 0;
        color: #aaaaaa;
    }

.source-ref-sample {
    padding: 10px;
}

.source-ref-sample-text {
    padding: 10px;
    border: 1px solid #E2E3E5;
}

.source-ref-container .direct-link {
    position: absolute;
    top: -35px;
    left: 0;
    color: #aaaaaa;
}

.source-ref-link {
    border: 1px solid #E2E3E5;
    padding: 1.5em;
    text-align: left;
}

.send-via-email {
    padding-left: 20px;
}

.update-password-form {
    margin-top: 20px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	vertical-align: middle;
}

div.form_read_and_accept label {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    white-space: inherit;
}

.broker-dashboard {
    min-width: 1000px !important;
}