.ui-widget {
    font-family: 'Titillium Web Regular', Arial, sans-serif;
    font-size: 14px;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 14px;
    font-family: "Titillium Web Semi Bold";
    background-color: inherit !important;
    border: none !important;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
font-size: 14px;

}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button,
.ui-widget button {
    font-size: 16px;
    font-family: "Titillium Web Semi Bold";
    height: 36px;
    line-height: 36px;
    width: 120px;
}

.add-crm-note {
    width: 30px;
}

.forgotten-form .button {
    width: 200px;
}

.box > .box-title {
    background-color: #E2E3E5;
    text-shadow: 0 1px 0 #E2E3E5;
    padding: 0 10px;
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    color: #67c10b;
    margin: 20px 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.form_read_and_accept input[type="checkbox"] {
    margin: 0 5px 5px 0;
}

.broker-form {
    width: 90%;
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

.login-form a {
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

footer {
    clear: both;
}

.simpleCaptcha > div {
    padding-top: 1em;
}

.section-dashboard {
    margin-top: 20px;
	height: auto !important;
}

    .section-dashboard .ui-tabs-panel {
        padding: 0;
    }

.table-big{
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

table.customer-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: 14px;
    white-space: nowrap;
}

div.dataTables_info {
padding-top: 0;
}

.section-dashboard .dataTables_top_right {
    float: right;
}

.section-dashboard .dataTables_filter {
    display: inline;
}

.section-dashboard .reload-customer-list,
.section-customer-details .delete-selected-files {
    margin-top: 7px;
    margin-left: 10px;
    float: right;
}

#broker-terms-and-conditions dd,
#broker-terms-and-conditions ol,
#broker-terms-and-conditions ul {
    padding-left: 20px;
}

#broker-terms-and-conditions p {
    margin-bottom: 7px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #ffffff;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    color: #a7a6a6;
}

    .ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {
        background: inherit;
        border-bottom: none;
        color: #ffffff;
    }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active:hover {
    background: inherit;
}



.section-dashboard tbody .grid-item-LoanAmount,
.section-dashboard tbody .grid-item-SetupFee,
.section-dashboard tfoot .grid-item-LoanAmount,
.section-dashboard tbody .grid-item-CommissionAmount, 
.section-dashboard tfoot .grid-item-SetupFee,
.section-dashboard tfoot .grid-item-LoanDate
.section-dashboard tfoot .grid-item-CommissionAmount {
    text-align: right;
}

.section-dashboard tfoot td {
    font-weight: bold;
    background-color: #E2E3E5;
}

.back-to-list-container {
    margin: 2em 0 1em 0;
    text-align: right;
}

.value-group {
    font-size: 15px;
    margin-bottom: 1em;
    padding: 5px;
}

.aka-caption .dataTables_filter {
	float: right;
}

.aka-caption .dataTables_filter input {
	margin: 0 !important;
}

.value-title {
    font-weight: bold;
    padding-right: 1em;
    padding-bottom: 0.5em;
    width: 1px !important;
    white-space: nowrap !important;
    font-family: 'Titillium Web Semi Bold';
}

table.table th {
    font-family: 'Titillium Web Semi Bold';
}

.aka-row > .value-title,
.aka-row > .value {
    display: table-cell;
}

.section-customer-details .center {
    text-align: center!important;
}

.section-customer-details .dropzone {
    min-height: 0 !important;
    width: 20%;
}

.section-customer-details .table-responsive {
    width: 80%;
}

.section-customer-details .dataTables_info,
.section-customer-details .dataTables_length {
    display: inline-block;
    float: left;
    margin-right: 1em;
    padding: 0 !important;
}

.section-add-customer .form_buttons_container {
    position: relative;
}

.aka-column-top {
    display: table-cell;
    vertical-align: top;
}

.logo-example > div > div {
    margin-top: 20px;
}

.source-ref-container {
    position: relative;
    width: 220px;
}

    .source-ref-container .image-size {
        position: absolute;
        top: -15px;
        left: 0;
        color: #aaaaaa;
    }

.source-ref-sample {
    padding: 10px;
}

.source-ref-sample-text {
    padding: 10px;
    border: 1px solid #E2E3E5;
}

.source-ref-container .direct-link {
    position: absolute;
    top: -35px;
    left: 0;
    color: #aaaaaa;
}

.source-ref-link {
    border: 1px solid #E2E3E5;
    padding: 1.5em;
    text-align: left;
}

.send-via-email {
    padding-left: 20px;
}

.instant-offer-form,
.update-password-form {
    margin-top: 20px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	vertical-align: middle;
}

.form_read_and_accept_broker  {
	width: 90%;
    vertical-align: top;
    white-space: inherit;
}

div.form_read_and_accept label {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    white-space: inherit;
}

div.FormRadioCtrl label {
	width: initial;
}

.broker-dashboard {
    min-width: 1000px !important;
}

input[type="checkbox"].form_field {
    width: 36px;
}

.form_field_checkbox {
    left: 36px;
}

.instant-offer-response {
    font-size: 16px;
}

.print-customer_details {
     display: none;
}

b, strong {
    font-family: 'Titillium Web Semi Bold';
}

.d-widget{
    height: 56px;
}

.d-widgets:before, .d-widgets:after {
  display: table;
  line-height: 0;
  content: "";
}

.d-widgets:after {
    clear: both;
}

.d-widget dd.dashes {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.header-message{
    color: #67c10b;
}

.everline_header,
.everline_header *,
.everline_header *:before,
.everline_header *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

div#broker-footer-placeholder {
	height: 120px;
}

.profile-menu .navbar-inner {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgb(89,89,89); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzFmMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(35,31,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(35,31,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
    filter: none\0/ !important;
    -pie-background: linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
}

.navbar .profile-menu {
    margin-bottom: 10px;
}

.profile-menu .nav {
    height: 40px;
    border: none;
    color: #ffffff;
}

.navbar .nav > li > a,
.profile-menu .nav > li > a {
    text-shadow: none;
    font-size: 14px ;
    padding: 0 18px !important;
    color: #a7a6a6;
    font-family: "Titillium Web Semi Bold";
    line-height: 40px !important;
    vertical-align: middle;
}
.profile-menu .navbar-inner{
    padding-left: 0px;
}

.profile-menu .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.profile-menu.navbar .nav > li > a:focus, 
.profile-menu.navbar .nav > li > a:hover,
.profile-menu.navbar .nav .active a, 
.profile-menu.navbar  .nav .active a:hover{
    color: #ffffff !important;
}

.profile-menu .divider-vertical {
    height: 20px;
    margin-top: 10px;
    border-right: 1px solid #ffffff !important;
    border-left: 1px solid #f2f2f2 !important;
}

.profile-menu .customer-dashboard-main { margin: 0; }

.broker-terms {
	display:block;
}

.broker .broker-form .form_buttons_container {
	width: 96%;
}

.broker .navbar {
	background-color: #ffffff;
}

input[type="button"].form_field_right_side_signup_phone {
	float: right; 
	margin-right: 20px; 
	width: 26%; 
	height: 36px;
}



