.inner {
	width: 1212px;
	padding: 0 10px 14px 10px;
	margin: 0 auto;
	min-height: 500px;
}

h2 {
	font-size: 32px;
	line-height: 40px;
	color: #7bb224;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.broker-form {
	float: left;
	width: 62%;
	line-height: 1.8em;
	margin-bottom: 1.5em;
}

.login-form a {
	font-weight: bold;
	margin-bottom: 1em;
	display: inline-block;
}

footer {
	clear: both;
}

#AddNewCustomer { margin-top: 1em; }

.section-dashboard h2 {
	margin-bottom: 1.5em;
}

table.customer-list {
	width: 1190px !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}

.section-dashboard .dataTables_top_right { float: right; }

.section-dashboard .dataTables_filter { display: inline; }

.section-dashboard .reload-customer-list,
.section-customer-details .delete-selected-files {
	display: inline-block;
	margin: 0.1em 0 0 1em;
	padding: 0.2em 3em;
	background-color: transparent;
	border: 1px solid #eeeeee;
	color: black;
	float: right;
}

.section-dashboard .reload-customer-list:hover,
.section-customer-details .delete-selected-files:hover {
	border: 1px solid white;
}

.section-customer-details .back-to-list-container {
	margin: 2em 0 1em 0;
	text-align: right;
}

.section-customer-details .value-group {
	font-size: 15px;
	margin-bottom: 1em;
	padding: 5px;
}

.section-customer-details .aka-table {
	display: table;
	width: 100%;
}

.section-customer-details .aka-caption {
	display: table-caption;
	font-weight: bold;
}

.section-customer-details .aka-caption .dataTables_filter {
	float: right;
}

.section-customer-details .aka-caption .dataTables_filter input {
	margin: 0 !important;
}

.section-customer-details .aka-row {
	display: table-row;
}

.section-customer-details .aka-column {
	display: table-cell;
}

.section-customer-details .value-title {
	font-weight: bold;
	padding-right: 1em;
	padding-bottom: 0.5em;
	width: 1px !important;
	white-space: nowrap !important;
}

.section-customer-details .aka-row > .value-title,
.section-customer-details .aka-row > .value {
	display: table-cell;
}

.section-customer-details .center { text-align: center!important; }

.section-customer-details .dropzone {
	min-height: 0 !important;
	width: 20%;
}

.section-customer-details .table-responsive {
	width: 80%;
}

.section-customer-details .dataTables_info,
.section-customer-details .dataTables_length {
	display: inline-block;
	float: left;
	margin-right: 1em;
	padding: 0 !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.broker-form {
		float: left;
		width: 100%;
		line-height: 1.8em;
		margin-bottom: 1.5em;
	}
}
