.captcha-head {
    color: #585858;
    font-weight: bold;
}

.captcha legend, #questionArea legend {
    margin-bottom: 0;
    border: none;
    width: auto;
    padding: 0 10px;
}

.simpleCaptcha img#CaptchaImage {
    border: 1px dashed #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 212px;
}

.simpleCaptcha a {
    width: 60px;
    vertical-align: middle;
    text-align: center;
    margin-top: -65px;
    display: inline-block;
}

.simpleCaptcha div {
    margin-top: 10px;
}
