.addAddressInput { width: 110px; }

.simple-well {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #FFFFFF;
    behavior: url(CSS3PIE);
    border: solid 1px #c5c5c5;
    border-radius: 8px;
    padding: 10px;
    position: relative\0/;
}

h3.popover-title { margin: 0 !important; }

.early-payment-form label.radio, .early-payment-form label.checkbox {
    display: inline-block;
    margin-right: 10px;
}

.early-payment-form .w100p { width: 100%; }

hr.dotted {
    border: 0;
    border-bottom: 2px dotted #ccc;
    margin: 0;
}

input[type='radio'], input[type='checkbox'] { box-shadow: none; }

/*targets*/

.targets {
    background-color: white;
    list-style: none outside none;
    margin-left: -10px;
    padding: 5px 0;
    outline-color: transparent;
}
    .targets li:last-child {
        background-image: url('../img/cross.png');
        -moz-background-size: initial;
        -o-background-size: initial;
        -webkit-background-size: initial;
        background-size: initial;
        background-position: 18px 50%;
    }
    .targets li {
        background-image: url('../img/business.png');
        background-position: 10px 50%;
        background-repeat: no-repeat;
        -moz-background-size: contain;
        -o-background-size: contain;
        -webkit-background-size: contain;
        background-size: contain;
        color: #333;
        cursor: pointer;
        font-weight: bold;
        padding: 0 0 0 4em;
        margin-bottom: 0;
        vertical-align: middle;
        line-height: 40px;
    }

.btnOk:disabled, .btnCancel:disabled { opacity: 0.5; }

.gsfn-right {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -webkit-text-shadow: none;
    border-radius: 10px 10px 0 0;
    text-shadow: none;
}

.loan-agreements a,
a.pdf-link {
    background-image: url(../img/pdf-logo.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 32px;
}

a.print-link {
    background-image: url(../img/printer.png);
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 32px;
}

ul.storelist {
    list-style-image: url(../img/check-min.png);
    list-style-position: outside;
    list-style-type: disc;
}

ul.storelist li { width: 180px; }

ul.storelist li span {
    color: #0B73B4;
    font-weight: bold;
    word-wrap: break-word;
}

.eu_explanation { width: 607px; margin-top: 20px; }

.field-validation-error { display: block; font-weight: bold;}

[name='addressInput'] { margin-top: 10px; }

/*jQuery dialogs*/

.ui-dialog {
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    
    outline: none;
}

.ui-widget-overlay {
    background: #fff;
    filter: Alpha(Opacity=65);
    opacity: .65;
}
.ui-dialog-title {
    font-size: 24.5px;
    line-height: 30px;
    margin: 0 !important;
}

a.excel-link {
   background-image: url(../img/excel.png);
   outline: none;
} 

.tooltipdiv .label{
    vertical-align: top;
}

.ui-autocomplete-loading {
    background: white url('../css/images/rotate.gif') right center no-repeat;
  }

.hidden-field {
    display: none;
}