/*--RESET--*/
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body
{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background: #fff;
    font-size: 18px;
}

/*-- login bar --*/
#pre_header{
    height:40px; color:#fff; text-shadow:0 1px 1px #000;
    background: #666666;
    background: -moz-linear-gradient(top,  #666666 0%, #515151 79%, #383838 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(79%,#515151), color-stop(100%,#383838));
    background: -webkit-linear-gradient(top,  #666666 0%,#515151 79%,#383838 100%);
    background: -o-linear-gradient(top,  #666666 0%,#515151 79%,#383838 100%);
    background: -ms-linear-gradient(top,  #666666 0%,#515151 79%,#383838 100%);
    background: linear-gradient(to bottom,  #666666 0%,#515151 79%,#383838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#383838',GradientType=0 );
}
#header_description{text-align:right; padding:8px 10px 0 0; font-size:14px; line-height:12px; color:#fff;}
/*-- header - logo --*/
header{background:url(images/nav_bg.png) repeat-x 0 0; height:70px;}
header .inner{padding:0 10px!important;}

a.ezbob_logo { float:left; margin:8px 0 0 0; display: block; width: 168px; height: 57px; }

a.ezbob_logo_online { background: url(images/ezbob_logo.png) 0px 0px no-repeat; }

a.ezbob_logo_offline { background: url(images/ezbob_logo_cartless.png) 0px 0px no-repeat; }

#login_button{position:absolute; top:5px; right:10px;}
label.soft-label{
     display: inline-block;
    width: 90%;
    vertical-align: top; 
    font-weight: normal
}
.forgotpass {
    display:none;
}
/*-- header navigation --*/
#nav_container{position:relative;}
nav{ position:absolute; right:0; top:37px;}
nav ul{list-style:none; margin:0; padding:0;}
/* LEVEL ONE*/
ul.dropdown                         { position: relative; z-index:999;}
ul.dropdown li                      { float: left; zoom: 1; margin:0; }
ul.dropdown a:hover                    { color: #666; }
ul.dropdown li a                    { display: block; padding:8px 10px; border-right: 1px solid #ccc; color: #666; text-decoration:none; font-weight:bold; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover, ul.dropdown li.current_page_item, ul.dropdown li.current-page-parent               { background:url(images/nav_bg_on.png) repeat-x 0 0; color: #666; position: relative; -moz-box-shadow: 0 -3px 3px #ccc; -webkit-box-shadow: 0 -3px 3px #ccc; box-shadow: 0 -3px 3px #ccc; }
ul.dropdown li.hover a              { color: #666; }
/* LEVEL TWO */
ul.dropdown ul                         { width: 200px; visibility: hidden; position: absolute; top: 100%; left: 0; -moz-box-shadow: 0 0 10px #888; -webkit-box-shadow: 0 0 10px #888; box-shadow: 0 0 10px #888; }
ul.dropdown ul li                     { font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; }
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a                    { border-right: none; width: 100%; display: inline-block; } 
ul.dropdown ul li.hover,
ul.dropdown ul li:hover             { background: url(images/nav_bg_on.png)repeat-x 0 0; color: #666; position: relative; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
ul.dropdown ul li.hover a           { color: #666; }
/* LEVEL THREE */
ul.dropdown ul ul                     { left: 100%; top: 0; }
ul.dropdown li:hover > ul             { visibility: visible; }
/*-- footer navigation --*/
ul.footer_nav{margin:0; padding:0; list-style:none;}
ul.footer_nav li{float:left; margin:0 30px 0 0;}
ul.footer_nav li a{font-weight:bold; color:#3a475d; text-decoration:none;}
ul.footer_nav li a:hover, ul.footer_nav li li a:hover{text-decoration:underline;}
ul.footer_nav li li{float:none; list-style: disc!important; margin:5px 0 0 0;}
ul.footer_nav li li a{font-weight:normal;}
/*-- sub page navigation --*/
#child_nav{
    /*border:1px #ccc solid; 
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;*/
    margin:10px 0 20px 0;
}
#child_nav ul{margin:0; list-style:none;}
#child_nav ul li{margin:0; padding:0;}
#child_nav ul li a{padding:10px; border-bottom:1px #ccc solid; display:block; text-decoration:none; color:#666; position:relative;}
#child_nav ul li a:hover, #child_nav ul li.current_page_item a{background:#e5e5e5; font-weight:bold;
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}
/*-- 2 column layout with side bar --*/

#content {
    float:left;
    width:90%;
    line-height:1.8em;
}

/*-- Call to action --*/
.cta_sub_text{text-align:center; margin:-35px 0 15px 0}
.cta_bar{
    border:1px #ccc solid; 
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
    padding:5px 20px;
    height:60px;
    line-height:57px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    color:#67c10b;
    font-size:24px;
    overflow:hidden;
    margin:20px auto;
}
.cta_bar .cta_text{float:left;}
.cta_bar .cta_button{float:right;}
.cta_bar .cta_button .button{font-size:18px;}
/*-- call to action button --*/
.apply_now_button {
  background: url(images/apply_now.png) 0px 0px no-repeat;
  display: block;
  width: 728px;
  height: 130px;
  margin:15px auto;
}
/*-- Footer --*/
footer {
    font-size:12px; 
}
#footer_navigation {
    background:#454545 url(images/footer_bg.png) repeat-x top center;
    color:#fff; 
}
#footer_menu{width:420px;}
.footer_box{float:left; width:310px; margin:0 10px 10px 0;}
.footer_box.last{margin:0 0 10px 0;}
.footer_box h5{color:#ccc}
.footer_box a{color:#fff;}
.footer_box a:hover{text-decoration:none;}
/*-- Logos --*/
.logo_ccta {background: url(images/companies/ccta.png) 0 0 no-repeat; display: inline-block; width: 140px; height: 63px;}
.logo_bloomberg {background: url(images/companies/bloomberg.png) 0 0 no-repeat; display: inline-block; width: 127px; height: 27px;}
.logo_tamebay {background: url(images/companies/tamebay.png) 0 0 no-repeat; display: inline-block; width: 63px; height: 27px;}
.logo_techcrunch {background: url(images/companies/techcrunch.png) 0 0 no-repeat; display: inline-block; width: 179px; height: 27px;}
.logo_yahoo {background: url(images/companies/yahoo.png) 0 0 no-repeat; display: inline-block; width: 138px; height: 27px;}
.logo_internet_retailing {background: url(images/companies/internet_retailing.png) 0 0 no-repeat; display: inline-block; width: 167px; height: 31px;}
/*-- social icons --*/
ul.social_icons{list-style:none; margin:0; padding:0;}
ul.social_icons li{float:left; margin:0 10px 10px 0;}
ul.social_icons li a.social{background:url(images/sprites/social_sprite.png) no-repeat 0 0; height:32px; width:32px; display:block; float:left; text-indent:-9999px;}
ul.social_icons li a.twitter{ background-position: -96px 0;}
ul.social_icons li a.facebook{ background-position: -32px 0;}
ul.social_icons li a.linkedin{ background-position: 0 0;}
ul.social_icons li a.youtube{ background-position: -64px 0;}
ul.social_icons li a.google{ background-position: -128px 0;}
/*-- contact icons --*/
ul.contact_icons{list-style:none; margin:0 0 20px 0; padding:0;}
ul.contact_icons li{margin:0 10px 10px 0; padding:0 0 0 30px; background:url(images/sprites/contact_sprite.png) no-repeat 0 0; height:24px; line-height:24px;}
ul.contact_icons li.telephone{ background-position: 0 0;}
ul.contact_icons li.email{background-position: 0 -24px;}
ul.contact_icons li.chat{ background-position: 0 -48px;}
/*-- SSL security icons --*/
ul.secure_icons{list-style:none; padding:0; overflow:hidden; margin-top: 1em; }
ul.secure_icons li{margin:0 0 10px 0; float:left;}
ul.secure_icons li a{height:70px; display:block; text-indent: -9999px;}
ul.secure_icons li.truste_seal{ width: 30%; }
ul.secure_icons li.truste_seal a{width:142px; height: 70px; /*background:url(../img/logo-truste.png) no-repeat 0 0; */}
ul.secure_icons li.verisign_seal{background:url(images/verisign_seal.gif) no-repeat; background-size: contain; margin-right: 3em; }
ul.secure_icons li a img{ display: inherit; border: none;width:93px;}
ul.secure_icons li.truste_seal a img{ margin-top: 12px;}
ul.secure_icons li.lock-image{ width: 25%;}

.need-help-image{ cursor: pointer;width: 100%; }
.security_header_style {
    color: #0064d2;
    font-size: 20px;
}

/*-- EU icon --*/
ul.eu_icon{list-style:none; margin:130px 0 20px 0; padding:0; overflow:hidden;width: 100%;}
ul.eu_icon li{margin:0 0 10px 0;float: left;}
ul.eu_icon li img{ width: 110px; }
ul.eu_icon li label{color: navy; font-size: 20px; }
ul.eu_icon li.textli{ margin: 0 0 0 10%;}
ul.eu_icon li label.upper{ margin: 10px 0 0 0;}
ul.eu_icon li label.lower{ margin: -10px 0 10px 0;}

/*-- member of logo --*/
ul.company_logos{list-style:none; margin:0 0 47px 0; overflow:hidden;}
ul.company_logos li{float:left; margin:0 10px 0 0;}

/*-- bullet points with tick --*/
ul.tick{list-style:none; margin:0 0 20px 0;}
ul.tick li{background:url(images/tick.png) no-repeat 0 0; padding:0 0 0 40px;}
/*-- bullet points with a star --*/
ul.star{list-style:none; margin:0 0 20px 0;}
ul.star li{background:url(images/star.png) no-repeat 0 0; padding:0 0 0 30px;}


/*----Form-----*/
.inputfield{border:1px #ccc solid; padding:5px;}
.contact_form{margin:0 0 20px 0; padding:5px; font-size:14px; border:1px #ccc solid; width:450px; -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;}
.contact_form:hover{border:1px #0064d2 solid; -moz-box-shadow: 0 0 5px #39f; -webkit-box-shadow: 0 0 5px #39f; box-shadow: 0 0 5px #39f;}
.contact_form:focus{border:1px #666 solid;}

body .form_field_look,
body .form_field {
    padding: 5px;
    font-size: 18px;
    border: 1px #ccc solid;
}

body .form_field_look:hover,
body .form_field:hover{ -moz-box-shadow: 0 0 5px #39f; -webkit-box-shadow: 0 0 5px #39f; box-shadow: 0 0 5px #39f;}
select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button, 
.button {
    font-family: "Titillium Web Semi Bold";
    font-size:16px;
    font-style:normal;
    height:36px;
    line-height:36px;
}

.button {
    min-width: 120px;
}
label{display:block; font-weight:bold; margin:0 0 5px 0;}

span.required {
    color: #c00;
    vertical-align: top;
    display: inline-block;
    margin-top: -0.6em;
}

input, select, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.director-container { width: 96%; }

div.add-director-container { position: relative; width: 96%; }


/*----table for payment schedule-----*/
table.table{
	width:100%;
	border-left:1px #ccc solid; 
	border-top:1px #ccc solid;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin:0 0 20px 0;
}
table.table th{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e2e5ea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2e5ea));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e5ea 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e2e5ea 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e2e5ea 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e2e5ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e5ea',GradientType=0 );    
    font-weight:bold;
    font-family: "Titillium Web Semi Bold";
    font-size: 16px;
}
table.table th, table.table td {
    padding: 15px 20px;
	text-align:center;
	border-right:1px #ccc solid; 
	border-bottom:1px #ccc solid;    
	line-height: 35px;
}
table.table td {
    background:#fff;
    font-size:16px; 
    font-family: "Titillium Web Regular";
	white-space: nowrap;
}
table.table td span.label{color:#666;}
table.table tbody tr:hover{background:#f1f1f1;}

p{margin:10px 0 20px 0;}
ul, ol{margin:0 0 15px 30px;}
ul li, ol li{margin:0 0 10px 0;}
.float_left, .alignleft{float:left;}
.float_right, .alignright{float:right;}
.aligncenter{display:block; margin:0 auto;}
.clear{clear:both;}
/*-- clear fix for modern browsers --*/
.cf:before, .cf:after{content: ""; display: table; height:0; visibility: none; font-size: 0;}
.cf:after{ clear: both;}
.cf{*zoom: 1;}
.hide{display:none;}

strong,b {
    font-weight:bold;
    font-family: "Titillium Web Semi Bold";
}
em {
    font-style:italic;
}
a{color:#39f;}
a:hover{text-decoration:none;}
.indent_text{text-indent:-9999px;}

blockquote {
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px #ccc solid;
    font-style: italic;
    background: #eee;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/* --- Buttons --- */

/*
.button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
*/
.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.medium_btn {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small_btn {
    font-size: 11px;
    padding: .2em 1em .275em;
}

/*-- button color styles --*/

.orange {
    color: #fef4e9!important;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.red {
    color: #faddde!important;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
    background: #b61318!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

.blue {
    color: #d9eef7!important;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.hmrcLinkButton {
    background: url(../img/hmrc_button_link.png) no-repeat 0 0;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    float: left;
    width: 143px;
    height: 80px;
    margin-left: 22px;
    margin-top: 13px;
}

.hmrcUploadButton {
    background: url(../img/hmrc_button_upload.png) no-repeat 0 0;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    float: right;
    width: 143px;
    height: 80px;
    margin-right: 22px;
    margin-top: 13px;
}

.grey {
    color: #e9e9e9!important;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757')!important;
}
.grey:hover {
    background: #616161!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.grey:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


.PersonalDetailsForm.form-horizontal .control-label,
.CompanyDetailForm.form-horizontal .control-label{
    width: 160px;
} 

.table-contract-agreement, .table-contract-agreement td {
    border: 1px solid #000;
    border-collapse: separate;
}

.downarrowbutton {
    width: 30px;
    text-align: right;
}

.importantnumber {
    color:limegreen;
    font-weight:bold;
}

.bold {
    font-weight: bold;
}

.hmrc_margin_from_header {
    margin-top: 80px;
}

.hmrc_main_buttons_container {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 200px !important;
    width: 96%;
}

.hmrc_question_button_margin {
    margin-left: 20px;
}

.hmrc_text_in_new_line {
    display:-webkit-inline-box;
}

.hmrc_upload_example {
    text-decoration: underline;
    cursor: pointer;
}

.hmrc_fields_margin {
    margin-top: 15px;
}



#wizard .pages .simple-well, #profile-content .simple-well {
    margin-bottom: 20px;
}
.bold-text-ez {
	font-weight:bold;
}
.thankyou-loan {
    width: 290px; /*456px;*/
    height: 100px; /*191px;*/
    padding: 90px 10px 10px 156px;
    background-image: url(../img/thank-you.png);
    background-repeat: no-repeat;
    color: #0b73b4;
    font: normal 16px Arial;
}

.store-add-page {
    color: #565656;
    margin-bottom: 26px;
    margin-left: 0px;
}

.store-add-page h2 {
    
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    color: #565656;
}
.store-add-page p {
    
    font-weight: normal;
    font-size: 14px;
}

.screenshots-container {
    position: relative;
}

.screenshots-container h4 {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 0 0 25px;
    margin: 0 0 0 0px;
    font-size: 18px;
}

.screenshots-container a.screenshots {
    height: 40px;
    top: 0;
    right: 35px;
    position: absolute;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}

.screenshots-container a.screenshots:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     box-shadow: none;
     top: 5px;
     right: 28px;
}
.close-terms {
    display:none;
}
.tutor-image {
    display:block;
    margin:0 auto;
}
.hr-market {
    display:none;
}
.screenshots-container .tutorial-arrow {
    background: url(../img/arrow-right.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 0;
    position: absolute;
    left: 230px;
}

.store-connect-manual li {
    margin: 20px 0;
}

.store-connect-manual a, .store-connect-manual a:hover, .store-connect-manual a:visited {
    text-decoration: underline;
}

.store-connect-manual q {
    font-style: italic;
    color: #0b73b4;
}

.store-connect-manual dl{
    margin-top: 0;
    padding-top: 0;
}

.store-connect-manual dt {
    float: left;
    width: 170px;
    padding-top: 20px;
    
    font-size: 14px;
    font-weight: bold;
    
    color: black;
    text-align: left;
}

.store-connect-manual dd {
    margin-left: 160px;
    padding-top: 20px;
}

.store-logo-text {
    margin: 0;
}

#refresh-accounts-dlg > div { text-align: right; }

.item-fully-secured {
    margin-top: 20px;
}

.AmazonForm{
    padding-top: 1.6em;
}


.wizard-top {
    box-sizing: border-box;
    max-width: 1000px;
    padding: 0;
    background: transparent;
    margin: 0 auto;
}

.security-icons .item {
		height: 72px;
		float: right;
        margin-right: 10px;
		display: inline-block;
}

	.security-icons .item .verisign {
		width: 100px;
		height: 72px
	}

	.security-icons .item .verisign img{
		height: 72px;
	}

	.security-icons .item .truste img {
		height: 40px;
		margin-top: 17px;
	}

	.security-icons .item .lock-icon {
		display: none;
	}

.underwriter-only{
	display: none;
}
.button.form_field_right_side_signup_phone#switchToCaptcha {
    color:white;
    text-align: center;
}
/* commercial */
.consent-dialog .commercial-wrap .commercial-title {
    page-break-before: always;
}
.consent-dialog .commercial-wrap  h1, .consent-dialog .commercial-wrap  h2{
    color:black;
    font-weight:bold !important;
    margin-top:15px;
    text-align: center;
}
.consent-dialog .commercial-wrap  p.underlined {
    font: 14pt Calibri;
     font-weight: bold; 
     text-decoration:underline
}
.consent-dialog .commercial-wrap  h1{
    font: 18pt Calibri;
}

.commercial-wrap  .font16{
    font: 16pt Calibri;
}
.consent-dialog .commercial-wrap  h2 {
    font: 14pt Calibri;
    margin: 10px 0;
    text-align:left;
}
.commercial-wrap .align-left {
    text-align: left;
}
.commercial-wrap .align-center {
    text-align: center;
}

.commercial-wrap .widthbrake {
    page-break-before: always;
}

.select-card-area .fa.fa-circle,
.select-card-area .fa.fa-circle {
	display: none;
}

.create-password .form_buttons_container.form_field_container,
.restorePasswordArea .form_buttons_container.form_field_container{
	width: 96%;
}.address-dialog-buttonpane .ui-dialog-buttonset {
    direction:rtl;
}

 .agreements-checkboxes .input-tag-wrap label {
  display:inline-block;
  padding-top:3px;
  vertical-align: top;   
 }
 /*broker fill wizard*/

 .broker-finish-wizard-later {
    text-align: left;
    background-image: url(../img/service-portfolio.png);
    background-size: 64px 52px;
    background-position: 20px center;
    background-repeat: no-repeat;
    padding: 30px 0;
    border: 1px solid #E2E3E5;
    max-width: 1000px;
    margin: 10px auto;
}

.broker-finish-inner {
    padding-left: 100px;
    padding-right: 30px;
}

.broker-finish-wizard-later .button-container {
    position: relative;
}

.broker-finish-wizard-later .button-container button {
    display: inline-block;
    position: absolute;
    right: 0;
}

 .broker-finish-wizard-later .broker-finish-inner {
     width:80%;
 }


 /*confirmation dialog*/
 .confirmationDialog.ui-dialog .ui-dialog-content {
     padding:20px;
     font-size:16px;
 }