#wizard .pages .simple-well, #profile-content .simple-well {
    margin-bottom: 20px;
}

.thankyou-loan {
    width: 290px; /*456px;*/
    height: 100px; /*191px;*/
    padding: 90px 10px 10px 156px;
    background-image: url(../img/thank-you.png);
    background-repeat: no-repeat;
    color: #0b73b4;
    font: normal 16px Arial;
}

.store-add-page {
    color: #565656;
    margin-bottom: 26px;
    margin-left: 0px;
}

.store-add-page h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    color: #565656;
}
.store-add-page p {
    font-family: arial;
    font-weight: normal;
    font-size: 14px;
}

.screenshots-container {
    position: relative;
}

.screenshots-container h4 {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 0 0 25px;
    margin: 0 0 0 0px;
    font-size: 18px;
}

.screenshots-container a.screenshots {
    height: 40px;
    top: 0;
    right: 35px;
    position: absolute;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}

.screenshots-container a.screenshots:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     box-shadow: none;
     top: 5px;
     right: 28px;
}

.screenshots-container .tutorial-arrow {
    background: url(../img/arrow-right.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    top: 0;
    position: absolute;
    left: 230px;
}

.store-connect-manual li {
    margin: 20px 0;
}

.store-connect-manual, .store-connect-manual p, .store-connect-manual a, .store-connect-manual a:hover, .store-connect-manual a:visited, .amazon-instructions p {
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    color: #565656;
}

.store-connect-manual a, .store-connect-manual a:hover, .store-connect-manual a:visited {
    text-decoration: underline;
}

.store-connect-manual q {
    font-style: italic;
    color: #0b73b4;
}

.store-connect-manual dl{
    margin-top: 0;
    padding-top: 0;
}

.store-connect-manual dt {
    float: left;
    width: 150px;
    padding-top: 20px;
    
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    color: black;
    text-align: right;
    margin-left: -10px;
}

.store-connect-manual dd {
    margin-left: 160px;
    padding-top: 20px;
}

#amazonMerchantId, #amazonMarketplaceId { width: 150px;}

.controls.error input.error, .controls.error select, .controls.error textarea, .controls select.error, .controls textArea.error {
  color: #b94a48;
  border: 2px solid #b94a48;
}

.store-logo-text {
    margin: 0;
}