/* Underwriter section */

#signature-monitor table#esigners-list .edit-and-delete button {
	display: inline-block;
	height: 34px;
}

#signature-monitor table#esigners-list .btn-edit-director {
	margin-right: 0.3em;
}

#signature-monitor table#esigners-list .btn-delete-director {
	color: #a52a2a;
}

#signature-monitor table#esigners-list .btn-save-director,
#signature-monitor table#esigners-list .btn-cancel-edit {
	width: 82px;
	display: block;
}

#signature-monitor table#esigners-list .btn-cancel-edit {
	margin-top: 0.3em;
}

#signature-monitor table#esigners-list .attardi-input {
	width: 220px;
}

#signature-monitor table#esigners-list .more-rows,
#signature-monitor table#esigners-list td.edit-mode {
	padding-top: 20px;
}

#signature-monitor table#esigners-list .form_field {
	width: 200px;
}

#signature-monitor table#esigners-list .field_status {
	float: none;
}

/* Customer section */

#profile-main table.directors-list .button {
	width: 118px;
	display: block;
}

#profile-main table.directors-list .btn-cancel-edit {
	margin-top: 0.3em;
}

#profile-main table.directors-list .attardi-input {
	width: 220px;
}

#profile-main table.directors-list .more-rows,
#profile-main table.directors-list td.edit-mode {
	padding-top: 20px;
}

#profile-main table.directors-list .form_field {
	width: 200px;
}

#profile-main table.directors-list .field_status {
	float: none;
}
