.main-page-everline .editYourInfoForm .personal-info fieldset,
.main-page-everline .editYourInfoForm .company-info fieldset {
	border: 0;
	min-width: 0;
}

.main-page-everline .editYourInfoForm .personal-info legend,
.main-page-everline .editYourInfoForm .company-info legend {
	margin: 0;
	color: #8dc641;
	text-align: left;
	line-height: 30px;
	font-weight: 400;
	font-size: 22px;
}

.main-page-everline .editYourInfoForm .personal-info label,
.main-page-everline .editYourInfoForm .company-info label {
	text-align: left;
	display: inline-block;
	width: 100%;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 600;
	vertical-align: middle;
}

.main-page-everline .editYourInfoForm .personal-info label.error,
 .main-page-everline .editYourInfoForm .company-info label.error{
	font-weight: 400;
}

.main-page-everline .editYourInfoForm .personal-info div.control-group,
.main-page-everline .editYourInfoForm .company-info div.control-group {
	margin-bottom: 10px;
}

.main-page-everline .editYourInfoForm .personal-info div.controls,
.main-page-everline .editYourInfoForm .company-info div.controls {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .editYourInfoForm .personal-info fieldset > div.controls {
	width: 100%;
}

.main-page-everline .editYourInfoForm .personal-info div.controls input:not([type="button"]),
.main-page-everline .editYourInfoForm .company-info div.controls input:not([type="button"]) {
	outline: none;
	box-shadow: none;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #c7c7c7;
	padding: 0 15px;
	height: 50px;
	background-color: #f6f6f6;
	width: 320px;
	font-size: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .editYourInfoForm .personal-info div.controls .addressEdit .addAddressContainer .input-title {
	display: none;
}

.main-page-everline .editYourInfoForm .personal-info .addAddressContainer > .form_field_container > .input-wrapper {
	padding: 0;
	width: 320px;
}

.main-page-everline .editYourInfoForm .personal-info .addAddressContainer > .form_field_container > .input-wrapper .addAddressInput {
	display: block;
	width: 100% !important;
	background-color: white;
	margin-bottom: 7px;
	float: none;
}

.main-page-everline .editYourInfoForm .personal-info .addAddressContainer .form_field_container .input-wrapper .clean-btn {
	display: block;
	margin: 0;
	width: 100%;
}

.main-page-everline .editYourInfoForm .personal-info .address-selected > .form_field_container > .input-wrapper {
	padding: 0;
	width: 320px;
}

.main-page-everline .editYourInfoForm .personal-info .address-selected .form_field_container .input-wrapper .form_field_left_side {
	width: 320px!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .editYourInfoForm .personal-info .address-selected .form_field_container .input-wrapper .clean-btn {
	width: 320px;
	padding: 0;
	margin: 5px 0 0 0;
}

.main-page-everline .editYourInfoForm .company-info fieldset fieldset {
	margin: 32px 0 0 0;
	padding: 0;
}

.main-page-everline .editYourInfoForm .personal-info div.controls input.personEditInput:not([type="button"]):not([readonly]),
.main-page-everline .editYourInfoForm .company-info div.controls input.personEditInput:not([type="button"]) {
	background-color: white;
}

.main-page-everline .editYourInfoForm .form_buttons_container .ev-btn-org {
	margin-left: 10px;
}

.main-page-everline .editYourInfoForm .company-info .director-container .addAddressContainer > div:first-child,
.main-page-everline .editYourInfoForm .company-info .director-container .clean-btn {
	display: none!important;
}

.main-page-everline .director-container .accordion-inner {
	padding: 0;
	margin: 0;
}

.main-page-everline .director-container .accordion-inner p {
	padding: 0;
	margin: 0 0 7px 0;
	display: block;
	min-height: 50px;
	height: 50px;
	line-height: 50px;
}

.main-page-everline .director-container .accordion-inner p span.director-field-name {
	text-align: right;
	width: 100px;
	display: inline-block;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 600;
	vertical-align: middle;
	line-height: normal;
}

.main-page-everline .director-container .accordion-inner p b {
	font-weight: normal;
	vertical-align: middle;
	height: 50px;
	min-height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #c7c7c7;
	padding: 15px 15px 0 15px;
	background-color: #f6f6f6;
	width: 320px;
	font-size: 15px;
	line-height: 20px;
	display: inline-block;
}

.main-page-everline .director-container .accordion-inner .form_field_container .input-wrapper {
	padding: 0;
	width: 320px;
	display: inline-block;
	min-height: 50px;
}

.main-page-everline .director-container .accordion-inner .form_field_container .input-wrapper .form_field_left_side {
	width: 100% !important;
}
