/*
*******************************************************************************
*
* General override bootstrap.
*
*******************************************************************************
*/
body {
	font-family: 'Open Sans',sans-serif;
	font-size: 62.5%;
}

label, input, button, select, textarea {
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
}

h2, .ui-dialog .ui-dialog-title {
    margin: 0;
    color: #8dc641;
    text-align: left;
    line-height: 30px;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 35px;
}

a, a:visited {
    text-decoration: none;
    color: #e28023;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
/*
*******************************************************************************
*
* Notifications.
*
*******************************************************************************
*/

.main-page-everline .notifications {
	width: 960px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
*******************************************************************************
*
* Table (common profile elements).
*
*******************************************************************************
*/

.main-page-everline table th {
	background-color: #e0e0e0;
	color: #666666;
	border: 1px solid white;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans',sans-serif !important;
}

.main-page-everline table td {
	background-color: #f1f0f0;
	color: #666666;
	border: 1px solid white;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans',sans-serif !important;
}

.main-page-everline table td a.clean-btn {
	display: table-cell;
	vertical-align: middle;
}

/*
*******************************************************************************
*
* Page title (above widgets row).
*
*******************************************************************************
*/

.main-page-everline .profile-headlines {
	width: 960px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
*******************************************************************************
*
* Widgets row (above main menu).
*
*******************************************************************************
*/

.main-page-everline .d-widgets {
	border: 1px solid #28211f;
	width: 960px;
	padding: 10px;
	margin: 10px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .d-widgets h3,
.main-page-everline .d-widgets dl,
.main-page-everline .d-widgets dl dt,
.main-page-everline .d-widgets dl dd {
	display: inline-block;
}

.main-page-everline .d-widgets dl {
	margin-left: 90px;
	position: relative;
}

.main-page-everline .d-widgets dl dd {
	margin-right: 40px;
	font-weight: bold;
}

.main-page-everline .d-widgets .ev-btn-org {
	float: right;
	margin-top: 7px;
}

/*
*******************************************************************************
*
* Main page content.
*
*******************************************************************************
*/

.main-page-everline .profile-widgets {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}
