.main-page-everline #get-cash {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.main-page-everline #get-cash h1 {
	font-family: 'Open Sans',sans-serif;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
}

.main-page-everline #get-cash h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 22px;
	color: #8dc641;
	font-weight: bold;
}

.main-page-everline #get-cash .form-horizontal {
	background: #f1f0f0;
	padding: 10px;
    margin-bottom: 20px;
	box-sizing: border-box;
}

.main-page-everline #get-cash .form-horizontal.loan-agreements{
	background: none;
	padding: 0;
}

.main-page-everline .early-payment-form label.radio, .early-payment-form label.checkbox {
    display: inline-block;
    margin-right: 10px;
}
.main-page-everline .early-payment-form .w100p {
    width: 100%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div {
	vertical-align: top;
	display: inline-block;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span4 {
	width: 33%;
	margin-left: 2%;
}

.main-page-everline .pay-early {
	margin-top: 15px;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span1 {
	width: 1%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dt {
	float: left;
	width: 50%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dd {
	margin: 0 0 5px 50%;
	padding: 0 5px;
	text-align: left;
}

.main-page-everline #get-cash .payment-schedule-table {
	width: 100%;
}

.main-page-everline #get-cash .loan_apr_block {
	font-weight: bold;
	margin: 30px 0;
}

.main-page-everline #get-cash .loan-agreements ul{
	margin: 0;
}

.main-page-everline #get-cash .loan-agreements ul li {
	display: inline-block;
	margin-right: 28px;
	margin-bottom: 15px;
    margin-left: 0;
}

.main-page-everline #get-cash .loan-agreements ul li a {
	display: block;
	padding-left: 32px;
	cursor: pointer;
	position: relative;
}

.main-page-everline #get-cash .loan-agreements ul li a:hover {
	text-decoration: none;
}

	.main-page-everline #get-cash .loan-agreements ul li a i {
		position: absolute;
		left: 10px;
		font-size: 34px;
		top: 4px;
		display: inline-block;
	}

.main-page-everline #get-cash .buttons_container {
	margin-top: 14px;
	text-align: right;
}

.main-page-everline .dashboard-steps .progress-time{
	display: block;
}

.corner-border {
    border: 1px solid black;
    position: relative;
}


.corner-border .corner-border-inner:after {
    background: white url('../css/images/white-corner.png');
    width: 25px;
    height: 23px;
    position: absolute;
    left: -1px;
    top: -1px;
    content: "";
}

/*Loan agreements*/

#block-agreement {
	margin-bottom: 20px;
}

.agreement .nav {
	margin-bottom: 0;
	margin-left: 23px;
}

.nav-tabs > .active > a {
	color: #e28023;
}

	.nav > li > a:hover,
	.nav-tabs > .active > a:hover {
		color: #dc6e23;
		text-decoration: underline;
	}

.agreement table {
	border-color: transparent;
}

	.agreement table td {
		background-color: transparent;
	}

.agreement .tab-pane.active {
	border: 1px solid #28211f;
	position: relative;
	padding: 20px;
}

.overview.loan-agreement:after {
	background: white url('../css/images/white-corner.png');
	width: 25px;
	height: 23px;
	position: absolute;
	left: -1px;
	top: -1px;
	content: "";
}

.LoanLegal {
	margin-top: 20px;
	background-color: #f1f0f0;
	padding: 20px 20px 10px 20px;
}

.confirmationDialog .ui-dialog-titlebar{
	display: none;
}

.agreements-checkboxes .click-wrap{
	display: block;
	width: 100%;
	margin-left: 0;
}

div.sign-full-name {
    width: 100%;
}

.loan-details-well{
	padding: 0;
}

.loan-details-well table td{
	background-color: transparent;
	padding: 0;
}

.loan-summary-well{
	padding: 0;
}

/*****JspScroll******/

.jspVerticalBar {
	width: 8px;
}

.jspTrack {
	background: transparent;
}

.jspDrag {
	background: #28211f;
	min-height: 40px;
}
