
/*
     mobile
     */
@media screen and (min-width: 800px) and (max-width: 960px)  {
    /*
        footer
    */
   .footer-eif-text {
       width:63%;
     

   }
   .footer-navigator-inner ul li a {
       font-size:12px;
   }
   .footer-navigator-inner ul li:last-child {
     padding-right: 0;
   }/*end footer*/
    .broker-finish-inner-text {
         width: 58%;
        }
    .marketplace-button-wrapper, 
	.form_field_container .input-wrapper .clean-btn.btn-showmore {
		width: 47%;
	}

	.account-or {
		width: 100%;
		margin-left: 20%;
		margin-top: 0;
		margin-bottom: 0;
	}
       .form_field_container .input-wrapper .clean-btn.form_field_right_side,  .form_field_container .input-wrapper .clean-btn.form_field_right_side_signup_phone  {
       width: 42%;
   }
}
@media screen and (max-width: 800px) {
    /*
        footer
    */
    .footer-eif-text {
        width: 100%;
        float: none;
    }

    .footer-eif-inner {
        padding: 50px 20px;
    }

    .cosme-images {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .social-link-icons {
        display: none;
    }

    .footer-navigator-inner ul li {
        margin-top: 20px;
    }

    .footer-navigator-inner ul {
        margin-top: 0;
    }

        .footer-navigator-inner ul li.hide-mobile {
            display: none;
        }
    /* end footer */

    /*
        wizard
    */
    .form_field_container .input-title, .form_field_container .input-title-address {
        width: 100%;
        text-align: left;
    }

    .form_field_container .input-wrapper {
        width: 100%;
        padding-left: 0;
    }

    .forgotpass {
        margin-right: 0;
    }

    .clean-btn, a.clean-btn, a.clean-btn:focus, .clean-btn:focus, .simpleCaptcha a, .ui-widget button.clean-btn, .broker-captcha a {
        font-size: 14px;
        width: 100% !important;
        margin-top: 20px;
        margin-left:0;
    }
    .form_field_container .simpleCaptcha .captcha-image-margin{
        width:100%;
    }
    .form_field_container .simpleCaptcha {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .form_field_container .input-wrapper .form_field_left_side {
        width: 100% !important;
    }

    .form_field_container .input-wrapper .clean-btn {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .wizard-top {
        padding: 0 20px;
    }

    .form_buttons_container .input-wrapper .ev-btn-org, .form_buttons_container .input-wrapper a.ev-btn-org {
        width: 100%;
        display:block;
        margin:0;
        margin-top:20px;
        float:none;
    }

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        width: 100%;
    }

    .wizard-steps-wrapper .wizard-steps .progress-time {
        width: 100%;
        text-align: center;
    }

    .ui-dialog-buttonset .clean-btn, .ui-dialog-buttonset button.ev-btn-org {
        width: 100%;
    }

    .ui-dialog {
        left: 0 !important;
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .marketplace-button-wrapper, .form_field_container .input-wrapper .clean-btn.btn-showmore {
        display: block !important;
        position: static;
        width: 100%;
        margin-top: 15px;
        float:none;
    }

   .add-director-container.form_field_container .input-wrapper .clean-btn {
       margin-top: 20px;
   }
   .BankContainer .marketplace-button {
       width:100%;
   }
   .loan-summery-box-container {
       clear:both;
   }
   .loan-summary-box {
       -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
       box-sizing:border-box;
       width: 100%;
       margin-top: 10px;
           text-align: center;
   }
   .security-icons .item {
       float:none;
           display: inline-block;
         
   }
   .security-icons {
           display:block;
  
   }
   .security-icons .item .lock-icon {
       float:none;
       background:url('');
   }
   .ui-dialog {
       padding:20px 10px;
   }
   .ui-dialog-buttonset .clean-btn, .ui-dialog-buttonset button.ev-btn-org {
       float:none;
   }
    .loan-summary-boxes {
        display: block;
        margin-right: 0;
        height: auto;
    }
    /*end wizard*/


/*
    colorbox popup

*/
#colorbox {

    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    #cboxWrapper {
    width: 100% !important;
        padding: 0px 10px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

    #cboxContent {
      width: 100% !important;
}
#cboxLoadedContent {
    width: 100% !important;
          overflow: visible !important;
              padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.help_image {
   
    height: 200px;
}
    /*
    progress bar

*/
.wizard-steps-wrapper {
    height: 210px;
}

    .wizard-steps-wrapper .wizard-steps .steps-wrap {
        width: 100%;
        position: absolute;
        top: 105px;

    }

    .wizard-steps-wrapper .wizard-steps .progress-bar {
        height: 12px;
        margin-left: 20px;
               width: 91%;
    right: 9%;

        margin-top: 23px;
        /* right: 0; */
        position: absolute;
    }

    .wizard-steps-wrapper .wizard-steps .stripe {
        display: none;
    }

    .wizard-steps-wrapper .side-strip {
        top: 128px;
    }

.wizard-top h2 {
    clear: both;
}

.wizard-steps-wrapper .wizard-steps ul.application_steps {
    float: none;
    margin: 0 auto;
    width:100%;
}
.wizard-steps-wrapper .wizard-steps {
    padding:0;
    overflow: visible;
}
.wizard-steps-wrapper ul.application_steps li {
        width: 22.3%;
}
/*end progress bar*/
.broker-finish-wizard-later button {
        right: 0;
    position: static;
}
.marketplace-group {
    text-align: center;
}
/*header*/
header.everline_header nav ul.sub-links {
    right:20px;
}
} 
