.main-page-everline .directors-list,
.main-page-everline .director {
	width: 100%;
	max-width: 100%;
}

.main-page-everline .add-company-director-container .form_field_container .input-wrapper {
	width: 960px;
	min-height: 50px;
	display: block;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .add-director.ev-btn-org {
	float: right;
}

.main-page-everline .add-company-director .field_status {
	display: none;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director {
	font-size: 15px;
	font-weight: 600;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director input,
.main-page-everline .form_field_container .input-wrapper .add-company-director select {
	display: inline;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director input[type="checkbox"],
.main-page-everline .form_field_container .input-wrapper .add-company-director input[type="radio"] {
	width: 32px;
	height: 32px;
	margin: 0 12px 10px 178px;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director input[type="text"],
.main-page-everline .form_field_container .input-wrapper .add-company-director input[type="email"] {
	width: 490px;
}

.main-page-everline .form_field_container .add-company-director .input-title {
	width: 210px;
	margin-right: 10px;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director div:not(.ezDateTime) > .attardi-input > span,
.main-page-everline .form_field_container .add-company-director .fs16 {
	width: 210px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
}

.main-page-everline .form_field_container .add-company-director .fs16 {
	vertical-align: top;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .form_field_left_side {
	width: 200px!important;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .ezDateTime {
	display: inline-block;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .ezDateTime > label {
	display: inline-block;
	margin-right: 10px;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .ezDateTime > label > span {
	display: block;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .ezDateTime select {
	float: none;
}

.main-page-everline .form_field_container .input-wrapper .add-company-director .form_buttons_container {
	text-align: right;
}

/*.main-page-everline .add-company-director .FormRadioCtrl > span > label:after {
	white-space: pre;
	content: "\A";
}*/
