.main-page-everline #get-cash {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.main-page-everline #get-cash h1 {
	font-family: 'Open Sans',sans-serif;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
}

.main-page-everline #get-cash h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 22px;
	color: #8dc641;
	font-weight: bold;
}

.main-page-everline #get-cash .form-horizontal {
	border: 1px solid #28211f;
	padding: 10px;
    margin-bottom: 20px;
}

.main-page-everline .early-payment-form label.radio, .early-payment-form label.checkbox {
    display: inline-block;
    margin-right: 10px;
}
.main-page-everline .early-payment-form .w100p {
    width: 100%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div {
	vertical-align: top;
	display: inline-block;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span4 {
	width: 33%;
	margin-left: 2%;
}

.main-page-everline .pay-early {
	margin-top: 15px;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span1 {
	width: 1%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dt {
	float: left;
	width: 50%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dd {
	margin: 0 0 5px 50%;
	border: 1px solid #28211f;
	padding: 0 5px;
	text-align: center;
}

.main-page-everline #get-cash .payment-schedule-table {
	width: 100%;
}

.main-page-everline #get-cash .loan_apr_block {
	font-weight: bold;
	margin: 30px 0;
}

.main-page-everline #get-cash .loan-agreements ul{
	margin: 0;
}

.main-page-everline #get-cash .loan-agreements ul li {
	display: inline-block;
	margin-right: 28px;
	height: 28px;
	line-height: 28px;
	margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.main-page-everline #get-cash .loan-agreements ul li a {
	background-image: url(../img/pdf-logo.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	display: block;
	padding-left: 32px;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	color: #e28023;
}

.main-page-everline #get-cash .buttons_container {
	margin-top: 14px;
	text-align: right;
}

.main-page-everline .dashboard-steps .progress-time{
	display: block;
}
