/*
*******************************************************************************
*
* Link (common profile elements).
*
*******************************************************************************
*/

.main-page-everline a,
.main-page-everline a:visited {
	text-decoration: none;
	color: #e28023;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

/*
*******************************************************************************
*
* Primary button (common profile elements).
*
*******************************************************************************
*/

.main-page-everline .ev-btn-org {
	margin-left: 5%;
	line-height: 34px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	padding: 0 20px;
	background-color: #e28023;
	border-bottom: 2px solid #c86d14;
	border-top: 2px solid #f39e4b;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	color: #ffffff;
	display: inline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

.main-page-everline .ev-btn-org.disabled {
	-ms-opacity: 0.4;
	opacity: 0.4;
}

.main-page-everline a.ev-btn-org,
.main-page-everline a.ev-btn-org:hover {
	color: white!important;
}

/*
*******************************************************************************
*
* Secondary button (common profile elements).
*
*******************************************************************************
*/

.main-page-everline .ev-btn-secondary {
	margin-left: 5%;
	line-height: 34px;
	font-size: 14px;
	font-weight: 600;
	width: 240px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	padding: 0 28px;
	color: #e28023;
	border: 2px solid #e28023;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	background-color: transparent;
	display: inline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

.main-page-everline .ev-btn-secondary:hover {
	color: #d47223;
	border: 2px solid #d47223;
}

.main-page-everline .ev-btn-secondary.disabled {
	-ms-opacity: 0.4;
	opacity: 0.4;
}

/*
*******************************************************************************
*
* Table (common profile elements).
*
*******************************************************************************
*/

.main-page-everline table th {
	background-color: #e0e0e0;
	color: #666666;
	border: 1px solid white;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	font-family: Open Sans!important;
}

.main-page-everline table td {
	background-color: #f1f0f0;
	color: #666666;
	border: 1px solid white;
	padding: 10px;
	font-size: 14px;
	text-align: left;
	font-family: Open Sans!important;
}

/*
*******************************************************************************
*
* Main profile menu.
*
*******************************************************************************
*/

.main-page-everline .profile-menu .navbar-inner {
	padding: 10px 20px;
	width: 960px;
	margin: 0 auto;
	background-color: #28211f;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .profile-menu .customer-dashboard-main {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.main-page-everline .profile-menu .customer-dashboard-main li {
	display: inline-block;
}

.main-page-everline .profile-menu .customer-dashboard-main li a {
	color: white;
	text-decoration: none;
}

.main-page-everline .profile-menu .customer-dashboard-main li.active a {
	color: #e28023;
	text-decoration: none;
}

.main-page-everline .profile-menu .customer-dashboard-main li.divider-vertical {
	width: 30px;
}

/*
*******************************************************************************
*
* Account activity page (list of loans).
*
*******************************************************************************
*/

.main-page-everline .profile-widgets {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

/*
*******************************************************************************
*
* Page title (above widgets row).
*
*******************************************************************************
*/

.main-page-everline .profile-headlines {
	width: 960px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
*******************************************************************************
*
* Widgets row (above main menu).
*
*******************************************************************************
*/

.main-page-everline .d-widgets {
	border: 1px solid #28211f;
	width: 960px;
	padding: 10px;
	margin: 10px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-page-everline .d-widgets h3,
.main-page-everline .d-widgets dl,
.main-page-everline .d-widgets dl dt,
.main-page-everline .d-widgets dl dd {
	display: inline-block;
}

.main-page-everline .d-widgets dl {
	margin-left: 90px;
}

.main-page-everline .d-widgets dl dd {
	margin-right: 40px;
}

.main-page-everline .d-widgets .ev-btn-org {
	float: right;
	margin-top: 7px;
}

/*
*******************************************************************************
*
* Loan details page.
*
*******************************************************************************
*/

.main-page-everline #get-cash {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.main-page-everline #get-cash h1 {
	font-family: Open Sans;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
}

.main-page-everline #get-cash h2 {
	font-family: Open Sans;
	font-size: 22px;
	color: #8dc641;
	font-weight: bold;
}

.main-page-everline #get-cash .form-horizontal {
	border: 1px solid #28211f;
	padding: 7px;
}

.main-page-everline #get-cash .form-horizontal.loan-details div {
	vertical-align: top;
	display: inline-block;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span4 {
	width: 400px;
	margin-right: 50px;
}

.main-page-everline #get-cash .form-horizontal.loan-details div.span1 {
	width: 10px;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dt {
	float: left;
	width: 30%;
}

.main-page-everline #get-cash .form-horizontal.loan-details div dl dd {
	margin: 0 0 5px 32%;
	border: 1px solid #28211f;
	padding: 5px;
	text-align: center;
}

.main-page-everline #get-cash .payment-schedule-table {
	width: 100%;
}

.main-page-everline #get-cash .loan_apr_block {
	font-weight: bold;
	margin: 30px 0;
}
