body {

}
.hide {
    display:none;
  
}
.vip-container {
     display:none;
    visibility: hidden;
}
.wizard-wrap {
    box-sizing:border-box;
    max-width:944px;
    padding:40px 35px 40px 40px;
    background:#f1f0f0;
    margin:0 auto;
}

.wizard-top {
    box-sizing: border-box;
    max-width: 944px;
    padding: 0;
    background: transparent;
    margin: 0 auto;
}

/*todo correct style for h1*/
h1 {
    font-size: 24px;
    margin: 20px 0;
    color: #999;
    padding: 0 0 10px 0;
    border-bottom: 1px #eee solid;
}

h2 {
    margin:0;
    color: #8dc641;
    text-align: left;
    line-height: 30px;
    font-weight: 400;
    font-size:22px;
    margin-bottom:35px;
}

div.verisign {
	background: url(images/verisign_seal.gif) no-repeat 30px 0;
	height: 60px;
	width: 130px;
	float: right;
	background-size: contain;
}

div.truste{
	display: inline-block;
    float: right;
    height: 60px;
}

div.truste img{
	height: 40px;
	margin-top: 13px;
}

.wizard-wrap .wizard-inner-wrap .form_field_container {
    clear: both;
    margin-bottom: 15px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-title,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-title-address {
    width: 30%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #494949;
    text-align: right;
    line-height: 42px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-title.long {
    line-height: 16px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .error-wrap, .wizard-wrap .wizard-inner-wrap .form_field_container #message {
    height: 15px;
    clear:both;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .error {
    color: #d20002;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .help-block {
    color:#d20002;
    display: block;
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 14px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper {
    width: 70%;
    display: inline-block;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative;
}

.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper select,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper textarea {
    display: block;
    background: #ffffff;
    height: 50px;
	line-height: 50px;
    vertical-align: middle;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #494949;
    width: 100%;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #c7c7c7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

	
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input[readonly="readonly"]:not([type="submit"]):not([type="button"]),
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper textarea[readonly="readonly"] 
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input[disabled="disabled"]:not([type="submit"]):not([type="button"]),
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper textarea[disabled="disabled"],
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input.disabled:not([type="submit"]):not([type="button"]),
	.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper textarea.disabled:not([type="submit"]):not([type="button"]) {
		color: #A6A6A6; 
		background-color: #F6F6F6; 
	}


.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input:focus,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper select:focus,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper textarea:focus,
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper button:focus {
    outline: none;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper .form_field_left_side {
    width:53%;
    float:left;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper input:-webkit-autofill {
    background-color: white !important;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper .clean-btn, .simpleCaptcha a {
    float: left;
    width: 42%;
    box-sizing: border-box;
    border: 2px solid #e28023;
    margin-left: 5%;
    height: 48px;
    text-align: center;
    color: #e28023;
    font-weight: 600;
    opacity:1;
    cursor:pointer;
        background-color: transparent;
        text-decoration:none;
}

.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper a.clean-btn, .simpleCaptcha a{
	line-height: 42px;
}

.wizard-wrap .wizard-inner-wrap .form_field_container .input-wrapper .clean-btn.disabled {
    opacity:0.3;
    cursor:default;
}
.wizard-wrap .wizard-inner-wrap .form_buttons_container .input-wrapper .ev-btn-org  {
    margin-left:5%;
     line-height: 44px;
    font-size: 18px;
    font-weight: 600;
    width: 42%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 0 28px;
    background-color: #e28023;
    border-bottom: 2px solid #c86d14;
    border-top: 2px solid #f39e4b;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    color: #ffffff;
    display: inline;
    box-sizing: border-box;
    float:right;
	text-decoration: none;
}
.wizard-wrap .wizard-inner-wrap .form_buttons_container .input-wrapper .ev-btn-org.disabled {
    opacity:0.3;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .simpleCaptcha {
     width: 70%;
    float: right;
    box-sizing: border-box;
    padding-left: 20px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .simpleCaptcha .captcha-image-margin {
        float: left;
    height: 50px;
    width: 190px;
}
.wizard-wrap .wizard-inner-wrap .form_field_container .form_buttons_container {
    clear:both;
}

.wizard-wrap .wizard-inner-wrap .form_field_container .captcha-wrap {
    margin-bottom: 22px;
    height: 50px;
}
 
div.canDisabledAddress {
    display: none;
}