body {

}
.hide {
    display:none;
    visibility: hidden;
}
.vip-container {
     display:none;
    visibility: hidden;
}
.wizard-wrap {
    box-sizing:border-box;
    max-width:944px;
    padding:40px 35px 40px 40px;
    background:#f1f0f0;
    margin:0 auto;
}

.wizard-wrap .wizard-inner-wrap h2.form_start {
    margin:0;
    color: #8dc641;
    text-align: left;
    line-height: 30px;
    font-weight: 400;
    font-size:22px;
    margin-bottom:35px;
}
.wizard-wrap .wizard-inner-wrap  .form-element {
    clear: both;
    margin-bottom: 15px;
}
.wizard-wrap .wizard-inner-wrap  .form-element .input-title {
    width: 30%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #494949;
    text-align: right;
    line-height: 42px;
}
.wizard-wrap .wizard-inner-wrap  .form-element .input-title.long {
    line-height: 16px;
}
.wizard-wrap .wizard-inner-wrap  .form-element .error-wrap {
    height: 15px;
}
.wizard-wrap .wizard-inner-wrap  .form-element .error {
    color: red;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
}
.wizard-wrap .wizard-inner-wrap  .form-element .input-wrapper {
    width: 70%;
    display: inline-block;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative;
}

.wizard-wrap .wizard-inner-wrap  .form-element .input-wrapper select,
.wizard-wrap .wizard-inner-wrap  .form-element .input-wrapper input,
.wizard-wrap .wizard-inner-wrap  .form-element .input-wrapper textarea {
    display: block;
    background: #ffffff;
    height: 50px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #494949;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #c7c7c7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.wizard-wrap .wizard-inner-wrap .form-element .input-wrapper input:focus,
.wizard-wrap .wizard-inner-wrap .form-element .input-wrapper select:focus,
.wizard-wrap .wizard-inner-wrap .form-element .input-wrapper textarea:focus,
.wizard-wrap .wizard-inner-wrap .form-element .input-wrapper button:focus {
    outline: none;
}

.om-form-wrap .om-form-inner-wrap .om-form-body .om-form-element .om-input-wrapper input:-webkit-autofill {
    background-color: white !important;
}