.ev-form {
	background-color: #f1f0f0;
    padding: 20px;
}

.ezSortCode .attardi-input {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 30%;
}

.ezSortCode .attardi-input.ezSortCode3{
	float: right;
}

.ezSortCode .attardi-input.ezSortCode2{
	margin-left: 30px;
}
