.hmrc-upload-ui .dropzone {
	min-height: 150px;
	margin-bottom: 20px;
}

.hmrc-upload-ui .dropzone .dz-message {
	margin-top: 35px;
	font-size: 32px;
	text-align: center;
	color: #67c10b;
	font-weight: normal;
}

.hmrc-upload-ui .period-details {
	border-collapse: collapse;
	color: #777777;
	font-size: 12px;
}

.hmrc-upload-ui .period-details caption {
	font-weight: bold;
	font-size: 1.3em;
}

.hmrc-upload-ui .period-details tbody td,
.hmrc-upload-ui .period-details thead th
{
	white-space: nowrap;
	padding: 5px;
}

.hmrc-upload-ui .period-details thead th {
	border-bottom: 1px solid #aaaaaa;
	font-weight: bold;
	text-align: center;
}

.hmrc-upload-ui .period-details tbody tr.other-firm td {
	border-top: 1px solid #aaaaaa;
}

.hmrc-upload-ui .period-details tbody tr.not-just-after td {
	color: red;
	font-weight: bold;
}

.hmrc-upload-ui .buttons-and-legend {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}

.hmrc-upload-ui .buttons-and-legend .buttons {
	display: table-cell;
	text-align: right;
}

.hmrc-upload-ui .buttons-and-legend .legend {
	display: table-cell;
	width: 350px;
	font-size: 14px;
	line-height: 14px;
}

.hmrc-upload-ui .buttons-and-legend .legend > div {
	margin-top: 3px;
	vertical-align: baseline;
}

.hmrc-upload-ui .buttons-and-legend .legend .periods-chart {
	display: inline-table;
	max-width: 75px;
}

.hmrc-upload-ui .remove-icon {
	height: 11px;
	width: 11px;
	cursor: pointer;
	border: 0;
}

.hmrc-upload-ui .periods-chart {
	width: 100%;
	border-collapse: collapse;
}

.hmrc-upload-ui .periods-chart td {
	border: 1px solid #67c10b;
	padding: 3px 0;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

.hmrc-upload-ui .periods-chart td.jan {
	font-weight: bold;
}

.hmrc-upload-ui .periods-chart td.older {
	font-style: italic;
}

.hmrc-upload-ui .periods-chart td.found {
	background-color: #67c10b;
	color: white;
}
