.hmrc-enter-business-data {
	margin-top: 1em;
}

.hmrc-enter-business-data .aka-column {
	width: 50%;
	vertical-align: top;
}

div.hmrc-enter-data-holder {
	overflow-x: auto;
	width: 99%;
}

div.hmrc-enter-data-holder .add-one-period {
	float: right;
}

.hmrc-enter-data { border-collapse: collapse; }

.hmrc-enter-data th,
.hmrc-enter-data td {
	border: 0;
	padding: 3px;
	vertical-align: middle;
}

.hmrc-enter-data th {
	text-align: left;
	min-width: 400px;
}

.hmrc-enter-data tbody td {
	text-align: right;
	min-width: 180px;
}

.hmrc-enter-data .date-holder {
	text-align: right;
	white-space: nowrap;
}

.hmrc-enter-data input {
	width: 145px;
}

.hmrc-enter-data tfoot th,
.hmrc-enter-data tfoot td {
	text-align: center;
}

.hmrc-enter-data .value-container { padding-top: 13px; }
