@media only screen and (min-width : 320px) and (max-width : 1000px) {
    #header {
		width: 100%;
		-moz-min-width: 100%;
		-ms-min-width: 100%;
		-o-min-width: 100%;
		-webkit-min-width: 100%;
		min-width: 100%;
        background-color: #fff;
	}

	.header-inner {
		width: 100%;
		-moz-min-width: 320px;
		-ms-min-width: 320px;
		-o-min-width: 320px;
		-webkit-min-width: 320px;
		min-width: 320px;
	}

	ul#user-menu {
        margin: 0;
        width: 180px;
        top: 0;
        right: -10px;
        line-height: inherit;
    }

    ul#user-menu li {
        margin: 0 0 0 15px; 
    }
    
    footer {
        display: none;
    }

    .inner {
		-moz-min-width: 320px;
		-ms-min-width: 320px;
		-o-min-width: 320px;
		-webkit-min-width: 320px;
		min-width: 320px;
        width: 100%;
        margin: 0 auto;
	}

	.broker-finish-wizard-later {
		background: none;
		-moz-min-width: 320px;
		-ms-min-width: 320px;
		-o-min-width: 320px;
		-webkit-min-width: 320px;
		min-width: 320px;
        width: 100%;
        margin: 0;
        border: none;
	}

	.broker-finish-inner {
        border: 1px solid #E2E3E5;
        padding: 0;
    }

    .broker-finish-wizard-later .button-container button {
        position: relative;
        margin-top: 5px;
    }

    div.wizard-director-text {
        width: 100%;
        font-size: 11pt;
        color: #585858;
    }

    #content {
        float: left;
        width: 100%;
        line-height: 1.8em;
    }

    .ez_progress_bar {
        width: 100%;
        height: 30px;
        padding: 0;
        background: #f7f7f7;
        background: -moz-linear-gradient(top,#f7f7f7 0,#e5e5e5 90%);
    }

    .code-sent-style-container,
    input.form_field_left_side,
    input.form_field, textarea.form_field {
        width: 92%;
        max-width: 92%;
    }

    input.form_field_right_side_signup_phone {
        float: none;
        margin-top: 10px;
        width: 170px;
    }

    div.form_read_and_accept {
        width: 100%;
    }

    select.form_field {
        width: 92%;
        height: 30px;
        padding: 0;
    }

    .btn.addAddress {
        width: 40% !important;
    }

    .addAddressInput {
        width: 50% !important;
    }

    .ezDateTime .fs16 {
        display: block !important;
        width: 100% !important;
    }

    .ezDateTime .attardi-input {
        width: 30% !important;
    }

    .BankContainer .marketplace-button {
        width: 92%;
    }

    .hmrc-why {
        width: 100%;
        margin-left: 30px;
        padding-left: 50px;
    }

    .FormRadioCtrl > span {
        width: 100%;
        display: inline-block;
    }

        .FormRadioCtrl > span.error {
            width: 100%;
            display: inline-block;
        }
    
    .marketplace-button {
        width: 47%;
    }

    .hmrc-main-button {
        margin: 5px;
    }
    .help_window {
        width: 316px;
        padding: 0;
    }
    .help_image {
        width: 320px;
        height: 229px;
     }

    .help_security {
        width: 320px;
        height: 25px;
    }

	.help_everline_header {
		width: 320px;
		height: 65px;
		margin: 0;
	}

	.help_everline_content {
		margin-left: 15px;
		margin-right: 15px;
	}

    .SubBank {
        width: 92%;
    }

    a.amazonscreenshot,
    .amazon_view_tutorial_label {
        margin-top: 10px;
    }

    .dropzone {
        min-height: 220px;
    }

    .dropzone .dz-with-text {
        width: 100%;
        height: inherit;
        margin: 0;
        top: 0;
        left: 0;
    }

    div.form_buttons_container {
        position: relative;
        height: 30px;
        margin-bottom: 10px;
    }

        div.form_buttons_container input.confirm {
            position: absolute;
            top: 0;
            left: 0;
        }

        div.form_buttons_container input.continue, div.form_buttons_container a.continue {
            position: relative;
            clear: both;
        }

        div.form_buttons_container input.back, div.form_buttons_container a.back {
            position: absolute;
            top: 0;
            left: 0;
        }

    .wizard-steps {
		-moz-min-width: 320px;
		-ms-min-width: 320px;
		-o-min-width: 320px;
		-webkit-min-width: 320px;
		min-width: 320px;
        width: 100%;
	}

	ul.application_steps {
		margin: 0 0 0 0;
        overflow: hidden;
        list-style: none;
		-moz-min-width: 320px;
		-ms-min-width: 320px;
		-o-min-width: 320px;
		-webkit-min-width: 320px;
		min-width: 320px;
        width: 100%;
	}

	.progress-line {
        margin-left: 20px;
        top: 18px;
    }

    .progress-circle {
        width: 47px;
        height: 47px;
    }

    .progress-circle .inner-circle {
        left: 3px;
        top: 3px;
        width: 40px;
        height: 40px;
    }

    .progress-circle .percent {
        vertical-align: middle;
        line-height: 40px;
        font-size: 25px;
    }

    .progress-line-current, .progress-line-complete {
        top: 21px;
    }

    .first .progress-line-current, .first .progress-line-complete {
        margin-left: 20px;
    }

    ul.application_steps li.current .progress-line-current {
        left: -20px;
    }
    
    input[disabled], 
    select[disabled], 
    textarea[disabled], 
    input[readonly], 
    select[readonly], 
    textarea[readonly] {
        background-color: #eee;
        border: 1px #ccc solid;
        cursor: default;
    }

    .modal {
        width: 100%;
    }

    .clear {
        display: none;
        visibility: hidden;
    }

    td.account-logo {
        width: 90px;
        overflow: hidden;
        padding-right: 10px;
    }

    .pages, .stores-view {
        width: 100%;
    }

    .bar_step30 {
        width: 40%;
    }

    .btn {
        padding: 8px 6px;
    }

    .source {
        font-size: 11px;
    }

    .lpchat-container {
        display: none !important;
        visibility: hidden;
    }

    aside.customer-sidebar {
        display: none !important;
        visibility: hidden;
    }

    .type-of-business-form_field {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        height: auto !important;
        width: 93%;
        padding: 4px;
        font-size: 16px;
    }

    .vip-container {
        display: none;
    }

    /***broker****/
    .broker-form {
        width: 100%;
        max-width: 640px;
    }

    .hide-mobile {
        display: none;
    }


	.ui-dialog.ui-widget.ui-widget-content.ui-corner-all{
		left: 0 !important;
		width: auto !important;
	}

}

@media only screen and (min-width : 320px) and (max-width : 500px) {
    .header-info {
        line-height: initial;
        color: inherit;
        width: 100%;
    }
    .header-info-left,
    .header-info-text,
    .header-info-right {
        background: none;
    }
}