@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {

    html, body {
        padding: 0;
        margin: 0;
    }

    #header {
        margin: 0;
        width: 100%;
        background-color: #fff;
    }

    ul#user-menu {
        position: relative;
        display: inline-block;
        top: 0;
        margin: 0;
    }

        ul#user-menu li {
            padding: 0;
        }

    #copyrights {
        min-width: 600px;
        width: 100%;
    }

    footer .copyrights-inner {
        min-width: 600px;
        width: 100%;
        padding: 0;
    }

    div.full_width {
        width: 100%;
        overflow-x: hidden;
    }

    .inner, .broker-finish-wizard-later {
        min-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    div.wizard-director-text {
        width: 100%;
        font-size: 11pt;
        color: #585858;
    }

    #content {
        float: left;
        width: 100%;
        line-height: 1.8em;
    }

    .ez_progress_bar {
        width: 100%;
        height: 30px;
        padding: 0;
        background: #f7f7f7;
        background: -moz-linear-gradient(top,#f7f7f7 0,#e5e5e5 90%);
    }

    input.form_field, textarea.form_field {
        width: 92%;
    }

    div.form_read_and_accept {
        width: 100%;
    }

    select.form_field {
        width: 92%;
        height: 30px;
        padding: 0;
    }

    .btn.addAddress {
        width: 40% !important;
    }

    .addAddressInput {
        width: 50% !important;
    }

    .ezDateTime .fs16 {
        display: block !important;
        width: 100% !important;
    }

    .ezDateTime .attardi-input {
        width: 30% !important;
    }

    .BankContainer a.radio-fx {
        display: block !important;
    }

    .hmrc-why {
        width: 100%;
    }

    .hmrc_main_buttons_container {
        height: 100px !important;
    }

    .FormRadioCtrl > span {
        width: 100%;
        display: inline-block;
    }

        .FormRadioCtrl > span.error {
            width: 100%;
            display: inline-block;
        }

    .SubBank {
        width: 100%;
    }

    div.form_buttons_container {
        position: relative;
        height: 30px;
        margin-bottom: 10px;
    }

        div.form_buttons_container input.confirm {
            position: absolute;
            top: 0;
            left: 0;
        }

        div.form_buttons_container input.continue, div.form_buttons_container a.continue {
            position: relative;
            clear: both;
        }

        div.form_buttons_container input.back, div.form_buttons_container a.back {
            position: absolute;
            top: 0;
            left: 0;
        }

    .wizard-steps {
        min-width: 600px;
        width: 100%;
    }

    ul.application_steps {
        margin: 0 0 0 0;
        overflow: hidden;
        list-style: none;
        min-width: 600px;
        width: 100%;
    }

    .progress-line {
        margin-left: 50px;
    }

    input[disabled], 
    select[disabled], 
    textarea[disabled], 
    input[readonly], 
    select[readonly], 
    textarea[readonly] {
        background-color: #eee;
        border: 1px #ccc solid;
        cursor: default;
    }

    .attardi-input input, .attardi-input textarea, .attardi-input select {
        padding: 4px;
    }

    .modal {
        width: 100%;
    }

    .clear {
        display: none;
        visibility: hidden;
    }

    td.account-logo {
        width: 90px;
        overflow: hidden;
        padding-right: 10px;
    }

    .pages, .stores-view {
        width: 100%;
    }

    .bar_step30 {
        width: 40%;
    }

    .btn {
        padding: 8px 6px;
    }

    .source {
        font-size: 11px;
    }

    .lpchat-container {
        display: none !important;
        visibility: hidden;
    }

    aside.customer-sidebar {
        display: none !important;
        visibility: hidden;
    }

    .type-of-business-form_field {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        height: auto !important;
        width: 93%;
        padding: 4px;
        font-size: 16px;
    }

    .vip-container {
        display: none;
    }
}
