.error h3 {
	font-size: 14px;
	margin-bottom: 0px;
	color: red;
}


body header + .inner {
	margin: 0 auto !important;
}

#paypal_table {
	width: 50%;
}

#paypal_button {
	text-align: right;
}

#paypal_link {
	text-align: center;
}

#secure {
	height: 200px;
}

.login_btn {
	display: none !important;
}

#logoff-li {
	display: inline-block !important;
}

.PayPointHeader {
	margin-top: 80px;
}

.wizard-steps {
	margin-bottom: -60px;
}

.main-page.main-page-everline .PayPointHeader{
	margin-top: 0;
}

.main-page.main-page-everline #amount{     
	line-height: 40px;
    vertical-align: middle;
}

.main-page.main-page-ezbob #amount-group .input-title {
	display: inline-block;
    font-weight: normal;
}

.main-page.main-page-ezbob #amount-group .controls{
	 width: 50%;
}

.main-page.main-page-ezbob #amount {
	font-weight: normal;
}

.PayPointHeader h3{
	font-weight: normal;
}
