/* Permissions */
[name="editEmail"],
[name="changeMobile"],
[name="changeDaytime"],
[name="changeCustomerStatus"],
[name="changeExternalCollectionStatus"],
[name="isTestEditButton"],
[name="newCreditLineBtn"],
[name="loanType"],
[name="allowSendingEmail"],
[name="openCreditLineChangeButton"],
[name="repaymentPeriodChangeButton"],
[name="startingDateChangeButton"],
[name="isLoanTypeSelectionAllowed"],
[name="offerValidUntilDateChangeButton"],
[name="interestRateChangeButton"],
[name="setupFeeEditButton"],
[name="brokerSetupFeeEditButton"],
#SignatureBtn,
#ApproveBtn,
#RejectBtn,
#EscalateBtn,
.reCheck-amazon,
.checkeBankAccount,
#RunConsumerCheckBtn,
#RunCompanyCheckBtn,
#RunAmlCheckBtn,
#RunBwaCheckBtn,
#btnAMLInformation,
#btnAMLandBWAInformation,
#btnBWAInformation,
.edit-loan,
.edit-schedule-item,
.remove-schedule-item,
.couple_buttons,
a[data-bug-type],
.addNewDebitCard,
.setDefault,
.payment-cards-buttons > *,
.rollover,
.make-payment,
#btn-options,
.reCheckMP,
[name="discountPlan"],
[name="avoidAutomaticDecisionButton"],
.renew-token,
.set-paypoint-default,
#recheck-askville,
#SuspendBtn,
#ReturnBtn,
.disable-shop,
.permission-HideBrokerClientDetails .broker-client-detail
.addNewCustomerRelationsEntry,
[name="editOfferButton"],
.btn-bug,
.downloadOfferButton,
#RecalculateMedalBtn,
[name="changeFraudStatusManualy"],
.parseYodleeMp,
.enterHmrcMp,
.yodleeSearchWordsDelete,
.yodleeSearchWordsAdd,
.yodleeRuleAdd,
.btn-change-address,
.change-company,
.do-send,
.add-director,
.btn-edit-director,
.btn-delete-director,
#deleteDocs,
#addNewDoc,
#sendSms,
#recheckFraud,
.add-property-margin,
.btnEnquiry,
.zooplaRecheck,
#fraud-area .add,
.cais-manage-controls .generate,
.save-change,
#basic-interest-rate-settings .save,
#loan-offer-multiplier-settings .save,
#eu-loan-monthly-interest-settings .save,
#default-rate-company-settings .save,
#default-rate-customer-settings .save,
[name="SaveAutomationSettings"],
[name="SaveApprovalSettings"],
[name="SaveRejectionSettings"],
[name="SaveChargesSettings"],
#SaveExperianSettings,
[name="SavePricingModelSettings"],
[name="SaveProductSettings"],
[name="SaveOpenPlatformSettings"],
[name="SaveGeneralSettings"],
#addFundsBtn,
#cancelManuallyAddedFundsBtn,
#pacnetTopUpRequestBtn,
#pacnetConfMailBtn,
.reset-password-tr,
.reset-broker-password,
.finish-wizard-tfoot,
#create-loan-hidden-btn,
#logbook-show-new-entry-form,
.find-investor,
.submit-choosen-investor,
.config-investor,
.add-transaction-btn,
#config-scheduler-submit-btn,
#SubmitContactsEdit,
#SubmitBanksEdit,
#investorDetailsSubmit,
.add-investor,
.save-new-email,
.saveWhiteLabel,
.change-broker-tr
{
    display: none;
    visibility: hidden; /* JQuery hide/show function use display:none. So we need to property visibility */
}

.block-taking-loan-td,
.cciMarkSwitch,
.is-test-td,
.manualDecisionSwitch,
.debitCardCustomerSelection
{
	pointer-events: none;
	opacity: 0.5;
}

/*Loan editing options, rollover,manual payment etc*/
.permission-Rollover .rollover,
.permission-MakePayment .make-payment,
.permission-LoanOptions #btn-options,

.permission-AvoidAutomaticDecision [name="avoidAutomaticDecisionButton"],

.permission-SuspendBtn #SuspendBtn, /*status change to pending, not waiting for signature*/
.permission-SuspendBtn #SignatureBtn, /*status change to pending, waiting for signature*/
.permission-ReturnBtn #ReturnBtn, /*status change to waiting for decision*/

.permission-DiscountPlan [name="discountPlan"],
.permission-DisableShop .disable-shop,
.permission-ParseBankTransactions .parseYodleeMp,
.permission-EnterHMRC .enterHmrcMp,
.permission-YodleeSearchWords .yodleeSearchWordsDelete,
.permission-YodleeSearchWords .yodleeSearchWordsAdd,
.permission-YodleeRules .yodleeRuleAdd,
.permission-ChangeAddress .btn-change-address,
.permission-ChangeCompany .change-company,
.permission-SendDocuments .do-send,
.permission-AddEditDirector .add-director,
.permission-AddEditDirector .btn-edit-director
.permission-AddEditDirector .btn-delete-director
.permission-UploadFile #addNewDoc,
.permission-DeleteFile #deleteDocs,
.permission-SendSMS #sendSms,
.permission-RecheckFraud #recheckFraud, 
.permission-AddProperty .add-property-margin,
.permission-LandRegistry .btnEnquiry,
.permission-ZooplaRecheck .zooplaRecheck,
.permission-AddFraudUser #fraud-area .add,
.permission-GenerateCAIS .cais-manage-controls .generate,
.permission-EditCAISFile .save-change,
.permission-AddFunds #addFundsBtn,
.permission-AddFunds #cancelManuallyAddedFundsBtn,
.permission-PacnetRequests #pacnetTopUpRequestBtn,
.permission-PacnetRequests #pacnetConfMailBtn,
.permission-ResetBrokerPassword .reset-broker-password,
.permission-CreateLoan #create-loan-hidden-btn,
.permission-ChangeBrokerEmail .save-new-email,
.permission-BrokerWhiteLabel .saveWhiteLabel,
.permission-CreateInvestor .add-investor,
.permission-ManageInvestor #investorDetailsSubmit,
.permission-ManageInvestor #SubmitContactsEdit,
.permission-ManageInvestor #SubmitBanksEdit,
.permission-InvestorAccounting #config-scheduler-submit-btn,
.permission-InvestorAccounting .add-transaction-btn,
.permission-InvestorConfig .config-investor,
.permission-FindInvestor .find-investor,
.permission-ForceInvestor .submit-choosen-investor,
.permission-AddLogbookEntry #logbook-show-new-entry-form
{
     display: inline-block;
     visibility: visible;
}


/*Automation and settings*/

.permission-AutomationAndSettings [name="SaveAutomationSettings"],
.permission-AutomationAndSettings [name="SaveApprovalSettings"],
.permission-AutomationAndSettings [name="SaveRejectionSettings"],
.permission-AutomationAndSettings [name="SaveChargesSettings"],
.permission-AutomationAndSettings #SaveExperianSettings,
.permission-AutomationAndSettings [name="SavePricingModelSettings"],
.permission-AutomationAndSettings [name="SaveProductSettings"],
.permission-AutomationAndSettings [name="SaveOpenPlatformSettings"],
.permission-AutomationAndSettings [name="SaveGeneralSettings"],
.permission-AutomationAndSettings #basic-interest-rate-settings .save,
.permission-AutomationAndSettings #loan-offer-multiplier-settings .save,
.permission-AutomationAndSettings #eu-loan-monthly-interest-settings .save,
.permission-AutomationAndSettings #default-rate-company-settings .save,
.permission-AutomationAndSettings #default-rate-customer-settings .save
{
	 display: inline-block;
     visibility: visible;
}

/*Email confirmation button / change phones */

.permission-EmailConfirmationButton [name="editEmail"]
 {
    display: inline-block;
    visibility: visible;
}

/*ChangePhone*/
.permission-ChangePhone [name="changeMobile"],
.permission-ChangePhone [name="changeDaytime"]{
    display: inline-block;
    visibility: visible;
}


/*Customer Status*/

.permission-CustomerStatus [name="changeCustomerStatus"],
.permission-CustomerStatus [name="changeExternalCollectionStatus"] {
    display: inline-block;
    visibility: visible;
}

/*Test User*/

.permission-TestUser [name="isTestEditButton"] {
    display: inline-block;
    visibility: visible;
}

/*New Credit line button*/

.permission-NewCreditLineButton [name="newCreditLineBtn"] {
    display: inline-block;
    visibility: visible;
}

/*Table rows*/
.permission-ResetPassword .reset-password-tr,
.permission-ChangeBroker .change-broker-tr,
.permission-FinishWizard .finish-wizard-tr
 {
	visibility: visible;
	display: table-row;
}

/*Switchs*/

.permission-BlockTakingLoan .block-taking-loan-td,
.permission-CCIMark .cciMarkSwitch,
.permission-TestUser .is-test-td,
.permission-AvoidAutomaticDecision .manualDecisionSwitch,
.permission-DebitCardCustomerSelection .debitCardCustomerSelection
{
	pointer-events: initial;
	opacity: initial;
}

/*Approve, Reject*/

.permission-ApproveReject #ApproveBtn, .permission-ApproveReject #RejectBtn {
    display: inline-block;
    visibility: visible;
}

/*Escalate*/

.permission-Escalate #EscalateBtn {
    display: inline-block;
    visibility: visible;
}

/*Recheck MPs from Market Places Tab*/

.permission-RecheckMarketplaces .reCheckMP:NOT(.paypal),
.permission-RecheckMarketplaces .renew-token,
.permission-RecheckMarketplaces #recheck-askville 
{
    display: inline-block;
    visibility: visible;
}

/*Check bank account*/

.permission-CheckBankAccount .checkeBankAccount {
    display: inline-block;
    visibility: visible;
}

/*Run credit bureau checks - Consumer+Company+AML+BWA*/
.permission-RunCreditBureauChecks #RunConsumerCheckBtn,
.permission-RunCreditBureauChecks #RunCompanyCheckBtn,
.permission-RunCreditBureauChecks #RunAmlCheckBtn,
.permission-RunCreditBureauChecks #RunBwaCheckBtn {
    display: inline-block;
    visibility: visible;
}

/*Sending messages to clients*/

.permission-SendingMessagesToClients #btnAMLInformation,
.permission-SendingMessagesToClients #btnAMLandBWAInformation,
.permission-SendingMessagesToClients #btnBWAInformation {
    display: inline-block;
    visibility: visible;
}

/*Edit loan details*/

.permission-EditLoanDetails .edit-loan {
    display: inline-block;
    visibility: visible;
}

.permission-OldEditLoanDetails .edit-schedule-item,
.permission-OldEditLoanDetails .remove-schedule-item{
	display: inline-block;
    visibility: visible;
}

/*Opening a bug*/

.permission-OpenBug a[data-bug-type],
.permission-OpenBug .btn-bug {
    display: inline-block;
    visibility: visible;
}

/*Add bank account*/

.permission-AddBankAccount .addNewDebitCard {
    display: inline-block;
    visibility: visible;
}

/*Change bank account (set default)*/
.permission-ChangeBankAccount .setDefault,
.permission-ChangeBankAccount .set-paypoint-default {
    display: inline-block;
    visibility: visible;
}

/*Add debit card*/

.permission-AddDebitCard .payment-cards-buttons > * {
    display: inline-block;
    visibility: visible;
}

/*Add crm notes*/

.permission-CRM .addNewCustomerRelationsEntry {
    display: inline-block;
    visibility: visible;
}

/*Edit offer button*/

.permission-CreditLineFields [name="editOfferButton"] {
	display: inline-block;
    visibility: visible;
}

/*Download offer button*/

.permission-DownloadOffer .downloadOfferButton {
	display: inline-block;
    visibility: visible;
}

/*Recalculate medal button*/

.permission-RecalculateMedal #RecalculateMedalBtn {
	display: inline-block;
    visibility: visible;
}

/*Change fraud status*/

.permission-FraudStatus [name="changeFraudStatusManualy"] {
	display: inline-block;
    visibility: visible;
}

