.popover-title {
    margin-bottom: 0;
    display: none;
    color: #0B73B4;
}

.popover-inner {
    background-color: #0B73B4 !important;
}

.popover.right .arrow {
    border-right-color: #0B73B4;
}

.popover.left .arrow {
    border-left-color: #0B73B4;
}

.popover.bottom .arrow {
    border-bottom-color: #0B73B4;
}

.popover.top .arrow {
    border-top-color: #0B73B4;
}

.popover-content {
    color: #0B73B4;
    background-color: white;
}

.popover-content #loginSubmitBtn {
    float: right;
}

/* IE8 hack*/
.popover, .popover-inner {
    behavior: url(CSS3PIE);
}