.slider-ticks {
    border-bottom: dotted 1px black;
    margin: 5px 10px 0 10px;
}

body .agreement-text {
    width: 100%;
    resize: none;
    background-color: white;
    padding-right: 0px;
    cursor: text;
}

#loanDetailsModal {
    width: 900px;
    left: 40%;
}

.profile-headlines {
    padding-top: 60px;
}
.profile-headlines h1 {
    font-size: 36px;
    font-style: italic;
    color: #0b73b4;
}

.profile-headlines h2 {
    font-size: 20px;
    font-style: italic;
    color: #0b73b4;
}

.gold-cart {
    background-image: url(../img/cart_gold.png)
}
.silver-cart {
    background-image: url(../img/cart_silver.png)
}
.platinum-cart {
    background-image: url(../img/cart_silver.png)
}
.diamond-cart {
    background-image: url(../img/cart_silver.png)
}

.welcome-sign{
    font-size: 24px;
}

.profile-widgets {
    margin-top: 0px;
    background-color: white;
}

.summary-table tr td:first-child {
    text-align: left;
    padding-left: 10%;
}

.profile-widgets #finish-wizard { display: none !important; }

.personal-company-info-container {
	width: 100%;
	*zoom: 1;
}

.personal-company-info-container:before,
.personal-company-info-container:after { display: table; line-height: 0; content: ""; }
.personal-company-info-container:after { clear: both; }

.personal-company-info-container .form_field_container,
#profile-content h2.loan-summary-title {
	margin-bottom: 15px;
}

.personal-company-info-container .column {
     width: 49%;
     float: left;
}

body .apply-header-approved {
    font-size: 18px;
}

body .apply-header-approved b{
    font-size: 18px;
    color: #67c10b;
}

body .get-cash-amount {
    color: #0B73B4;
    font-weight: bold;
}

table.table th {
    vertical-align: middle;
    line-height: 20px;
}
.account-activity-table.table.table th {
    vertical-align: top;
}

.accountDetailsButton {
    position: absolute;
    right: 10px;
    top: -22px;
}

.account-activity-table td, .account-activity-table th {
    text-align: left;
    padding-left: 30px;
}

.statusActive, .statusClosed, .statusLate {
    font-weight: bold;
    text-transform:uppercase;
}

body .statusActive {
    color: #728c2a!important;
}

body .statusLate {
    color: red!important;
}

.personal-info-readonly input[type="text"]{
    width: 270px;
    color: #0B73B4;
}

.profile legend{
    font-weight: bold;
    font-size: 14px;
    color: #565656;
    height: 30px;
    width: 277px;
    border-bottom: none;
}


.grey-table .Live {
    color: #67c10b;
    font-weight: bold;
}

.add-stores-tip {
    color: #728c2a;
    font-weight: bold;
}

.profile-headlines h2 {
    padding: 0;
    margin: 0;
}

.processing-header h2{
    color: red;
    font-size: 18px;
    font-variant: normal;
    font-style: normal;
}


.settings-form {
    padding-top: 10px;
}

.settings-form .control-group{
    position: relative;
}

.settings-form .control-group .controls a
{
    position: absolute;
    margin-left: 10px;
}

.loan-schedule {
    margin-top: 10px;
    font-weight: normal;
}

.main-page-everline .loan-schedule {
    margin-top: 0;
    font-weight: inherit;
}

body .dashes {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

input.white {
    background-color: white;
}


.next-due-amount i 
{
    display: block;
    position: absolute;
    bottom: -24px;
    right: 0px;

    font-size: 9px;
    font-weight: normal;
}

.lot-of-loans {
    padding-left: 100px;
}

.lot-of-loans input[type="radio"]{
	margin-top: 6px;
}
.lot-of-loans #pay-early-other{
	margin-top: 10px;
}

.form-horizontal .control-group.less-space {
    margin-bottom: 5px;
}

.w100 {
    width: 100px;
}

.w70 {
    width: 70px;
}

.s84 {
    height: 30px !important;
    width: 84px;
}

.w220 {
    width: 220px;
}

.total-balance-pay {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
}

.green, .hm_green {
    color: #67c10b;
}

.blue, .hm_blue {
    color: #0B73B4;
}

body .other-amount-label {
    margin-right: 0px !important;
    width: 120px;
}

.apply-loan-due {
    font-size: 11px;
    color: #0B73B4;
    display: inline-block;
    line-height: 11px;
    padding-top: 2px;
    padding-left: 4px;
}

.apply-loan-total {
    line-height: 28px;
    vertical-align: top;
    font-size: 16px;
    color: #67c10b;
	font-weight: bold;
}

.profile-screen .SecurityStatement {
    margin-top: 20px;
}

.agreement .overview {
    height: 400px;
}
.slider-upto {
    position: relative;
}

.slider-upto span {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 10px;
}

#message-sign {
    margin-top: -30px;
}

.profile-screen {
    position: relative;
}

.loan-amount-header { position: relative; }

.guarantee-img {
    width: 100px;
    height: 100px;
    background-image: url(../img/guarantee.png);
    position: absolute;
    top: 80px;
    left: 380px;
}

.profile-screen h2 {
    margin-bottom: 35px;
}

.welcome-sign a.pay-early, .welcome-sign a.pay-early:hover, .welcome-sign a.pay-early:active, .welcome-sign a.pay-early:visited {
    text-decoration: none;
}

#profile-content .repayments-table-header {
    margin-top: 8px;
    margin-bottom: 20px;
	font-size: 22px;
}

#profile-content {
    color: #565656;
	width: 1000px;
    margin: 0 auto;
}


.profile-menu .navbar-inner {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgb(89,89,89); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzFmMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(35,31,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(35,31,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
    filter: none\0/ !important;
    -pie-background: linear-gradient(top, rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
}

.navbar .profile-menu {
    margin-bottom: 10px;
}

.profile-menu .nav {
    height: 40px;
    border: none;
    color: #ffffff;
}

.navbar .nav > li > a,
.profile-menu .nav > li > a {
    text-shadow: none;
    font-size: 14px ;
    padding: 0 16px !important;
    color: #a7a6a6;
    font-family: "Titillium Web Semi Bold";
    line-height: 40px !important;
    vertical-align: middle;
}
.profile-menu .navbar-inner{
    padding-left: 0px;
}

.profile-menu .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.profile-menu.navbar .nav > li > a:focus, 
.profile-menu.navbar .nav > li > a:hover,
.profile-menu.navbar .nav .active a, 
.profile-menu.navbar  .nav .active a:hover{
    color: #ffffff !important;
}

.profile-menu .divider-vertical {
    height: 20px;
    margin-top: 10px;
}

.profile-menu .customer-dashboard-main { margin: 0; }


.schedule-print-link {
    margin-top: -15px;
}

dl.loan-schedule-info  {
    margin-left: 0;
}

.loan-schedule-info dt, .loan-schedule-info dd {
    margin-bottom: 5px;
}

.loan-schedule-info dt{
    float: left;
    width: 140px;
}

.loan-schedule-info dd {
    margin-left: 150px;
}

#schedule a {
    font-size: 12px;
}

.button.btn-fix {
    width: 160px
}

html body .centered {
    text-align: center;
}

html body .right {
    text-align: right;
}

.header-message em{
    font-style: normal;
}

.company-info fieldset,
.personal-info fieldset{
	margin-top: 20px;
}

.company-info fieldset legend,
.personal-info fieldset legend
{
    border: none;
    width: auto;
    margin: 0px;
    padding-right: 5px;
    color: #0b73b4;
}

.dashboard-frame td.caption {
    height: 35px;
    font-size: 16px;
    vertical-align: top;
    width: 150px;
}

.dashboard-frame td.value {
    height: 35px;
    vertical-align: top;
    font-size: 16px;
    font-family: 'Titillium Web Semi Bold';
}

.pay-early-details{
	font-size: 18px;
}

.by-paying-early {
    font-size: 22px;
    color: #0B73B4;
    margin-top: 25px;
    margin-bottom: 25px
}

.header-message.hm_green {
    color: #67c10b;
    font-weight: bold;
}

.header-message.hm_blue {
    color: #0B73B4;
    font-weight: bold;
}

h2.header-message a{
    font-size: 12px;
}

.early-payment-form{
	padding-left: 30px;
    padding-right: 30px;
}

.early-payment-form .radio b { margin-left: 15px;}

.early-payment-form h3 {
	margin-bottom: 25px; 
}

.early-payment-form .input-wrapper {
	display: inline-block;
	margin-top: -5px;
}

.early-payment-form .radio .money { 
    margin: 0;
    margin-left: 15px;
    width: 220px;
}

#profile-content .stores-view .next { display: none!important;}

#profile-content .stores-view { width: 100%; }

.cash-question h3{
    margin-top: 40px;
}

select.selectheight { height: 30px; }

.card-options-label{
	display: inline-block;
    font-size: 15px;
    font-weight: normal;
    margin-right: 10px;
}

#get-cash .underwriter-only { display: none; }
#get-cash .print-customer_details { display: none; }

textarea.invite_friend {
    width: 400px;
    height: 100px;
    font-family: Arial;
}

.invite_friend_buttons {
    position: absolute;
    right: 0;
    top: 69px;
}

.eu-agreement-header {
    display: inline-block;
    width: 100%;
}

.eu-agreement-images {
    float: left;
	display: inline-block;
	width: 20%
}

.eu-agreement-text {
    float: right;
	display: inline-block;
	width: 80%
}

.eu-agreement-image {
	background: url(../css/images/europe-fund.png) no-repeat 0 0;
	-moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
}

.eu-fund-image {
	background: url(../css/images/eu.png) no-repeat 0 0;
	-moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
}

.eu-image {
	height: 70px;
    width: 100%;
    display: block;
	margin: 25px;
}

.fb-icon {
	background-image: url(../css/images/facebook-icon.png);
	-ms-background-size: contain;
	background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 3px;
}

.share-on {
    position: absolute;
    top: 0;
    right: 36px;
}

.whats-new {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 105px;
	margin: 0
}

.whats-new-main {
	width: inherit;
	margin-bottom: 10px;
	position: relative;
}

.whats-new-buttons {
	display: block;
	position: absolute;
	right: 0;
	top: 70px;
	z-index: 1;
}

div.addAddressContainer span.attardi-has-data { display: none; }

div.addAddressContainer .field_status { visibility: hidden !important; }

div.director-container { width: 100% !important; }

div.director-container .accordion-group { border: 0 !important; }

div.director-container .accordion-heading .link-text { font-weight: bold; }

div.director-container .accordion-toggle { padding-left: 0 !important; }

div.director-container .accordion-inner { padding: 0 !important; margin-left: 15px; border-top: 0 !important; }

.trustpilot-ezbob {
	padding: 5px;
	width: 400px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.trustpilot-ezbob .trust-caption {
    margin-bottom: 5px;
    font-size: 1.2em;
    white-space: nowrap;
    text-align:center;
}
.trustpilot-ezbob .rate {
	width: 100%;
	display: table;
    text-align: center;
}

.trustpilot-ezbob .skip {
	width: 100%;
	position: relative;
	display: table;
	padding: 0 0 5px 0;
	margin: 0;
}

.trustpilot-ezbob .skip h3 {
	width: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	color: #67c10b;
	font-weight: bold;
}

.trustpilot-ezbob .skip .trustpilot-skip {
	position: absolute;
	right: 5px;
	top: 7px;
	cursor: pointer;
}

.trustpilot-ezbob .text {
	display: table-cell;
	width: 188px;
	text-align: center;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.trustpilot-ezbob .text > div {
	font-size: 1.2em;
}

.trustpilot-ezbob .text .strong {
	font-weight: bold;
}

.trustpilot-ezbob .text a {
	display: inline-block;
	margin-top: 1em;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1.2em;
}

.trustpilot-ezbob .image-link {
	display: table-cell;
	width: 188px;
	text-align: center;
	vertical-align: middle;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.trustpilot-ezbob a {
    border: 0;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    color: #67c10b;

}

.trustpilot-ezbob img {
	border: 0;
	width: 188px;
	height: 126px;
}

.director {
    max-width: 700px;
}

.add-director {
    margin-bottom: 15px;
}

.add-company-director {
	margin-bottom: 1em;
}

table.directors-list td {
	color: #333333;
	font-size: 14px;
}

table.directors-list td.l {
	text-align: left;
}

.directors-list button {
	white-space: nowrap;
}

.jspPane {
    font-family: Arial;
    font-size: 16px;
}

.fs16 {
    font-size: 18px;
    height: 38px;
}

#review-sign-credit-line {
	display: none;
}

#review-sign-credit-line label.creditFacilityAccepted {
	display: inline !important;
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#review-sign-credit-line input#creditFacilityAccepted {
	margin-top: -4px;
}

#review-sign-credit-line .buttons-container {
	text-align: right;
}

#review-sign-credit-line .buttons-container .btn-sign {
	margin-left: 10px;
}

#review-sign-credit-line .loan-schedule,
#review-sign-credit-line .credit-facility {
	height: 400px;
	overflow-y: auto;
	margin-bottom: 20px;
}


/*Automation wizard complete popup*/
.automation-popup {
    background-color: #ffffff;
}	

.automation-popup-content {
	margin-left: 42px;
	margin-right: 42px;
}

.automation-processing {
	height: 70px;
	margin-top: -20px;
	margin-bottom: 60px;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #696969),color-stop(1, #A2A2A2));
	background-image: -o-linear-gradient(bottom, #696969 0%, #A2A2A2 100%);
	background-image: -moz-linear-gradient(bottom, #696969 0%, #A2A2A2 100%);
	background-image: -webkit-linear-gradient(bottom, #696969 0%, #A2A2A2 100%);
	background-image: -ms-linear-gradient(bottom, #696969 0%, #A2A2A2 100%);
	background-image: linear-gradient(to bottom, #696969 0%, #A2A2A2 100%);
}

.automation-processing .automation-processing-bar {
	background-image: url('images/automation-stripe.png');
	background-size: cover;
	background-repeat: repeat-x;
	height: 100%;
}

.automation-header {
	font-family: 'Titillium Web Semi Bold';
	font-size: 32px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.automation-secondary-header {
	font-family: 'Titillium Web Semi Bold';
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 40px;
}

.automation-text {
	font-family: 'Titillium Web Light';
	font-size: 24px;
	margin-bottom: 60px;
}

.automation-label {
	font-family: 'Titillium Web Regular';
	font-size: 24px;
}

.automation-value {
	font-family: 'Titillium Web Regular';
	font-size: 28px;
	border: 1px #ccc solid;
	margin-bottom: 20px;
}

.automation-button {
	min-width: 160px;
	height: 47px;
	font-family: 'Titillium Web Semi Bold';
	font-size: 24px;
	margin-bottom: 40px;
	padding-left: 15px;
    padding-right: 15px;
}
.main-page-ezbob .director-field-name:after {
	content: ": ";
}

.main-page-ezbob .progress-time {
    display: none;
}

.dashboard-steps .progress-time{
	display: none;
}

div.sign-full-name{
	display: inline-block;
}
span.sign-full-name {
	margin-right: 1em;
}

.calc-header{
	display: none;
}
.sliders-main .close{
	display: none;
}

.agreements-checkboxes label {
	display: inline-block;
	width: 90%
}

.schedule-print-link{
	margin-top: 8px;
}

.input-tag-wrap label{
	display: inline;
	font-weight: normal;
}

.loan-details-well {
	padding: 15px 15px 0 25px;
}

.loan-summary-well {
	margin-bottom: 20px;
	padding: 15px 15px 15px 25px; 
}

.loan-summary-well .pay-early{
	margin-top: 80px;
    float: right;
    margin-right: 10px;
}
.loan-agreements ul{
	margin: 0;
    margin-left: 20px;
}

.loan-agreements ul a i {
	display: none;
}

#amount-past-due {
	line-height: 14px;
}

.form-director-is-dir-sha  .input-tag-wrap {
	display: block;
}

.agreement-header {
	margin-top: 40px;
}

.funds-transferred {
	font-size: 22px; 
	margin-bottom: 20px;
}

#companies-agreement-template .simple-well.clearfix,
#consumers-agreement-template .simple-well.clearfix{
	padding-right: 15px;
}

.payment-schedule-fees {
	text-align: center;
}

.print-download {
	padding: 25px 20px 0 20px;
	text-align: right;
}

.card-options-label span.title {
	vertical-align: top;
	line-height: 20px;
}

div.existing-card-data {
	display: inline-block;
	margin-left: 15px;
	margin-top: -5px;
}

#profile-content .loan-schedule-info dd span.loan-amount {
	color: #b7b7b7; 
	font-size: 11px;
}

#profile-content .loan-schedule-info dt span.total-repayments {
	font-size: 11px;
	display: block;
}

#profile-content .loan-schedule-info dd span.total-amount {
	height: 40px;
}

.early-payment-form #loan-select {
	width: 405px;
}

.early-payment-form #rollover-select {
	width: 374px;
}

/*Sliders request loan dashboard*/
.main-page-ezbob .d-widget .request-cash-sliders .sliders-main {
	background-color: transparent;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper {
	background: transparent;

}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container {
    background: transparent;
    box-shadow: none;
    display: inline-block;
    float: left;
    width: 65%;
    padding: 0;
    margin: 0;
	margin-top: 6px;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container .slider-wrap{
	width: 55%;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container .amount-caption,
.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container .period-caption {
	padding-left: 40px;
}
.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container .amount-area {
    border-radius: 5px 0 0 0;
	height: 58px;
	border-right: 1px solid #e8e8e8;
 }

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .slider-wrapper .sliders-container .period-area {
	  border-radius: 0 0 0 5px;
	  height: 58px;
	  border-right: 1px solid #e8e8e8;
}

.main-page-ezbob .d-widget .request-cash-sliders .slider-wrapper{
	width: 86%;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .total-wrapper {
	background: #cdcdcd;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    border-left: 1px solid #87847f;
    width: 18%;
    display: block;
    float: left;
    margin: 12px auto 0;
    text-align: center;
    min-height: 118px;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
	text-shadow: 0px 1px 1px #FFFFFF;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .total-wrapper .total-caption {
	font-family: 'Titillium Web Semi Bold';
	font-size: 18px;
	padding-top: 28px;
}

.main-page-ezbob .d-widget .request-cash-sliders .sliders-main .total-wrapper .total {
	font-size: 24px;
	font-family: 'Titillium Web Light'
}

.main-page-ezbob .d-widget .request-cash-sliders .dashboard-request-loan-section{
	display: none;
}

.main-page-ezbob .d-widget .apply-button-wrapper{
	position: absolute;
    right: 17px;
    top: 13px;
}
