.sidebarBox {width:303px; float:right; clear:none;background:url(../IMG/sidebar/side-top.png) 0 0 no-repeat; padding-top:30px;display:block; font-size:12px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#585858;}
.sidebarBox a {color:#585858;}
.sidebarBox a:hover {text-decoration:underline;}
.sidebarBox h1 {font-size:16px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#0b73b4;}
.sidebarBox h1 img, .sidebarBox h1 span {vertical-align:middle;display:inline-block;zoom:1;*display:inline;}
.sidebarBox h1 img {margin-right:5px; margin-left:-5px;}
.sidebarBox .bottom {background:url(../IMG/sidebar/side-b.png) left bottom no-repeat; padding-bottom:30px;display:block;}
.sidebarBox .mid {padding:5px 35px;display:block;background:url(../IMG/sidebar/side-m.png) 0 0 repeat-y;}
ul.gtarr {padding:0; list-style:none outside;}
ul.gtarr li {padding-left:15px; background:url(../IMG/sidebar/arrgt.png) left 5px no-repeat;list-style:none outside; display:block; margin-left:3px;}

.sidebarBox hr.spacer, .sidebarBox ul, .sidebarBox p, .sidebarBox  h1 {margin:0 0 15px;}