textarea.reason {
    width: 480px;
    resize: none;
    height: 80px;
}
.underwriter-body 
{
    padding: 10px;
    background-color: #fefefe;
    background-color: #F9F9F9;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: 0 0 13px rgba(50, 50, 50, 0.75);
    min-height: 600px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    behavior: url(CSS3PIE);
    position: relative;
    
}

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
    /*padding-top: 40px;*/
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border: none;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 15px;
    width: 15px;
    border: none;
    background: rgb(111,111,111);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 15px;
    width: 15px;
}

#profile-view fieldset legend {
    font-style: italic;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    display: inline;
    padding-right: 20px;
    padding-left: 0px;
    margin-left: -20px;
    border: none;
    width: auto;
}

#profile-view fieldset {
    border: 1px solid #EEE;
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
}

.check, .cross, .question {
    height: 22px;
    width: 22px;
    display: inline-block;
    line-height: 22px;
    vertical-align: bottom;
}

.check { background-image: url(../img/check.png); }

.cross { background-image: url(../img/cross.png); }

.question { background-image: url(../img/question_mark.png); }

.alertWarning { background-color: rgb(248, 252, 157); }

.alertError { background-color: rgb(254, 148, 219); }

.alertReject { background-color: rgb(250, 80, 42); }

.marketplace-table td { cursor: pointer; }

.marketplace-table tbody tr:hover td, .marketplace-table tbody tr:hover th { background-color: #E5E5E5; }

.marketplaceDetail tbody tr:hover td, .marketplace-table tbody tr:hover th {
    background-color: #F5F5F5;
    cursor: auto;
}

.marketplaceDetail .ui-dialog-titlebar, .functionsPopup .ui-dialog-titlebar { border-bottom: 1px solid #ddd !important; }

.marketplaceDetail .ui-dialog-content, .functionsPopup .ui-dialog-content { min-height: 0px !important; }

.marketplaceDetail .marketplaceTitle { display: none; }

#marketplace-details { overflow: auto; }

.paypalDetail tbody tr:hover td, .marketplace-table tbody tr:hover th {
    background-color: #F5F5F5;
    cursor: auto;
}

.paypalDetail .ui-dialog-titlebar, .functionsPopup .ui-dialog-titlebar { border-bottom: 1px solid #ddd !important; }

.paypalDetail .ui-dialog-content, .functionsPopup .ui-dialog-content { min-height: 0px !important; }

.paypalDetail .paypalDetailTitle { display: none; }

#payPal-details { overflow: auto; }

.yodleeTabTable .nowrap {
    white-space: nowrap;
}

.yodleeTabTable tr.credit, .yodleeTabTable tr.credit:nth-child(odd) td  {
    color: #008000 !important;
}

.yodleeTabTable tr.debit, .yodleeTabTable tr.debit:nth-child(odd) td {
    color: #FF0000 !important;
}

tfoot input.search_init {
    width: 100%;
    margin: 0;
    padding: 0;
}

tr.yodleeSearchWordsRow td{
    cursor: pointer !important;
}

.nav-tabs { border-bottom: 1px solid #DDDDDD; }

.reportTableHeader {
    text-align: center !important;
    background-color: #E5E5E5;
}

.left-underwriter-pane { }

.reportDatePicker { width: 70px !important; }

select.selectheight { height: 30px; }

.reportDiv {
    float: right;
    padding-left: 10px;
}

.numberTd { text-align: right !important; }

.underwriter-loan-details h1 {
    display: none;
    margin-bottom: 0px!important;
}

td b.marking {
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

td b.NoChecked { background-image: url(../img/cross.png); }

td b.Checked { background-image: url(../img/ok16.png); }

table.rright tbody td:not(:first-child) { text-align: right; }


.profile-person-info .table-bordered,
.profile-loan-info .table-bordered { behavior: none; /* conflict with overflow: auto. Must be none!*/ }

.profile-person-info td {
    word-wrap: break-word;
}

.marketplace-table tr { vertical-align: middle; }

.show-test-customers { margin-top: 20px; }

#spl {
    width: 100%;
    height: 1000px;
}

#spl > div { overflow: visible; }

.left-underwriter-pane { width: 400px; }

.vsplitbar {
    width: 5px;
    background: #aaa;
    margin: 0 5px;
}

.profile-tabs { padding-left: 10px; }

.blue-header { border-radius: 4px; }

.blue-header thead tr {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #9AB1D1;
    border-color: #9AB1D1 #9AB1D1 #6e7d91;
    background-image: -moz-linear-gradient(top, #9AB1D1, #6e7d91);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9AB1D1), to(#6e7d91));
    background-repeat: repeat-x;
}

.green-header { border-radius: 4px; }

.green-header thead tr {
    background-color: #B1B1B1;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #B1B1B1;
    border-color: #B1B1B1 #B1B1B1 #919191;
    background-image: -moz-linear-gradient(top, #B1B1B1, #919191);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1B1B1), to(#919191));
    background-repeat: repeat-x;
}

.centered thead tr th { text-align: center; }

table.squeezed tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.table-striped.darker tbody tr:nth-child(odd) td, .table-striped.darker tbody tr:nth-child(odd) th { background-color: #F1F1F1; }

.api-check-first-column { width: 140px; }

.api-check-seccond-column { width: 200px; }

.customer-relations-date-column { width: 140px; }
.customer-relations-user-column { width: 85px; }
.customer-relations-action-column { width: 65px; }
.customer-relations-inout-column { width: 65px; }
.customer-relations-status-column { width: 65px; }

.add-customer-entry-comment-size { 
    width: 515px;
    height: 80px !important;
    resize: none;
}

table.table { font-family: Tahoma; }

.view-collection-status .control-label {
    float: left;
    width: 130px;
    padding-top: 5px;
}

.view-collection-status textarea { resize: none; }

.controls.error input.error, .controls.error select, .controls.error textarea, .controls select.error, .controls textArea.error {
    color: #b94a48;
    border: 2px solid #b94a48;
}

.cais-comment {
    overflow: auto;
    width: 320px;
    height: 174px;
    border: solid 1px #C5C5C5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.calculated-status {
    margin-top: 10px;
    border-top: solid 1px #C5C5C5;
}

#loanhistory-table table tr td { cursor: pointer; }

.payment-schedule-table td { color: #7BB224; }

#functionsPopup h3 { font-size: 16px; }

.table-selected td { cursor: pointer }

.table-selected tbody tr:hover td, .table-selected tbody tr:hover th { background-color: #E5E5E5 }

.table-fixed { table-layout: fixed; }

.break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.roleImg { margin-top: 5px; }

#installment-edit-form, #fee-edit-form { margin-top: 20px; }

table tr.editing td { background-color: beige !important; }

.profile-person-info { margin-top: 58px; }

.left-underwriter-menu {
    display: block;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 11;
    background-color: #efefef;
    padding: 10px 0;
    border-radius: 5px;
    width: 115px;
    clear: both;
}

ul.left-underwriter-menu li.active {
    font-weight: bold;
}
ul.left-underwriter-menu li.active a {
    color: #0088CC;
}
ul.left-underwriter-menu > li > a {
    padding-right: 3px;
}
ul.left-underwriter-menu > li > a:hover {
    text-decoration: underline;
    color: #0088CC !important;
}
.customer-grids { 
    margin-left: 117px;
    position: absolute;
    bottom: 0;
    top: 41px;
    right: 5px;
    left: 0;
}

.with-border {
    border: 1px solid #aaa;
    border-radius: 5px;
}

.file-list tbody tr:hover:not(:first-child) td {
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.cais-file-view { overflow: auto; }

.first td { background: #ffffff; }

.seccond td { background: #f9f9f9; }

[data-path] { text-decoration: underline; }

.checked td {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-repeat: repeat-x;
}

.cais-table { margin-top: 10px; }

.cais-file-view {
    width: 98%;
    height: 95%;
    resize: none;
}

#credit-line-form .tooltip {
    white-space: pre-wrap;
} 
i.amazon,
i.ekm,
i.freeagent,
i.sage,
i.ebay,
i.paypal,
i.cgaccount,
i.paypoint,
i.yodlee {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin: 3px 3px 0;
    background-image: url(../img/mp-icons-32/shopping-bag-icon-16x16.png );
}

i.gold,
i.diamond,
i.silver,
i.platinum {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin: 3px 3px 0;
}

i.gold { background-image: url(../img/basket-gold-32.png); }

i.diamond { background-image: url(../img/basket-diamond-32.png); }

i.silver { background-image: url(../img/basket-silver-32.png); }

i.platinum { background-image: url(../img/basket-platinum-32.png); }
/*
i.amazon { background-image: url(../img/mp-icons-32/icon-amazon-32.png); }

i.ekm { background-image: url(../img/mp-icons-32/icon-ekm-32.png); }

i.ebay { background-image: url(../img/mp-icons-32/icon-ebay-32.png); }

i.paypal { background-image: url(../img/mp-icons-32/icon-paypal-32.png); }
*/
.menu .navbar-inner{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #111;
    border-color: #111 #111 #444;
    background-image: -moz-linear-gradient(top, #444, #111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#111));
    background-repeat: repeat-x;
}
.menu.navbar .nav > .active > a, .menu.navbar .nav > .active > a:hover, .menu.navbar .nav > .active > a:focus {
    background-color: #111;
    border-color: #111 #111 #666;
    background-image: -moz-linear-gradient(top, #666, #111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#111));
    background-repeat: repeat-x;
    border-radius: 1px;
}

.customer-grids .ui-widget-header, .customer-grids .ui-jqgrid-sortable{
    font-size: 11px;
}
span.active {
    color: #0088CC;
}

.left-underwriter-div {
    position: absolute;
    top: 41px;
    bottom: 0;
    background-color: white;
    z-index: 11;
    width: 152px;
    left: 0;
}

/*disable default jqGrid loading popup*/
.loading.ui-state-default.ui-state-active {
    visibility: hidden;
}
.hidden-field {
    display: none !important;
}

.ui-menu .ui-menu-item a.ui-state-hover {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #5bb75b !important;
    border-color: #51a351 #51a351 #387038 !important;
    background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
    background-repeat: repeat-x;
}

#collapseSummary .accordion-inner {
    padding-top: 35px;
}

.table td.red_cell {
  color: red;
  font-weight: bold;
}

.couple_buttons {
    margin-left: 3px;
}

td.no-padding { padding: 0 !important; }

table.internal-table { border-collapse: collapse; width: 100% !important; }

table.internal-table td {
	border: 0 !important;
	background-color: transparent !important;
	white-space: nowrap !important;
}

#hmrc-vat-return-summary .r,
#hmrc-vat-return-details .r
{ text-align: right !important; }

.fraud-form .control-group {
    margin-bottom: 5px;
}
.fraud-form hr {
    margin: 5px 0 0 0;
}

.fraud-form-add-values .error,.fraud-form .error {
    border: 1px solid red;
}

.new-freeze-interval-error {
	display: inline-block;
	color: red;
	margin-left: 3em;
}

.narrow-as-possible { width: 1px !important; white-space: nowrap !important; }

.trend-container { float: right; display: inline-block; }
.trend-container span { margin-left: 0.5em; display: inline-block; width: 16px; height: 16px; }

.positive-trend {
	background-image: url(images/ui-icons_2e83ff_256x240.png);
	background-position: -160px -192px;
}

.negative-trend {
	background-image: url(images/ui-icons_cd0a0a_256x240.png);
	background-position: -128px -192px;
}

.stable-trend {
	background-image: url(images/ui-icons_222222_256x240.png);
	background-position: -208px -192px;
}

.company-score-alert {
	display: inline-block;
	padding: 0.2em;
	color: yellow;
	background-color: red;
	font-weight: bold;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

table.unlimited-width { margin-bottom: 20px; }

table.unlimited-width th { text-align: left; }

table.unlimited-width th, table.unlimited-width td { padding: 8px; }
