textarea.reason, textarea.yodleeReason {
    width: 290px;
    resize: none;
    height: 80px;
}

div.uwReason {
    display: inline-block;
}

.underwriter-body {
    padding: 10px;
    background-color: #fefefe;
    background-color: #F9F9F9;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: 0 0 13px rgba(50, 50, 50, 0.75);
    min-height: 600px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    behavior: url(CSS3PIE);
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 12px;
    width: 12px;
    border: none;
    background: rgb(111,111,111);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 12px;
    width: 12px;
}

#profile-view fieldset legend {
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    display: inline;
    padding-right: 20px;
    padding-left: 0px;
    margin-left: -20px;
    border: none;
}

#profile-view fieldset {
    border: 1px solid #EEE;
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
}

.check, .cross, .question {
    height: 22px;
    width: 22px;
    display: inline-block;
    line-height: 22px;
    vertical-align: bottom;
}

.check {
    background-image: url(../img/check.png);
}

.cross {
    background-image: url(../img/cross.png);
}

.question {
    background-image: url(../img/question_mark.png);
}

.alertWarning {
    background-color: rgb(248, 252, 157);
}

.alertError {
    background-color: rgb(254, 148, 219);
}

.alertReject {
    background-color: rgb(250, 80, 42);
}

.marketplace-table td {
    cursor: pointer;
}

.marketplace-table tbody tr:hover td, .marketplace-table tbody tr:hover th {
    background-color: #E5E5E5;
}

.marketplaceDetail tbody tr:hover td, .marketplace-table tbody tr:hover th {
    background-color: #F5F5F5;
    cursor: auto;
}

.marketplaceDetail .ui-dialog-titlebar, .functionsPopup .ui-dialog-titlebar {
    border-bottom: 1px solid #ddd !important;
}

.marketplaceDetail .ui-dialog-content, .functionsPopup .ui-dialog-content {
    min-height: 0px !important;
}

.marketplaceDetail .marketplaceTitle {
    display: none;
}

#marketplace-details {
    overflow: auto;
}

.paypalDetail tbody tr:hover td, .marketplace-table tbody tr:hover th {
    background-color: #F5F5F5;
    cursor: auto;
}

.paypalDetail .ui-dialog-titlebar, .functionsPopup .ui-dialog-titlebar {
    border-bottom: 1px solid #ddd !important;
}

.paypalDetail .ui-dialog-content, .functionsPopup .ui-dialog-content {
    min-height: 0px !important;
}

.paypalDetail .paypalDetailTitle {
    display: none;
}

#payPal-details {
    overflow: auto;
}

.yodleeTabTable .nowrap {
    white-space: nowrap;
}

td.credit, .yodleeTabTable tr.credit, .yodleeTabTable tr.credit:nth-child(odd) td {
    color: #008000 !important;
}

td.debit, .yodleeTabTable tr.debit, .yodleeTabTable tr.debit:nth-child(odd) td {
    color: #FF0000 !important;
}

tfoot input.search_init {
    width: 100%;
    margin: 0;
    padding: 0;
}

tr.yodleeSearchWordsRow td {
    cursor: pointer !important;
}

p.yodlee-cashflow-graph-labels {
    line-height: 90%;
    color: black;
    font-size: larger;
}

.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}

.reportTableHeader {
    text-align: center !important;
    background-color: #E5E5E5;
}

.left-underwriter-pane {
    width: 400px;
}

.reportDatePicker {
    width: 170px !important;
    margin-bottom: 0 !important;
}

select.selectheight {
    height: 30px;
}

select.higherselectheight {
    height: 34px;
}

.reportDiv {
    display: inline-block;
    margin-top: -5px;
}

.numberTd {
    text-align: right !important;
}

.underwriter-loan-details h1 {
    display: none;
    margin-bottom: 0px!important;
}

td b.marking {
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
}

td b.NoChecked {
    background-image: url(../img/cross.png);
}

td b.Checked {
    background-image: url(../img/ok16.png);
}

table.rright tbody td:not(:first-child) {
    text-align: right;
}


.profile-person-info .table-bordered,
.profile-loan-info .table-bordered {
    behavior: none; /* conflict with overflow: auto. Must be none!*/
}

.profile-person-info td {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.marketplace-table tr {
    vertical-align: middle;
}

.show-test-customers {
    margin-top: 20px;
}

.profile-tabs {
    padding-left: 10px;
    z-index: auto !important;
}

.centered thead tr th {
    text-align: center;
}

table.squeezed tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.api-check-first-column {
    width: 140px;
}

.api-check-seccond-column {
    width: 200px;
}

.customer-relations-date-column {
    width: 140px;
}

.customer-relations-user-column {
    width: 85px;
}

.customer-relations-action-column {
    width: 100px;
}

.customer-relations-inout-column {
    width: 65px;
}

.customer-relations-status-column {
    width: 65px;
}

.customer-relations-took-loan {
    color: #797979;
}

.customer-relations-repaid-loan {
    color: #797979;
}

table.table {
    font-family: Tahoma;
}

.view-collection-status .control-label {
    float: left;
    width: 130px;
    padding-top: 5px;
}

.view-collection-status textarea {
    resize: none;
}

.controls.error input.error, .controls.error select, .controls.error textarea, .controls select.error, .controls textArea.error {
    color: #b94a48;
    border: 2px solid #b94a48;
}

.cais-comment {
    overflow: auto;
    width: 320px;
    height: 174px;
    border: solid 1px #C5C5C5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.calculated-status {
    margin-top: 10px;
    border-top: solid 1px #C5C5C5;
}

#loanhistory-table table tr td {
    cursor: pointer;
}

.payment-schedule-table td {
    color: #7BB224;
}

#functionsPopup h3 {
    font-size: 16px;
}

.table-selected td {
    cursor: pointer;
}

.table-selected tbody tr:hover td, .table-selected tbody tr:hover th {
    background-color: #E5E5E5;
}

.table-fixed {
    table-layout: fixed;
}

.break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#installment-edit-form, #fee-edit-form {
    margin-top: 20px;
}

table tr.editing td {
    background-color: beige !important;
}

.profile-person-info {
    margin-top: 21px;
}

.left-underwriter-menu {
    display: block;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 11;
    background-color: #efefef;
    padding: 10px 0;
    border-radius: 5px;
    width: 115px;
    clear: both;
}

ul.left-underwriter-menu li.active {
    font-weight: bold;
}

    ul.left-underwriter-menu li.active a {
        color: #0088CC;
    }

ul.left-underwriter-menu > li > a {
    padding-right: 3px;
}

    ul.left-underwriter-menu > li > a:hover {
        text-decoration: underline;
        color: #0088CC !important;
    }

ul.left-underwriter-menu li div {
    position: relative;
}

ul.left-underwriter-menu li input {
    margin-left: 12px;
}

ul.left-underwriter-menu li label {
    display: inline-block;
    margin: -21px 0 0 30px;
}

#grids-view .dataTables_filter {
    display: inline-block;
    float: right;
}

#grids-view .table {
    white-space: nowrap;
}

a.ezbob-logo {
    width: 100px;
    height: 100%;
    background-image: url(../img/ezbob-logo.png);
    background-repeat: no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.header-logo {
    padding: 40px 0 0 0 !important;
}

a.ezbob-logo-login {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    height: 40px;
}

.btn.btn-login {
    background-color: #58b1fc;
    color: white;
}

.roleImg {
    margin-top: -9px;
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-right: 0.32em;
}

/*
#grids-view {
	font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

#grids-view h2 { font-size: 1.3em; margin-left: 1em; }

#grids-view .tab-pane .dataTables_processing {
	z-index: 1;
	background-color: yellow;
	color: red;
	font-weight: bold;
}

#grids-view .tab-pane label,
#grids-view .tab-pane select,
#grids-view .tab-pane input
{
	font-size: 12px;
}

#grids-view .tab-pane select,
#grids-view .tab-pane input {
	margin-top: 7px;
}
 
#grids-view .grid-data {
	width: 100%;
}

#grids-view .grid-data thead th,
#grids-view .grid-data .grid-item-Name {
	white-space: nowrap;
}

#grids-view .grid-data tbody tr.iswaslate { background-color: #ffdfdf!important; }

#grids-view .grid-data tbody td { border: 1px solid #aaaaaa; }

#grids-view .grid-data td.numeric {
	text-align: right;
}

#grids-view tbody td.grid-item-Cart { text-align: center; }
*/

.with-border {
    border: 1px solid #aaa;
    border-radius: 5px;
}

.file-list tbody tr:hover:not(:first-child) td {
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.first td {
    background: #ffffff;
}

.seccond td {
    background: #f9f9f9;
}

[data-path] {
    text-decoration: underline;
}

.checked td {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-repeat: repeat-x;
}

.cais-table {
    margin-top: 10px;
}

.cais-file-view {
    overflow: auto;
    width: 98%;
    height: 95%;
    resize: none;
}

#credit-line-form .tooltip {
    white-space: pre-wrap;
}

i.gold,
i.diamond,
i.silver,
i.platinum {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin: 3px 3px 0;
}

i.gold {
    background-image: url(../img/basket-gold-32.png);
}

i.diamond {
    background-image: url(../img/basket-diamond-32.png);
}

i.silver {
    background-image: url(../img/basket-silver-32.png);
}

i.platinum {
    background-image: url(../img/basket-platinum-32.png);
}
/*
i.amazon { background-image: url(../img/mp-icons-32/icon-amazon-32.png); }

i.ekm { background-image: url(../img/mp-icons-32/icon-ekm-32.png); }

i.ebay { background-image: url(../img/mp-icons-32/icon-ebay-32.png); }

i.paypal { background-image: url(../img/mp-icons-32/icon-paypal-32.png); }
*/
.menu .navbar-inner {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #111;
    border-color: #111 #111 #444;
    background-image: -moz-linear-gradient(top, #444, #111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#111));
    background-repeat: repeat-x;
}

.menu.navbar .nav > .active > a, .menu.navbar .nav > .active > a:hover, .menu.navbar .nav > .active > a:focus {
    background-color: #111;
    border-color: #111 #111 #666;
    background-image: -moz-linear-gradient(top, #666, #111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#111));
    background-repeat: repeat-x;
    border-radius: 1px;
}

.customer-grids .ui-widget-header {
    font-size: 11px;
}

span.active {
    color: #0088CC;
}

.left-underwriter-div {
    position: absolute;
    top: 41px;
    bottom: 0;
    background-color: white;
    z-index: 11;
    width: 152px;
    left: 0;
}

.loading.ui-state-default.ui-state-active {
    visibility: hidden;
}

.hidden-field {
    display: none !important;
}

.ui-menu .ui-menu-item a.ui-state-hover {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: #5bb75b !important;
    border-color: #51a351 #51a351 #387038 !important;
    background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
    background-repeat: repeat-x;
}

#collapseSummary .accordion-inner {
    padding-top: 35px;
}

.table td.red_cell {
    color: red;
    font-weight: bold;
}

.table td.promo_code {
    color: blue;
    font-weight: bold;
}

.couple_buttons {
    margin-left: 3px;
}

.cci-mark {
    display: inline-block;
    margin-right: 1em;
}

td.no-padding {
    padding: 0 !important;
}

table.internal-table {
    border-collapse: collapse;
    width: 100% !important;
}

    table.internal-table td {
        border: 0 !important;
        background-color: transparent !important;
        white-space: nowrap !important;
    }

#hmrc-vat-return-summary .r,
#hmrc-vat-return-details .r {
    text-align: right !important;
}

.chkpt td {
    font-weight: bold!important;
    border-top: 2px solid black!important;
}

#hmrc-vat-return-summary .lastchkpt td {
    border-bottom: 3px solid black!important;
}

.fraud-form .control-group {
    margin-bottom: 5px;
}

.fraud-form hr {
    margin: 5px 0 0 0;
}

.fraud-form-add-values .error, .fraud-form .error {
    border: 1px solid red;
}

.new-freeze-interval-error {
    display: inline-block;
    color: red;
    margin-left: 3em;
}

.narrow-as-possible {
    width: 1px !important;
    white-space: nowrap !important;
}

.trend-container {
    float: right;
    display: inline-block;
}

    .trend-container span {
        margin-left: 0.5em;
        display: inline-block;
        width: 16px;
        height: 16px;
    }

.positive-trend {
    background-image: url(images/ui-icons_2e83ff_256x240.png);
    background-position: -160px -192px;
}

.negative-trend {
    background-image: url(images/ui-icons_cd0a0a_256x240.png);
    background-position: -128px -192px;
}

.stable-trend {
    background-image: url(images/ui-icons_222222_256x240.png);
    background-position: -208px -192px;
}

.company-score-alert {
    display: inline-block;
    padding: 0.2em;
    color: yellow;
    background-color: red;
    font-weight: bold;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

table.unlimited-width {
    margin-bottom: 20px;
}

    table.unlimited-width th {
        text-align: left;
    }

    table.unlimited-width th, table.unlimited-width td {
        padding: 8px;
    }

.unknown-as-experian-director {
    color: red;
    font-weight: bold;
}

.known-as-experian-director {
    color: #008000;
    font-weight: bold;
}

#company-score-list .ui-accordion-header,
#cross-check-accordion .ui-accordion-header {
    padding: 0.7em 2em;
    font-size: 1.2em;
}

.default-customer-status-warning {
    color: red;
}

div#DecisionNotes {
    text-align: right;
    font-weight: bold;
}

.small-text {
    font-size: 10px;
}

.copy-buttons {
    position: relative;
    display: inline-block;
}

    .copy-buttons .btn {
        margin-top: 3px;
    }

.ui-dialog .ui-dialog-buttonpane {
    background-color: #ffffff !important;
}

.ddl-inlign {
    display: inline-block;
}

.manually-entered-address { font-style: italic; }

.dataTables_top_left h3 { display: inline; }

.dataTables_top_right { float: right; }

.dataTables_top_right > div { display: inline-block; margin-left: 1em; }

.dataTables_top_right > div.dataTables_info { padding-top: 7px !important; }

#logbook-show-new-entry-form { padding: 4px 12px; border: 1px solid #dddddd; line-height: 20px; margin-left: 1em; }

.reload-button { float: right; padding: 4px 12px; border: 1px solid #dddddd; line-height: 20px; margin-left: 1em; }

div#logbook-new-entry-form {
	border: 1px solid #dddddd;
	padding: 1em;
	position: relative;
	margin-bottom: 2em;
	border-radius: 10px;
	height: 240px;
}

div#logbook-new-entry-form div.left-column {
	float: left;
	width: 15%;
}

div#logbook-new-entry-form h3 {
	margin-bottom: 1em;
}

div#logbook-new-entry-form select#logbook-new-entry-type {
	height: 32px;
	display: block;
	margin-bottom: 1em;
}

div#logbook-new-entry-form button {
	display: block;
	margin: 0 auto 1em auto;
}

div#logbook-new-entry-form textarea#logbook-new-entry {
	padding: 4px;
	width: 83%;
	height: 210px;
	display: block;
}

.lr-enquiry-results tr:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.last-transaction-date-badge {
    display: inline-block;
    margin-top: 7px;
    padding: 8px;
    background-color: #fafafa;
    border: 1px solid #e2dfe6;
    color: #888;
    float: right;
    box-shadow: -1px 0px 2px #eee;
    text-align: justify;
}

.range-field {
    height: 36px !important;
    width: 100%;
}

label.control-label { display: block; }

div.form_buttons_container { position: relative; height: 38px;width: 96%;}
div.form_buttons_container input, 
div.form_buttons_container a, div.form_buttons_container button { float: right; }

.with-broker {
	font-weight: bold;
	color: #58B8FC;
}

.experian-account-status.Active {
    background-color: #00BB00;
}

.experian-account-status.Settled {
    background-color: grey;
}

.experian-account-status.Default {
    background-color: red;
}

.experian-account-status.Delinquent {
    background-color: yellow;
}

textarea.BusinessAddress {
	font-size: 16px;
	line-height: 20px;
	height: 124px;
}

.invalid {
	border: 1px solid red !important;
}

.validation-result.good { color: #51a351; }
.validation-result.bad { color: red; }

.aka-table {
	display: table;
	width: 100%;
}

.aka-caption {
	display: table-caption;
}

.aka-row {
	display: table-row;
}

.aka-column {
	display: table-cell;
}

.hmrc-enter-business-data {
	margin-top: 1em;
}

.hmrc-enter-business-data .aka-column {
	width: 50%;
	vertical-align: top;
}

div.hmrc-enter-data-holder {
	overflow-x: auto;
	width: 99%;
}

div.hmrc-enter-data-holder .add-one-period {
	float: right;
}

.hmrc-enter-data { border-collapse: collapse; }

.hmrc-enter-data th,
.hmrc-enter-data td {
	border: 0;
	padding: 3px;
	vertical-align: middle;
}

.hmrc-enter-data th {
	text-align: left;
	min-width: 400px;
}

.hmrc-enter-data tbody td {
	text-align: right;
	min-width: 180px;
}

.hmrc-enter-data .date-holder {
	text-align: right;
	white-space: nowrap;
}

.hmrc-enter-data input {
	width: 145px;
}

.hmrc-enter-data tfoot th,
.hmrc-enter-data tfoot td {
	text-align: center;
}

.hmrc-enter-data .value-container { padding-top: 13px; }

.customer-column-width-50 {
    width: 50%;
}

.suggested-amount-link {
    text-decoration: underline;
}

.pricing-model-left-td {
    width: 50%;
}

.summary-offer {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.summary-offer > li span {
    font-size: 20px;
    margin: 0 10px;
    display: inline-block;
    width: 40%;
    
}

.summary-offer > li {
    border-bottom: 1px solid #f5f5f5;
    padding-top: 12px;
}

.tile p.title {
    font-size: 30px;
    padding-top: 15px;
}

.tile p.title-small {
    padding-top: 0;
}

.tile-grey      {background-color: #a1a1a1;}
.tile-white     {background-color: #ffffff; color: black}
.tile-lightgrey {background-color: #d1d1d1; color: black}



