.play-link {
    left: 40%;
    position: absolute;
    top: 24%;
    text-indent: -9999px;
    background-image: url("../css/images/play-icon-sprite.png");
    background-repeat: no-repeat;
    width: 93px;
    height: 100px;
}
.play-link:hover {
    background-image: url("../css/images/play-icon-sprite.png");
    background-position: 0% 99%;
    background-repeat: no-repeat;
}

.poster-picture {
     border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    behavior: url(CSS3PIE);
    position:relative\0/;
}