.PersonalturnOver {
    margin-top: 10px;
    border-color: #ccc !important;
}
.PersonalturnOver legend {
    padding-bottom: 0px !important;
    padding-right: 10px !important;
}

span.inform {
	display: inline-block;
	-webkit-box-shadow: 0 0 10px #ccc;
	   -moz-box-shadow: 0 0 10px #ccc;
	        box-shadow: 0 0 10px #ccc;
}

form.signup input[type="text"], form.signup input[type="password"], form.signup select{
    margin-bottom: 0;
}
form.signup button[rel] {
    margin-left: 20px;
}

.ebay-iframe {
    height: 800px;
    width: 100%;
}

#ebay-connect-modal {
    width: 1000px;
    margin-left: -500px;
}

body .SecurityStatement {
    border: solid #d3d3d3 3px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 10px #CCC;
    -moz-box-shadow: 0 0 10px #CCC;
    -o-box-shadow: 0 0 10px #CCC;
    box-shadow: 0 0 10px #CCC;
    

    padding: 18px;

    color: #585858;
    background-color: #FFF;

    font-size: 12px;
    font-weight: normal;
}

.SecurityStatement h4 {
    font-weight: normal;
    font-size:  16px;
    margin-bottom: 22px;
    color: #585858;
}

.pages fieldset legend {
    font-style: italic;
    color: #0B73B4;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    display: inline;
    padding-right: 20px;
    padding-left: 10px;
    border: none;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.pages fieldset {
    border-top: 1px solid #EEE;
}

.AmazonForm, .AmazonForm label {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

body .bank-account legend {
    color: #515051;
    font-size: 16px;
}

body .andenter {
    font-weight: normal;
    padding: 15px 0 5px 0px;
}

#wizard .pages h1{
    padding-left: 10px;
}

label {
    color: #585858;
}

.yellow-link, a.yellow-link, a.yellow-link:visited, a.yellow-link:active,  a.yellow-link:hover {
    color: #f3b91e;
    font-weight: bold;
    text-decoration: underline;
}

.consent-dialog {
    overflow-y: auto;
}

.consent-dialog a {
    color: blue;
}

.consent-dialog li{
    line-height: 22px;
}

ol.list_i {
    list-style-type: lower-roman;
}

ol.list_a {
    list-style-type: lower-alpha;
}

ol.list_1 {
    list-style-type: decimal;
}

ul.list_none
{
    list-style-type: none;
}

.consent-dialog {
    font-size: 11pt;
    color: black;
}
.consent-dialog h1
{
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: black;
}

.consent-dialog span.lock {
    background-image: url(../img/lock.png);
    width: 19px;
    height: 30px;
    display: inline-block;
}
.consent-dialog h2
{
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    color: black;
    margin: 10px 0;
}

.AccountNumber {
    width: 207px;
}

.HiddenImage {
    display: none;
    width: 20px;
    height: 20px;
    vertical-align:middle;
}

#wizard .notifications > div { width: 95%; }

.rotate90 {
    -moz-transform: rotate(-90.0deg); /* FF3.5+ */
    -o-transform: rotate(-90.0deg); /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);
    -ms-transform: rotate(-90.0deg);
    transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    font-size: 35px;
}

.btn-showmore {
    width: 95% !important;
    line-height: normal !important;
    cursor: pointer !important;
    float: left;
    margin-left: 0;
    margin-right: 0;
    color: #4d4d4d;

}

h1.form_start,
h2.form_start {
	padding-left: 0!important;
}

h1.form_section,
h2.form_section {
	 margin-top: 1em; padding-left: 0!important;
}

div.form_read_and_accept input { margin-top: -5px; }

div.form_read_and_accept label{
     display: inline-block;
    width: 90%;
    vertical-align: top; 
}


div.add-director-container #addDirector { position: relative; margin-bottom: 1em; }

div.canDisabledAddress { display: none; }

div.wizard-director-text { font-size: 11pt; color: #585858; }

.wizard-wrapper .stores-view .back-step {
    display: none !important;
}

.fs16 {
    font-size: 18px;
    height: 38px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.male-director-gender-margin {
    margin: 0 !important;
}

.gender-margin {
    margin-left: 8.5% !important;
}

.bottom-25-margin {
    margin-bottom: 25px;
}

.type-of-business-form_field {
	box-sizing: border-box;
	overflow: hidden;
    height: auto !important; 
    width: 96%; 
    padding: 4px;
    font-size: 18px;
}

.type-of-business-caption {
    pointer-events: none;
    margin-left: 3px;
    color: #acacac !important;
    text-shadow: 0 1px 1px #fff;
}

.CompanyDetailForm .oobts {
	position: relative;
}

.CompanyDetailForm .oobts-selected {
	color: #67c10b;
	border: 1px solid #67c10b !important;
	font-weight: bold;
}

.CompanyDetailForm .oobts-test-user.oobts-offline i {
	position: absolute;
	bottom: 1px;
	right: 12px;
}

.CompanyDetailForm .oobts-test-user.oobts-online i {
	position: absolute;
	bottom: 1px;
	left: 12px;
}

.CompanyDetailForm .oobts i.fa-check-square-o {
	color: #67c10b;
}

.CompanyDetailForm .oobts-common {
	display: inline-block;
	width: 47%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 1%; 
	margin-bottom: 2em;
	padding: 1em 0;
	text-align: center;
	border: 1px solid #dddddd;
	cursor: pointer;
	border-radius: 5px;
}

.CompanyDetailForm .oobts-test-user {
	display: inline-block;
	width: 47%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 1%; 
	margin-bottom: 2em;
	padding: 1em 0;
	text-align: center;
	border: 1px solid #dddddd;
	cursor: pointer;
}

.CompanyDetailForm .oobts-test-user.oobts-offline {
	border-radius: 0 100% 0 100%;
}

.CompanyDetailForm .oobts-test-user.oobts-online {
	border-radius: 100% 0 100% 0;
}

.quick-offer-form {
	width: 95%;
	position: relative;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.quick-offer-form .quick-offer-form-column {
	width: 48%;
	text-align: center;
	border: 1px solid #dddddd;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.quick-offer-form-column h3 {
	display: block;
	width: 100%;
	border-radius: 5px 5px 0 0;
	padding: 1em;
	background-color: #67c10b;
	color: white;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.quick-offer-form-column .link-container {
	position: relative;
	overflow: hidden;
}

.quick-offer-form-column a {
	display: block;
	padding: 1em;
	text-align: center;
	cursor: pointer;
	border-radius: 0 0 5px 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.quick-offer-form-column a .onhover {
	display: none;
	border-radius: 0 0 5px 5px;
	background-color: #e8fcc6;
	background-color: rgba(123, 188, 36, 0.6);
	color: white;
	text-shadow: 5px 5px 12px #000000;
	opacity: 0;
    /*ie8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.quick-offer-form-column a .onhover  h4 {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 2em;
}

.quick-offer-form-item {
	margin-top: 1em;
}

.vip-container {
    margin-bottom: 10px;
}

.vip-main {
    position: relative;
    cursor: pointer;
}

.vip-button {
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.vip-req-button {
    width: 90%;
    margin: 0 auto;
    display: inherit;
}

.vip-image {
    background-image: url(images/vip.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
}