/*
.dashboard-steps {
    margin-bottom: 10px;
    background-image: url(../img/wizard-bg.png);
    background-repeat: repeat-x;
    background-position: left center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

    .dashboard-steps ul {
    }

        .dashboard-steps ul, .dashboard-steps ul li, .dashboard-steps ul > li > div {
            margin: 0;
            padding: 0;
            height: 50px;
        }

            .dashboard-steps ul li {
                display: block;
                float: left;
                margin-left: -15px;
                cursor: pointer;
            }

                .dashboard-steps ul li:first-child {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    margin-left: 0;
                }

                    .dashboard-steps ul li:first-child .arrow-left {
                        display: none;
                    }

    .dashboard-steps li > div {
        display: inline-block;
    }

    .dashboard-steps div.arrow-left {
        background-image: url(../img/arrow-grey.png);
        background-position: left center;
        background-repeat: no-repeat;
        width: 15px;
    }

    .dashboard-steps div.arrow-right {
        background-image: url(../img/arrow-grey.png);
        background-position: left center;
        background-repeat: no-repeat;
        width: 15px;
    }

    .dashboard-steps div.arrow-last {
        background-image: url(../img/arrow-last.png);
        background-position: left center;
        background-repeat: no-repeat;
        width: 15px;
    }

    .dashboard-steps ul li:first-child div.arrow-left {
        background-image: none;
    }

    .dashboard-steps li.active div.arrow-left {
        background-image: url(../img/arrow-blue-left.png);
        background-position: left center;
        background-repeat: no-repeat;
        width: 15px;
    }

    .dashboard-steps li.active div.arrow-right {
        background-image: url(../img/arrow-blue-right.png);
        background-position: left center;
        background-repeat: no-repeat;
        width: 15px;
    }

    .dashboard-steps li.active {
        background-image: url(../img/wizard-bg-active.png);
        background-repeat: repeat-x;
        background-position: left center;
    }

    .dashboard-steps div.completition {
        width: 35px;
    }

    .dashboard-steps li.completed div.completition {
        background-image: url(../img/wizard-mark-completed.png);
        background-position: left center;
        background-repeat: no-repeat;
    }

    .dashboard-steps .step-text {
        vertical-align: top;
        padding: 10px 5px 0 5px;
        height: 40px;
        line-height: 13px;
        color: #515051;
        font-weight: bold;
        font-style: italic;
        font-family: arial;
        font-size: 16px;
    }

        .dashboard-steps .step-text span {
            line-height: 15px;
        }

    .dashboard-steps li.active .step-text {
        color: white;
    }

    .dashboard-steps .dashboard-step-no {
        font-family: georgia;
        font-size: 60px;
        font-style: italic;
        color: white;
        line-height: 50px;
        vertical-align: top;
        padding: 0 3px;
        overflow: hidden;
        text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
    }

    .dashboard-steps .dashboard-step-no1 {
        line-height: 35px;
        font-size: 100px;
    }

    .dashboard-steps .dashboard-step-no2 {
        line-height: 35px;
        font-size: 100px;
    }

    .dashboard-steps .dashboard-step-no3 {
        line-height: 25px;
        font-size: 85px;
    }

    .dashboard-steps .dashboard-step-no4 {
        line-height: 28px;
        font-size: 85px;
    }


.narrow-dashboard-header .dashboard-steps .dashboard-step-no, .narrow-dashboard-header .dashboard-steps .step-text {
    padding-left: 0;
    padding-right: 0;
}

.narrow-dashboard-header ul li {
    cursor: default !important;
}

.progress_tip {
    display: none;
}

li.active > .progress_tip {
    display: block;
}

.ez_progress_bar {
    display: none;
}

    .ez_progress_bar.active {
        display: block;
    }
*/

/*@media screen {*/

#header {
    position: relative;
    width: 1212px;
    height: 72px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-inner {
    background: #eceff1;
    height: 100%;
}

#logged-in-user-name {
    right: 50% !important;
}

.eu-menu {
    width: 100px;
    height: 80px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    background: #283897;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 120px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    z-index: 2;
	white-space: nowrap;
}


ul#menu {
    position: absolute;
    top: 10px;
    right: 430px;
    z-index: 99999;
}

    ul#menu li {
        display: inline;
        list-style: none;
        margin: 0 6px;
    }


ul#user-menu {
    position: absolute;
    top: 19px;
    right: 5px;
}

    ul#user-menu li {
        display: inline;
        list-style: none;
        margin: 0 7px;
        font-weight: bold;
        font-size: 14px;
        border-radius: 15px;
        line-height: 30px;
        padding: 5px 12px;
    }

        ul#user-menu li.sign-up {
            background: #ec8b0b;
        }

            ul#user-menu li.sign-up a {
                text-align: center;
                color: #ffffff;
            }

        ul#user-menu li.login {
            background: #d4d4d4;
        }

            ul#user-menu li.login a {
                text-align: center;
                color: #000000;
            }

    ul#user-menu a:hover {
        text-decoration: underline;
    }

img.newlogo {
    position: absolute;
    top: 20px;
    left: 130px;
    width: 13%;
    height: auto;
}

.header-phone {
    position: absolute;
    right: 250px;
    top: 26px;
    font-weight: bold;
}

.wizard-steps {
    background-color: #5c6373;
    color: #fff;
}

    .wizard-steps .progress-time {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

        .wizard-steps .progress-time .progress-time-remainig {
            color: #ec8b0b;
            font-style: italic;
            font-weight: bold;
        }

.progress-circle {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background-color: #B9B9B9;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    border: #B9B9B9 1px solid;
    color: #5C5C5C;
    margin-left: 9px;
}

    .progress-circle .percent {
        padding-top: 2px;
    }

.progress-line {
    content: "";
    background-color: #5B5B5B;
    z-index: -1;
    margin-top: -22px;
    height: 6px;
    width: 100%;
    position: absolute;
    margin-left: 10px;
}

ul.application_steps {
    overflow: hidden;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 10px;
}

    ul.application_steps li.last .progress-line {
        display: none;
    }

    ul.application_steps li {
        float: left;
        font-size: 16px;
        position: relative;
        width: 30%;
        z-index: 2;
        overflow: visible;
    }

        ul.application_steps li.last {
            width: 10%;
        }

        ul.application_steps li.current {
            font-weight: bold;
        }

            ul.application_steps li.current .progress-line .progress-line-current {
                background-color: #7bb224;
                width: 20%;
                height: 100%;
                position: absolute;
                left: 30px;
                top: 0;
            }

            ul.application_steps li.current .progress-circle {
                background-color: #e1e1e1;
                border: #e1e1e1 1px solid;
                color: #000;
                
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }

    ul.application_steps .timer > #slice {
        position: absolute;
        width: 1em;
        height: 1em;
        clip: rect(0px,1em,1em,0.5em);
    }

    ul.application_steps .timer {
        position: relative;
        font-size: 45px;
        width: 1em;
        height: 1em;
        z-index: 2;
    }

        ul.application_steps .timer > #slice.gt50 {
            clip: rect(auto, auto, auto, auto);
        }

        ul.application_steps .timer > #slice > .pie {
            border: 0.1em solid #c0c0c0;
            position: absolute;
            width: 0.8em; /* 1 - (2 * border width) */
            height: 0.8em; /* 1 - (2 * border width) */
            clip: rect(0em,0.5em,1em,0em);
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            border-radius: 0.5em;
        }

            ul.application_steps .timer > #slice > .pie.fill {
                -moz-transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
                -o-transform: rotate(180deg) !important;
                transform: rotate(180deg) !important;
            }

        ul.application_steps .timer.fill > .percent {
            display: none;
        }

        ul.application_steps .timer.fill > #slice > .pie {
            border: transparent;
            background-color: #c0c0c0;
            width: 1em;
            height: 1em;
        }


    ul.application_steps li.complete .progress-circle {
        color: #fff;
    }

    ul.application_steps li.complete .progress-line-complete {
        background-color: #7bb224;
        height: 100%;
    }

    ul.application_steps li.complete .progress-circle {
        background-color: #7bb224;
        border: #7bb224 1px solid;
    }



    ul.application_steps li .step_label {
        display: block;
        line-height: 17px;
        padding-bottom: 5px;
    }

.dashboard-steps {
    background-color: #5c6373;
    color: #fff;
    margin-top: -15px;
    height: 100px;
}

    .dashboard-steps li {
        background: url(images/arrow.png) no-repeat 15px 0;
    }

        .dashboard-steps li.active {
            background: url(images/current_arrow.png) no-repeat 15px 0;
        }

        .dashboard-steps li.complete {
            background: url(images/tick.png) no-repeat 0 5px;
        }

    .dashboard-steps .step_label {
        padding-left: 35px;
    }


/*}*/
