@model dynamic

@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Broker)

<div id="broker-main-content" class="profile-tabs">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					<div class="profile-tabs">
						<div class="tabbable">
							<div class="tab-content">
								<div class="tab-pane" id="broker-profile-summary">
									<h2>Profile summary</h2>

									<div class="aka-table">
										<div class="aka-row">
											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Company name:</span>
														<span class="value" data-field-name="BrokerName"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">Contact person:</span>
														<span class="value" data-field-name="ContactName"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">Origin:</span>
														<span class="value" data-field-name="Origin"></span>
													</div>
												</div>
											</div>

											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Company registration number:</span>
														<span class="value" data-field-name="BrokerRegNum"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">Mobile phone #:</span>
														<span class="value" data-field-name="ContactMobile"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">Other phone #:</span>
														<span class="value" data-field-name="ContactOtherPhone"></span>
													</div>
												</div>
											</div>

											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Company web site:</span>
														<span class="value" data-field-name="BrokerWebSiteUrl"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">Contact email:</span>
														<span class="value" data-field-name="ContactEmail"></span>
													</div>
													<div class="aka-row">
														<span class="value-title">New email:</span>
														<form class="value new-email-form" target="#" novalidate="novalidate">
															<input type="email" class="new-email" id="new-broker-email-address" name="new-broker-email-address" />
															<button type="button" class="save-new-email btn btn-primary">Save</button>
														</form>
													</div>
												</div>
											</div>
										</div>

										<div class="aka-row">
											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Bank name:</span>
														<span class="value" data-field-name="BankName"></span>
													</div>
												</div>
											</div>

											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Account number:</span>
														<span class="value" data-field-name="BankAccount"></span>
													</div>
												</div>
											</div>

											<div class="aka-column">
												<div class="aka-table">
													<div class="aka-row">
														<span class="value-title">Sort code:</span>
														<span class="value" data-field-name="BankSortCode"></span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<button type="button" class="btn btn-primary reset-broker-password reset-password-123456">Reset password to 123456</button>
								</div><!-- profile summary -->

								<div class="tab-pane" id="broker-customers-grid">
									<h2>All customers</h2>
									<div class="customer-list"></div>

									<table class="customer-list-template table hide">
										<thead class="box">
											<tr>
												<th>#</th>
												<th>Email</th>
												<th>First name</th>
												<th>Last name</th>
												<th>Status</th>
												<th>Applied date</th>
												<th>Loan amount</th>
												<th>Commission</th>
												<th>Commission paid date</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div><!-- end of customers grid -->

								<div class="tab-pane" id="broker-relations">
									<h2>Broker relations</h2>

									<div class="broker-relations-root-el"></div>
								</div><!-- end of broker relations -->

								<div class="tab-pane" id="broker-whitelabel">
									<h2>Broker white label</h2>

									<div class="broker-whitelabel-root-el"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@{ Html.RenderPartial("~/Areas/Underwriter/Views/Broker/BrokerWhiteLabel.cshtml"); }