@model dynamic

@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Broker)

<div id="broker-main-content" class="profile-tabs">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					<div class="profile-tabs">
						<div class="tabbable">
							<div class="tab-content">
								<div class="tab-pane" id="broker-profile-summary">Broker profile summary</div>
								<div class="tab-pane" id="broker-customers-grid">Broker customers grid</div>
								<div class="tab-pane" id="broker-relations">Broker relations</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
