@model dynamic

@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Broker)

<div id="broker-main-content" class="profile-tabs">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					<div class="profile-tabs">
						<div class="tabbable">
							<div class="tab-content">
								<div class="tab-pane" id="broker-profile-summary">Broker profile summary</div>
								<div class="tab-pane" id="broker-customers-grid">
									<div class="customer-list"></div>

									<table class="customer-list-template table hide">
										<thead>
											<tr>
												<th>First name</th>
												<th>Last name</th>
												<th>Status</th>
												<th>Applied date</th>
												<th>Loan amount</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td><td></td><td></td><td></td><td></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td></td><td></td><td></td><td></td><td></td>
											</tr>
										</tfoot>
									</table>
								</div><!-- end of customers grid -->
								<div class="tab-pane" id="broker-relations">Broker relations</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
