@model dynamic
<script id="cais-report-history-template" type="text/template">
    <table table table-bordered table-striped blue-header centered>
        <thead>
            <tr>
                <th>Date</th>
                <th>FileName</th>
                <th>OfItems</th>
                <th>GoodUsers</th>
                <th>FilePath</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*  _.each(
              @foreach (var item in Model)
              {*@
                  <tr>
                      <td id = "Date"></td>
                      <td id = "FileName"></td>
                      <td id = "OfItems"></td>
                      <td id = "GoodUsers"></td>
                      <td id = "FilePath"></td>
                  </tr>
              @*}*@
        </tbody>
    </table>
</script>
