<script id="company-score-template" type="text/template">
<% (function(response) {
	// console.log('serialised:', response);

	if (response.result != 'ok') {
		print(response.result);
		return;
	} // if

	for (var i in response.dataset) {
		var aryData = response.dataset[i].Data;
		
		if (aryData.length > 0) {
			var oMetaData = response.dataset[i].MetaData || {};

			// console.log('i = ', i, 'aryData = ', aryData, 'meta', oMetaData);

			if (i == 'Limited Company Payment Performance Details') {
				%><table class="table table-striped blue-header table-bordered">
					<thead><tr><th colspan=4><%- i %></th></tr><tr><th></th><th>Company</th><th>Industry</th><th></th></thead>
					<tbody><%
						var aryCompany = {};
						var aryIndustry = {};

						var sSupplierPaymentPattern = '';

						var obj = aryData[0];

						for (var fld in obj) {
							if (fld == 'Supplier Payment Pattern') {
								sSupplierPaymentPattern = obj[fld];
								continue;
							} // if

							var nFirstSpace = fld.indexOf(' ');

							var aryTarget = (fld.substr(0, nFirstSpace) == 'Company') ? aryCompany : aryIndustry;

							var sSuffix = fld.substr(nFirstSpace + 1);

							if (sSuffix == 'Payment Pattern') {
								aryTarget[sSuffix] = obj[fld];
								continue;
							} // if

							var bIsAverage = (sSuffix.substr(0, 3) == '- A');

							var sKey, sNeedle, sNeedleLen;

							if (bIsAverage) {
								sKey = 'Average DBT';
								sNeedle = ' - ';
								sNeedleLen = 3;
							}
							else {
								sKey = 'Number of DBT';
								sNeedle = '(';
								sNeedleLen = 0;
							} // if

							if (!aryTarget[sKey])
								aryTarget[sKey] = {};

							aryTarget[sKey][sSuffix.substr(sSuffix.indexOf(sNeedle) + sNeedleLen)] = obj[fld];
						} // for each field

						var sGroup = 'Average DBT';

						%><tr><th class=narrow-as-possible>Supplier Payment Pattern</th>
							<td colspan=2 class=narrow-as-possible><%- sSupplierPaymentPattern || '' %></td>
							<td></td>
						</tr>
						<tr><th class=narrow-as-possible>Payment Pattern</th>
							<td class=narrow-as-possible><%- aryCompany['Payment Pattern'] || '' %></td>
							<td class=narrow-as-possible><%- aryIndustry['Payment Pattern'] || '' %></td>
							<td></td>
						</tr>
						<tr>
							<th colspan=3 class=narrow-as-possible><%- sGroup %></th>
							<td></td>
						</tr><%

						var aryMonths = { 3: 0, 6: 0, 12: 0 };

						for (var j in aryMonths) {
							var sKey = j + ' Months';
							%><tr><td class=narrow-as-possible><%- sKey %></th>
							<td class=narrow-as-possible><%- aryCompany[sGroup]  ? (aryCompany[sGroup][sKey] || '') : '' %></td>
							<td class=narrow-as-possible><%- aryIndustry[sGroup] ? (aryIndustry[sGroup][sKey] || '') : '' %></td>
							<td></td>
						</tr><%
						} // for

						sGroup = 'Number of DBT';

						%><tr>
							<th colspan=3 class=narrow-as-possible><%- sGroup %></th>
							<td></td>
						</tr><%

						var aryIntervals = {};

						if (aryCompany[sGroup])
							for (var j in aryCompany[sGroup])
								aryIntervals[j] = 0;

						if (aryIndustry[sGroup])
							for (var j in aryIndustry[sGroup])
								aryIntervals[j] = 0;

						var arySortedIntervals = [];

						for (var j in aryIntervals)
							arySortedIntervals.push(j);

						arySortedIntervals.sort();

						for (var j = 0; j < arySortedIntervals.length; j++) {
							var sKey = arySortedIntervals[j];
							%><tr><td class=narrow-as-possible><%- sKey.substr(1, sKey.length - 2) %></th>
							<td class=narrow-as-possible><%- aryCompany[sGroup]  ? (aryCompany[sGroup][sKey] || '') : '' %></td>
							<td class=narrow-as-possible><%- aryIndustry[sGroup] ? (aryIndustry[sGroup][sKey] || '') : '' %></td>
							<td></td>
						</tr><%
						} // for
					%></tbody><%
				%></table><%
			}
			else if (oMetaData.DisplayDirection == 'horizontal') {
				%><table class="table table-striped blue-header table-bordered table-fixed"><%
				var nColumnCount = 0;
			
				var obj = aryData[0];

				for (var fld in obj)
					nColumnCount++;

				%><thead><tr><th colspan=<%= nColumnCount %>><%= i %></th></tr><tr><%
				for (var fld in obj) {
					%><th><%- fld %></th><%
				}
				%></tr></thead><tbody><%
				for (var j = 0; j < aryData.length; j++) {
					var obj = aryData[j];

					print('<tr>');

					for (var fld in obj) {
						%><td><%- obj[fld] %></td><%
					} // for each field

					print('</tr>');
				} // for each group output
				%></tbody><%
			}
			else {
				%><table class="table table-striped blue-header">
				<thead><tr><th colspan=2><%= i %></th></tr></thead>
				<tbody><%
				for (var j = 0; j < aryData.length; j++) {
					var obj = aryData[j];

					for (var fld in obj) {
						%><tr><td class=narrow-as-possible><%- fld %></td><td><%- obj[fld] %></td></tr><%
					} // for each field
				} // for each group output
				%></tbody><%
			}
			%></table><%
		} // if
	} // for
})(companyScoreData);
%>
</script>
