<script id="company-score-template" type="text/template">
<% (function(response) {
	// console.log('serialised:', response);

	if (response.result != 'ok') {
		print(response.result);
		return;
	} // if

	for (var i in response.dataset) {
		var aryData = response.dataset[i].Data;
		
		if (aryData.length > 0) {
			var oMetaData = response.dataset[i].MetaData || {};

			// console.log('i = ', i, 'aryData = ', aryData, 'meta', oMetaData);

			%><table class="table table-bordered table-striped blue-header centered table-fixed rright"><%
			if (oMetaData.DisplayDirection == 'horizontal') {
				var nColumnCount = 0;
			
				var obj = aryData[0];

				for (var fld in obj)
					nColumnCount++;

				%><thead><tr><th colspan=<%= nColumnCount %>><%= i %></th></tr><tr><%
				for (var fld in obj) {
					%><th><%- fld %></th><%
				}
				%></tr></thead><tbody><%
				for (var j = 0; j < aryData.length; j++) {
					var obj = aryData[j];

					print('<tr>');

					for (var fld in obj) {
						%><td><%- obj[fld] %></td><%
					} // for each field

					print('</tr>');
				} // for each group output
				%></tbody><%
			}
			else {
				%><thead><tr><th colspan=2><%= i %></th></tr></thead>
				<tbody><%
				for (var j = 0; j < aryData.length; j++) {
					var obj = aryData[j];

					for (var fld in obj) {
						%><tr><td><%- fld %></td><td><%- obj[fld] %></td></tr><%
					} // for each field
				} // for each group output
				%></tbody><%
			}
			%></table><%
		} // if
	} // for
})(companyScoreData);
%>
</script>
