<script id="credit-line-dialog-template" type="text/template">
    @CreditLineDialog()
</script>

@helper  CreditLineDialog()
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>New Credit Line</h3>
    </div>
    <div class="modal-body">
        <form id="credit-line-form" class="form-horizontal" action="/" method="POST" >
            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <label for="loan-type" class="control-label">Loan Type:</label>
                        <div class="controls">
                            <select id="loan-type" name="loan-type" class="valid">
                                <%_.each(LoanTypes, function(loanType){%>
                                    <option value="<%=loanType.Id%>"><%=loanType.Name%></option>
                                <%});%>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="offeredCreditLine" class="control-label">Offered credit line:</label>
                        <div class="controls cashControlls">
                            <input name="offeredCreditLine" id="offeredCreditLine" type="text" value="<%=EzBob.formatPounds(OfferedCreditLine)%>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="interestRate" class="control-label">Interest rate:</label>
                        <div class="controls cashControlls">
                            <input name="interestRate" id="interestRate" type="text" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="repaymentPeriod" class="control-label">Repayment period:</label>
                        <div class="controls">
                            <input name="repaymentPeriod" id="repaymentPeriod" type="text" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="startingFromDate" class="control-label">Starting from date:</label>
                        <div class="input-append">
                            <input style="width:180px; margin-left: 20px;" name="startingFromDate" id="startingFromDate" type="text" >
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="offerValidUntil" class="control-label">Offer valid until:</label>
                        <div class="input-append">
                            <input style="width:180px; margin-left: 20px;" name="offerValidUntil" id="offerValidUntil" type="text" >
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="enableSetupFee" class="control-label">Enable setup fee:</label>
                        <div class="controls">
                            <input name="enableSetupFee" id="enableSetupFee" type="checkbox" >
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label for="allowSendingEmail" class="control-label">Send Emails:</label>
                        <div class="controls">
                            <input name="allowSendingEmail" id="allowSendingEmail" type="checkbox" >
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>   
    <div class="modal-footer">
        <button class="btn btn-primary btnOk">OK</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
}
