@model dynamic

<script id="credit-line-dialog-template" type="text/template">
	<div class="modal-header">
		<h3>New Credit Line</h3>
	</div>
	<div class="modal-body">
		<form id="credit-line-form" class="form-horizontal" action="/" method="POST">
			<div class="row">
				<div class="span8">
					<div class="control-group">
						<label for="loan-type" class="control-label">Loan Type:</label>
						<div class="controls">
							<select id="loan-type" name="loan-type" class="valid form-control selectheight"><%
								_.each(LoanTypes, function(loanType) {
									var selected = (loanType.Id == LoanTypeId) ? "selected='selected'" : "";
									%><option <%= selected  %> value="<%=loanType.Id%>"><%=loanType.Name%></option><%
								});
							%></select>
						</div>
					</div>

					<div class="control-group">
						<label for="offeredCreditLine" class="control-label">Offered credit line:</label>
						<div class="controls cashControlls">
							<input name="offeredCreditLine" id="offeredCreditLine" type="text" value="<%=EzBob.formatPounds(OfferedCreditLine)%>" class="form-control" />
						</div>
					</div>

					<div class="control-group">
						<label for="interestRate" class="control-label">Interest rate:</label>
						<div class="controls cashControlls">
							<input name="interestRate" id="interestRate" type="text" class="form-control" />
						</div>
					</div>

					<div class="control-group">
						<label for="repaymentPeriod" class="control-label">Repayment period:</label>
						<div class="controls">
							<input name="repaymentPeriod" id="repaymentPeriod" type="text" class="form-control" />
						</div>
					</div>

					<div class="control-group">
						<label for="startingFromDate" class="control-label">Starting from date:</label>
						<div class="controls">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input name="startingFromDate" id="startingFromDate" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="control-group">
						<label for="offerValidUntil" class="control-label">Offer valid until:</label>
						<div class="controls">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input name="offerValidUntil" id="offerValidUntil" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="control-group">
						<label for="enableSetupFee" class="control-label">Enable setup fee:</label>
						<div class="controls">
							<input name="enableSetupFee" id="enableSetupFee" type="checkbox" class="form-control" />
						</div>
					</div>

					<div class="control-group">
						<label for="enableBrokerSetupFee" class="control-label">Enable broker commission:</label>
						<div class="controls">
							<input name="enableBrokerSetupFee" id="enableBrokerSetupFee" type="checkbox" class="form-control" />
						</div>
					</div>
					<div class="control-group">
						<label for="manualSetupFeeAmount" class="control-label">Manual setup fee amount:</label>
						<div class="controls">
							<input name="manualSetupFeeAmount" id="manualSetupFeeAmount" type="text" class="form-control" />
						</div>
					</div>
					<div class="control-group">
						<label for="manualSetupFeePercent" class="control-label">Manual setup fee percent:</label>
						<div class="controls">
							<input name="manualSetupFeePercent" id="manualSetupFeePercent" type="text" class="form-control" />
						</div>
					</div>
					<div class="control-group">
						<label for="allowSendingEmail" class="control-label">Send Emails:</label>
						<div class="controls">
							<input name="allowSendingEmail" id="allowSendingEmail" type="checkbox" class="form-control" />
						</div>
					</div>

					<div class="control-group">
						<label for="isLoanTypeSelectionAllowed" class="control-label">Customer selection:</label>
						<div class="controls">
							<select name="isLoanTypeSelectionAllowed" id="isLoanTypeSelectionAllowed" class="form-control selectheight">
								<option value="0">Disabled</option>
								<option value="1">Enabled</option>
							</select>
						</div>
					</div>

					<div class="control-group">
						<label for="loan-type" class="control-label">Discount Plan:</label>
						<div class="controls">
							<select id="discount-plan" name="discount-plan" class="valid form-control selectheight"><%
								_.each(DiscountPlans, function(discountPlan) {
									var selected = (discountPlan.Id == DiscountPlanId) ? "selected='selected'" : "";
									%><option <%= selected  %> value="<%=discountPlan.Id%>"><%=discountPlan.Name%></option><%
								});
							%></select>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary btnOk">OK</button>
	</div>
</script>
