@{Html.RenderPartial("CustomerRelations/AddCustomerRelationsEntry");}

<script id="customerRelationsTemplate" type="text/template">
    @CustomerRelations()
</script>

@helper CustomerRelations()
{
    <table class="table centered">
        <thead class="box">
            <tr class="box-title">
                <th class="customer-relations-date-column">Date</th>
                <th class="customer-relations-user-column">User</th>
                <th class="customer-relations-action-column">Action</th>
                <th class="customer-relations-inout-column">In\Out</th>
                <th class="customer-relations-status-column">Status</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(vals, function(val){ %>
            <tr class="<%if(val.Action == 'Took a Loan') print('customer-relations-took-loan'); if(val.Action == 'Repaid a Loan') print('customer-relations-repaid-loan');%>">
                <td><%-EzBob.formatDateTime(val.DateTime)%></td>
                <td><%-val.User%></td>
                <td><%-val.Action%></td>
                <td><%-val.InOut%></td>
                <td><%-val.Status%></td>
                <td style="word-wrap: break-word"><%-val.Comment%></td>
                @*The <br/> is being converted in the browser?
                <td style="word-wrap: break-word"><%-val.Comment.replace(/\r\n/g,'<br/>')%></td>*@
            </tr>
            <%})%>
        </tbody>
    </table>
    <button class="btn btn-primary pull-right addNewCustomerRelationsEntry">Add New Entry</button>
}