@{Html.RenderPartial("CustomerRelations/AddCustomerRelationsEntry");}

<script id="customerRelationsTemplate" type="text/template">
    @CustomerRelations()
</script>

@helper CustomerRelations()
{
    <div class="col-md-12">
        <button class="btn btn-primary toggleSystemCrm"><i class="fa fa-search-plus"></i></button>
        <button class="btn btn-primary addNewCustomerRelationsEntry">Add New Entry</button>
    </div>
    <table class="table centered">
        <thead class="box">
            <tr class="box-title">
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
                <th>In\Out</th>
                <th>Status</th>
                <th>Rank</th>
                <th class="customer-relations-comment-column">Comment</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(vals, function(val){ %>
            <tr class="<%if(val.User == 'System') {print('crm-system');}%>" style="display: <%- (val.User == 'System' ? 'none' : 'table-row')%>">
                <td><%-EzBob.formatDateTime(val.DateTime)%></td>
                <td><%-val.User%></td>
                <td><%-val.Action%></td>
                <td><%-val.InOut%></td>
                <td><%-val.Status%></td>
                <td><%-val.Rank%></td>
                <td style="word-wrap: break-word;"><%-val.Comment%></td>
                @*The <br/> is being converted in the browser?
                <td style="word-wrap: break-word"><%-val.Comment.replace(/\r\n/g,'<br/>')%></td>*@
            </tr>
            <%})%>
        </tbody>
    </table>
    
}