<script type="text/template" id="profile-popup-view-template" >
    @ProfilePopup()
</script>

@helper ProfilePopup(){
<text>
<%
    var mps = mps || {};

%>
</text>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><%=title%></h3>
    </div>
    
    <div class="modal-body">
        <b>Customer ID: </b> <%-cid%> <br/>
        <b>Customer Full Name:  </b> <%-cName%> <br/>
        <hr/>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Recheck</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(mps, function(val,i){%>
                <tr>
                    <td><%-i+1%></td>
                    <td>
                        <div  style="width: 145px; overflow-x: auto; height: 100%">
                            <%-val.Name%>
                        </div>
                    </td>
                    <td><%-val.Type%></td>
                    <td><%-val.Status%></td>
                    <td><%-EzBob.formatDateTime(val.StartTime) || "-"%></td>
                    <td><%-EzBob.formatDateTime(val.EndTime) || "-"%></td>
                    <td>
                        <% if (val.Type != "Yodlee"){%>
                        <div  class="pull-right">
                            <button class="recheck-mp btn btn-warning <%-val.Status =='Updating' ? 'disabled' : '' %>" data-mp-id="<%-val.id%>"><i class="icon-repeat"></i> Recheck</button>
                        </div>
                        <%}%>
                    </td>
                </tr>
                <%});%>
            </tbody>
        </table>
        
        <hr/>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Recheck</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Main Strategy</td>
                    <td><%-sm.StrategyStatus%></td>
                    <td><%-EzBob.formatDateTime(sm.StartTime) || "-"%></td>
                    <td><%-EzBob.formatDateTime(sm.EndTime) || "-"%></td>
                    <td>
                        <div  class="pull-right">
                            <button id="recheck-main-strat" class="btn btn-warning <%-(sm == null || sm.StrategyStatus =='Running' || isWizardFinished === false) ? 'disabled' : '' %>"><i class="icon-repeat"></i> Recheck</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
}