@model dynamic
<script id="docs-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <table id="alertDocsTable" class="table box">
                <thead class="box-title">
                    <tr class="">
                        <th>Uploaded document name</th>
                        <th>Date</th>
                        <th>Employee name</th>
                        <th style="width: 200px">Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <% _.each(docs, function(doc){%>
                        <tr>
                            <td><a href="@Url.Action("File", "AlertDocs", new { Area = "Underwriter" })/<%-doc.Id%>" target="_blank"><%= doc.DocName%></a></td>
                            <td><%- EzBob.formatDate(doc.CreateDate)%></td>
                            <td><%- doc.EmployeeName%></td>
                            <td>
                                <p style="text-overflow: ellipsis; width: 200px; overflow: hidden" title="<%- doc.Description %>"><%- doc.Description %></p>
                            </td>
                            <td>
                                <input type="checkbox" data-id="<%= doc.Id %>" /></td>
                        </tr>
                        
                    <%});%>
                    <tr>
                            <td colspan="5">
                                <div class="pull-right">
                                    <button class="btn btn-primary" id="addNewDoc"><i class="fa fa-file"></i>Add</button>
                                    <button class="btn btn-primary" id="deleteDocs"><i class="fa fa-trash-o"></i>Delete</button>
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</script>

<script id="uploadAlertDocDialog" type="text/template">
    <div class="modal-body">
        <form id="fileForm" action="@Url.Action("UploadDoc", "AlertDocs", new { Area = "Underwriter" })" class="form-horizontal" enctype="multipart/form-data">

            <input multiple="multiple" type="file" id="uploadFile" name="uploadFile" style="display: none" />

            <div class="control-group">
                <a class="btn btn-primary" onclick="$('#uploadFile').click(); return false;">Browse</a>
            </div>

            <div class="control-group">
                <label class="control-label">File name(s):</label>
                <div class="controls" id="fileNamesContainer">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Description:</label>
                <div class="controls">
                    <textarea id="details" rows="3" maxlength="1000" name="description" class="form-control"></textarea>
                </div>
            </div>

            <input type="hidden" name="CustomerId" value="" />
        </form>
    </div>

    <div class="pull-right">
        <button class="btn btn-primary button-upload">Save</button>
    </div>
</script>
