@model dynamic
<script id="docs-template" type="text/template">
    @docsTemplate()
</script>

@helper docsTemplate()
{
    <table id="alertDocsTable" class="table centered">
        <thead class="box">
            <tr class="box-title">
                <th>Uploaded document name</th>
                <th>Date</th>
                <th>Employee name</th>
                <th style="width: 200px">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(docs, function(doc){%>
            <tr>
                <td><a href="@Url.Action("File", "AlertDocs", new { Area = "Underwriter" })/<%-doc.Id%>"><%= doc.DocName%></a></td>
                <td><%- EzBob.formatDate(doc.CreateDate)%></td>
                <td><%- doc.EmployeeName%></td>
                <td>
                    <p style="text-overflow: ellipsis; width: 200px; overflow: hidden" title="<%- doc.Description %>"><%- doc.Description %></p>
                </td>
                <td>
                    <input type="checkbox" data-id="<%= doc.Id %>" /></td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <div class="pull-right">
        <button class="btn btn-primary" id="addNewDoc"><i class="fa fa-file"></i>Add</button>
        <button class="btn btn-primary" id="deleteDocs"><i class="fa fa-trash-o"></i>Delete</button>
    </div>
}

<script id="uploadAlertDocDialog" type="text/template">
    @FileUpload()
</script>

@helper FileUpload()
{
    <div class="modal-header">
        <h3 id="myModalLabel">Add/Edit Document</h3>
    </div>
        
    <div class="modal-body">
        <form id="fileForm" action="@Url.Action("UploadDoc", "AlertDocs", new { Area = "Underwriter" })" class="form-horizontal" enctype="multipart/form-data">

            <input type="file" id="uploadFile" name="uploadFile" style="display: none" onchange="$('.tempUpFile').val( this.files ? this.files[0].name : $(this).val());" />

            <div class="control-group">
                <a class="btn btn-primary" onclick="$('#uploadFile').click(); return false;">Browse</a>
            </div>

            <div class="control-group">
                <label class="control-label">File name:</label>
                <div class="controls">
                    <input class="form-control tempUpFile" type="text" disabled="disabled" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Description:</label>
                <div class="controls">
                    <textarea id="details" rows="3" maxlength="1000" name="description" class="form-control"></textarea>
                </div>
            </div>

            <input type="hidden" name="CustomerId" value="" />
        </form>
    </div>
    
    <div class="pull-right">
        <button class="btn btn-primary button-upload">Save</button>
    </div>
}