<script id="fraudDetectionLog" type="text/template">
    @FraudDetectionLog()
</script>

@helper FraudDetectionLog(){
    <table class="table table-bordered table-striped blue-header centered table-fixed">
        <thead>
            <tr>
                <th>Check Type</th>
                <th>Date Of Last Check</th>
                <th>Current Field</th>
                <th>Compare Field</th>
                <th style="width: 130px;">Value</th>
                <th>Concurrence</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(vals, function(val){%>
            <tr>
                <td class="break-word"><%-val.Type%></td>
                <td class="break-word"><%-val.DateOfLastCheck%></td>
                <td class="break-word"><%-val.CurrentField%></td>
                <td class="break-word"><%-val.CompareField || ''%></td>
                <td class="break-word"><%-val.Value || ''%></td>
                <td class="break-word"><%=val.Concurrence || ''%></td>
            </tr>
            <%})%>
        </tbody>
    </table>
}