@using System
@using System.Collections.Generic
@using System.Linq
@model dynamic

<script id="loanhistory-view-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="table-ezbig">
                <div class="box">
                    <div class="box-content">
                        <div id="loanhistory-table">
                        </div>
                        <div id="loanhistory-details">
                        </div>
                        <div id="loan-editor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="loanhistory-template" type="text/template">
    @Loans()
    <div>
        <label class="checkbox">
            <input type="checkbox" class="show-all-decisions" checked="checked">
            Show all decisions
        </label>
    </div>
    <div id="offers-container">
    </div>

    @{Html.RenderPartial("_ExportToExcel");}
</script>

@helper Loans()
{
    <table class="table centered box">
        <thead class="box">
            <tr class="box-title">
                <th>Loan ref#</th>
                <th>Loan amount</th>
                <th>Repayments</th>
                <th>Date Applied</th>
                <th>Date closed</th>
                <th>Outstanding</th>
                <th>Outstanding<br />principal</th>
                <th>Loan type</th>
                <th>Discount plan</th>
                <th>Status</th>
                <th>Loan source</th>
				<th>OP</th>
            </tr>
        </thead>
        <%if(typeof loans !== "undefined" && loans !== null && loans.length > 0){
                var sumLoanAmount = 0,
                sumRepayments = 0,
                sumBalance = 0;
                sumPrincipal = 0;%>
        <tbody class="box-content">
            <%_.each(loans, function(loan){%>
            <tr data-id="<%- loan.Id %>" class="loans tr-link">
                <td><%- loan.RefNumber %>
                    <% if (loan.Modified) { print('*')} else { print('&nbsp;&nbsp;'); }%>
                    <a href="#" class="btn btn-primary btn-mini edit-loan" data-id="<%-loan.Id%>"><i class="fa fa-pencil"></i></a>
                </td>
                <td><%- EzBob.formatPounds(loan.LoanAmount) %></td>
                <td><%- EzBob.formatPounds(loan.Repayments) %></td>
                <td><%- EzBob.formatDateHumanFull(loan.Date) %></td>
                <td><%- EzBob.formatDateHumanFull(loan.DateClosed ) %></td>
                <td><%- EzBob.formatPounds(loan.TotalBalance) %></td>
                <td><%- EzBob.formatPounds(loan.Principal) %></td>
                <td><%- loan.LoanType %></td>
                <td><%- loan.DiscountPlan %></td>
                <td><%- loan.StatusDescription %></td>
                <td><%- loan.LoanSourceName %></td>
				<td><%- loan.IsOpenPlatform %></td>
            </tr>
            <%
            sumLoanAmount +=!isNaN(loan.LoanAmount)?loan.LoanAmount:0 ;
            sumRepayments += !isNaN(loan.Repayments)?loan.Repayments:0;
            sumBalance += !isNaN(loan.TotalBalance)?loan.TotalBalance:0;
            sumPrincipal += !isNaN(loan.Principal)?loan.Principal:0;
            });%>
            <tr>
                <td>Total</td>
                <td><%- EzBob.formatPounds(sumLoanAmount) %></td>
                <td><%- EzBob.formatPounds(sumRepayments) %></td>
                <td colspan="2"></td>
                <td><%- EzBob.formatPounds(sumBalance) %></td>
                <td><%- EzBob.formatPounds(sumPrincipal) %></td>
                <td colspan="5"></td>
            </tr>
        </tbody>
        <%}%>
    </table>
}

<script id="offers-history-template" type="text/template">
    <table class="table centered box">
        <thead class="box">
            <tr class="box-title">
				<th>Id</th>
                <th>Action</th>
				<th>Offer</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Amount</th>
                <th>Interest rate</th>
                <th>Setup fee</th>
                <th>Discount plan</th>
                <th>Repayment period</th>
                <th>Loan type</th>
                <th>Loan source</th>
				<th>OP</th>
                <th>Originator</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody class="box-content">
            <%_.each(offers, function(offer){%>   
                <% if (offer.Action === "Approve") {%>
                    @TableRowsOfferApproved()
				<%} else {%>
                    @TableRowsOfferNotApproved()
				<%}%>
            <%});%>
        </tbody>
    </table>
</script>


@helper TableRowsOfferApproved() {
    <tr>
	    <td><%- offer.Id %></td>
        <td><%- offer.Action %></td>
        <td class="centered">
            <button data-id="<%=offer.Id%>" class="btn btn-primary btn-mini show-schedule"><i class="fa fa-calendar"></i></button>
        </td>
        <td><%- EzBob.formatDateHumanFull(offer.StartDate) %></td>
        <td><%- EzBob.formatDateHumanFull(offer.EndDate) %></td>
        <td><%- EzBob.formatPounds(offer.Amount) %></td>
        <td><%- EzBob.formatPercents(offer.InterestRate) %></td>
        <td><%- offer.SetupFee %></td>
        <td><%- offer.DiscountPlan %></td>
        <td><%- offer.RepaymentPeriod %></td>
        <td><%- offer.LoanType %></td>
        <td><%- offer.LoanSourceName %></td>
		<td><%- offer.IsOpenPlatform %></td>
        <td><%- offer.Originator %></td>
        <td><%- offer.Comments %></td>
    </tr>
}

@helper TableRowsOfferNotApproved() {
    <tr>
		<td><%- offer.Id %></td>
        <td><%- offer.Action %></td>
        <td class="centered"></td>
        <td><%- EzBob.formatDateHumanFull(offer.StartDate) %></td>
        <td><%- offer.Originator %></td>
		<td colspan="10"><%- offer.Comments %></td>
    </tr>
}
