@model dynamic

<script id="marketplace-values-template" type="text/template">
	
    <div class="marketplaceDetail">
        @MarketPlaces()
        <%
		var m = marketplaces[0] || accounts[0];
		var ai = m.AnalysisDataInfo;
		if (!ai)
			ai = new Object();

		var y = m.Yodlee;
		var marketplaceType = m.Name;

		cancellationRateFactor = 100;
		cancellationRateRound = 2;
		cancellationValueFactor = 100;
		cancellationValueRound = 1;
		%>

		<fieldset>
            <legend>Details</legend>

            <%
			switch (marketplaceType) {
			case "eBay":
				%>@{ Html.RenderPartial("MarketPlaceDetails/Ebay"); }<%
				break;

			case "Amazon":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Amazon"); }<%
				break;

			case "EKM":
				%> @{ Html.RenderPartial("MarketPlaceDetails/EKM"); }<%
				break;

			case "FreeAgent":
				%> @{ Html.RenderPartial("MarketPlaceDetails/FreeAgent"); }<%
				break;

			case "Sage":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Sage"); }<%
				break;

			case "PayPoint":
				%> @{ Html.RenderPartial("MarketPlaceDetails/PayPoint"); }<%
				break;

			case "Yodlee":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Yodlee"); }<%
				break;

			case "Pay Pal":
				%> @{ Html.RenderPartial("MarketPlaceDetails/PayPal"); }<%
				break;

			case "CompanyFiles":
				%> @{ Html.RenderPartial("MarketPlaceDetails/CompanyFiles"); }<%
				break;

			case "HMRC":
				%> @{ Html.RenderPartial("MarketPlaceDetails/HMRC"); }<%
				break;

			default:
				(function() {
					if (!EzBob.CgVendors.pure()[marketplaceType])
						return;

					var bHasExpenses = EzBob.CgVendors.pure()[marketplaceType].HasExpenses;
					%>@{ Html.RenderPartial("MarketPlaceDetails/CG"); }<%
				})();
				break;
			} // switch
			%>
        </fieldset>
    </div>
</script>

<script id="marketplace-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="mps-tables">
				<div class="box manual-annualized-revenue-section">
					<div class="box-title"><h3>Customer annualized revenue</h3>
						<button
							type="button"
							class="show-update-revenue-value btn btn-mini show-tooltip btn-primary"
							data-original-title="Update customer annualized revenue"
						><i class="fa fa-edit"></i></button>
					</div>

					<div class="manual-annualized-revenue-loading box-content">Loading...</div>

					<div class="manual-annualized-revenue box-content hide">
						<div class="alibaba-no-revenue hide">This is an Alibaba customer, please specify annualized revenue.</div>

						<div class="current-revenue">Current customer annualized revenue is: <span class="revenue-value"></span>.</div>


						<div class="aka-table update-revenue-value hide">
							<div class="aka-row">
								<div class="aka-cell narrow-as-possible">New revenue value*:</div>
								<div class="aka-cell"><input type="text" class="new-revenue-value" /></div>
							</div>
							<div class="aka-row">
								<div class="aka-cell narrow-as-possible">Value source description*:</div>
								<div class="aka-cell"><input type="text" class="new-revenue-comment" /></div>
							</div>
							<div class="aka-row">
								<div class="aka-cell">
									<button type="button" class="do-update-revenue btn btn-primary">Update</button>
									<button type="button" class="cancel-update-revenue btn btn-primary">Cancel</button>
								</div>
								<div class="aka-cell"></div>
							</div>
						</div>
					</div>
				</div>
                @MarketPlaces()
            </div>
            <div id="hmrc-upload-container" class="box"></div>
			<div id="parse-yodlee-container"></div>
        </div>
    </div>
</script>

@helper MarketPlaces()
{
    <div style="overflow: auto">
        <table class="table box marketplace-table centered <%if (hideMarketplaces) print('hide');%>" style="white-space: nowrap;">
            <thead class="box">
                <tr class="box-title">
                    <th></th>
                    <th>Shop Name</th>
                    <th>Seniority</th>
                    <th>Month Sales</th>
                    <th>Annual Sales</th>
                    <th>Rating</th>
                    <th>Disabled</th>
                    <th>Updated</th>
                    <th><%if(marketplaces[0] && marketplaces[0].IsHistory){ print("History for");} else{%>&nbsp;&nbsp;&nbsp;&nbsp;<%}%></th>
                </tr>
            </thead>
            <tbody class="box-content">
                <% if (summary) { %>
					<tr class="bold" style="font-size: 18px;">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(summary.monthSales) %><br />
                            <label class="small-text"><%- EzBob.formatPoundsNoDecimals(summary.monthAnnualizedSales) %> </label>
                        </td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(summary.anualSales) %> </td>
                        <td class="centered"><%= EzBob.formatPercents(summary.rating, 1) %> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% }

				_.each(marketplaces, function(m,i){
					m.Name = m.Name || '';
					var sShopName = m.Name.replace(' ', '');

					if (EzBob.CgVendors.pure()[sShopName])
						if (EzBob.CgVendors.pure()[sShopName].HasExpeneses)
							return;

					var sSourceLabels = 'source_labels_on';
					var showAsNew = !m.IsNew ? 'hidden-field' : '';
					var disabled = m.Disabled ? 'disabled': '';
					%>
					<tr data-id="<%- m.Id %>">
                        <td class="account-logo <%- disabled%>">
                            <div class="source_labels new-ribbon <%-showAsNew%>"></div>
                            <div class="<%- sSourceLabels %> <%- sShopName.toLowerCase() %>"></div>
                        </td>
                        <td class="<%- disabled%>"><a href="<%- m.SellerInfoStoreURL %>" target="_blank"><%- m.Type %></a></td>
                        <td class="centered <%- disabled%>"><%- m.age %></td>
                        <td class="centered <%- disabled%>"><%- EzBob.formatPoundsNoDecimals( m.MonthSales) %><br />
                            <label class="small-text"><%- m.MonthSalesAnnualized != 0 ? EzBob.formatPoundsNoDecimals(m.MonthSalesAnnualized) : '' %> </label>
                        </td>
                        <td class="centered <%- disabled%>"><%- EzBob.formatPoundsNoDecimals( m.AnnualSales) %></td>
                        <td class="centered <%- disabled%>"><%- EzBob.formatPercents(m.RaitingPercent,1)%></td>
                        <td class="<%- disabled%>"><% if(m.Disabled) print ("Disabled") %></td>
                        <td class="<%- disabled%>"><%- m.UpdatingStatus %> <%- m.LastChecked%>
							<% if (m.UpdateError) { %>
                            <button class="btn btn-primary btn-mini mp-error-description" data-original-title="<%- m.UpdateError %>"><i class="fa fa-comment"></i></button>
                            <br />
                            <% } %>
                        </td>
                        <td class="centered">
                            <div>
                                <%if(m.IsHistory) { print(EzBob.formatDateWithoutTime(m.History)); } else {%>
					            <% if (m.Disabled) { %>
                                <a href="#" class="btn btn-mini btn-primary show-tooltip enable-shop %>" data-original-title="Enable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-play"></i></a>
                                <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-original-title="Report Bug"><i class="fa fa-bug"></i></a>
                                <% }
					            else { %>
					            <a href="#" class="btn btn-mini btn-primary show-tooltip reCheckMP <%- sShopName.toLowerCase() %>" data-original-title="Recheck" data-placement="top" umi="<%- m.Id %>" marketplacetype="<%- m.Name %>"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-original-title="Report Bug"><i class="fa fa-bug"></i></a>
                                <a href="#" class="btn btn-mini btn-primary show-tooltip disable-shop %>" data-original-title="Disable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-ban"></i></a>
                                <% if (m.UpdateError && m.Name == 'eBay') { %>
					            <button class="btn btn-mini btn-primary show-tooltip renew-token" data-original-title="Renew token" data-placement="top" data-umi="<%- m.Id %>"><i class="fa fa-retweet"></i></button>
                                <% } %>
					            <% } %>
                            <%}%>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div style="overflow: auto">
        <table class="table box marketplace-table paypalAccounts <%if (hideAccounts) print('hide');%>">
            <thead class="box">
                <tr class="box-title">
                    <th></th>
                    <th>Name</th>
                    <th>Seniority</th>
                    <th>Number of Transactions</th>
                    <th>Month In Payments</th>
                    <th>Total In Payments</th>
                    <th>Total Out Payments</th>
                    <th>Updated</th>
                    <th><%if(accounts[0] && accounts[0].IsHistory) print("History for");%></th>
                </tr>
            </thead>
            <tbody class="box-content">
                <% _.each(accounts, function(m, i) {
				m.Name = m.Name || '';
				var sShopName = m.Name.replace(' ', '');

				var nBehaviour = 0;

				if (EzBob.CgVendors.all()[sShopName]) {
					var oCG = EzBob.CgVendors.all()[sShopName];

					if (!oCG.HasExpenses && (oCG.Behaviour == 0))
						return;

					nBehaviour = oCG.Behaviour;
				} // if

				var sSourceLabels = 'source_labels_on';
	            var showAsNew = !m.IsNew ? 'hidden-field' : '';
	            var disabled = m.Disabled ? 'disabled': '';
				%>
				<tr data-id="<%- m.Id %>">
                    <td class="account-logo <%- disabled%>">
                        <div class="source_labels new-ribbon  <%-showAsNew%>"></div>
                        <div class="<%- sSourceLabels %> <%- sShopName.toLowerCase() %>"></div>
                    </td>
                    <td class="<%- disabled%>"><a href="<%- m.SellerInfoStoreURL %>" target="_blank"><%- m.Type %></a></td>
                    <td class="centered <%- disabled%>"><%- m.age %></td>
                    <td class="centered <%- disabled%>"><%- m.TransactionsNumber %></td>
                    <td class="centered <%- disabled%>"><%- m.MonthInPayments %><br />
                        <label class="small-text"><%- m.MonthInPaymentsAnnualized != 0 ? EzBob.formatPoundsNoDecimals(m.MonthInPaymentsAnnualized) : '' %></label></td>
                    <td class="centered <%- disabled%>"><%- EzBob.formatPounds(m.TotalNetInPayments) %></td>
                    <td class="centered <%- disabled%>"><%- (m.Name.toLowerCase() === 'paypoint') ? '-' : GBPValues(m.TotalNetOutPayments, true) %></td>
                    <td class="<%- disabled%>"><%- m.UpdatingStatus %> <%- m.LastChecked%>
						<% if(m.UpdateError){%>
                        <button class="btn btn-mini btn-primary mp-error-description" data-original-title="<%- m.UpdateError %>"><i class="fa fa-comment"></i></button>
                        <%}%>
                    </td>
                    <td><%if(m.IsHistory) { print(EzBob.formatDateWithoutTime(m.History)); } else {%>
				            <% if (m.Disabled) { %>
				            <a href="#" class="btn btn-mini btn-primary enable-shop %>" data-original-title="Enable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-play"></i></a>
                        <% }
				            else { 
				            if (m.Name.toLowerCase() !== 'yodlee') { %>
				            <a href="#" class="btn btn-mini btn-primary reCheckMP <%- sShopName.toLowerCase() %>" umi="<%- m.Id %>" data-original-title="Recheck" data-placement="top" marketplacetype="<%- m.Name %>"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-original-title="Report Bug"><i class="fa fa-bug"></i></a>
                        <% } else { %>
				            <a href='@Url.Action("TryRecheckYodlee", "MarketPlaces", new { Area = "Underwriter" }, "https")/?umi=<%- m.Id %>' target="_blank" data-original-title="Recheck" data-placement="top" class="tryRecheckYodlee btn btn-mini btn-primary" data-mp-id="<%-m.id%>"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-original-title="Report Bug"><i class="fa fa-bug"></i></a>
                        <% } %>
				            <a href="#" class="btn btn-mini btn-primary disable-shop %>" data-original-title="Disable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-ban"></i></a>
                        <% } %>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div id="marketplaces-history"></div>
    <div id="marketplace-details"></div>
}
