﻿@model dynamic
<script id="marketplace-values-template" type="text/template">
    <div class="marketplaceDetail">
        @MarketPlaces()
        <%
		var m = marketplaces[0] || accounts[0];
		var ai = m.AnalysisDataInfo;

		if (!ai)
			ai = new Object();

		var y = m.Yodlee;
		var marketplaceType = m.Name;

		var
			sumReview1M = ai.NegativeFeedbackrate1M * 1.0 + ai.PositiveFeedbackRate1M * 1.0 + ai.NeutralFeedbackrate1M * 1.0,
			sumReview3M = ai.NegativeFeedbackrate3M * 1.0 + ai.PositiveFeedbackRate3M * 1.0 + ai.NeutralFeedbackrate3M * 1.0,
			sumReview6M = ai.NegativeFeedbackrate6M * 1.0 + ai.PositiveFeedbackRate6M * 1.0 + ai.NeutralFeedbackrate6M * 1.0,
			sumReview12M = ai.NegativeFeedbackrate12M * 1.0 + ai.PositiveFeedbackRate12M * 1.0 + ai.NeutralFeedbackrate12M * 1.0,
			sumReviewLifetime = ai.NegativeFeedbackrateLifetime * 1.0 + ai.PositiveFeedbackRateLifetime * 1.0 + ai.NeutralFeedbackrateLifetime * 1.0,
			
			positivePercent1M = (sumReview1M != 0 ? ai.PositiveFeedbackRate1M / sumReview1M * 100 : 0).toFixed(0),
			negativePercent1M = (sumReview1M != 0 ? ai.NegativeFeedbackrate1M / sumReview1M * 100 : 0).toFixed(0),
			neutralPercent1M  = (sumReview1M != 0 ? ai.NeutralFeedbackrate1M  / sumReview1M * 100 : 0).toFixed(0),

			positivePercent3M = (sumReview3M != 0 ? ai.PositiveFeedbackRate3M / sumReview3M * 100 : 0).toFixed(0),
			negativePercent3M = (sumReview3M != 0 ? ai.NegativeFeedbackrate3M / sumReview3M * 100 : 0).toFixed(0),
			neutralPercent3M  = (sumReview3M != 0 ? ai.NeutralFeedbackrate3M / sumReview3M * 100 : 0).toFixed(0),
			
			positivePercent6M = (sumReview6M != 0 ? ai.PositiveFeedbackRate6M / sumReview6M * 100 : 0).toFixed(0),
			negativePercent6M = (sumReview6M != 0 ? ai.NegativeFeedbackrate6M / sumReview6M * 100 : 0).toFixed(0),
			neutralPercent6M  = (sumReview6M != 0 ? ai.NeutralFeedbackrate6M / sumReview6M * 100 : 0).toFixed(0),

			positivePercent12M = (sumReview12M != 0 ? ai.PositiveFeedbackRate12M / sumReview12M * 100 : 0).toFixed(0),
			negativePercent12M = (sumReview12M != 0 ? ai.NegativeFeedbackrate12M / sumReview12M * 100 : 0).toFixed(0),
			neutralPercent12M  = (sumReview12M != 0 ? ai.NeutralFeedbackrate12M / sumReview12M * 100 : 0).toFixed(0),

			positivePercentLifetime = (sumReviewLifetime != 0 ? ai.PositiveFeedbackRateLifetime / sumReviewLifetime * 100 : 0).toFixed(0),
			negativePercentLifetime = (sumReviewLifetime != 0 ? ai.NegativeFeedbackrateLifetime / sumReviewLifetime * 100 : 0).toFixed(0),
			neutralPercentLifetime  = (sumReviewLifetime != 0 ? ai.NeutralFeedbackrateLifetime / sumReviewLifetime * 100 : 0).toFixed(0)
		;

		positivePercent1M = isNaN(positivePercent1M) ? " - " : positivePercent1M;
		negativePercent1M = isNaN(negativePercent1M) ? " - " : negativePercent1M;
		neutralPercent1M = isNaN(neutralPercent1M) ? " - " : neutralPercent1M;

		positivePercent3M = isNaN(positivePercent3M) ? " - " : positivePercent3M;
		negativePercent3M = isNaN(negativePercent3M) ? " - " : negativePercent3M;
		neutralPercent3M = isNaN(neutralPercent3M) ? " - " : neutralPercent3M;

		positivePercent6M = isNaN(positivePercent6M) ? " - " : positivePercent6M;
		negativePercent6M = isNaN(negativePercent6M) ? " - " : negativePercent6M;
		neutralPercent6M = isNaN(neutralPercent6M) ? " - " : neutralPercent6M;

		positivePercent12M = isNaN(positivePercent12M) ? " - " : positivePercent12M;
		negativePercent12M = isNaN(negativePercent12M) ? " - " : negativePercent12M;
		neutralPercent12M = isNaN(neutralPercent12M) ? " - " : neutralPercent12M;
	
		positivePercentLifetime = isNaN(positivePercentLifetime) ? " - " : positivePercentLifetime;
		negativePercentLifetime = isNaN(negativePercentLifetime) ? " - " : negativePercentLifetime;
		neutralPercentLifetime = isNaN(neutralPercentLifetime) ? " - " : neutralPercentLifetime;

		sumReview1M = isNaN(sumReview1M) ? "-" : sumReview1M;
		sumReview3M = isNaN(sumReview3M) ? "-" : sumReview3M;
		sumReview6M = isNaN(sumReview6M) ? "-" : sumReview6M;
		sumReview12M = isNaN(sumReview12M) ? "-" : sumReview12M;
		sumReviewLifetime = isNaN(sumReview12M) ? "-" : sumReviewLifetime;

		cancellationRateFactor = 100;
		cancellationRateRound = 2;
		cancellationValueFactor = 100;
		cancellationValueRound = 1;
		%>

		<fieldset>
            <legend>Details</legend>

            <%
			switch (marketplaceType) {
			case "eBay":
				%>@{ Html.RenderPartial("MarketPlaceDetails/Ebay"); }<%
				break;

			case "Amazon":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Amazon"); }<%
				break;

			case "EKM":
				%> @{ Html.RenderPartial("MarketPlaceDetails/EKM"); }<%
				break;

			case "FreeAgent":
				%> @{ Html.RenderPartial("MarketPlaceDetails/FreeAgent"); }<%
				break;

			case "Sage":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Sage"); }<%
				break;

			case "PayPoint":
				%> @{ Html.RenderPartial("MarketPlaceDetails/PayPoint"); }<%
				break;

			case "Yodlee":
				%> @{ Html.RenderPartial("MarketPlaceDetails/Yodlee"); }<%
				break;

			case "Pay Pal":
				%> @{ Html.RenderPartial("MarketPlaceDetails/PayPal"); }<%
				break;

			case "CompanyFiles":
				%> @{ Html.RenderPartial("MarketPlaceDetails/CompanyFiles"); }<%
				break;

			case "HMRC":
				%> @{ Html.RenderPartial("MarketPlaceDetails/HMRC"); }<%
				break;

			default:
				(function() {
					if (!EzBob.CgVendors.pure()[marketplaceType])
						return;

					var bHasExpenses = EzBob.CgVendors.pure()[marketplaceType].HasExpenses;
					%>@{ Html.RenderPartial("MarketPlaceDetails/CG"); }<%
				})();
				break;
			} // switch
			%>
        </fieldset>
    </div>
</script>

@helper MarketPlaces()
{
    <div style="overflow: auto">
        <table class="table box marketplace-table centered <%if (hideMarketplaces) print('hide');%>" style="white-space: nowrap;">
            <thead class="box">
                <tr class="box-title">
                    <th></th>
                    <th>Shop Name</th>
                    <th>Seniority</th>
                    <th>Month Sales</th>
                    <th>Annual Sales</th>
                    <th>Rating</th>
                    <th>Inventory</th>
                    <th>Disabled</th>
                    <th>Updated</th>
                    <th><%if(marketplaces[0] && marketplaces[0].IsHistory) print("History for");%></th>
                </tr>
            </thead>
            <tbody class="box-content">
                <% if (summary) { %>
					<tr class="bold" style="font-size: 18px;">
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(summary.monthSales) %><br />
                            <label class="small-text"><%- EzBob.formatPoundsNoDecimals(summary.monthAnnualizedSales) %> </label>
                        </td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(summary.anualSales) %> </td>
                        <td class="centered"><%= EzBob.formatPercents(summary.rating, 1) %> </td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(summary.inventory, true) %> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% }

				_.each(marketplaces, function(m,i){
					var sShopName = m.Name.replace(' ', '');

					if (EzBob.CgVendors.pure()[sShopName])
						if (EzBob.CgVendors.pure()[sShopName].HasExpeneses)
							return;

					var sSourceLabels = 'source_labels_on';
					var showAsNew = !m.IsNew ? 'hidden-field' : '';
					%>
					<tr data-id="<%- m.Id %>" class="<%if(m.Disabled){print('disabled')}%>">
                        <td class="account-logo">
                            <div class="source_labels new-ribbon <%-showAsNew%>"></div>
                            <div class="<%- sSourceLabels %> <%- sShopName.toLowerCase() %>"></div>
                        </td>
                        <td><a href="<%- m.SellerInfoStoreURL %>" target="_blank"><%- m.Type %></a></td>
                        <td class="centered"><%- m.age %></td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals( m.monthSales) %><br />
                            <label class="small-text"><%- m.monthAnnualizedSales != 0 ? EzBob.formatPoundsNoDecimals(m.monthAnnualizedSales) : '' %> </label>
                        </td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals( m.anualSales) %></td>
                        <td class="centered"><%- m.RaitingPercent%> %</td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(m.inventory, true) %></td>
                        <td><% if(m.Disabled) print ("Disabled") %></td>
                        <td><%- m.UpdatingStatus %> <%- m.LastChecked%>
							<% if (m.UpdateError) { %>
								<button class="btn btn-primary btn-mini mp-error-description" data-title="<%- m.UpdateError %>"><i class="fa fa-comment"></i></button>
                            <br />
                            <% } %>
                        </td>
                        <td class="centered">
                            <div style="width: 100px;">
                                <%if(m.IsHistory) { print(EzBob.formatDateWithoutTime(m.History)); } else {%>
					            <% if (m.Disabled) { %>
                                <a href="#" class="btn btn-mini btn-success show-tooltip enable-shop %>" data-original-title="Enable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-play"></i></a>
                                <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-title="Report Bug"><i class="fa fa-bug"></i></a>
                                <% }
					            else { %>
					            <a href="#" class="btn btn-mini btn-primary show-tooltip reCheckMP <%- sShopName.toLowerCase() %>" data-original-title="Recheck" data-placement="top" umi="<%- m.Id %>" marketplacetype="<%- m.Name %>"><i class="fa fa-refresh"></i></a>
                                <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-title="Report Bug"><i class="fa fa-bug"></i></a>
                                <a href="#" class="btn btn-mini btn-primary show-tooltip disable-shop %>" data-original-title="Disable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-ban"></i></a>
                                <% if (m.UpdateError && m.Name == 'eBay') { %>
					            <button class="btn btn-mini btn-primary show-tooltip renew-token" data-original-title="Renew token" data-placement="top" data-umi="<%- m.Id %>"><i class="fa fa-retweet"></i></button>
                                <% } %>
					            <% } %>
                                
                            <%}%>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div style="overflow: auto">
        <table class="table box marketplace-table paypalAccounts centered <%if (hideAccounts) print('hide');%>">
            <thead class="box">
                <tr class="box-title">
                    <th></th>
                    <th>Name</th>
                    <th>Seniority</th>
                    <th>Number of Transactions</th>
                    <th>Month In Payments</th>
                    <th>Total In Payments</th>
                    <th>Total Out Payments</th>
                    <th>Updated</th>
                    <th><%if(accounts[0] && accounts[0].IsHistory) print("History for");%></th>
                </tr>
            </thead>
            <tbody class="box-content">
                <% _.each(accounts, function(m, i) {
				var sShopName = m.Name.replace(' ', '');

				var nBehaviour = 0;

				if (EzBob.CgVendors.all()[sShopName]) {
					var oCG = EzBob.CgVendors.all()[sShopName];

					if (!oCG.HasExpenses && (oCG.Behaviour == 0))
						return;

					nBehaviour = oCG.Behaviour;
				} // if

				function ll(sPropertyName) {
					switch(sPropertyName) {
					case 'TransactionsNumber':
						return (nBehaviour == 1) ? '-' : m.PaymentAccountBasic[sPropertyName];

					case 'MonthInPayments':
					case 'TotalNetInPayments':
						return (nBehaviour == 1) ? '-' : EzBob.formatPounds(m.PaymentAccountBasic[sPropertyName]);

					case 'TotalNetOutPayments':
						return (nBehaviour == 1) ? '-' : GBPValues(m.PaymentAccountBasic[sPropertyName], true);
					} // switch
				}; // function ll

				var sSourceLabels = 'source_labels_on';
				var showAsNew = !m.IsNew ? 'hidden-field' : '';
				%>
				<tr data-id="<%- m.Id %>" class="<%if(m.Disabled){print('disabled')}%>">
                    <td class="account-logo">
                        <div class="source_labels new-ribbon  <%-showAsNew%>"></div>
                        <div class="<%- sSourceLabels %> <%- sShopName.toLowerCase() %>"></div>
                    </td>
                    <td><a href="<%- m.SellerInfoStoreURL %>" target="_blank"><%- m.Type %></a></td>
                    <td class="centered"><%- m.age %></td>
                    <td class="centered"><%- ll('TransactionsNumber') %></td>
                    <td class="centered"><%- ll('MonthInPayments') %><br />
                        <label class="small-text"><%- m.monthAnnualizedSales != 0 ? EzBob.formatPoundsNoDecimals(m.monthAnnualizedSales) : '' %></label></td>
                    <td class="centered"><%- ll('TotalNetInPayments') %></td>
                    <td class="centered"><%- (m.Name.toLowerCase() === 'paypoint') ? '-' : ll('TotalNetOutPayments') %></td>
                    <td><%- m.UpdatingStatus %> <%- m.LastChecked%>
						<% if(m.UpdateError){%>
							<button class="btn btn-mini btn-primary mp-error-description" data-title="<%- m.UpdateError %>"><i class="fa fa-comment"></i></button>
                        <%}%>
                    </td>
                    <td><%if(m.IsHistory) { print(EzBob.formatDateWithoutTime(m.History)); } else {%>
				            <% if (m.Disabled) { %>
				            <a href="#" class="btn btn-mini btn-success enable-shop %>" data-original-title="Enable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-play"></i></a>
                        <% }
				            else { 
				            if (m.Name.toLowerCase() !== 'yodlee') { %>
				            <a href="#" class="btn btn-mini btn-primary reCheckMP <%- sShopName.toLowerCase() %>" umi="<%- m.Id %>" data-original-title="Recheck" data-placement="top" marketplacetype="<%- m.Name %>"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-title="Report Bug"><i class="fa fa-bug"></i></a>
                        <% } else { %>
				            <a href='@Url.Action("TryRecheckYodlee", "MarketPlaces", new { Area = "Underwriter" }, "https")/?umi=<%- m.Id %>' target="_blank" data-original-title="Recheck" data-placement="top" class="tryRecheckYodlee btn btn-mini btn-primary" data-mp-id="<%-m.id%>"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="btn btn-mini btn-primary" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-title="Report Bug"><i class="fa fa-bug"></i></a>
                        <% } %>
				            <a href="#" class="btn btn-mini btn-primary disable-shop %>" data-original-title="Disable" data-placement="top" umi="<%- m.Id %>"><i class="fa fa-ban"></i></a>
                        <% } %>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div id="marketplaces-history"></div>
    <div id="marketplace-details"></div>
}


<script id="marketplace-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="mps-tables">
                @MarketPlaces()
            </div>
            <div id="hmrc-upload-container"></div>
        </div>
    </div>
</script>

