@model dynamic
           
<script id="marketplace-values-template" type="text/template">
    @MarketplaceDetails()
</script>

@helper MarketplaceDetails()
{
    <div class="marketplaceDetail">
        @MarketPlaces()
        <%
            var m = marketplaces[0];
            var ai = m.AnalysisDataInfo;
            var marketplaceType = m.Name;
            var 
                sumReview1M = ai.NegativeFeedbackrate1M * 1.0 + ai.PositiveFeedbackRate1M * 1.0 + ai.NeutralFeedbackrate1M * 1.0,
                sumReview3M = ai.NegativeFeedbackrate3M * 1.0 + ai.PositiveFeedbackRate3M * 1.0 + ai.NeutralFeedbackrate3M * 1.0,
                sumReview6M = ai.NegativeFeedbackrate6M * 1.0 + ai.PositiveFeedbackRate6M * 1.0 + ai.NeutralFeedbackrate6M * 1.0,
                sumReview12M = ai.NegativeFeedbackrate12M * 1.0 + ai.PositiveFeedbackRate12M * 1.0 + ai.NeutralFeedbackrate12M * 1.0,
                sumReviewLifetime = ai.NegativeFeedbackrateLifetime * 1.0 + ai.PositiveFeedbackRateLifetime * 1.0 + ai.NeutralFeedbackrateLifetime * 1.0,
                
                positivePercent1M = (sumReview1M != 0 ? ai.PositiveFeedbackRate1M / sumReview1M * 100 : 0).toFixed(0), 
                negativePercent1M = (sumReview1M != 0 ? ai.NegativeFeedbackrate1M / sumReview1M * 100 : 0).toFixed(0), 
                neutralPercent1M  = (sumReview1M != 0 ? ai.NeutralFeedbackrate1M  / sumReview1M * 100 : 0).toFixed(0),  

                positivePercent3M = (sumReview3M != 0 ? ai.PositiveFeedbackRate3M / sumReview3M * 100 : 0).toFixed(0), 
                negativePercent3M = (sumReview3M != 0 ? ai.NegativeFeedbackrate3M / sumReview3M * 100 : 0).toFixed(0),  
                neutralPercent3M  = (sumReview3M != 0 ? ai.NeutralFeedbackrate3M / sumReview3M * 100 : 0).toFixed(0),  
                
                positivePercent6M = (sumReview6M != 0 ? ai.PositiveFeedbackRate6M / sumReview6M * 100 : 0).toFixed(0), 
                negativePercent6M = (sumReview6M != 0 ? ai.NegativeFeedbackrate6M / sumReview6M * 100 : 0).toFixed(0),  
                neutralPercent6M  = (sumReview6M != 0 ? ai.NeutralFeedbackrate6M / sumReview6M * 100 : 0).toFixed(0),  

                positivePercent12M = (sumReview12M != 0 ? ai.PositiveFeedbackRate12M / sumReview12M * 100 : 0).toFixed(0),  
                negativePercent12M = (sumReview12M != 0 ? ai.NegativeFeedbackrate12M / sumReview12M * 100 : 0).toFixed(0), 
                neutralPercent12M  = (sumReview12M != 0 ? ai.NeutralFeedbackrate12M / sumReview12M * 100 : 0).toFixed(0), 

                positivePercentLifetime = (sumReviewLifetime != 0 ? ai.PositiveFeedbackRateLifetime / sumReviewLifetime * 100 : 0).toFixed(0),  
                negativePercentLifetime = (sumReviewLifetime != 0 ? ai.NegativeFeedbackrateLifetime / sumReviewLifetime * 100 : 0).toFixed(0),  
                neutralPercentLifetime  = (sumReviewLifetime != 0 ? ai.NeutralFeedbackrateLifetime / sumReviewLifetime * 100 : 0).toFixed(0)
            ;
            
            positivePercent1M = isNaN(positivePercent1M) ? " - " : positivePercent1M;
            negativePercent1M = isNaN(negativePercent1M) ? " - " : negativePercent1M;
            neutralPercent1M = isNaN(neutralPercent1M) ? " - " : neutralPercent1M;

            positivePercent3M = isNaN(positivePercent3M) ? " - " : positivePercent3M;
            negativePercent3M = isNaN(negativePercent3M) ? " - " : negativePercent3M;
            neutralPercent3M = isNaN(neutralPercent3M) ? " - " : neutralPercent3M;

            positivePercent6M = isNaN(positivePercent6M) ? " - " : positivePercent6M;
            negativePercent6M = isNaN(negativePercent6M) ? " - " : negativePercent6M;
            neutralPercent6M = isNaN(neutralPercent6M) ? " - " : neutralPercent6M;

            positivePercent12M = isNaN(positivePercent12M) ? " - " : positivePercent12M;
            negativePercent12M = isNaN(negativePercent12M) ? " - " : negativePercent12M;
            neutralPercent12M = isNaN(neutralPercent12M) ? " - " : neutralPercent12M;
        
            positivePercentLifetime = isNaN(positivePercentLifetime) ? " - " : positivePercentLifetime;
            negativePercentLifetime = isNaN(negativePercentLifetime) ? " - " : negativePercentLifetime;
            neutralPercentLifetime = isNaN(neutralPercentLifetime) ? " - " : neutralPercentLifetime;

            sumReview1M = isNaN(sumReview1M) ? "-" : sumReview1M;
            sumReview3M = isNaN(sumReview3M) ? "-" : sumReview3M;
            sumReview6M = isNaN(sumReview6M) ? "-" : sumReview6M;
            sumReview12M = isNaN(sumReview12M) ? "-" : sumReview12M;
            sumReviewLifetime = isNaN(sumReview12M) ? "-" : sumReviewLifetime;
            cancellationRateFactor = 100;
           cancellationRateRound = 2;
        %>
        
        <fieldset>
            <legend>Details</legend>
            @* *** EBay *** *@   
            <%if(marketplaceType == "eBay"){%>  
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#ebayTab5" data-toggle="tab">Order info</a></li>
                    <li><a href="#ebayTab4" data-toggle="tab">Feedback info</a></li>
                    <li><a href="#ebayTab3" data-toggle="tab">Inventory info</a></li>
                    <li><a href="#ebayTab1" data-toggle="tab">Trader info</a></li>
                    <li><a href="#ebayTab2" data-toggle="tab">Account details</a></li>
                    <li><a href="#ebayTab6" data-toggle="tab">Categories info</a></li>
                </ul>                                                      
                <div class="tab-content">
                    <div class="tab-pane" id="ebayTab1">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>FeedbackPrivate</td>
                                    <td><%-m.EBay.FeedbackPrivate%></td>
                                </tr>
                                <tr>
                                    <td>IDVerified</td>
                                    <td><%-m.EBay.IdVerified%></td>
                                </tr>
                                <tr>
                                    <td>NewUser</td>
                                    <td><%-m.EBay.NewUser%></td>
                                </tr>
                                <tr>
                                    <td>PayPalAccountStatus</td>
                                    <td><%-m.EBay.PayPalAccountStatus%></td>
                                </tr>
                                <tr>
                                    <td>PayPalAccountType</td>
                                    <td><%-m.EBay.PayPalAccountType%></td>
                                </tr>
                                <tr>
                                    <td>QualifiesForSelling</td>
                                    <td><%-m.EBay.QualifiesForSelling%></td>
                                </tr>
                                <tr>
                                    <td>StoreOwner</td>
                                    <td><%-m.EBay.SellerInfoStoreOwner%></td>
                                </tr>
                                <tr>
                                    <td>StoreSite</td>
                                    <td><%-m.EBay.SellerInfoStoreSite%></td>
                                </tr>
                                <tr>
                                    <td>TopRatedProgram</td>
                                    <td><%-m.EBay.SellerInfoTopRatedProgram%></td>
                                </tr>
                                <tr>
                                    <td>UserIDChanged</td>
                                    <td><%-m.EBay.IDChanged%></td>
                                </tr>
                                <tr>
                                    <td>UserIDLastChanged</td>
                                    <td><%-m.EBay.IDLastChanged%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="ebayTab2">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Account ID</td>
                                    <td><%-m.EBay.AccountId%></td>
                                </tr> 
                                <tr>
                                    <td>Account State</td>
                                    <td><%-m.EBay.AccountState%></td>
                                </tr> 
                                <tr>
                                    <td>Amount Past Due</td>
                                    <td><%-m.EBay.AmountPastDueAmount%></td>
                                </tr> 
                                <tr>
                                    <td>Bank Account Info</td>
                                    <td><%-m.EBay.BankAccountInfo%></td>
                                </tr> 
                                <tr>
                                    <td>Bank Modify Date</td>
                                    <td><%-m.EBay.BankModifyDate%></td>
                                </tr> 
                                <tr>
                                    <td>Credit Card Expiration</td>
                                    <td><%-m.EBay.CreditCardExpiration%></td>
                                </tr> 
                                <tr>
                                    <td>Credit Card Info</td>
                                    <td><%-m.EBay.CreditCardInfo || "-"%></td>
                                </tr> 
                                <tr>
                                    <td>Credit Card Modify Date</td>
                                    <td><%-m.EBay.CreditCardModifyDate%></td>
                                </tr> 
                                <tr>
                                    <td>Current Balance</td>
                                    <td><%-m.EBay.CurrentBalance%></td>
                                </tr> 
                                <tr>
                                    <td>Past Due</td>
                                    <td><%-m.EBay.PastDue%></td>
                                </tr> 
                                <tr>
                                    <td>Payment Method</td>
                                    <td><%-m.EBay.PaymentMethod%></td>
                                </tr>
                                <tr>
                                    <td>Currency</td>
                                    <td><%-m.EBay.Currency%></td>
                                </tr> 
                                <tr>
                                    <td>Additional Account Code</td>
                                    <td><%-m.EBay.AdditionalAccountAccountCode%></td>
                                </tr> 
                                <tr>
                                    <td>Additiona Account Balance</td>
                                    <td><%-m.EBay.AdditionalAccountBalance%></td>
                                </tr> 
                                <tr>
                                    <td>Additional Account Currency</td>
                                    <td><%-m.EBay.AdditionalAccountCurrency%></td>
                                </tr> 
                                <tr>
                                    <td>eBayGoodStanding</td>
                                    <td><%-m.EBay.EBayGoodStanding%></td>
                                </tr> 
                                <tr>
                                    <td>EIASToken</td>
                                    <td><%-m.EBay.EIASToken || "-"%></td>
                                </tr>
                                <tr>
                                    <td>TopRatedSeller</td>
                                    <td><%-m.EBay.SellerInfoTopRatedSeller%></td>
                                </tr>
                                <tr>
                                    <td>StoreURL</td>
                                    <td><a target="_blank"  href="<%-m.SellerInfoStoreURL%>"><%- m.SellerInfoStoreURL %></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                            
                    <div class="tab-pane" id="ebayTab3">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Items in Inventory</td>
                                    <td><%-m.AnalysisDataInfo.TotalItemsinInventoryLifetime || "-"%></td>
                                </tr> 
                                <tr>
                                    <td>Total Value of Inventory</td>
                                    <td><%-GBPValues( m.AnalysisDataInfo.TotalValueofInventoryLifetime  || 0, true )%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="ebayTab4">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>30 days</th>
                                    <th>180 days</th>
                                    <th>1 year</th>
                                    <th>Lifetime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Positive</td>
                                    <td><%-ai.PositiveFeedbackRate1M || "-"%> (<%-positivePercent1M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRate6M || "-"%> (<%-positivePercent1M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRate12M || "-"%> (<%-positivePercent12M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRateLifetime || "-"%> (<%-positivePercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Neutral</td>
                                    <td><%-ai.NeutralFeedbackrate1M || "-"%> (<%-neutralPercent1M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrate6M || "-"%> (<%-neutralPercent1M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrate12M || "-"%> (<%-neutralPercent12M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrateLifetime || "-"%> (<%-neutralPercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Negative</td>
                                    <td><%-ai.NegativeFeedbackrate1M || "-"%> (<%-negativePercent1M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrate6M || "-"%> (<%-negativePercent1M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrate12M || "-"%> (<%-negativePercent12M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrateLifetime || "-"%> (<%-negativePercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Number of reviews</td>
                                    <td><%-sumReview1M%></td>
                                    <td><%-sumReview6M%></td>
                                    <td><%-sumReview12M%></td>
                                    <td><%-sumReviewLifetime%></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Negative Feedback Count</td>
                                    <td><%-m.EBay.NegativeFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Neutral Feedback Count</td>
                                    <td><%-m.EBay.NeutralFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Positive Feedback Count</td>
                                    <td><%-m.EBay.PositiveFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Unique Negative Feedback Count</td>
                                    <td><%-m.EBay.UniqueNegativeFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Unique Neutral Feedback Count</td>
                                    <td><%-m.EBay.UniqueNeutralFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Unique Buyer Count</td>
                                    <td><%-m.EBay.UniqueBuyerCount%></td>
                                </tr> 
                                <tr>
                                    <td>Unique Positive Feedback Count</td>
                                    <td><%-m.EBay.UniquePositiveFeedbackCount%></td>
                                </tr> 
                                <tr>
                                    <td>Transaction Percent</td>

                                    <td><%-m.EBay.TransactionPercent!= "-" ? (m.EBay.TransactionPercent.replace(',','.')*1 ).toFixed(1) : m.EBay.TransactionPercent%></td>
                                </tr> 
                                <tr>
                                    <td>Repeat Buyer Count</td>
                                    <td><%-m.EBay.RepeatBuyerCount%></td>
                                </tr> 
                                <tr>
                                    <td>Repeat Buyer Percent</td>
                                    <td><%-m.EBay.RepeatBuyerPercent%></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane active" id="ebayTab5">
                        <table class="table table-bordered table-striped blue-header centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>1M</th>
                                    <th>3M</th>
                                    <th>6M</th>
                                    <th>12M</th>
                                    <th>15M</th>
                                    <th>18M</th>
                                    <th>24M</th>
                                    <th>24M+</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total sum of orders</td>
                                    <td><%-ai.TotalSumofOrders1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders1M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders3M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders6M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders12M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders15M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders15M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders18M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders18M): "-"%></td>
                                    <td><%-ai.TotalSumofOrders24M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrders24M): "-"%></td>
                                    <td><%-ai.TotalSumofOrdersLifetime!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersLifetime): "-"%></td>
                                </tr>
                                <tr>
                                    <td>Number of orders</td>
                                    <td><%-ai.NumofOrders1M  || "-"%></td>
                                    <td><%-ai.NumofOrders3M  || "-"%></td>
                                    <td><%-ai.NumofOrders6M  || "-"%></td>
                                    <td><%-ai.NumofOrders12M  || "-"%></td>
                                    <td><%-ai.NumofOrders15M  || "-"%></td>
                                    <td><%-ai.NumofOrders18M  || "-"%></td>
                                    <td><%-ai.NumofOrders24M  || "-"%></td>
                                    <td><%-ai.NumofOrdersLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Total items ordered</td>
                                    <td><%-ai.TotalItemsOrdered1M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered3M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered6M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered12M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered15M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered18M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered24M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrderedLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Average items per order</td>
                                    <td><%-ai.AverageItemsperOrder1M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder1M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder3M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder3M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder6M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder6M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder12M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder12M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder15M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder15M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder18M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder18M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder24M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder24M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrderLifetime != undefined ? EzBob.roundNumber( ai.AverageItemsperOrderLifetime, 1)+"x" : "-"%></td>
                                </tr>
                                <tr>
                                    <td>Average sum of order</td>
                                    <td><%-ai.AverageSumofOrder1M!=undefined ? GBPValues(ai.AverageSumofOrder1M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder3M!=undefined ? GBPValues(ai.AverageSumofOrder3M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder6M!=undefined ? GBPValues(ai.AverageSumofOrder6M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder12M!=undefined ? GBPValues(ai.AverageSumofOrder12M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder15M!=undefined ? GBPValues(ai.AverageSumofOrder15M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder18M!=undefined ? GBPValues(ai.AverageSumofOrder18M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder24M!=undefined ? GBPValues(ai.AverageSumofOrder24M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrderLifetime!=undefined ? GBPValues(ai.AverageSumofOrderLifetime, true) + "x" : "-"%></td>
                                </tr>
                                <tr>
                                    <td>Cancelled orders count</td>
                                    <td><%-ai.CancelledOrdersCount1M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount3M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount6M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount12M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount15M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount18M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount24M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCountLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Orders cancellation rate</td>
                                    <td><%-ai.OrdersCancellationRate1M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate3M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate6M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate12M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate12M*cancellationRateFactor, cancellationRateRound ) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate15M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate18M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate24M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="ebayTab6">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <tbody>
                                <%if(m.Categories.length == 0){%>
                                <tr>
                                    <td><i>No data in database</i></td>
                                </tr>
                                <%}%>

                                <%_.each(m.Categories, function(val, i){%>
                                <tr>
                                    <td><%-val != null ? val.replace(/:/g, " -> "): "-"%></td>
                                </tr>
                                <%});%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%}%>
             @* *** Amazon   *** *@
            <%if(marketplaceType == "Amazon"){%>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Orders</a></li>
                    <li><a href="#tab2" data-toggle="tab">Feedbacks</a></li>
                    <li><a href="#tab3" data-toggle="tab">Inventory</a></li>
                    <li><a href="#tab4" data-toggle="tab">Categories</a></li>
                    <li><a href="#tab6" data-toggle="tab">Account details</a></li>
                </ul>                                                      
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>1M</th>
                                    <th>3M</th>
                                    <th>6M</th>
                                    <th>12M</th>
                                    <th>15M</th>
                                    <th>18M</th>
                                    <th>24M</th>
                                    <th>24M+</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total sum of orders</td>
                                    <td><%-ai.TotalSumofOrders1M!=undefined ? GBPValues(ai.TotalSumofOrders1M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders3M!=undefined ? GBPValues(ai.TotalSumofOrders3M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders6M!=undefined ? GBPValues(ai.TotalSumofOrders6M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders12M!=undefined ? GBPValues(ai.TotalSumofOrders12M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders15M!=undefined ? GBPValues(ai.TotalSumofOrders15M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders18M!=undefined ? GBPValues(ai.TotalSumofOrders18M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrders24M!=undefined ? GBPValues(ai.TotalSumofOrders24M, true): "-"%></td>
                                    <td><%-ai.TotalSumofOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOrdersLifetime, true): "-"%></td>
                                </tr>
                                <tr>
                                    <td>Number of orders</td>
                                    <td><%-ai.NumofOrders1M  || "-"%></td>
                                    <td><%-ai.NumofOrders3M  || "-"%></td>
                                    <td><%-ai.NumofOrders6M  || "-"%></td>
                                    <td><%-ai.NumofOrders12M  || "-"%></td>
                                    <td><%-ai.NumofOrders15M  || "-"%></td>
                                    <td><%-ai.NumofOrders18M  || "-"%></td>
                                    <td><%-ai.NumofOrders24M  || "-"%></td>
                                    <td><%-ai.NumofOrdersLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Total items ordered</td>
                                    <td><%-ai.TotalItemsOrdered1M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered3M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered6M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered12M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered15M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered18M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrdered24M  || "-"%></td>
                                    <td><%-ai.TotalItemsOrderedLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Average items per order</td>
                                    <td><%-ai.AverageItemsperOrder1M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder1M, 1) + "x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder3M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder3M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder6M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder6M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder12M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder12M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder15M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder15M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder18M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder18M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrder24M != undefined ? EzBob.roundNumber( ai.AverageItemsperOrder24M, 1)+"x" : "-"%></td>
                                    <td><%-ai.AverageItemsperOrderLifetime != undefined ? EzBob.roundNumber( ai.AverageItemsperOrderLifetime, 1)+"x" : "-"%></td>
                                </tr>
                                <tr>
                                    <td>Average sum of order</td>
                                    <td><%-ai.AverageSumofOrder1M!=undefined ? GBPValues(ai.AverageSumofOrder1M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder3M!=undefined ? GBPValues(ai.AverageSumofOrder3M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder6M!=undefined ? GBPValues(ai.AverageSumofOrder6M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder12M!=undefined ? GBPValues(ai.AverageSumofOrder12M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder15M!=undefined ? GBPValues(ai.AverageSumofOrder15M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder18M!=undefined ? GBPValues(ai.AverageSumofOrder18M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrder24M!=undefined ? GBPValues(ai.AverageSumofOrder24M, true) + "x" : "-"%></td>
                                    <td><%-ai.AverageSumofOrderLifetime!=undefined ? GBPValues(ai.AverageSumofOrderLifetime, true) + "x" : "-"%></td>
                                </tr>
                                <tr>
                                    <td>Cancelled orders count</td>
                                    <td><%-ai.CancelledOrdersCount1M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount3M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount6M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount12M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount15M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount18M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCount24M  || "-"%></td>
                                    <td><%-ai.CancelledOrdersCountLifetime  || "-"%></td>
                                </tr>
                                <tr>
                                    <td>Orders cancellation rate</td>
                                    <td><%-ai.OrdersCancellationRate1M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate3M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate6M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate12M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate12M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate15M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate18M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRate24M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                    <td><%-ai.OrdersCancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>30 days</th>
                                    <th>90 days</th>
                                    <th>1 year</th>
                                    <th>Lifetime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Positive</td>
                                    <td><%-ai.PositiveFeedbackRate1M%> (<%-positivePercent1M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRate3M%> (<%-positivePercent3M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRate12M%> (<%-positivePercent12M%>%)</td>
                                    <td><%-ai.PositiveFeedbackRateLifetime%> (<%-positivePercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Neutral</td>
                                    <td><%-ai.NeutralFeedbackrate1M%> (<%-neutralPercent1M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrate3M%> (<%-neutralPercent3M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrate12M%> (<%-neutralPercent12M%>%)</td>
                                    <td><%-ai.NeutralFeedbackrateLifetime%> (<%-neutralPercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Negative</td>
                                    <td><%-ai.NegativeFeedbackrate1M%> (<%-negativePercent1M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrate3M%> (<%-negativePercent3M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrate12M%> (<%-negativePercent12M%>%)</td>
                                    <td><%-ai.NegativeFeedbackrateLifetime%> (<%-negativePercentLifetime%>%)</td>
                                </tr>
                                <tr>
                                    <td>Number of reviews</td>
                                    <td><%-sumReview1M%></td>
                                    <td><%-sumReview3M%></td>
                                    <td><%-sumReview12M%></td>
                                    <td><%-sumReviewLifetime%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Items in Inventory</td>
                                    <td><%-m.AnalysisDataInfo.TotalItemsinInventoryLifetime || "-"%></td>
                                </tr> 
                                <tr>
                                    <td>Total Value of Inventory</td>
                                    <td><%-GBPValues( m.AnalysisDataInfo.TotalValueofInventoryLifetime  || 0, true )%></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab4">
                         <table class="table table-bordered table-striped  blue-header centered">
                             <tbody>
                                 <%if(m.Categories.length == 0){%>
                                <tr>
                                    <td><i>No data in database</i></td>
                                </tr>
                                 <%}%>

                                 <%_.each(m.Categories, function(val, i){%>
                                 <tr>
                                     <td><%-val%></td>
                                 </tr>
                                 <%});%>
                             </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                <tr>
                                    <th>Parameter name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Not implemented now</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <table class="table table-bordered table-striped  blue-header centered">
                            <thead>
                                
                                <tr>
                                    <th>Parameter name</th>
                                    <th colspan="2">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>StoreURL</td>
                                    <td colspan="2">
                                        <a target="_blank" href="<%- m.SellerInfoStoreURL %>"><%-m.SellerInfoStoreURL%></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Askville status</td>
                                    <td class="askvilleStatus"><%-m.AskvilleStatus%></td>
                                    <td style="width: 100px;">
                                        <button class="btn" id="recheck-askville" data-guid="<%-m.AskvilleGuid%>" data-marketplaceId ="<%-m.Id%>"><i class="icon-refresh"></i>Recheck</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <%}%>
        </fieldset>
    </div>  
}

@helper MarketPlaces()
    {
    <div style="overflow: auto">
            <table class="table table-bordered table-striped marketplace-table blue-header centered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Shop Name</th>
                        <th>Seniority</th>
                        <th>Annual Sales</th>
                        <th>Rating</th>
                        <th>Inventory</th>
                        <th>Elimination</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if(summary){%>
                        <tr class="bold" style="font-size: 18px;">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td class="centered"> <%- EzBob.formatPoundsNoDecimals( summary.anualSales) %> </td>
                            <td class="centered"> <%= EzBob.formatPercents(summary.rating, 1) %> </td>
                            <td class="centered"> <%- EzBob.formatPoundsNoDecimals(summary.inventory, true) %> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <%}%>
                    <% _.each(marketplaces, function(m,i){ %>
                    <tr data-id="<%-i%>">
                        <td><div class="shop-<%- m.Name %>"></div></td>
                        <td><a href="<%- m.SellerInfoStoreURL %>" target="_blank"><%- m.Type %></a></td>
                        <td class="centered"><%- m.age %></td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals( m.anualSales) %></td>
                        <td class="centered"><%- m.RaitingPercent%> %</td>
                        <td class="centered"><%- EzBob.formatPoundsNoDecimals(m.inventory, true) %></td>
                        <td><%- m.EluminatingStatus %></td>
                        <td>
                            <%- m.UpdatingStatus %>
                            <% if(m.UpdateError){%>
                            <button class="btn btn-mini mp-error-description" data-title="<%- m.UpdateError %>"><i class="icon-comment"></i></button><br />
                            <%}%>
                        </td>
                        <td  class="centered">
                            <div style="width: 100px;">
                                <% if(m.Name != "EKM"){%>
                                <a href="#" class="btn btn-mini reCheck-amazon" umi="<%- m.Id %>" marketplaceType="<%- m.Name %>"><i class="icon-refresh"></i>Recheck</a> <br />
                                <% if(m.UpdateError && m.Name == 'eBay'){ %>
                                <button class="btn btn-mini renew-token" data-umi="<%- m.Id %>"><i class="icon-refresh"></i>Renew token</button> <br />
                                <%}%>
                                <%}%>
                                <a href="#" class="btn btn-mini" data-bug-type="<%- m.Name %>" data-bug-customer="<%-customerId%>" data-bug-mp="<%-m.Id%>" data-title="Report Bug" ><i class="icon-tag"></i></a>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>        
    </div>

    <div id="marketplace-details">  </div>
}
<script id="marketplace-template" type="text/template">
    @MarketPlaces()
</script>