<script id="message-template" type="text/template">
    <div class="messages row">
        <div class="col-md-12">
            <table class="table box">
                <thead class="box-title">
                    <tr>
                        <th>Sent document name</th>
                        <th>Download</th>
                        <th>Date created</th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <%_.each(model, function(val, i){ if(!val.Id) { return; }%>
                    <tr>
                        <td>
                            <a href="@Url.Action("DownloadMessagesDocument", "Messages", new { Area = "Underwriter" })/<%-val.Id%>" target="_blank"><%-val.FileName%></a>
                        </td>
                        <td>
                            <a href="@Url.Action("DownloadMessagesDocument", "Messages", new { Area = "Underwriter" })/?id=<%-val.Id%>&download=true" target="_blank">download</a>
                        </td>
                        <td><%-val.CreationDate%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary aml-button-margin" id="btnAMLInformation">AML</button>
    </div>
</script>
