@model dynamic
<script id="profile-template-main" type="text/template">
        @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Customer)
        <div id="sidebar-dashboard" class="navbar-collapse collapse">
            <div class="tabbable tabs-top">
                <ul class="nav nav-tabs active-blue">
                    <li class="active"><a href="#profile-person-info-id" data-toggle="tab"><span id="customer-label-span" class="label label-large label-success">Customer</a></li>
                    <li><a href="#profile-loan-info-id" data-toggle="tab"><span class="label label-large label-success">Offer</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in profile-person-info active" id="profile-person-info-id"/>
                    <div class="tab-pane fade in profile-loan-info" id="profile-loan-info-id"/>
                </div>
            </div>
        </div>
        <div id="main-content" class="profile-tabs">
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane" id="dashboard"></div>
                    <div class="tab-pane" id="profile-summary"></div>
                    <div class="tab-pane" id="marketplaces"></div>
                    <div class="tab-pane" id="payment-accounts"></div>
                    <div class="tab-pane" id="credit-bureau"></div>
                    <div class="tab-pane" id="calculator">
                        <div id="pricing-calc"></div>
                        <div id="medal-calc" style="margin-top: 30px;" ></div>
                    </div>
                    <div class="tab-pane" id="loanhistorys"></div>
                    <div class="tab-pane" id="customer-info"></div>
                    <div class="tab-pane" id="company-score">
                        <div id="company-score-list"></div>
                    </div>
                    <div class="tab-pane" id="messages-tab">
                        <div id="alert-docs" class="messages"></div>
                        <div id="messages" style="margin-top: 30px;" ></div>
                    </div>
                    <div class="tab-pane" id="apiChecks"></div>
                    <div class="tab-pane" id="customerRelations"></div>
                    <div class="tab-pane" id="fraudDetection"></div>
                </div>
            </div>
            <div id="controlButtons" style="margin-top: 10px;">
            </div>
        </div>

</script>

<script id="controls-button-template" type="text/template">
    <div id="DecisionNotes"></div>

    <a class="btn btn-primary back" href="#"><i class="fa fa-arrow-circle-o-left" /> Go back</a>
    <a href="#" class="btn btn-primary" id="ReportBug" data-bug-customer="<%-customerId%>" data-bug-type="Other"><i class="fa fa-bug" /> Report Bug</a>
    <button name="newCreditLineLnk" id="newCreditLineLnkId" class="btn btn-primary"><i class="fa fa-bolt" /> New Credit Line</button>

    <div class="pull-right" style="margin-right:50px;">
        <button class="btn btn-primary" id="ReturnBtn"><i class="fa fa-repeat" /> Return</button>
        <button class="btn btn-primary" id="SuspendBtn"><i class="fa fa-pause" /> Suspend</button>
        <button class="btn btn-primary" id="RejectBtn"><i class="fa fa-times-circle-o" /> Reject</button>
        <button class="btn btn-primary" id="ApproveBtn"><i class="fa fa-check-circle-o" /> Approve</button>
        <button class="btn btn-primary" id="EscalateBtn"><i class="fa fa-question-circle" /> Escalate</button>
    </div>
</script>

@{
    Html.RenderPartial("_MarketplaceValuesTemplate");
    Html.RenderPartial("MarketPlacesHistory");
    Html.RenderPartial("_LoanhistoryViewTemplate");
    Html.RenderPartial("LoanDetails/LoanDetails");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/PaymentAccounts/_PaymentAccountsTemplate.cshtml");
    Html.RenderPartial("ProfileLoanInfoTemplate");
    Html.RenderPartial("ProfileSummary");
    Html.RenderPartial("Dashboard");
    Html.RenderPartial("CreditBureau");
    Html.RenderPartial("_MedalCalculationTemplate");
    Html.RenderPartial("PricingModelCalculationTemplate");
    Html.RenderPartial("_ApiChecksLog");
    Html.RenderPartial("_CompanyScore");
    Html.RenderPartial("_FraudDetectionLog");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/_CustomerRelations.cshtml");
    Html.RenderPartial("_DocsTemplate");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/LoanEditor/_loan_editor.cshtml");
    Html.RenderPartial("~/Views/Shared/_LoanScheduleTemplate.cshtml");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/Bugs/_ReportBug.cshtml");
    Html.RenderPartial("_CaisReportsHistory");
    Html.RenderPartial("_CreditLineDialog");
    Html.RenderPartial("ApproveLoanWithoutAML");
    Html.RenderPartial("ApproveLoanForWarningStatusCustomer"); 
}

<script id="functionsDialogTemplate" type="text/template">
    <div id="functionsPopup" style="overflow: visible">
        <div class="loan-schedule"></div>
        <div id="details"></div>
        <div>
            <div class="rejectReasonDiv" style="display:none;">
                <h3>Reject Reason:</h3>
                <div style="width:100%">
                    <select class="rejectReason chosen" data-placeholder=" " multiple="multiple" style="width:100%; min-height:40px;">
                        <%_.each(EzBob.RejectReasons, function(reason) {%>
                            <option value="<%-reason.Id%>"><%-reason.Reason%></option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="uwReason">
                <h3>Reason:</h3>
                <textarea class="reason" maxlength="200"></textarea>
            </div>
            <div id="noYodleeReasonDiv" class="hide">
                <h3 style="line-height: normal !important; margin-top: 15px !important;">Offline user without Yodlee
                    <br />
                    account - Reason:</h3>
                <textarea class="yodleeReason" maxlength="200"></textarea>
            </div>
        </div>

        <div class="pull-right">
            <input class="btn btn-primary button-ok" type="button" value="OK" />
            <input class="btn btn-primary button-cancel" type="button" value="Cancel" />
        </div>
    </div>
</script>

<script id="approve-details" type="text/template">
    <div id="loan-schedule"></div>
    <div>
        <button class="btn btn-primary change-offer-details"><i class="fa fa-pencil"></i>Edit</button>
        <a href="#" class="pull-right excel-link">Export to Excel</a>
        <a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
        <button style="margin-right: 20px;" class="pull-right print-link">Print to PDF</button>
    </div>

</script>

<script id="message-template" type="text/template">
    @{Html.RenderPartial("_Messages");}
    <div class="pull-right">
        <button class="btn btn-primary" id="btnAMLInformation">AML</button>
        <button class="btn btn-primary" id="btnAMLandBWAInformation">AML and BWA</button>
        <button class="btn btn-primary" id="btnBWAInformation">BWA</button>
    </div>
</script>


