@model dynamic
<script id="profile-template-main" type="text/template">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Customer)
    <div id="sidebar-dashboard">
        <div class="fundingAlert"></div>
        <div class="profile-person-info" id="profile-person-info-id" ></div>
    </div>
    <div id="main-content" class="profile-tabs">
        <div id="profileHead"></div>
        <div class="tabbable">
            <div class="tab-content profile-content" style="margin-top:190px;">
                <div class="tab-pane" id="dashboard"></div>
                <div class="tab-pane" id="profile-summary"></div>
                <div class="tab-pane" id="marketplaces"></div>
                <div class="tab-pane" id="payment-accounts"></div>
                <div class="tab-pane" id="credit-bureau"></div>
                <div class="tab-pane" id="calculator">
                    <div id="pricing-calc"></div>
                    <div id="medal-calc"></div>
                    <div id="automation-calc"></div>
                </div>
				<div class="tab-pane" id="logical-glue-history"></div>
                <div class="tab-pane" id="loanhistorys"></div>
                <div class="tab-pane" id="customer-info"></div>
                <div class="tab-pane" id="company-score">
                    <div id="company-score-list"></div>
                </div>
                <div class="tab-pane" id="messages-tab">
                    <div id="signature-monitor">@{ Html.RenderPartial("SignatureMonitor"); }</div>
                    <div id="alert-docs" class="messages"></div>
                    <div id="messages" style="margin-top: 30px;"></div>
                </div>
                <div class="tab-pane" id="apiChecks"></div>
                <div class="tab-pane" id="customerRelations"></div>
                <div class="tab-pane" id="fraudDetection"></div>
                <div class="tab-pane" id="properties"></div>
            </div>
        </div>
        <div id="DecisionNotes"></div>
    </div>

</script>

@{
    Html.RenderPartial("ControlButtons");
    Html.RenderPartial("_MarketplaceValuesTemplate");
    Html.RenderPartial("MarketPlacesHistory");
    Html.RenderPartial("_LoanhistoryViewTemplate");
    Html.RenderPartial("LoanDetails/LoanDetails");
	Html.RenderPartial("LoanDetails/ManualPayment");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/PaymentAccounts/_PaymentAccountsTemplate.cshtml");
    Html.RenderPartial("ProfileLoanInfoTemplate");
	Html.RenderPartial("CollectionStatus");
    Html.RenderPartial("ProfileSummary");
    Html.RenderPartial("Dashboard/Dashboard");
    Html.RenderPartial("ProfileHead");
    Html.RenderPartial("CreditBureau");
    Html.RenderPartial("_MedalCalculationTemplate");
	Html.RenderPartial("_LogicalGlueHistoryTemplate");
    Html.RenderPartial("_AutomationCalculationTemplate");
    Html.RenderPartial("PricingModelCalculationTemplate");
    Html.RenderPartial("_ApiChecksLog");
    Html.RenderPartial("_CompanyScore");
    Html.RenderPartial("_FraudDetectionLog");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/_CustomerRelations.cshtml");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/_Properties.cshtml");
    Html.RenderPartial("_DocsTemplate");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/LoanEditor/_loan_editor.cshtml");
    Html.RenderPartial("~/Views/Shared/_LoanScheduleTemplate.cshtml");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/Bugs/_ReportBug.cshtml");
    Html.RenderPartial("_CreditLineDialog");
    Html.RenderPartial("ApproveLoanWithoutAML");
    Html.RenderPartial("ApproveLoanForWarningStatusCustomer"); 
    Html.RenderPartial("_Messages");
    Html.RenderPartial("_FunctionsDialog");
}
@EditExperianDirectorData.Render(this)

<script id="approve-details" type="text/template">
    <div id="loan-schedule"></div>
    <div>
        <!--button class="btn btn-primary change-offer-details"><i class="fa fa-pencil"></i>Edit</!--button-->
        <a href="#" class="pull-right excel-link">Export to Excel</a>
        <a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
        <button style="margin-right: 20px;" class="pull-right print-link">Print to PDF</button>
    </div>

</script>

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/_AddressPopupTemplate.cshtml");}
</script>

@{Html.RenderPartial("~/Areas/Customer/Views/Shared/_AddressTemplate.cshtml");}

