<script id="propertiesTemplate" type="text/template">
    @Properties()
</script>

@helper Properties()
{
    <div>
        <table class="table squeezed rright">
            <thead class="box">
                <tr class="box-title">
                    <th>#</th>
                    <th>Market Value</th>
                    <th>Mortgage</th>
                    <th>Net Worth</th>
                    <th>Address</th>
                    <th>Year Of Ownership</th>
                    <th># Of Owners</th>
                </tr>
            </thead>
            <tbody class="box-content">
                <tr>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                </tr>
            </tbody>
        </table>
        
        <table class="table squeezed rright">
            <thead class="box">
                <tr class="box-title">
                    <th>col 1</th>
                    <th>col 2</th>
                </tr>
            </thead>
            <tbody class="box-content">
                <tr>
                    <td><b>Zoopla Estimate</b></td>
                    <td>
                        <% if (model.NumberOfProperties > 0) {%>
                            <span>£ <%- model.MarketValue %></span>
                            <% if (model.ZooplaUpdateDate != null) { %>
                                <span>, updated: <%- EzBob.formatDate2(model.ZooplaUpdateDate) %></span>
                            <% } %>
                            <span>(average: £ <%- model.Zoopla1YearAverage %>)</span>
                        <% } %>
                        @* should consider another way to allow refreshing zoopla (per property)
                        <button class="btn btn-mini btn-primary zooplaRecheck" title="Recheck"><i class="fa fa-refresh"></i></button>*@
                    </td>
                </tr>
                <tr>
                    <td><b>Mortgage</b></td>
                    <td>
                        <span>£ <%- model.SumOfMortgages %></span>
                        <% if (model.NumberOfMortgages > 0) { %>
                            <span> (<%- model.NumberOfMortgages %>)</span>
                        <%}%>
                    </td>
                </tr>
                <tr>
                    <td><b>Property net worth</b></td>
                    <td>
                        <% if (model.NumberOfProperties > 0) {%>
                            £ <%- model.NetWorth %>
                        <% } else { %>
                            Not home owner
                        <% } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}