@model dynamic
<script id="profile-template-main" type="text/template">
    <div id="spl">
        <div class="left-underwriter-pane">
            <div class="profile-person-info">
            </div>
            <div class="profile-loan-info">
            </div>
        </div>
        <div class="profile-tabs">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile-summary" data-toggle="tab">Profile Summary</a></li>
                    <li><a href="#marketplaces" data-toggle="tab">
                        <div class="source_labels new-ribbon" id="new-ribbon-marketplaces"></div>
                        Marketplaces</a></li>
                    <li><a href="#payment-accounts" data-toggle="tab">Payment accounts</a></li>
                    <li><a href="#credit-bureau" data-toggle="tab">Credit bureau</a></li>
                    <li><a href="#medal-calculator" data-toggle="tab">Medal calculator</a></li>
                    <li><a href="#loanhistorys" data-toggle="tab">Loan history</a></li>
                    <li><a href="#customer-info" class="cross-check-tab" data-toggle="tab">Cross check</a></li>
                    <li><a href="#company-score" class="company-score-tab" data-toggle="tab">Company score</a></li>
                    <li><a href="#messages-tab" data-toggle="tab">Messages</a></li>
                    <li><a href="#apiChecks" data-toggle="tab">API checks log</a></li>
                    <li><a href="#customerRelations" data-toggle="tab">Customer relations</a></li>
                    <li><a href="#fraudDetection" data-toggle="tab">Fraud detection</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="profile-summary"></div>
                    <div class="tab-pane" id="marketplaces"></div>
                    <div class="tab-pane" id="payment-accounts"></div>
                    <div class="tab-pane" id="credit-bureau"></div>
                    <div class="tab-pane" id="medal-calculator"></div>
                    <div class="tab-pane" id="loanhistorys"></div>
                    <div class="tab-pane" id="customer-info"></div>
                    <div class="tab-pane" id="company-score">
                        <div id="company-score-list"></div>
                    </div>
                    <div class="tab-pane" id="messages-tab">
                        <div id="messages" class="clearfix"></div>
                        <div id="alert-docs"></div>
                    </div>
                    <div class="tab-pane" id="apiChecks"></div>
                    <div class="tab-pane" id="customerRelations"></div>
                    <div class="tab-pane" id="fraudDetection"></div>
                </div>
            </div>
            <div id="controlButtons" style="margin-top: 10px;">
            </div>
        </div>
    </div>
</script>

<script id="controls-button-template" type="text/template">
    <div id="DecisionNotes"></div>

    <a class="btn btn-primary back" href="#"><i class="fa fa-arrow-circle-o-left" />Go back</a>
    <a href="#" class="btn btn-primary" id="ReportBug" data-bug-customer="<%-customerId%>" data-bug-type="Other"><i class="fa fa-bug" />Report Bug</a>
    <button name="newCreditLineLnk" id="newCreditLineLnkId" class="btn btn-success"><i class="fa fa-circle" />New Credit Line</button>

    <div class="pull-right">
        <button class="btn btn-primary" id="ReturnBtn"><i class="icon-white icon-repeat" />Return</button>
        <button class="btn btn-primary" id="SuspendBtn"><i class="icon-white icon-pause" />Suspend</button>
        <button class="btn btn-primary" id="RejectBtn"><i class="icon-white icon-remove-sign" />Reject</button>
        <button class="btn btn-primary" id="ApproveBtn"><i class="icon-white icon-ok-sign" />Approve</button>
        <button class="btn btn-primary" id="EscalateBtn"><i class="icon-white icon-question-sign" />Escalate</button>
    </div>
</script>

@{
    Html.RenderPartial("_MarketplaceValuesTemplate");
    Html.RenderPartial("MarketPlacesHistory");
    Html.RenderPartial("_LoanhistoryViewTemplate");
    Html.RenderPartial("LoanDetails/LoanDetails");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/PaymentAccounts/_PaymentAccountsTemplate.cshtml");
    Html.RenderPartial("ProfileLoanInfoTemplate");
    Html.RenderPartial("ProfileSummary");
    Html.RenderPartial("CreditBureau");
    Html.RenderPartial("_MedalCalculationTemplate");
    Html.RenderPartial("_ApiChecksLog");
    Html.RenderPartial("_CompanyScore");
    Html.RenderPartial("_FraudDetectionLog");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/_CustomerRelations.cshtml");
    Html.RenderPartial("_DocsTemplate");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/LoanEditor/_loan_editor.cshtml");
    Html.RenderPartial("~/Views/Shared/_LoanScheduleTemplate.cshtml");
    Html.RenderPartial("~/Areas/Underwriter/Views/Shared/Bugs/_ReportBug.cshtml");
    Html.RenderPartial("_CaisReportsHistory");
    Html.RenderPartial("_CreditLineDialog");
    Html.RenderPartial("ApproveLoanWithoutAML");
    Html.RenderPartial("ApproveLoanForWarningStatusCustomer"); 
}


@helper FunctionsDialog()
{
    <div id="functionsPopup" style="overflow: visible">
        <div class="loan-schedule"></div>
        <div id="details"></div>
        <div>
            <div class="uwReason">
                <h3>Reason:</h3>
                <textarea class="reason" maxlength="200"></textarea>
            </div>
            <div id="noYodleeReasonDiv" class="hide">
                <h3 style="line-height: normal !important; margin-top: 15px !important;">Offline user without Yodlee
                    <br />
                    account - Reason:</h3>
                <textarea class="yodleeReason" maxlength="200"></textarea>
            </div>
        </div>


        <div class="pull-right">
            <input class="btn btn-primary button-ok" type="button" value="OK" />
            <input class="btn btn-primary button-cancel" type="button" value="Cancel" />
        </div>
    </div>  
}
<script id="functionsDialogTemplate" type="text/template">
    @FunctionsDialog()
</script>

<script id="approve-details" type="text/template">
    <div id="loan-schedule"></div>
    <div>
        <button class="btn btn-primary change-offer-details"><i class="fa fa-pencil"></i>Edit</button>
        <a href="#" class="pull-right print-link excel-link">Export to Excel</a>
        <a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
    </div>

</script>

<script id="message-template" type="text/template">
    @{Html.RenderPartial("_Messages");}
    <div class="pull-right">
        <button class="btn btn-primary" id="btnAMLInformation">AML</button>
        <button class="btn btn-primary" id="btnAMLandBWAInformation">AML and BWA</button>
        <button class="btn btn-primary" id="btnBWAInformation">BWA</button>
    </div>
</script>


