<script id="propertiesTemplate" type="text/template">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					<table id="ownedPropertiesTable" class="table box">
						<thead class="box-title">
							<tr>
								<th>#</th>
								<th>Status</th>
								<th>Type</th>
								<th>Market Value</th>
								<th>Postcode</th>
								<th>Address</th>
								<th>Year Of Ownership</th>
								<th># Of Owners</th>
								<th>Zoopla</th>
								<th>Land Registry</th>
								<th>Copy</th>
							</tr>
						</thead>
						<tbody class="box-content">
							<% _.each(model.Properties, function(prop, i) { %>
							<tr>
								<td><span><%- i+1 %></span></td>
								<td><span class="alert alert-<%-prop.StatusAlert%>"><%- prop.Status %></span></td>
								<td><span><%- prop.AddressType %></span></td>
								<td><span><%- EzBob.formatPoundsAsInt(prop.MarketValue) %></span></td>
								<td><span><%- prop.Postcode %></span></td>
								<td><span><%- prop.Address || prop.FormattedAddress%></span></td>
								<td><span><%- EzBob.formatDate3(prop.YearOfOwnership) %></span></td>
								<td><span><%- prop.NumberOfOwners %></span></td>
								<td>
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" href="#<%-'zoopla' + i%>">Zoopla</a>
									</div>
								</td>
								<td>
									<%if(prop.LandRegistries && prop.LandRegistries.length > 0) { %>
									<div class="accordion-heading">
										<%_.each(prop.LandRegistries, function(lr, j){%>
										<a class="accordion-toggle" data-toggle="collapse" href="#<%-lr.TitleNumber  + 'lr' + i + j%>">Title Number: <%-lr.TitleNumber%></a>
										<%if(lr.AttachmentId) {%><a href="@Url.Action("File", "AlertDocs", new { Area = "Underwriter" })/<%-lr.AttachmentId%>" class="btn btn-link">Download Attachment</a><%}%>
										<%});%>
									</div>
									<%} else {%>
									<button class="btn btn-primary btnEnquiry" data-postcode="<%-prop.Postcode%>" data-addressid="<%-prop.AddressId%>" data-address="<%-prop.FormattedAddress%>">Enquiry</button>
									<%}%>
								</td>
								<td class="copy-buttons">
									<button class="btn btn-link btn-copy" data-address="<%-prop.FormattedAddress%>">Copy</button>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>

					<table class="table squeezed left box">
						<thead class="box-title">
							<tr>
								<th colspan="2">Data Type</th>
							</tr>
						</thead>
						<tbody class="box-content">
							<tr>
								<td><b>Zoopla Estimate</b></td>
								<td>
									<span><%- EzBob.formatPoundsAsInt(model.MarketValue) %></span>
									<% if (model.ZooplaUpdateDate != null) { %><span>, updated: <%- EzBob.formatDate2(model.ZooplaUpdateDate) %></span><% } %>
									<span>(average: <%- EzBob.formatPoundsAsInt(model.Zoopla1YearAverage) %>)</span>
									<button class="btn btn-mini btn-primary zooplaRecheck" title="Recheck all owned properties"><i class="fa fa-refresh"></i></button>
								</td>
							</tr>
							<tr>
								<td><b>Mortgage</b></td>
								<td>
									<span><%- EzBob.formatPoundsAsInt(model.SumOfMortgages) %> (<%- model.NumberOfMortgages %>)</span>
								</td>
							</tr>
							<tr>
								<td><b>Property net worth</b></td>
								<td>
									<%- EzBob.formatPoundsAsInt(model.NetWorth) %>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="box">
						<div class="box-title">
							<h3>Land Registry</h3>
						</div>
						<div class="box-content">
							<% _.each(model.Properties, function(property, i) {
							_.each(property.LandRegistries, function(landRegistry, j){ %>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#<%-landRegistry.TitleNumber + 'lr' + i + j%>">Title Number: <%-landRegistry.TitleNumber%></a>
							</div>
							<div id="<%-landRegistry.TitleNumber + 'lr' + i + j%>" class="accordion-body collapse">
								<div class="accordion-inner">
									<div class="tabbable">
										<% if (landRegistry.Rejection != undefined) { %>
										<h3>Rejection: <%- landRegistry.Rejection.Reason %>
											<br />
											<%- landRegistry.Rejection.OtherDescription %>
										</h3>
										<% } else if (landRegistry.Acknowledgement != undefined) { %>
										<h3>Acknowledgment: <b>tell developer about it!!!</b>
											<br />
											<%- landRegistry.Acknowledgement.Description %> <%- landRegistry.Acknowledgement.PollDate %>
										</h3>
										<% } else { %>
										<div class="tab-content">
											<span>Title Number: <%- landRegistry.TitleNumber %></span>
										</div>
										<% if (landRegistry.PropertyAddresses != undefined) { %>
										<div class="tab-content">
											<% if (landRegistry.PropertyAddresses.length == 1) { %>
											<div>Property Address: <%- landRegistry.PropertyAddresses[0].Lines %> <%- landRegistry.PropertyAddresses[0].PostCode %></div>
											<% } else { %>
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td colspan="2">Property Address</td>
													</tr>
													<tr class="box-title">
														<td>Address</td>
														<td>Postcode</td>
													</tr>
												</thead>
												<tbody>
													<% _.each(landRegistry.PropertyAddresses, function(propertyAddress) { %>
													<tr>
														<td class="narrow-as-possible"><%- propertyAddress.Lines %></td>
														<td><%- propertyAddress.PostCode %></td>
													</tr>
													<% }); %>
												</tbody>
											</table>
											<% } %>
										</div>
										<%}%>
										<div class="tab-content">
											<% if (landRegistry.PricePaidInfills != undefined && landRegistry.PricePaidInfills.length > 0) { %>
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td colspan="2">Price Paid</td>
													</tr>
												</thead>
												<tbody>
													<% _.each(landRegistry.PricePaidInfills, function(pricePaid) { %>
													<tr>
														<td class="narrow-as-possible"><%- pricePaid.Key %></td>
														<td><%- pricePaid.Value %></td>
													</tr>
													<% }); %>
												</tbody>
											</table>
											<% } else { %>
											<div><span>No price paid specified.</span></div>
											<% } %>
										</div>

										<div class="tab-content">
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td>Proprietorship</td>
														<% if (landRegistry.Proprietorship != undefined && landRegistry.Proprietorship.CurrentProprietorshipDate != undefined) { %>
														<td colspan="4">Current Proprietorship Date: <%- EzBob.formatDate2(landRegistry.Proprietorship.CurrentProprietorshipDate) %></td>
														<% } else { %>
														<td colspan="4"></td>
														<% } %>
													</tr>
													<tr class="box-title">
														<td>Type</td>
														<td>Party Type</td>
														<td>Private Individual Name</td>
														<td>Company Name / Registration Number</td>
														<td>Proprietorship Addresses</td>
													</tr>
												</thead>
												<tbody>
													<% if (landRegistry.Proprietorship != undefined && landRegistry.Proprietorship.ProprietorshipParties != undefined) {
													_.each(landRegistry.Proprietorship.ProprietorshipParties, function(proprietorshipParty) { %>
													<tr>
														<td><%- proprietorshipParty.ProprietorshipType %></td>
														<td><%- proprietorshipParty.ProprietorshipPartyType %></td>
														<td><%- proprietorshipParty.PrivateIndividualForename %> <%- proprietorshipParty.PrivateIndividualSurname %></td>
														<td><%- proprietorshipParty.CompanyName %> <%- proprietorshipParty.CompanyRegistrationNumber %></td>
														<td>
															<table>
																<tbody>
																	<% _.each(proprietorshipParty.ProprietorshipAddresses, function(proprietorshipAddress) { %>
																	<tr>
																		<td><%- proprietorshipAddress.Lines %></td>
																		<td><%- proprietorshipAddress.PostCode %></td>
																	</tr>
																	<% }); %>
																</tbody>
															</table>
														</td>
													</tr>
													<% });
													} %>
												</tbody>
											</table>
										</div>

										<div class="tab-content">
											<% if (landRegistry.Charges != undefined && landRegistry.Charges.length > 0) { %>
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td colspan="6">Charges</td>
													</tr>
													<tr class="box-title">
														<td>Date</td>
														<td>Entry Text</td>
														<td>Proprietorship</td>
													</tr>
												</thead>
												<tbody>
													<% _.each(landRegistry.Charges, function(charge) { %>
													<tr>
														<td><%- EzBob.formatDate2(charge.ChargeDate) %></td>
														<td><%- charge.Description %></td>
														<td>
															<table>
																<thead class="box">
																	<tr class="box-title">
																		<td>Type</td>
																		<td>Party Type</td>
																		<td>Name</td>
																		<td>Proprietorship Addresses</td>
																	</tr>
																</thead>
																<tbody>
																	<% _.each(charge.Proprietorship.ProprietorshipParties, function(chargeProprietorshipParty) { %>
																	<tr>
																		<td><%- chargeProprietorshipParty.ProprietorshipType %></td>
																		<td><%- chargeProprietorshipParty.ProprietorshipPartyType %></td>
																		<td><%- chargeProprietorshipParty.CompanyName %> <%- chargeProprietorshipParty.PrivateIndividualForename %> <%- chargeProprietorshipParty.PrivateIndividualSurname %></td>
																		<td>
																			<table>
																				<tbody>
																					<% _.each(chargeProprietorshipParty.ProprietorshipAddresses, function(chargeProprietorshipAddress) { %>
																					<tr>
																						<td><%- chargeProprietorshipAddress.Lines %></td>
																						<td><%- chargeProprietorshipAddress.PostCode %></td>
																					</tr>
																					<% }); %>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	<% }); %>
																</tbody>
															</table>
														</td>
													</tr>
													<% }); %>
												</tbody>
											</table>
											<% } else { %>
											<span>No charges specified</span>
											<% } %>
										</div>

										<div class="tab-content">
											<% if (landRegistry.Restrictions != undefined && landRegistry.Restrictions.length > 0) { %>
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td colspan="6">Restrictions</td>
													</tr>
													<tr class="box-title">
														<td>Entry Num</td>
														<td>Entry Text</td>
														<td>Type</td>
														<td>SubRegister Code</td>
														<td>Schedule Code</td>
														<td>In fills</td>
													</tr>
												</thead>
												<tbody>
													<% _.each(landRegistry.Restrictions, function(restriction) { %>
													<tr>
														<td><%- restriction.EntryNumber %></td>
														<td><%- restriction.EntryText %></td>
														<td><%- restriction.Type %></td>
														<td><%- restriction.SubRegisterCode %></td>
														<td><%- restriction.ScheduleCode %></td>
														<td>
															<table>
																<tbody>
																	<% _.each(restriction.Infills, function(inFill) { %>
																	<tr>
																		<td><%- inFill.Key %></td>
																		<td><%- inFill.Value %></td>
																	</tr>
																	<% }); %>
																</tbody>
															</table>
														</td>
													</tr>
													<% }); %>
												</tbody>
											</table>
											<% } else { %>
											<span>No restrictions specified</span>
											<% } %>
										</div>

										<div class="tab-content">
											<table class="table centered squeezed">
												<thead class="box">
													<tr class="box-title">
														<td>Indicators</td>
													</tr>
												</thead>
												<tbody>
													<% _.each(landRegistry.Indicators, function(indicator) { %>
													<tr>
														<td><%- indicator %></td>
													</tr>
													<% }); %>
												</tbody>
											</table>
										</div>
										<% } %>
									</div>
								</div>
							</div>
							<% }); %>
							<% }); %>
						</div>
					</div>

					<div class="box">
						<div class="box-title">
							<h3>Zoopla</h3>
						</div>
						<div class="box-content">
							<% _.each(model.Properties, function(property, i) {
							var data = property.Zoopla || { error: 'no data' }; %>
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#<%-'zoopla' + i%>">Zoopla <%-i+1%></a>
							</div>
							<div id="<%-'zoopla' + i%>" class="accordion-body collapse">
								<div class="row">
									<% if(data.error) {%>
									<h3><%-data.error%></h3>

									<%} else {%>
									<div class="col-md-12">
										<h3><%-property.FormattedAddress%></h3>
										<table class="table">
											<thead class="box">
												<tr class="box-title">
													<th>Estimate</th>
													<th>Update Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><%=data.ZooplaEstimate%></td>
													<td><%-EzBob.formatDate3(data.UpdateDate)%></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-md-6">
										<table class="table rright">
											<thead class="box">
												<tr class="box-title">
													<th colspan="2">
														<h3>Average Sales For Area <%-data.AreaName%></h3>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Average Sold Price 1 year</td>
													<td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice1Year)%></td>
												</tr>
												<tr>
													<td>Average Sold Price 3 years</td>
													<td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice3Year)%></td>
												</tr>
												<tr>
													<td>Average Sold Price 5 years</td>
													<td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice5Year)%></td>
												</tr>
												<tr>
													<td>Average Sold Price 7 years</td>
													<td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice7Year)%></td>
												</tr>
												<tr>
													<td>Num of Sales 1 Year</td>
													<td><%-EzBob.formatIntWithCommas(data.NumerOfSales1Year)%></td>
												</tr>
												<tr>
													<td>Num of Sales 3 Years</td>
													<td><%-EzBob.formatIntWithCommas(data.NumerOfSales3Year)%></td>
												</tr>
												<tr>
													<td>Num of Sales 5 Years</td>
													<td><%-EzBob.formatIntWithCommas(data.NumerOfSales5Year)%></td>
												</tr>
												<tr>
													<td>Num of Sales 7 Years</td>
													<td><%-EzBob.formatIntWithCommas(data.NumerOfSales7Year)%></td>
												</tr>
												<tr>
													<td>Turnover <i class="icon-white icon-info-sign" data-turnover=""></i></td>
													<td><%-data.TurnOver%>%</td>
												</tr>
											</tbody>
										</table>
										<img src="<%-data.AverageValuesGraphUrl%>" />
										<img src="<%-data.HomeValuesGraphUrl%>" />
										<a href="<%-data.PricesUrl%>" class="btn btn-primary" target="_blank">Go to Zoopla <i class="fa fa-info-circle" data-zoopla=""></i></a>
									</div>
									<div class="col-md-6">
										<img src="<%-data.ValueRangesGraphUrl%>" />
										<img src="<%-data.ValueTrendGraphUrl%>" />
										<img src="https://maps.googleapis.com/maps/api/streetview?size=640x640&sensor=false&location=<%-property.FormattedAddress%>" />
									</div>
									<%}%>
								</div>
							</div>
							<%});%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
