<script id="propertiesTemplate" type="text/template">
    @Properties()
</script>

@helper Properties()
{
    <div>
        <table class="table squeezed rright">
            <thead class="box">
                <tr class="box-title">
                    <th>#</th>
                    <th>Market Value</th>
                    <th>Mortgage</th>
                    <th>Net Worth</th>
                    <th>Address</th>
                    <th>Year Of Ownership</th>
                    <th># Of Owners</th>
                </tr>
            </thead>
            <tbody class="box-content">
                <tr>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                    <td><span>bla</span></td>
                </tr>
            </tbody>
        </table>
    </div>
}