<script id="propertiesTemplate" type="text/template">
    @Properties()
</script>

@helper Properties()
{
    <div style="width:400px;height:400px;">
        Content should be filled here
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
        <span> bla bla bla></span>
    </div>
}