@model dynamic
<script type="text/template" id="approve-loan-without-aml-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Approving loan without passed AML</h3>
    </div>
    <div class="modal-body">
        <form id="approve-loan-without-aml-form">
            <label class="checkbox">
                <input id="isDoNotShowAgain" type="checkbox">Do not show again
            </label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">OK</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</script>
