@model dynamic
<script type="text/template" id="approve-loan-without-aml-template">
	<div class="aml-area">
		<div class="modal-header">
			<h3>Approving loan without passed AML</h3>

			<div class="modal-body">
				<form id="approve-loan-without-aml-form">
					<label class="checkbox">
						<input id="isDoNotShowAgain" type="checkbox">Do not show again AML warning
					</label>
				</form>
			</div>
		</div>
	</div>
	<div class="multi-brand-area">
		<div class="modal-header">
			<h3>Approving loan for multi-branded customer</h3>
		</div>
	</div>
	<div class="fca-incompliance-area">
		<div class="modal-header">
			<h3>You are approving a Regulated customer registered by a Non-Regulated broker. The combination is not FCA compliant!</h3>
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary">OK</button>
	</div>
</script>
