@model dynamic
<script type="text/template" id="approve-loan-for-warning-status-customer">
	<div class="modal-header">
		<h3>Approving loan for a customer with status: <%=m.CustomerStatusName%></h3>
	</div>
	<div class="modal-body"></div>
	<div class="pull-right">
		<button class="btn btn-primary">OK</button>
	</div>
</script>
