@model dynamic

<script id="controls-button-template" type="text/template">
    <a href="#" class="btn btn-mini btn-dashboard" id="ReportBug" data-bug-customer="<%-customerId%>" data-placement="bottom" data-bug-type="Common"><i class="fa fa-bug" />Bug</a>
    <button name="newCreditLineLnk" id="newCreditLineLnkId" class="btn btn-mini btn-dashboard"><i class="fa fa-bolt" />New Credit Line</button>
    <button class="btn btn-mini btn-dashboard" id="ReturnBtn"><i class="fa fa-repeat" />Return</button>
    <button class="btn btn-mini btn-dashboard" id="SuspendBtn"><i class="fa fa-pause" />Suspend</button>
    <button class="btn btn-mini btn-dashboard" id="RejectBtn"><i class="fa fa-times-circle-o" />Reject</button>
    <button class="btn btn-mini btn-dashboard" id="ApproveBtn"><i class="fa fa-check-circle-o" />Approve</button>
    <button class="btn btn-mini btn-dashboard" id="EscalateBtn"><i class="fa fa-question-circle" />Escalate</button>
</script>
