@model dynamic

<script id="controls-button-template" type="text/template">
	<button class="btn btn-mini btn-dashboard" id="ReturnBtn">Return</button>
	<button class="btn btn-mini btn-dashboard" id="SignatureBtn" title="Only waiting for signatures">Signature</button>
	<button class="btn btn-mini btn-dashboard" id="SuspendBtn">Suspend</button>
	<button class="btn btn-mini btn-dashboard" id="RejectBtn">Reject</button>
	<button class="btn btn-mini btn-dashboard" id="ApproveBtn">Approve</button>
	<button class="btn btn-mini btn-dashboard" id="EscalateBtn">Escalate</button>
	<span id="MainStrategyIsInProgress">(main strategy is in progress)</span>
</script>
