@model dynamic
<script id="dashboard-template" type="text/template">
    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Offer</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <ul class="summary-offer">
                        <li>
                            <p>
                                <span>Amount</span>
                                <span class="light-green">30,000</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Monthly interest</span>
                                <span class="light-green">3.2%</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Term</span>
                                <span class="light-green">12 months</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Setup fee</span>
                                <span class="light-green">3.5%</span>
                            </p>
                        </li>
                    </ul>

                    <div class="form-group">
                        <button class="btn btn-primary" id="offer-edit">edit</button>
                        <button class="btn btn-primary" id="offer-calculate">calculate</button>
                    </div>

                </div>
            </div>
        </div>
        <%if(m.Alerts && m.Alerts.length > 0){%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Alerts</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <%_.each(m.Alerts, function(item) {%>
                    <div class="alert alert-<%-item.AlertType%> hidden-xs">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <h4><%-item.Alert%></h4>
                    </div>
                    <%});%>
                </div>
            </div>
        </div>
        <%}%>
    </div>

    <div>
        <%if(experian) {
            experian.Summary = experian.Summary || {};
            experian.Summary.ConsumerAccountsOverview = experian.Summary.ConsumerAccountsOverview || {};
            experian.ConsumerSummaryCharacteristics = experian.ConsumerSummaryCharacteristics || {};
            experian.ConsumerAccountsOverview = experian.ConsumerAccountsOverview || {};
            var experianCompany = experian.LimitedInfo || experian.NonLimitedInfo || {};
        %>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer & Directors</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            <%var tileColor='';
                              if(!EzBob.isDarkColor(experian.ScoreColor)){
                                tileColor = 'tile-light';
                              }
                            %>
                            <div class="tile <%-tileColor%>" style="background-color: <%-experian.ScoreColor%>">
                                <div class="caption">
                                    Score
                                </div>
                                <p class="title text-center"><%-experian.Score%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-orange">
                                <div class="caption">
                                    Indebtedness
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Accounts
                                </div>
                                <p class="title text-center"><%-experian.ConsumerAccountsOverview.OpenAccounts_Total%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    CCJ/Recent CCJ
                                </div>
                                <p class="title text-center"><%-experian.Summary.CCJs%>/<%-experian.Summary.MostrecentCCJ%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Defaults
                                </div>
                                <p class="title text-center"><%-experian.ConsumerSummaryCharacteristics.NumberOfDefaults%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Balance
                                </div>
                                <% var balance = EzBob.formatPoundsAsThousands(experian.ConsumerAccountsOverview.Balance_Total);
                                   var textSize = '';
                                if(balance.length > 5){ textSize = 'text-small';} %>
                                <p class="title text-center <%- textSize%>"><%-EzBob.formatPoundsAsThousands(experian.ConsumerAccountsOverview.Balance_Total)%></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-transparant">
                                <span class="inline-sparkline consumerScoreGraph"></span>
                            </div>
                        </div>
                        <%if(experian.directorsModels && experian.directorsModels.length > 0){
                            _.each(experian.directorsModels, function(item, i){%>
                        <div class="col-md-2">
                            <div class="tile" style="background-color: <%-item.ScoreColor%>">
                                <div class="caption">
                                    Director <%-(i+1)%>
                                </div>
                                <p class="title text-center"><%-item.Score%></p>
                            </div>
                        </div>
                        <%});}%>
                        
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <%if(mps && mps.length > 0) { console.log('mps', mps);%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Data Sources</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Month sales</th>
                                <th>Annual sales</th>
                                <th>Annual payments</th>
                                <th>Seniority</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_.each(mps, function(mp){console.log(mp);%>
                                <tr>
                                    <td style="width:70px"><div class="source_labels_on <%-mp.Name.replace(' ', '').toLowerCase()%>"></div></td>
                                    <td><%- EzBob.formatPoundsNoDecimals( m.monthSales) %></td>
                                    <td><%- EzBob.formatPoundsNoDecimals( m.anualSales) %></td>
                                    <td></td>
                                    <td></td>
                                    <td><%- m.UpdatingStatus %> <%- m.LastChecked%></td>
                                </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%}%>
    </div>

    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Company</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Score
                                </div>
                                <p class="title text-center"><%-experianCompany.BureauScore%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    CCJ/Recent CCJ
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-orange">
                                <div class="caption">
                                    Tangible equity
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Adjusted profit
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-transparant">
                                <span class="inline-sparkline companyScoreGraph"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Assets & Worth</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tile tile-grey">
                                <div class="caption">
                                    Properties
                                </div>
                                <p class="title text-center"><%- properties.NumberOfProperties %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-grey">
                                <div class="caption">
                                    Market value
                                </div>
                                <p class="title text-center"><%- properties.MarketValue %>K</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-lightgrey tile-high">
                                <div class="caption">
                                    Net Worth
                                </div>
                                <p class="title text-center blue"><%- properties.NetWorth %>K</p>
                                <p class="title-small text-center">(<%- properties.NetWorthPercentages %>%)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-lightgrey tile-high">
                                <div class="caption">
                                    Mortgages (<%- properties.NumberOfMortgages %>)
                                </div>
                                <p class="title text-center"><%- properties.SumOfMortgages %>K</p>
                                <p class="title-small text-center">(LTV: <%- properties.Ltv %>%)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Affordability</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>annual</td>
                                <td>in 000</td>
                            </tr>
                            <tr>
                                <td>revenues</td>
                                <td>333</td>
                            </tr>
                            <tr>
                                <td>opex</td>
                                <td>300</td>
                            </tr>
                            <tr class="chkpt">
                                <td>gross profit</td>
                                <td>33</td>
                            </tr>
                            <tr>
                                <td>salaries</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>tax</td>
                                <td>3</td>
                            </tr>
                            <tr class="chkpt">
                                <td>EBITDA</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>loan repayment</td>
                                <td>15</td>
                            </tr>
                            <tr class="chkpt">
                                <td>FCF</td>
                                <td><span class="label label-large label-important">(500K)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <%if(m.LoanActivity && m.Decisions && m.Decisions.TotalDecisionsCount > 0){
            var activeLoans = m.LoanActivity.TotalIssuesCount > 0 ? "active" : "";
            var activeDecisions = activeLoans == "" ? "active" : "";
        %>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer History</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active-red">
                            <li class="<%-activeLoans%>"><a href="#loans" data-toggle="tab"><span class="label label-large label-warning"><%-m.LoanActivity.TotalIssuesCount%></span>&nbsp;Loans</a></li>
                            <li class="<%-activeDecisions%>"><a href="#decisions" data-toggle="tab"><span class="label label-large label-success"><%-m.Decisions.TotalDecisionsCount%></span>&nbsp;Decisions</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="loans">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span>Total issues</span>
                                            <span><%-m.LoanActivity.TotalIssuesSum%></span>
                                            <span><%-m.LoanActivity.TotalIssuesCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Repaid</span>
                                            <span><%-m.LoanActivity.RepaidSum%></span>
                                            <span><%-m.LoanActivity.RepaidCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Active</span>
                                            <span><%-m.LoanActivity.ActiveSum%></span>
                                            <span><%-m.LoanActivity.ActiveCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Earned interest</span>
                                            <span><%-m.LoanActivity.EarnedInterest%></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="decisions">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span># Decisions</span>
                                            <span><%-m.Decisions.TotalDecisionsCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Total approved</span>
                                            <span><%-m.Decisions.TotalApprovedAmount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span># Rejects</span>
                                            <span><%-m.Decisions.RejectsCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Last interest rate</span>
                                            <span><%-EzBob.formatPercents(m.Decisions.LastInterestRate)%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Last decision date</span>
                                            <span><%-EzBob.formatDate(new Date(moment(m.Decisions.LastDecisionDate)))%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Time past</span>
                                            <span><%-moment(m.Decisions.LastDecisionDate).fromNow()%></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="rejects">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 1 2013</td>
                                            <td>low sales</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <%if(crm && crm.length > 0) {%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer Relations</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Action</th>
                                <th>In\Out</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(crm, function(item, i){ %>
                            <tr>
                                <td><%-EzBob.formatDate(new Date(moment(item.DateTime)))%></td>
                                <td><%-item.User%></td>
                                <td><%-item.Action%></td>
                                <td><%-item.InOut%></td>
                                <td><%-item.Comment%></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</script>

