@model dynamic
<script id="dashboard-template" type="text/template">
    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Offer</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <ul class="summary-offer">
                        <li>
                            <p>
                                <span>Amount</span>
                                <span class="light-green">30,000</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Monthly interest</span>
                                <span class="light-green">3.2%</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Term</span>
                                <span class="light-green">12 months</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Setup fee</span>
                                <span class="light-green">3.5%</span>
                            </p>
                        </li>
                    </ul>

                    <div class="form-group">
                        <button class="btn btn-primary" id="offer-edit">edit</button>
                        <button class="btn btn-primary" id="offer-calculate">calculate</button>
                    </div>

                </div>
            </div>
        </div>
        <%if(m.Alerts && m.Alerts.length > 0){%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Alerts</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <%_.each(m.Alerts, function(item) {%>
                    <div class="alert alert-<%-item.AlertType%> hidden-xs">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <h4><%-item.Alert%></h4>
                    </div>
                    <%});%>
                </div>
            </div>
        </div>
        <%}%>
    </div>

    <div>
        <%if(experian) {
            experian.Summary = experian.Summary || {};
            experian.Summary.ConsumerAccountsOverview = experian.Summary.ConsumerAccountsOverview || {};
            experian.ConsumerSummaryCharacteristics = experian.ConsumerSummaryCharacteristics || {};
            experian.ConsumerAccountsOverview = experian.ConsumerAccountsOverview || {};
            var experianCompany = experian.LimitedInfo || experian.NonLimitedInfo || {};
        %>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer & Directors</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            <%var tileColor='';
                              if(!EzBob.isDarkColor(experian.ScoreColor)){
                                tileColor = 'tile-light';
                              }
                            %>
                            <div class="tile <%-tileColor%>" style="background-color: <%-experian.ScoreColor%>">
                                <div class="caption">
                                    Score
                                </div>
                                <p class="title text-center"><%-experian.Score%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-orange">
                                <div class="caption">
                                    Indebtedness
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Accounts
                                </div>
                                <p class="title text-center"><%-experian.ConsumerAccountsOverview.OpenAccounts_Total%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    CCJ/Recent CCJ
                                </div>
                                <p class="title text-center"><%-experian.Summary.CCJs%>/<%-experian.Summary.MostrecentCCJ%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Defaults
                                </div>
                                <p class="title text-center"><%-experian.ConsumerSummaryCharacteristics.NumberOfDefaults%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Balance
                                </div>
                                <% var balance = EzBob.formatPoundsAsThousands(experian.ConsumerAccountsOverview.Balance_Total);
                                   var textSize = '';
                                if(balance.length > 5){ textSize = 'text-small';} %>
                                <p class="title text-center <%- textSize%>"><%-EzBob.formatPoundsAsThousands(experian.ConsumerAccountsOverview.Balance_Total)%></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-transparant">
                                <span class="inline-sparkline consumerScoreGraph"></span>
                            </div>
                        </div>
                        <%if(experian.directorsModels && experian.directorsModels.length > 0){
                            _.each(experian.directorsModels, function(item, i){%>
                        <div class="col-md-2">
                            <div class="tile" style="background-color : <%-item.ScoreColor%>">
                                <div class="caption">
                                    Director <%-(i+1)%>
                                </div>
                                <p class="title text-center"><%-item.Score%></p>
                            </div>
                        </div>
                        <%});}%>
                        
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Data Sources</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bank(1)</td>
                                <td>HSBC</td>
                                <td>10M</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Company</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Score
                                </div>
                                <p class="title text-center"><%-experianCompany.BureauScore%></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    CCJ/Recent CCJ
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-orange">
                                <div class="caption">
                                    Tangible equity
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="tile tile-green">
                                <div class="caption">
                                    Adjusted profit
                                </div>
                                <p class="title text-center">?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="tile tile-transparant">
                                <span class="inline-sparkline companyScoreGraph"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Assets & Worth</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tile tile-grey">
                                <div class="caption">
                                    Properties
                                </div>
                                <p class="title text-center"><%- properties.NumberOfProperties %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-grey">
                                <div class="caption">
                                    Market value
                                </div>
                                <p class="title text-center"><%- properties.MarketValue %>K</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-lightgrey tile-high">
                                <div class="caption">
                                    Net Worth
                                </div>
                                <p class="title text-center blue"><%- properties.NetWorth %>K</p>
                                <p class="title-small text-center">(<%- properties.NetWorthPercentages %>%)</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tile tile-lightgrey tile-high">
                                <div class="caption">
                                    Mortgages (<%- properties.NumberOfMortgages %>)
                                </div>
                                <p class="title text-center"><%- properties.SumOfMortgages %>K</p>
                                <p class="title-small text-center">(LTV: <%- properties.Ltv %>%)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Affordability</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>annual</td>
                                <td>in 000</td>
                            </tr>
                            <tr>
                                <td>revenues</td>
                                <td>333</td>
                            </tr>
                            <tr>
                                <td>opex</td>
                                <td>300</td>
                            </tr>
                            <tr class="chkpt">
                                <td>gross profit</td>
                                <td>33</td>
                            </tr>
                            <tr>
                                <td>salaries</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>tax</td>
                                <td>3</td>
                            </tr>
                            <tr class="chkpt">
                                <td>EBITDA</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>loan repayment</td>
                                <td>15</td>
                            </tr>
                            <tr class="chkpt">
                                <td>FCF</td>
                                <td><span class="label label-large label-important">(500K)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-7">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer History</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active-red">
                            <li class="active"><a href="#loans" data-toggle="tab"><span class="label label-large label-warning">0</span>&nbsp;Loans</a></li>
                            <li><a href="#approves" data-toggle="tab"><span class="label label-large label-success">5</span>&nbsp;Approves</a></li>
                            <li><a href="#rejects" data-toggle="tab"><span class="label label-large label-important">10</span>&nbsp;Rejects</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="loans">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Repaid</th>
                                            <th>Given</th>
                                            <th>Closed</th>
                                            <th>Outstanding</th>
                                            <th>Outstanding Principal</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>200</td>
                                            <td>232.78</td>
                                            <td>Aug 31 2012</td>
                                            <td>Sep 1 2012</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>Paid</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="approves">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Amount</th>
                                            <th>Interest rate</th>
                                            <th>Setup fee</th>
                                            <th>Repayment period</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 1 2013</td>
                                            <td>Oct 2 2013</td>
                                            <td>900</td>
                                            <td>6%</td>
                                            <td></td>
                                            <td>3</td>
                                            <td>Standard</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="rejects">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 1 2013</td>
                                            <td>low sales</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%if(crm && crm.length > 0) {%>
        <div class="col-md-5">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Customer Relations</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>User</th>
                                <th>Action</th>
                                <th>In\Out</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var count = 0;
                            _.each(crm, function(item, i){
                                if(item.User != 'System' && count < 5) { 
                                    count++;%>
                            <tr>
                                <td><%-EzBob.formatDate(new Date(moment(item.DateTime)))%></td>
                                <td><%-item.User%></td>
                                <td><%-item.Action%></td>
                                <td><%-item.InOut%></td>
                                <td><%-item.Comment%></td>
                            </tr>
                            <%}});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</script>

