<script id="marketplace-history-template" type="text/template">
    <h2 id="megah2">Market Places History</h2>
    
    <select class="selectheight" style="margin-bottom: 0px" id="mpHistoryDdl">
        <option></option>
        <%_.each(MarketPlacesHistory.models, function(history, i) {
            var hId = history.get("HistoryId");
            var hDate = EzBob.formatDateWithoutTime(history.get("HistoryDate"));
        %>    
        <option value="<%-hId%>"><%-hDate%></option>
        <%});%>
    </select>
    <button class="btn showHistoryMarketPlaces">Show History</button>
</script>
