<script id="marketplace-history-template" type="text/template">
    <h2 id="megah2">Market Places History</h2>
    
    <select class="selectheight" style="margin-bottom: 0px" id="mpHistoryDdl">
        <option></option>
        <%_.each(MarketPlacesHistory.models, function(history, i) {
            var hId = EzBob.formatDateWithoutTime(history.get("HistoryDate"));
            var hDate = EzBob.formatDateWithoutTime(history.get("HistoryDate")) + ' ' + history.get("HistoryType");
        %>    
        <option value="<%-hId%>"><%-hDate%></option>
        <%});%>
    </select>
    <button class="btn btn-primary showHistoryMarketPlaces">Show History</button>
    <button class="btn btn-primary showCurrentMarketPlaces">Show Current</button>
    <button class="btn btn-primary pull-right uploadHmrc">Upload HMRC</button>
</script>

<script id="hmrc-upload-template" type="text/template">
    <h2>Upload HMRC</h2>
    <button class="btn btn-primary uploadHmrc">Upload</button>
    <button class="btn btn-primary back">Back</button>
</script>