@model dynamic

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Parameter 1</td>
            <td>grade</td>
        </tr>
        <tr>
            <td>Parameter 2</td>
            <td>grade</td>
        </tr>
        <tr>
            <td>Parameter 3</td>
            <td>grade</td>
        </tr>
        <tr>
            <td>Total score</td>
            <td>98</td>
        </tr>
        <tr>
            <td>Medal type</td>
            <td>Gold</td>
        </tr>
    </tbody>
</table>

@{Html.RenderPartial("_ExportToExcel");}