@model dynamic

<script id="pricing-model-calculation-template" type="text/template">
    <div class="row-fluid">
        <div class="span6">
            <table class="table">
                <thead class="box">
                    <tr class="box-title">
                        <th>Model inputs</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pricing-model-left-td">Loan Amount</td>
                        <td><input type="text" id="loanAmount"/></td>
                    </tr>
                    <tr>
                        <td class="pricing-model-left-td">Default Rate</td>
                        <td><input type="text" id="defaultRate"/></td>
                    </tr>
                    <tr>
                        <td class="pricing-model-left-td">Setup Fee</td>
                        <td><input type="text" id="setupFeePounds" class="pricing-model-double-input-width"/> = <input type="text" id="setupFeePercents" class="pricing-model-double-input-width"/></td>
                    </tr>

                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Loan Term</td>
                        <td><input type="text" id="loanTerm"/> months</td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Interest Only Period</td>
                        <td><input type="text" id="interestOnlyPeriod"/> months</td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Tenure</td>
                        <td><input type="text" id="tenurePercents" class="pricing-model-double-input-width"/> = <input type="text" id="tenureMonths" class="pricing-model-double-input-width"/> Months</td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Collection Rate</td>
                        <td><input type="text" id="collectionRate"/></td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">COGS (incl. acq. costs)</td>
                        <td><input type="text" id="cogs"/></td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Debt Percent Of Capital</td>
                        <td><input type="text" id="debtPercentOfCapital"/></td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Cost Of Debt (incl. fees)</td>
                        <td><input type="text" id="costOfDebt"/></td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Opex And Capex</td>
                        <td><input type="text" id="opexAndCapex"/></td>
                    </tr>
                    <tr class="minor-input-row hide">
                        <td class="pricing-model-left-td">Profit Markup As % Of Revenue</td>
                        <td><input type="text" id="profitMarkup"/></td>
                    </tr>

                    <tr>
                        <td class="pricing-model-left-td"><button class="btn btn-primary" id="expandCollapseInputsButton"><span id="expandInputsSign">+</span><span class="hide" id="collapseInputsSign">-</span></button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="span6">
            <table class="table">
                <thead class="box">
                    <tr class="box-title">
                        <th>Model outputs</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pricing-model-left-td">Monthly Interest Rate</td>
                        <td><%-model.MonthlyInterestRate%>%</td>
                    </tr>
                    <tr>
                        <td class="pricing-model-left-td">Setup Fee For Eu Loan</td>
                        <td><%-GBPValues(model.SetupFeeForEuLoan, true)%></td>
                    </tr>
                    <tr>
                        <td class="pricing-model-left-td">Eu Loan Percentages</td>
                        <td><%-model.EuLoanPercentages%>%</td>
                    </tr>

                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Revenue</td>
                        <td><%-GBPValues(model.Revenue)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">COGS (incl. acq. costs)</td>
                        <td><%-GBPValues(model.CogsOutput)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Gross Profit</td>
                        <td><%-GBPValues(model.GrossProfit)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Opex And Capex</td>
                        <td><%-GBPValues(model.OpexAndCapexOutput)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">EBITDA</td>
                        <td><%-GBPValues(model.Ebitda)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Net Loss From Defaults</td>
                        <td><%-GBPValues(model.NetLossFromDefaults)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Cost Of Debt (incl. fees)</td>
                        <td><%-GBPValues(model.CostOfDebtOutput)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Total Cost</td>
                        <td><%-GBPValues(model.TotalCost)%></td>
                    </tr>
                    <tr class="minor-output-row hide">
                        <td class="pricing-model-left-td">Profit Markup As % Of Revenue</td>
                        <td><%-GBPValues(model.ProfitMarkupOutput, true)%></td>
                    </tr>

                    <tr>
	                    <td class="pricing-model-left-td"><button class="btn btn-primary" id="expandCollapseOutputsButton"><span id="expandOutputsSign">+</span><span class="hide" id="collapseOutputsSign">-</span></button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<button class="btn btn-primary" id="pricingModelResetButton">Reset</button>
	<button class="btn btn-primary pull-right" id="pricingModelCalculateButton">Calculate</button>

</script>