@model dynamic

<script id="profile-head-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <%if(loan){ %>
        <div class="col-md-6">
            <div class="box">
                <div class="box-title">
                    <h3>Offer</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <ul class="summary-offer">
                        <li>
                            <p>
                                <span>Amount</span>
                                <span class="light-green"><%-EzBob.formatPoundsNoDecimals(loan.OfferedCreditLine)%></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Monthly interest</span>
                                <span class="light-green"><%-EzBob.formatPercents(loan.InterestRate)%></span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Term</span>
                                <span class="light-green"><%-loan.RepaymentPerion%> months</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>Setup fee</span>
                                <span class="light-green"><%-EzBob.formatPoundsNoDecimals(loan.SetupFee)%></span>
                            </p>
                        </li>
                    </ul>

                    <div class="form-group hide">
                        <button class="btn btn-primary" id="offer-edit">edit</button>
                        <button class="btn btn-primary" id="offer-calculate">calculate</button>
                    </div>

                </div>
            </div>
        </div>
            <%}%>
        <%if(medal){%>
        <div class="col-md-3">
            <div class="box">
                <div class="box-title">
                    <h3>Medal</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="medalHistory" style="width: 60%; height: 70%; position: absolute"></div>
                    <div style="position: absolute; right: 10%; top: 70px;">
                        <div><%-medal.Medal%></div>
                        <div><%-EzBob.formatPercents(medal.Result)%></div>
                    </div>
                </div>
            </div>
        </div>
            <%}%>
            <%if(m.Alerts){%>
        <div class="col-md-3">
            <div class="box">
                <div class="box-title">
                    <h3>Alerts</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <%_.each(m.Alerts.Errors, function(item) {%>
                            <div class="col-md-2 alert alert-<%-item.AlertType%> hidden-xs" data-toggle="tooltip" data-title="<%-item.Alert%> <%-item.Tooltip%>">
                                <span><%-item.Abbreviation%></span>
                            </div>
                        <%});%>
                    </div>
                    <div class="row">
                        <%_.each(m.Alerts.Warnings, function(item) {%>
                            <div class="col-md-2 alert alert-<%-item.AlertType%> hidden-xs" data-toggle="tooltip" data-title="<%-item.Alert%> <%-item.Tooltip%>">
                                <span><%-item.Abbreviation%></span>
                            </div>
                        <%});%>
                    </div>
                    <div class="row">
                        <%_.each(m.Alerts.Infos, function(item) {%>
                            <div class="col-md-2 alert alert-<%-item.AlertType%> hidden-xs" data-toggle="tooltip" data-title="<%-item.Alert%> <%-item.Tooltip%>">
                                <span><%-item.Abbreviation%></span>
                            </div>
                        <%});%>
                    </div>
                </div>
            </div>
        </div>
            <%}%>
        </div>
    </div>
</script>
