@model dynamic

<div id="esignature-list-container">
	<table id="esignature-list" class="table centered box">
		<thead>
			<tr>
				<th>#</th>
				<th>Document to sign</th>
				<th>Sent on</th>
				<th>Status</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="esigners-list-container" class="hide">
	<table id="esigners-list" class="table centered box">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th class="IsDirector">Is director</th>
				<th class="IsShareholder">Is shareholder</th>
				<th class="IsSelected">Selected</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="center buttons">
		<input type="checkbox" class="initially-checked document-type" data-template-id="1" id="esign-board-resolution"><label for="esign-board-resolution">Board resolution</label>
		<input type="checkbox" class="initially-checked document-type" data-template-id="2" id="esign-personal-guarantee"><label for="esign-personal-guarantee">Personal guarantee</label>
		<button class="do-send green">Send</button>
		<button class="cancel-send gray">Cancel</button>
	</div>
</div>
