@model dynamic

<div id="esignature-list-container">
	<table id="esignature-list" class="table centered box">
		<thead class="box-title">
			<tr>
				<th></th>
				<th>Document to sign</th>
				<th>Sent on</th>
				<th>Status</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody class="box-content">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="esigners-list-container" class="hide">
	<table id="esigners-list" class="table centered box">
		<thead class="box-title">
			<tr>
				<th class="IsSelected"><i class="fa fa-check-square-o toggle-all-signers" title="Toggle all signers"></i></th>
				<th class="Source"></th>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Phone</th>
				<th class="Address">Address</th>
				<th class="Controls"></th>
			</tr>
		</thead>
		<tbody class="box-content">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="center buttons">
		<button class="btn btn-mini btn-primary add-director"><i class="fa fa-users" /> Add director/shareholder</button>
		<input type="checkbox" class="initially-checked document-type" data-template-id="1" id="esign-board-resolution"><label for="esign-board-resolution">Board resolution</label>
		<input type="checkbox" class="initially-checked document-type" data-template-id="2" id="esign-personal-guarantee"><label for="esign-personal-guarantee">Personal guarantee</label>
		<button class="do-send btn btn-primary"><i class="fa fa-send-o"/> Send</button>
		<button class="cancel-send btn btn-primary"><i class="fa fa-undo"/> Cancel</button>
	</div>

	<div class="alert duplicate-director-detected" style="display: none;">You are going to add a duplicate director.</div>
	<div class=add-director-container></div>
</div>

<div class=templates style="display: none;">
	<button class="esign-send-another btn btn-primary"><i class="fa fa-send-o" /> Send documents</button>

	<button class="esign-poll-status btn btn-primary" title="Poll document status"><i class="fa fa-refresh"/> Reload</button>

	<button class="download-signed-document btn btn-primary" title="Download signed document"><i class="fa fa-download" /> Download</button>

	<button class="toggle-signers btn btn-primary" title="Show/hide signers"><i class="fa fa-navicon" /></button>
</div>
