@model dynamic

@{
    ViewBag.Title = "Configuration Variables";
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/template" id="strategy-detail-settings">
    @StrategySettings()
</script>

@section Js{
    <script type="text/javascript">
        $("#liReports").removeClass("active");
        $("#liApplications").removeClass("active");
        $("#liCAIS").removeClass("active");
        $("#liStrategySettings").addClass("active");
        console.log("Variables view!!!");
    </script>
}


@helper StrategySettings()
{
    @*<table class="table table-bordered table-striped green-header squeezed darker rright span2" >*@
    <div class="alert-block">    
        @*<table class="table table-bordered table-striped blue-header squeezed darker rright" >*@
            <table class="table table-bordered table-striped blue-header squeezed darker">
            <thead>
                <tr>
                    <th colspan="3">Strategy Settings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">EnableAutomaticRejection: </td>
                    <td width="20%">
                        <select name="enableAutomaticRejection" class="selectheight">
                            <option value="0">Disabled</option>
                            <option value="1">Enabled</option>
                        </select>
                    </td>
                    <td name="enableAutomaticRejectionDesc" class="left"></td>
                </tr>                    
                <tr>
                    <td>EnableAutomaticApproval: </td>
                    <td>
                        <select name="enableAutomaticApproval" class="selectheight">
                            <option value="0">Disabled</option>
                            <option value="1">Enabled</option>
                        </select>
                    </td>
                    <td name="enableAutomaticApprovalDesc" ></td>
                </tr>                    
                <tr>
                    <td>LowCreditScore: </td>
                    <td><input name="lowCreditScore" class="input-large"/></td>
                    <td name="lowCreditScoreDesc"></td>
                </tr>                    
                <tr>
                    <td>TotalAnnualTurnover: </td>
                    <td><input name="totalAnnualTurnover" class="input-large"/></td>
                    <td name="totalAnnualTurnoverDesc"></td>
                </tr>                    
                <tr>
                    <td>TotalThreeMonthTurnover: </td>
                    <td><input name="totalThreeMonthTurnover" class="input-large"/></td>
                    <td name="totalThreeMonthTurnoverDesc"></td>
                </tr>                    
            </tbody>
        </table>
    <div class="pull-right">
        <button class="btn" name="SaveBtn" ><i class="icon-ok-sign" />Save</button> 
        <button class="btn" name="CancelBtn" ><i class="icon-remove-sign" />Cancel</button> 
    </div>
    </div>

}