@model dynamic
           
@{ ViewBag.Title = "Payment failure: Payment Failure"; }

<div class="row-fluid " style="padding-top:  20px;">
    <div class="span2">&nbsp;</div>
    <div class="span8">
        <h2>
            There is an issue with your Bank details, please contact customer care, see contact us details.
        </h2>
        <a href='@Url.Action("Index", "Profile", new {Area="Customer"})'  class="btn-continue button btn-green ev-btn-org">Go to My Account</a>
    </div>
</div>