<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Off = 0, RequestCommand = 1, FullRequest = 2, All = 3  -->
    <add key="ServiceActionLogLevel" value="3" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </httpModules>
    <webServices>
      <soapExtensionTypes>
        <add type="Scorto.Web.ExceptionAdapterExtension, ServerLib" priority="1" />
        <add type="Scorto.Web.Security.ScortoAuthorizationExtension, ServerLib" priority="1" />
      </soapExtensionTypes>
      <protocols>
        <clear />
        <add name="HttpSoap" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <customErrors mode="On" />
    <!-- trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/ -->
    <httpRuntime maxRequestLength="102400" />
    <globalization culture="auto" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </modules>
  </system.webServer>
</configuration>