<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="imail_apiSoap" allowCookies="true" sendTimeout="00:10:00">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
            <customBinding>
                <binding name="imail_apiSoap12" sendTimeout="00:10:00">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport allowCookies="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.imail.co.uk/webservice/imail_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="imail_apiSoap"
                contract="IMailApiNS.imail_apiSoap" name="imail_apiSoap" />
            <endpoint address="https://www.imail.co.uk/webservice/imail_api.asmx"
                binding="customBinding" bindingConfiguration="imail_apiSoap12"
                contract="IMailApiNS.imail_apiSoap" name="imail_apiSoap12" />
            <endpoint address="https://www.imailprint.co.uk/webapistd/imail_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="imail_apiSoap"
                contract="IMailNewApiNS.imail_apiSoap" name="imail_newapiSoap" />
            <endpoint address="https://www.imailprint.co.uk/webapistd/imail_api.asmx"
                binding="customBinding" bindingConfiguration="imail_apiSoap12"
                contract="IMailNewApiNS.imail_apiSoap" name="imail_newapiSoap12" />
        </client>
    </system.serviceModel>
</configuration>