<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="imail_apiSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="imail_apiSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="imail_apiSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.imail.co.uk/webservice/imail_api.asmx"
                binding="basicHttpBinding" bindingConfiguration="imail_apiSoap"
                contract="IMailApiNS.imail_apiSoap" name="imail_apiSoap" />
            <endpoint address="https://www.imail.co.uk/webservice/imail_api.asmx"
                binding="customBinding" bindingConfiguration="imail_apiSoap12"
                contract="IMailApiNS.imail_apiSoap" name="imail_apiSoap12" />
        </client>
    </system.serviceModel>
</configuration>