@model dynamic
<script type="text/template" id="loan_editor_template">
    <div class="editloan-freeze-intervals-region"></div>
    <div class="editloan-schedule-region"></div>
    <div class="editloan-item-editor-region"></div>
    <div class="buttons">
        <hr />
        <button class="btn btn-primary pull-right cancel">Cancel</button>
        <button class="btn btn-primary pull-right save" style="margin-right: 10px;">Save Standard Schedule</button>
    </div>
</script>

<script type="text/template" id="loan_editor_schedule_template">
    <h4>Standard Schedule</h4>
    <table class="table table-selected centered" style="white-space: nowrap;">
        <thead class="box">
            <tr class="box-title">
                <th width="90">#</th>
                <th>Date</th>
                <th>Principal</th>
                <th>Balance</th>
                <th>Interest<br />
                    Rate</th>
                <th>Interest</th>
                <th>Fees</th>
                <th>Status</th>
                <th>Total</th>
                <th width="200">Description</th>
            </tr>
        </thead>
        <tbody>
            <%
			_.each(Items, function(item, i) {
				var editClass = editItemIndex == i ? "editing" : "";
				%><tr class="<%= editClass %>">
                    <td><%- i+1 %>&nbsp;<%
						if (item.Editable) { %>
							<button class="btn btn-primary btn-mini edit-schedule-item" data-id="<%- i %>"><i class="fa fa-pencil"></i></button>
                        <%
						}

						if (item.Deletable) { %>
							<button class="btn btn-primary btn-mini remove-schedule-item" data-id="<%- i %>"><i class="fa fa-trash-o"></i></button>
                        <%
						}
					%></td>

                    <td><%- EzBob.formatDateWithoutTime(item.Date) %></td>
                    <%

					if (item.Type == "Fee") {
						%><td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%- EzBob.formatPounds(item.Fees) %></td>
                    <td><%- item.Status %></td>
                    <td></td>
                    <td><%- item.Description %></td>
                    <%
					} else if (item.Type == "Installment") {
						%><td><%- EzBob.formatPounds(item.Principal) %></td>
                    <td><%- EzBob.formatPounds(item.Balance) %></td>
                    <td><%- EzBob.formatPercents (item.InterestRate) %></td>
                    <td><%- EzBob.formatPounds(item.Interest) %></td>
                    <td><%- EzBob.formatPounds(item.Fees) %></td>
                    <td><%- item.Status %></td>
                    <td><%- EzBob.formatPounds(item.Total) %></td>
                    <td></td>
                    <%
					} else if (item.Type == "Pacnet") {
						%><td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%- EzBob.formatPounds(item.Fees) %></td>
                    <td><%- item.Status %></td>
                    <td><%- EzBob.formatPounds(item.Total) %></td>
                    <td><%- item.Description %></td>
                    <%
					} else {
						%><td><%- EzBob.formatPounds(item.Principal) %></td>
                    <td><%- EzBob.formatPounds(item.Balance) %></td>
                    <td><%- EzBob.formatPercents (item.InterestRate) %></td>
                    <td><%- EzBob.formatPounds(item.Interest) %></td>
                    <td><%- EzBob.formatPounds(item.Fees) %></td>
                    <td><%- item.Status %></td>
                    <td><%- EzBob.formatPounds(item.Total) %></td>
                    <td><%- item.Description %></td>
                    <%
					}
				%>
            </tr>
            <%
			});
		%>
        </tbody>
    </table>
    <%
	
	if(HasErrors) {
		%><div class="alert alert-error">
            Following conditions(s) were not satisfied:
			<ul>
                <%
				_.each(Errors, function(e) {
					%><li><%- e %></li>
                <%
				});
			%>
            </ul>
        </div>
    <%
	}

	%><div>
        <button class="btn btn-primary add-installment">Add Installment</button>
        <button class="btn btn-primary add-fee">Add Fee</button>
    </div>
</script>

<script type="text/template" id="loan_editor_preferences_template">
    <div class="container">
        <form>
            <button class="btn btn-primary show" href="#options" data-toggle="collapse">Show advanced options</button>
            <div class="span9 collapse"id="options">
                <h4>Within loan period</h4>
                <div style="padding-left:20px">
                    <input type="radio" class="within-weeks-radio form-control pull-left" name="radio" value="within-weeks">&nbsp;Reschedule to
                    <input class="within-weeks-number form-control disabled" disabled type="number" value="0" min="0" step="1" style="width:100px"> weeks with amount of
                    <input class="within-weeks-amount form-control disabled" disabled type="number" value="0" min="0" step="10" style="width:100px"> and intrest of
                    <input class="within-weeks-intrest form-control disabled" disabled type="number" value="0" min="0" step="0.01" style="width:100px"><br />

                    <input type="radio" class="within-month-radio form-control pull-left" name="radio" value="within-month">&nbsp;Reschedule to
                    <input class="within-month-number form-control disabled" disabled type="number" value="0" min="0" step="1" style="width:100px"> month with amount of
                    <input class="within-month-amount form-control disabled" disabled type="number" value="0" min="0" step="10" style="width:100px"> and intrest of
                    <input class="within-month-intrest form-control disabled" disabled type="number" value="0" min="0" step="0.01" style="width:100px">
                </div>
                <h4>Outside loan payment arangment</h4>
                <div style="padding-left:20px">
                    <div class="alert alert-danger center" style="display: none; text-align: center" id="error">Only numeric values greater then 0 allowed</div>
                    <input type="radio" class="outside-weeks-radio form-control pull-left" name="radio" value="outside-weeks">&nbsp;Reschedule to
                    <input class="outside-weeks-number form-control disabled" disabled type="number" value="0" min="0" step="1" style="width:100px"> weeks with amount of
                    <input class="outside-weeks-amount form-control" type="number" value="0" min="0" step="10" style="width:100px"> and intrest of
                    <input class="outside-weeks-intrest form-control disabled" disabled type="number" value="0" min="0" step="0.01" style="width:100px"><br />

                    <input type="radio" class="outside-month-radio form-control pull-left" name="radio" value="outside-month">&nbsp;Reschedule to
                    <input class="outside-month-number form-control disabled" disabled type="number" value="0" min="0" step="1" style="width:100px"> month with amount of
                    <input class="outside-month-amount form-control" type="number" value="0" min="0" step="10" style="width:100px"> and intrest of
                    <input class="outside-month-intrest form-control disabled" disabled type="number" value="0" min="0" step="0.01" style="width:100px"><br/>
                    
                    <input type="checkbox" class="automatic-charges form-control pull-left" name="automatic-charges" value="automatic-charges">&nbsp;Stop automatic charges after
                    <input class="automatic-charges form-control" type="number" value="0" min="0" step="1" style="width:100px"> payments.<br />
                </div>
                
                <hr>
                <input type="checkbox" class="intrest-calculation form-control pull-left" name="intrest-calculation" value="intrest-calculation">&nbsp;Stop intrest calculation from 
                <input class="intrest-calculation form-control" type="date" style="width:150px"><br />

                <input type="checkbox" class="fees-calculation form-control pull-left" name="fees-calculation" value="fees-calculation">&nbsp;Stop late fees calculation from 
                <input class="fees-calculation form-control" type="date" style="width:150px"><br />

                <button class="btn btn-primary submit-btn">Submit</button>
            </div>
        </form>
    </div>
</script>

<td>
    <input class="new-freeze-interval-start form-control" type="date" />
</td>
<td>
    <input class="new-freeze-interval-end form-control" type="date" />
</td>
<td class="right">
    <input class="new-freeze-interval-rate form-control" type="number" value="0" min="0" step="0.01" />%
</td>
<td class="centered">
    <button class="btn btn-mini add-freeze-interval btn-primary"><i class="fa fa-plus-circle"></i></button>
</td>