@using EzBob.Web.Infrastructure.Html
@model dynamic
<script id="loan_editor_edit_installment_template" type="text/template">
    <form id="installment-edit-form" class="form-horizontal">
        <div class="col-md-6">

            <div class="control-group">
                <label class="control-label">Date:</label>
                <div class="control">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" id="installment-edit-date" class="form-control" name="date">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="control">
                    <% if (!IsAdding) {%>
                            <label class="checkbox shift-installments span5">
                                <input type="checkbox" value="">
                                Shift Dates for all subsequent installments
                            </label>
                    <%}%>
                </div>
            </div>

            @EzHtml.InputText().Label("Principal:").Id("installment-edit-repaymentAmount").Name("loanRepayment").Class("form-control").DataContent("Principal, that customer still needs to pay.").Render()

            @EzHtml.InputText().Label("Total:").Id("installment-edit-totalAmount").Name("totalRepayment").Class("form-control").DataContent("Total amount to pay.").Render()

            @EzHtml.InputText().Label("Balance:").Id("installment-edit-balance").Name("balance").Class("form-control").DataContent("The Balance of loan, that is expected to be after successful payment.").Render()

            <div class="control-group">
                <label class="control-label">Interest Rate:</label>
                <div class="controls controls-row">
                    <input type="text" id="installment-edit-interestRate" name="interestRate" class="form-control">
                    <% if (!IsAdding) {%>
                    <label class="checkbox shift-rates span5">
                        <input type="checkbox" value="">
                        Shift Interest Rates for all subsequent installments
                    </label>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <button class="btn btn-primary cancel pull-right">Cancel</button>
            <button class="btn btn-primary apply pull-right" style="margin-right: 10px;">Apply</button>
        </div>
    </form>
</script>
