@using System.Collections.Generic
@model dynamic
<script type="text/template" id="loan_editor_template">

    <div class="row Container" style="width:1200px; margin-top:40px; margin-left:40px">
        <div class="col-sm-8">
            <form class="form-inline" role="form" id="form-reschedule" onsubmit="return false;">

                <div class="row">
                    <h5><input type="radio" name="rescheduleIn" value="true" id="radio-1" style="vertical-align: top; margin-top: 7px;"><label for="radio-1" style="margin-left:15px;">Within loan period</label></h5>
                </div>

                <div class="row" id="within-div">
                    <div class="col-sm-11 col-sm-offset-1">
                        <span class="float_left" style="vertical-align: top;">                            
                            <span style="width: 150px; margin-top: -10px; display: inline-block">
                                <select class="form-control" id="withinSelect" style="width: 150px; border-color: black;">
                                    <option value="month">Month</option>
                                    <option value="weeks">Week</option>
                                </select>
                                <span style="margin-left: 10px;">Re-schedule interval</span>
                            </span>
                        </span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span id="withinPayments" class="border-span"></span>
                                <span style="margin-left: 40px;">#Payments</span>
                            </span>
                        </span>
                        <span class="reg-span" style="margin-top: -10px;">of</span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span id="withinPrincipal" class="border-span"></span>
                                <span style="margin-left: 48px;">£Principal</span>
                            </span>
                        </span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span id="withinIntrest" class="border-span"></span>
                                <span style="margin-left: 50px;">£Interest</span>
                            </span>
                        </span>
                        <span class="float_left" style="margin-left: 10px; margin-top: 15px;">
                            <div class="input-group">
                                <span style="margin-left: 270px;">Start reschedule from:</span>
                                <span class="input-group-addon" style="display: inline; margin-left: 20px;"><i class="fa fa-calendar"></i></span>
                                <input class="form-control input-width" type="text" id="within-calendar-from">
                            </div>
                        </span>                      
                    </div>
                </div>

                <div class="row">
                    <h5><input type="radio" name="rescheduleIn" value="false" id="radio-2" style="vertical-align: top; margin-top: 7px;"><label for="radio-2" style="margin-left: 15px;">Outside loan payment arangment</label></h5>
                </div>

                <div class="row" style="margin-bottom: 15px;" id="outside-div">
                    <div class="col-sm-11 col-sm-offset-1">
                        <span class="float_left" style="vertical-align: top;">                            
                            <span style="width: 150px; margin-top: -10px; display: inline-block">
                                <select class="form-control" id="outsideSelect" style="width: 150px; border-color: black;">
                                    <option value="month">Month</option>
                                    <option value="weeks">Week</option>
                                </select>
                                <span style="margin-left: 10px;">Re-schedule interval</span>
                            </span>
                        </span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span id="outsidePayments" class="border-span"></span>
                                <span style="margin-left: 40px;">#Payments</span>
                            </span>
                        </span>
                        <span class="reg-span" style="margin-top: -10px;">of</span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span class="input-symbol-euro"><input class="form-control input-width err-field-black" type="text" id="outsidePrincipal" style="width:120px; margin-left: 20px; margin-bottom:0px;text-align: center;"></span>
                                <span style="margin-left: 48px;">£Principal</span>
                            </span>
                        </span>
                        <span class="float_left" style="vertical-align: top;">
                            <span style="width: 130px; margin-top: -10px; display: inline-block">
                                <span id="outsideIntrest" class="border-span"></span>
                                <span style="margin-left: 50px;">£Interest</span>
                            </span>
                        </span>					
						<span class="float_left" style="margin-left: 10px; margin-top: 15px;">							
								<span style="margin-left: 120px;">
									<input type="checkbox" name="StopFutureInterest" id="outside-stop-future-interest">
									<span style="margin-left:10px; vertical-align: sub;">Stops all future interest accumulation since the last made payment</span>
								</span>	
						</span>						
						<span class="float_left" style="margin-left: 10px; margin-top: 15px;">
							<div class="input-group">
								<span style="margin-left: 270px;">Start reschedule from:</span>
								<span class="input-group-addon" style="display: inline; margin-left: 20px;"><i class="fa fa-calendar"></i></span>
								<input class="form-control input-width" type="text" id="outside-calendar-from">
							</div>
						</span>  				
                    </div>
                </div>
				<div class="editloan-actions-region" id="editloan-actions-region">
					<div class="row">
						<span class="float_left">
							Stop automatic charges after
						</span>
						<select id="LoanFutureScheduleItemsDDL" name="LoanFutureScheduleItemsDDL" class="LoanFutureScheduleItemsDDL form-control selectheight pull-left" data-placeholder=""></select>
						<span class="float_left">
							&nbsp;payments.&nbsp;
						</span>
						<button class="btn btn-primary pull-left" id="charges-save-btn" style="  margin-right: 10px;">Save</button>
					</div>
					<div class="row" style="margin-bottom: 15px;">
						<span style="display: none; font-weight: bold;" id="stop-charges"><button class="btn btn-primary btn-mini remove-auto-charges"><i class="fa fa-trash-o"></i></button><span class="bin-text">Auto charges are</span><span id="stop-charges-date"></span></span>
					</div>
					<div class="row" style="margin-bottom: 15px;">
						<span class="float_left">
							Stop late fees calculation from
						</span>
						<span class="float_left">
							<div class="input-group">
								<span class="input-group-addon" style="display: inline"><i class="fa fa-calendar"></i></span>
								<input class="form-control input-width" type="text" id="fees-calendar-from">
							</div>
						</span>
						<span class="float_left">
							&nbsp;until&nbsp;
						</span>
						<span class="float_left">
							<div class="input-group">
								<span class="input-group-addon" style="display: inline"><i class="fa fa-calendar"></i></span>
								<input class="form-control input-width" type="text" id="fees-calendar-to">
							</div>
						</span>
						<button class="btn btn-primary pull-left" id="fees-save-btn" style="  margin-right: 10px;">Save</button>
					</div>
					<div class="row" id="fees-dates" style="margin-bottom: 20px; display: none;">
						<div class="row">
							<button class="btn btn-primary btn-mini" id="fees-delete-btn"><i class="fa fa-trash-o"></i></button>
							<span class="bin-text">This loan's fee is stoped from</span>
							<span style="font-weight: bold" id="fees-date-from"></span>
							<span id="fees-delete-btn-until-text" style="display:none;">until</span>
							<span style="font-weight: bold" id="fees-date-to"></span>
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<span class="float_left">
							Stop intrest calculation from
						</span>
						<span class="float_left" style="margin-left: 13px;">
							<div class="input-group">
								<span class="input-group-addon" style="display: inline"><i class="fa fa-calendar"></i></span>
								<input class="form-control input-width" type="text" id="intrest-calendar-from">
							</div>
						</span>
						<span class="float_left">
							&nbsp;until&nbsp;
						</span>
						<span class="float_left">
							<div class="input-group">
								<span class="input-group-addon" style="display: inline"><i class="fa fa-calendar"></i></span>
								<input class="form-control input-width" type="text" id="intrest-calendar-to"><br />
							</div>
						</span>
						<button class="btn btn-primary pull-left" id="intrest-save-btn" style="  margin-right: 10px;">Save</button>
					</div>
					<div class="row" style="margin-top: -39px;">
						<%if(hasFreezInterest===true){ %>
						<br />
						<%
						_.each(SInterestFreeze, function(item, idx) {
						var ary = item.split('|');
						if (ary[4] === ''){
						%>
						<div class="row">
							<button class="btn btn-primary btn-mini remove-freeze-interval" data-id="<%- ary[5] %>"><i class="fa fa-trash-o"></i></button>
							<span class="bin-text">This loan's intrest is stoped from</span>
							<span style="font-weight: bold"><%- EzBob.formatDateWithoutTime(ary[0]) %></span>
							<% if (ary[1] !=="2099-01-01"){%>
							<span>until</span>
							<span style="font-weight: bold"><%- EzBob.formatDateWithoutTime(ary[1]) %></span>
							<%}%>
						</div>
						<%	}});}	%>
					</div>
				</div>
                <div class="row">
                    <button class="btn btn-primary pull-right cancel" id="resch-cancel-btn">Cancel</button>
                    <button class="btn btn-primary pull-right" id="resch-submit-btn" style="  margin-right: 10px;">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="row err-region" id="err-region" style="display: none">
                <h4><div class="row" id="err-head" style="color:red;"></div></h4>
                <div class="row" id="err-body"></div>
                <hr />
                <div class="row" id="err-footer"></div>
            </div>
        </div>
    </div>


	<div class="editloan-schedule-region" style="overflow-y: scroll;height:500px;"></div>
    <div class="editloan-item-editor-region"></div>
    <div class="buttons">
        <hr />
        <button class="btn btn-primary pull-right cancel">Cancel</button>
        <button class="btn btn-primary pull-right save" style="margin-right: 10px;">Save Standard Schedule</button>
    </div>
</script>

<script type="text/template" id="loan_editor_schedule_template">

    <h4>Loan Info</h4>
    <table class="table table-selected centered" style="white-space: nowrap;">
        <thead class="box">
            <tr class="box-title">
                <th width="90">#</th>
                <th>Date</th>
                <th>Principal</th>
                <th>Balance</th>
                <th>
                    Interest<br />
                    Rate
                </th>
                <th>Interest</th>
                <th>Fees</th>
                <th>Status</th>
                <th>Total</th>
                <th width="200">Description</th>
            </tr>
        </thead>
        <tbody>
            <%
            _.each(Items, function(item, i) {
            var editClass = editItemIndex == i ? "editing" : "";

			var editElementClass = "edit-schedule-item";
			var removeElementClass = "remove-schedule-item";

			if(item.Type == "Fee") {
				editElementClass = "edit-fee-item" ; 
				removeElementClass = "remove-fee-item";
			}
			
			if(item.Type == "Paypoint"){				
				removeElementClass = "remove-payment-item";
			}

            %>
            <tr class="<%= editClass %>">
                <td>
                    <%- i+1 %>&nbsp;<%
                    if (item.Editable) { %>                  
					<button class="btn btn-primary btn-mini <%- editElementClass %>" data-id="<%- i %>"><i class="fa fa-pencil"></i></button>
					@* <button class="btn btn-primary btn-mini edit-schedule-item" data-id="<%- i %>"><i class="fa fa-pencil"></i></button>*@
                    <%
                    }

                    if (item.Deletable) { %>
					<button class="btn btn-primary btn-mini <%- removeElementClass %>" data-id="<%- i %>"><i class="fa fa-trash-o"></i></button>
                    <%
                    }
                    %>
                </td>

                <td style="text-align: center"><%- EzBob.formatDateWithoutTime(item.Date) %></td>
                <%

                if (item.Type == "Fee") {
                %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Fees) %></td>
                <td style="text-align: center"><%- item.Status %></td>
                <td></td>
                <td style="text-align: center"><%- item.Description %></td>
                <%
                } else if (item.Type == "Installment") {
                %>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Principal) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Balance) %></td>
                <td style="text-align: center"><%- EzBob.formatPercents (item.InterestRate) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Interest) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Fees) %></td>
                <td style="text-align: center"><%- item.Status %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Total) %></td>
                <td></td>
                <%
                } else if (item.Type == "Pacnet") {
                %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Fees) %></td>
                <td style="text-align: center"><%- item.Status %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Total) %></td>
                <td style="text-align: center"><%- item.Description %></td>
                <%
                } else {
                %>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Principal) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Balance) %></td>
                <td style="text-align: center"><%- EzBob.formatPercents (item.InterestRate) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Interest) %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Fees) %></td>
                <td style="text-align: center"><%- item.Status %></td>
                <td style="text-align: center"><%- EzBob.formatPounds(item.Total) %></td>
                <td style="text-align: center"><%- item.Description %></td>
                <%
                }
                %>
            </tr>
            <%
            });
            %>
        </tbody>
    </table>
    <%

    if(HasErrors) {
    %>
    <div class="alert alert-error">
        Following conditions(s) were not satisfied:
        <ul>
            <%
            _.each(Errors, function(e) {
            %>
            <li><%- e %></li>
            <%
            });
            %>
        </ul>
    </div>
    <%
    }

    %>
    <div>
        @*<button class="btn btn-primary add-installment">Add Installment</button>*@
        <button class="btn btn-primary add-fee">Add Fee</button>
    </div>
</script>