@model dynamic

<img src="@Url.Content("~/Content/css/images/live_help.jpg")" alt="Need help? Click here to use our live chat service" onclick="$('.LPMimage').click()" class="need-help-image" />

<div style="margin: 10px 0; font-size: 16px;">
    <strong>Phone:</strong> 0800 011 4787<br>
    <strong>Email:</strong> <a target="_blank" href="mailto:customercare@ezbob.com">customercare@ezbob.com</a>
</div>

<br />
<label class="security_header_style">Your data is safe with us</label>
<br />
<label>Protecting your data is our top priority. We use the highest level of encryption, and never see, have access to, or store any of your passwords.</label>
<ul class="secure_icons">
    <li class="lock-image">
        <img src="@Url.Content("~/Content/css/images/lock_64.png")" alt="Safe and Secure" />
    </li>
    <li class="verisign_seal">
        <!-- <script src="https://seal.verisign.com/getseal?host_name=www.ezbob.com&size=S&use_flash=NO&use_transparent=NO&lang=en" type="text/javascript"></script> !-->
        <a tabindex="-1" href="javascript:vrsn_splash()">
            <img alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" oncontextmenu="return false;" src="https://seal.verisign.com/getseal?at=0&sealid=2&dn=www.ezbob.com&lang=en" name="seal">
        </a>
        
    </li>
    <li class="truste_seal">
        @{ Html.RenderPartial("_Truste"); }
    </li>
</ul>
