@model dynamic

<a href="#">
    <img src="@Url.Content("~/Content/css/images/live_help.jpg")" alt="Need help? Click here to use our live chat service" />
</a>

<div style="margin: 10px 0; font-size: 16px;">
    <strong>Call:</strong> 0800 011 4787<br>
    <strong>Email:</strong> <a href="mailto:customercare@ezbob.com">customercare@ezbob.com</a>
</div>

<br />
<hr />
<br />

<p style="font-size: 11px;">
    <img src="@Url.Content("~/Content/css/images/lock_64.png")" class="alignleft" style="margin: 0px 10px 25px 0;" alt="Safe and Secure">We never see, have access, or store any of your passwords to your shops and payment accounts. We use the information for one purpose only, to determine your eligibility.
</p>
<ul class="secure_icons">
    <li class="verisign_seal">
        <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.ezbob.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"> </script>
    </li>
    <li class="truste_seal">
        <div id="05e2e3f7-3f8d-4968-b85e-c0d6ba74d080" class="truste-container">
            <script type="text/javascript" src="//privacy-policy.truste.com/privacy-seal/Orange-Money/asc?rid=05e2e3f7-3f8d-4968-b85e-c0d6ba74d080"> </script>
            <a href="//privacy.truste.com/privacy-seal/Orange-Money/validation?rid=2cd8c34b-8ee6-47c9-8f75-10998cf23ad9" title="TRUSTe online privacy certification" target="_blank">
                <img style="border: none" src="//privacy-policy.truste.com/privacy-seal/Orange-Money/seal?rid=2cd8c34b-8ee6-47c9-8f75-10998cf23ad9" alt="TRUSTe online privacy certification" />
            </a>
        </div>
    </li>
</ul>