@model dynamic

@{
	Layout = null;
	var origin = @ViewBag.CustomerOrigin.GetOrigin();
    var verisignUrl = string.Format("https://seal.verisign.com/getseal?at=0&sealid=2&dn=test.{0}.com&lang=en&tpt=transparent", origin);
  
}

<div class="security-icons">
	
	<div class="item">
		<div class="icon"></div>
		<div class="text truste">
			<div id="05e2e3f7-3f8d-4968-b85e-c0d6ba74d080">
				<a href="//privacy.truste.com/privacy-seal/Orange-Money/validation?rid=2cd8c34b-8ee6-47c9-8f75-10998cf23ad9" title="TRUSTe online privacy certification" target="_blank">
					<img src="//privacy-policy.truste.com/privacy-seal/Orange-Money/seal?rid=2cd8c34b-8ee6-47c9-8f75-10998cf23ad9" alt="TRUSTe online privacy certification" />
				</a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="icon"></div>
		<div class="text verisign">
			<a href="javascript:vrsn_splash()">
				<img alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" width="100" height="72" src="@verisignUrl" name="seal">
			</a>
		</div>
	</div>
	<div class="item">
		<div class="text lock-icon">
			<img src="/Content/img/security-padlock.svg"/>
		</div>
	</div>
</div>

