<div class="customer-sidebar-content">
	<a href="tel:08000114787"><div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Call now</h3>
			0800 011 4787
		</div>
	</div></a>

	<a href="#"><div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Chat now</h3>
			Experts online will answer
		</div>
	</div></a>

	<a target="_blank" href="mailto:customercare@ezbob.com"><div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Email us</h3>
			customercare@ezbob.com
		</div>
	</div></a>

	<div class="item">
		<div class="icon">
			<img src="@Url.Content("~/Content/css/images/lock_64.png")" alt="Safe and Secure" />
		</div>
		<div class="text">
			<h3>Fully secured</h3>

			<div class="security-seals">
				<div class="verisign-seal">
					Verisign
				</div>
				<div class="truste-seal">
					Truste
				</div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Award winning</h3>
			Supported by EU funding programme
		</div>
	</div>

	<div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Satisfied customers</h3>
			Join thousands of returning customers
		</div>
	</div>

	<div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Faster platform</h3>
			ezbob is the fastest loan system available
		</div>
	</div>

	<div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Competitive prices</h3>
			Our rates are very competitive
		</div>
	</div>

	<div class="item">
		<div class="icon"></div>
		<div class="text">
			<h3>Perks to clients</h3>
			ezbob tries to be generous, try us out!
		</div>
	</div>
</div>
