@using EZBob.DatabaseLib
@using EZBob.DatabaseLib.Model
@using EZBob.DatabaseLib.Model.Database
@using EzBob.CommonLib
@using EZBob.DatabaseLib
@using EzBob.Web.Models.Strings
@using StructureMap
@model dynamic
@{
    var oCfg = ObjectFactory.GetInstance<IConfigurationVariablesRepository>();
    var bIsAuth = User.Identity.IsAuthenticated;
    var marketingDefault = new HtmlString(DbStrings.MarketingDefault); 
}

<div class="marketing_container">
    <div class="marketing_message">
        <div>
            <strong>
                <span style="font-size: 20px">
                    @{
                        if (DBConfigurationValues.Instance.DisplayEarnedPoints && bIsAuth)
                        {
                            var oDBHelper = ObjectFactory.GetInstance<IDatabaseDataHelper>() as DatabaseDataHelper;
                            Customer oCustomer = oDBHelper == null ? null : oDBHelper.FindCustomerByEmail(User.Identity.Name.Trim());

                            if (oCustomer != null)
                            {
                                WriteLiteral(string.Format("<text id=EarnedPoints>{0:N0}</text><br>points<br>earned", oCustomer.LoyaltyPoints()));
                            } // if customer found
                        } // if authorised
                    }
                    
                    <span id="marketingProggress" style="display: none"></span>
                    <span id="defaultMarketing">@(new HtmlString(DbStrings.MarketingDefault))</span>
                </span>
            </strong>
        </div>
    </div>
</div>
