@model dynamic

<div class="marketing_container">
    <div class="marketing_message">
        <p><strong><span style="font-size: 20px">Sign up is <br />Free,<br />Fast and <br />Secure</span></strong></p>
    </div>
</div>