@model dynamic

<div class="estimate_container">
    <div class="loan_estimate">
        <p><strong>Estimated Loan Amount</strong></p>
        <img src="@Url.Content("~/Content/css/images/pound.png")">&nbsp;&nbsp;<span class="large">0</span>
    </div>
    <div class="ezbob_points">
        <p><strong>EZBOB Points</strong></p>
        <img src="@Url.Content("~/Content/css/images/points.png")">&nbsp;&nbsp;<span class="large">200</span>
    </div>
</div>