@model dynamic

<div class="marketing_container">
    <div class="marketing_message">
        <p><strong><span class="large">Sign up is Fast, Free, Secure, with no obligations</span></strong></p>
    </div>
</div>