<div>
    <ul class="eu_icon">
        <li>
            <img src="@Url.Content("~/Content/css/images/eu.png")" />
        </li>
        <li class="textli">
            <label class="upper">Authorised</label>
            <br />
            <label class="lower">by the EU</label>
        </li>
    </ul>
    <hr/>
</div>
