<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MailChimpAPIconfig" type="PerceptiveMCAPI.MCAPISettings, PerceptiveMCAPI"/>
	</configSections>

	<appSettings>
		<!--<add key="apikey" value="c89b8918e6eb36c608527dfc06b7ff74-us6"/>-->
		<!-- Stas Mail Chimp Test-->
		<add key="apikey" value="819034a89de7e96777ea86866a7bdcaf-us6"/>
		<!-- Ezbob Mail Chimp Production-->
		<add key="retrieveStats" value="false"/>
	</appSettings>

	<connectionStrings configSource="connection-strings.xml" />

	<MailChimpAPIconfig>
		<!--<MCAPI apikey="c89b8918e6eb36c608527dfc06b7ff74-us6"  />-->
		<!-- Stas Mail Chimp Test-->
		<MCAPI apikey="819034a89de7e96777ea86866a7bdcaf-us6"/>
		<!-- Ezbob Mail Chimp Production-->
	</MailChimpAPIconfig>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
