<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MailChimpAPIconfig" type="PerceptiveMCAPI.MCAPISettings, PerceptiveMCAPI"/>
	</configSections>

	<appSettings>
		<!--<add key="apikey" value="c89b8918e6eb36c608527dfc06b7ff74-us6"/>-->
		<!-- Stas Mail Chimp Test-->
		<add key="apikey" value="819034a89de7e96777ea86866a7bdcaf-us6"/>
		<!-- Ezbob Mail Chimp Production-->
		<add key="retrieveStats" value="false"/>
	</appSettings>

	<connectionStrings>
		<add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
		<add name="dev-alexbo" connectionString="Server=localhost;Database=ezbob;User Id=ezbobuser;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
		<add name="production-stasd" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
		<add name="production-auto_exec" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<MailChimpAPIconfig>
		<!--<MCAPI apikey="c89b8918e6eb36c608527dfc06b7ff74-us6"  />-->
		<!-- Stas Mail Chimp Test-->
		<MCAPI apikey="819034a89de7e96777ea86866a7bdcaf-us6"/>
		<!-- Ezbob Mail Chimp Production-->
	</MailChimpAPIconfig>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
