@{
    ViewBag.Title = "BetaTesterPreContract";
}
<h2>
    BETA TESTER AMENDMENT</h2>
<div class="beta-tester">
    <p>
        As a participant in our beta-testing program, the terms and conditions set forth
        in the Pre-Contract Credit Information in this document are hereby modified as indicated
        below. If you chose to accept a loan from us, the loan agreement will include the
        same modifications.</p>
    <p>
        1. We will not charge you a Set-Up Fee.</p>
    <p>
        2. We will not charge you, at any time, any late fees, default fees, collection
        fees or any other amounts in connection with this Agreement.</p>
    <p>
        3. Interest shall not accrue on the Loan Amount.</p>
    <p>
        4. Your only obligation to Us is to repay a portion of the Loan Amount in an amount
        equal to 100 GBP within 24 hours of the date hereof (“Beta Repayment Amount”).
    </p>
    <p>
        5. We may, at our discretion, debit your Primary Payment Account, Alternative Payment
        Account or advise you to directly make payment of the Beta Repayment Amount using
        your debit card. We will advise you in writing in advance as to the form of repayment
        of the Beta Repayment Amount.</p>
    <p>
        6. Upon Our receipt of the Beta Repayment Amount, the remainder of the Loan Amount
        shall be deemed to be a payment by Us to You in consideration for Your agreement
        to participate in the beta testing of Our product. You will not owe Us any additional
        amounts (other than the Beta Repayment Amount) and this Agreement will be terminated,
        cancelled and of no further effect. You will be entitled to keep, with no further
        obligation to Us, the 100 GBP.</p>
    <p>
        7. You agree to treat confidentially Your participation in the beta-testing of Our
        product and not to disclose the terms and benefits you received hereunder to others,
        without Our consent.</p>
    <p>
        8. You agree to provide reasonable feedback regarding Our product and Your experience
        with Us in response to our questions to You.</p>
</div>
