<center><h2>BETA TESTER AMENDMENT</h2></center>
<table border="1">
    <tr>
        <td style="padding:10px;">
            <div class="beta-tester">
                <p  style="text-align: justify" >
                    In consideration of Your participation in the beta-testing of Our product, The terms
                    and conditions of this business Loan Agreement are hereby amended and modified as
                    follows:</p>
                <p  style="text-align: justify" >
                    1. We will not charge you a Set-Up Fee.</p>
                <p  style="text-align: justify" >
                    2. We will not charge you, at any time, any late fees, default fees, collection
                    fees or any other amounts in connection with this Agreement.</p>
                <p  style="text-align: justify" >
                    3. Interest shall not accrue on the Loan Amount.</p>
                <p  style="text-align: justify" >
                    4. Your only obligation to Us is to repay a portion of the Loan Amount in an amount
                    equal to <span class="GBP">100 GBP</span> within 24 hours of the date hereof (“<span>Beta Repayment Amount</span>”).
                </p>
                <p  style="text-align: justify" >
                    5. We may, at our discretion, debit your Primary Payment Account, Alternative Payment
                    Account or advise you to directly make payment of the Beta Repayment Amount using
                    your debit card. We will advise you in writing in advance as to the form of repayment
                    of the Beta Repayment Amount.</p>
                <p  style="text-align: justify" >
                    6. Upon Our receipt of the Beta Repayment Amount, the remainder of the Loan Amount
                    shall be deemed to be a payment by Us to You in consideration for Your agreement
                    to participate in the beta testing of Our product. You will not owe Us any additional
                    amounts (other than the Beta Repayment Amount) and this Agreement will be terminated,
                    cancelled and of no further effect. You will be entitled to keep, with no further
                    obligation to Us, the <span class="GBP">100 GBP.</span></p>
                <p  style="text-align: justify" >
                    7. You agree to treat confidentially Your participation in the beta-testing of Our
                    product and not to disclose the terms and benefits you received hereunder to others,
                    without Our consent.</p>
                <p  style="text-align: justify" >
                    8. You agree to provide reasonable feedback regarding Our product and Your experience
                    with Us in response to our questions to You.</p>
                </div>
        </td>
    </tr>
</table>
