Debug/
obj/
Obj/
_ReSharper*/
*.suo
*.csproj.user
*.ReSharper.user
*.sln.*.user
*.sln.cache
drop-create*.bat
Logs/
*.orig
DataBaseScripts/Oracle/MIGRATION/*.log
DataBaseScripts/Oracle/MIGRATION/*.bad
*.slp
*.sds
*.csproj.DotSettings.user
App/EzBob.Web/EzBob.Web/EzBob.Web.Publish.xml
App/PluginWeb/PluginWebApp/Scripts/min/*.js
App/PluginWeb/PluginWebApp/CSS/combined_*.css
App/PluginWeb/PluginWebApp/bin/
Items/Publisher
App/PluginWeb/EzBob.Web/Content/css/combined_*.css
App/PluginWeb/EzBob.Web/Content/js/min/jslib_*.js
*.coffee.squishit.debug.js
*.less.squishit.debug.css
ezTest/img/*
App/PluginWeb/EzBob.Web/Content/js/min/*.js
App/PluginWeb/EzBob.Web/Content/css/min/*.css
App/PluginWeb/EzBob.Web/bin/
Tools/DownloadScript/run.log
Tools/IncrementalUpdate/run.log
Tools/IncrementalUpdate/run.log.*
Tools/DownloadScript/run.log.*
App/service/agent/ChannelGrabberAPI.dll
App/service/agent/Volusion.dll
App/service/agent/ChannelGrabberAPI.dll
