*.DotSettings
*.ReSharper.user
*.coffee.squishit.debug.js
*.csproj.DotSettings.user
*.csproj.user
*.less.squishit.debug.css
*.log
*.orig
*.sds
*.sln.*.user
*.sln.cache
*.slp
*.suo
App/EzReporting/EzReportToEMail/bin
App/EzReporting/EzReportToEMail/obj
App/EzReporting/EzReportsWeb/Properties/PublishProfiles/EzReportingWeb2.pubxml
App/EzReporting/EzReportsWeb/Properties/PublishProfiles/EzReportingWeb2.pubxml.user
App/EzReporting/EzReportsWeb/bin
App/EzReporting/ReportAuthenticationLib/bin
App/EzReporting/ReportAuthenticationLib/obj
App/EzReporting/Reports/bin
App/EzReporting/Reports/obj
App/EzReporting/~$ReportingDoc.docx
App/PluginWeb/EzBob.Web/Content/css/combined_*.css
App/PluginWeb/EzBob.Web/Content/css/min/*.css
App/PluginWeb/EzBob.Web/Content/js/min/*.js
App/PluginWeb/EzBob.Web/Content/js/min/jslib_*.js
App/PluginWeb/EzBob.Web/Properties/PublishProfiles/EzBob.Release.pubxml.user
App/PluginWeb/EzBob.Web/Properties/PublishProfiles/EzBob.Test.pubxml.user
App/PluginWeb/EzBob.Web/bin/
App/PluginWeb/PluginWebApp/CSS/combined_*.css
App/PluginWeb/PluginWebApp/Scripts/min/*.js
App/PluginWeb/PluginWebApp/bin/
App/Utils/EzEnvironment/bin
App/Utils/EzEnvironment/obj
DataBaseScripts/Oracle/MIGRATION/*.bad
DataBaseScripts/Oracle/MIGRATION/*.log
Debug/
Integration/EchoSign/EchoSoapDemo/EchoSoap.exe
Integration/EchoSign/EchoSoapDemo/EchoSoap.pdb
Items/Publisher
Logs/
Obj/
_ReSharper*/
bin/
drop-create*.bat
ezTest/img/*
obj/
packages/
App/EzReporting/EzReportsWeb/connection-strings.xml
App/PluginWeb/EzBob.Web/connection-strings.xml
App/EzReporting/EzReportsWeb/Properties/PublishProfiles/LocalPublish.pubxml.user
App/EzTvDashboard/EzTvDashboard/Properties/PublishProfiles/TvDashboard.pubxml.user
