Debug/
obj/
Obj/
bin/
_ReSharper*/
*.suo
*.csproj.user
*.ReSharper.user
*.sln.*.user
*.sln.cache
drop-create*.bat
Logs/
*.orig
DataBaseScripts/Oracle/MIGRATION/*.log
DataBaseScripts/Oracle/MIGRATION/*.bad
*.slp
*.sds
*.csproj.DotSettings.user
App/PluginWeb/PluginWebApp/Scripts/min/*.js
App/PluginWeb/PluginWebApp/CSS/combined_*.css
App/PluginWeb/PluginWebApp/bin/
Items/Publisher
App/PluginWeb/EzBob.Web/Content/css/combined_*.css
App/PluginWeb/EzBob.Web/Content/js/min/jslib_*.js
*.coffee.squishit.debug.js
*.less.squishit.debug.css
ezTest/img/*
App/PluginWeb/EzBob.Web/Content/js/min/*.js
App/PluginWeb/EzBob.Web/Content/css/min/*.css
App/PluginWeb/EzBob.Web/bin/
*.log
App/EzReporting/~$ReportingDoc.docx
App/EzReporting/EzReportsWeb/bin
App/EzReporting/EzReportToEMail/bin
App/EzReporting/EzReportToEMail/obj
App/EzReporting/ReportAuthenticationLib/bin
App/EzReporting/ReportAuthenticationLib/obj
App/EzReporting/Reports/bin
App/EzReporting/Reports/obj
App/EzReporting/Reports/bin
App/EzReporting/Reports/obj
App/Utils/EzEnvironment/bin
App/Utils/EzEnvironment/obj
App/EzReporting/EzReportsWeb/Properties/PublishProfiles/EzReportingWeb2.pubxml
App/EzReporting/EzReportsWeb/Properties/PublishProfiles/EzReportingWeb2.pubxml.user
*.DotSettings
packages/
App/PluginWeb/EzBob.Web/Properties/PublishProfiles/EzBob.Release.pubxml.user
App/PluginWeb/EzBob.Web/Properties/PublishProfiles/EzBob.Test.pubxml.user
Integration/EchoSign/EchoSoapDemo/EchoSoap.exe
Integration/EchoSign/EchoSoapDemo/EchoSoap.pdb
