<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="appConfig" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings configSource="connection-strings.xml" />

	<appConfig>
		<!-- int, in thousands, greater than 0 (i.e. 50 means 50000). -->
		<add key="AmountGranularity" value="50" />

		<!-- comma separated list of emails. -->
		<add key="Emails" value="alexbo+foam@ezbob.com,alexbo+foam@everline.com" />

		<!-- Sleep interval in minutes. Int, greater than 0. -->
		<add key="Sleep" value="5" />
	</appConfig>

	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="c:\temp\logs\EzFoam.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyy-MM-dd" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="100MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level U%5property{UserId};C%5property{CustomerId};%5property{StrategyType} %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>
