@model dynamic

<script type="text/template" id="approval-settings-template">
    @ApprovalSettings()
</script>

@helper ApprovalSettings()
{
    <form>
        <div class="alert-block">
            <table class="table squeezed">
                <thead class="box">
                    <tr class="title box-title">
                        <th colspan="3" >Approval Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">EnableAutomaticApproval: </td>
                        <td width="20%">
                            <select name="enableAutomaticApproval" class="form-control selectheight">
                                <option value="0">Disabled</option>
                                <option value="1">Enabled</option>
                            </select>
                        </td>
                        <td class="left"><%- EnableAutomaticApprovalDesc %></td> 
                    </tr>  
                    <tr>
                        <td width="20%">EnableAutomaticReApproval: </td>
                        <td width="20%">
                            <select name="enableAutomaticReApproval" class="form-control selectheight">
                                <option value="0">Disabled</option>
                                <option value="1">Enabled</option>
                            </select>
                        </td>
                        <td class="left"><%- EnableAutomaticReApprovalDesc %></td> 
                    </tr>                    
                    <tr>
                        <td>MaxCapHomeOwner: </td>
                        <td><input name="maxCapHomeOwner" class="form-control"/></td>
                        <td ><%- MaxCapHomeOwnerDesc %></td>
                    </tr>                    
                    <tr>
                        <td>MaxCapNotHomeOwner: </td>
                        <td><input name="maxCapNotHomeOwner" class="form-control"/></td>
                        <td ><%- MaxCapNotHomeOwnerDesc %></td>
                    </tr>                    

                    

                </tbody>
            </table>
            <div class="buttons_container">
                <button class="btn btn-primary" name="SaveApprovalSettings" ><i class="fa fa-check-circle" />Save</button> 
                <button class="btn btn-primary" name="CancelApprovalSettings" ><i class="fa fa-refresh" />Reset</button> 
            </div>
        </div>
    </form>
}