@model dynamic

<script type="text/template" id="approval-settings-template">
    @ApprovalSettings()
</script>

@helper ApprovalSettings()
{
    <form>
        <div class="alert-block">
            <table class="table table-bordered table-striped blue-header squeezed darker">
                <thead>
                    <tr>
                        <th colspan="3">Approval Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">EnableAutomaticApproval: </td>
                        <td width="20%">
                            <select name="enableAutomaticApproval" class="selectheight">
                                <option value="0">Disabled</option>
                                <option value="1">Enabled</option>
                            </select>
                        </td>
                        <td class="left"><%- EnableAutomaticApprovalDesc %></td> 
                    </tr>                    
                    <tr>
                        <td>MaxCapHomeOwner: </td>
                        <td><input name="maxCapHomeOwner" class="input-large"/></td>
                        <td ><%- MaxCapHomeOwnerDesc %></td>
                    </tr>                    
                    <tr>
                        <td>MaxCapNotHomeOwner: </td>
                        <td><input name="maxCapNotHomeOwner" class="input-large"/></td>
                        <td ><%- MaxCapNotHomeOwnerDesc %></td>
                    </tr>                    

                    

                </tbody>
            </table>
            <div class="pull-right">
                <button class="btn" name="SaveApprovalSettings" ><i class="icon-ok-sign" />Save</button> 
                <button class="btn" name="CancelApprovalSettings" ><i class="icon-refresh" />Reset</button> 
            </div>
        </div>
    </form>
}