@model dynamic

<script type="text/template" id="automation-settings-template">
    @AutomationSettings()
</script>

@helper AutomationSettings()
{
    <div class="alert-block">
        <table class="table squeezed">
            <thead class="box">
                <tr class="box-title">
                    <th colspan="3">Automation Settings</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="buttons_container">
            <button class="btn btn-primary" name="SaveAutomationSettings" ><i class="fa fa-check-circle" />Save</button> 
            <button class="btn btn-primary" name="CancelAutomationSettings" ><i class="fa fa-refresh" />Reset</button> 
        </div>
    </div>
}