@using EzBob.Web.Infrastructure.Html
<script type="text/template" id="basic-interest-rate-settings-template">
    <h3>Loan Offer Ranges Settings</h3>
    <%if(basicInterestRates && basicInterestRates.length > 0) {%>
   
    <table class="table squeezed">
        <thead class="box">
            <tr class="box-title">
                <th>Start Value</th>
                <th>End Value</th>
                <th>Interest</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(basicInterestRates, function(basicInterestRate, i){%>
            <tr id="basicInterestRateRow_<%=basicInterestRate.Id%>">
                <td><input type="text" id="startValue_<%=basicInterestRate.Id%>" class="range-field" value="<%= basicInterestRate.FromScore %>"></td>
                <td><input type="text" id="endValue_<%=basicInterestRate.Id%>" class="range-field" value="<%= basicInterestRate.ToScore %>"></td>
                <td><input type="text" id="interest_<%=basicInterestRate.Id%>" class="range-field" value="<%= basicInterestRate.LoanInterestBase %>"></td>
                <td>
                    <button class="btn btn-primary removeRange" basic-interest-rate-id="<%= basicInterestRate.Id %>">Remove</button>
                </td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%}%>
   
    <button class="btn btn-primary addRange">Add Range</button>
    <div class="pull-right">
        <button class="btn btn-primary" id="SaveBasicInterestRateSettings"><i class="fa fa-check-circle" />Save</button>
        <button class="btn btn-primary" id="CancelBasicInterestRateSettings"><i class="fa fa-refresh" />Reset</button>
    </div>

</script>
