@using EzBob.Web.Infrastructure.Html
<script type="text/template" id="campaign-settings-template">
    <h3>Campaign Settings</h3>
    <%if(campaigns && campaigns.length > 0) {%>
   
    <table class="table squeezed">
        <thead class="box">
            <tr class="box-title">
                <th>Campaign</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(campaigns, function(campaign){%>
            <tr>
                <td><%= campaign.Name %></td>
                <td><%= campaign.Type %></td>
                <td><%= EzBob.formatDate(campaign.StartDate) %></td>
                <td><%= EzBob.formatDate(campaign.EndDate) %></td>
                <td><%= campaign.Description ? campaign.Description : '-' %></td>
                <td>
                    <button class="btn-link editCampaign" style="color: blue;" data-campaign-id="<%= campaign.Id %>">Edit</button>
                    <button class="btn-link campaignCustomers" style="color: blue;" data-campaign-id="<%= campaign.Id %>">Clients</button>
                </td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%}%>
   
    <button class="btn btn-primary addCampaign">Add Campaign</button>

</script>

<script type="text/template" id="add-campaign-template">
    <form id="add-campaign-form" class="form-horizontal">

        @EzHtml.InputText().Label("Campaign name:").Id("campaign-name").Name("campaignName").Class("form-control").Render()
        @EzHtml.InputText().Label("Campaign description:").Id("campaign-description").Name("campaignDescription").Class("form-control").Render()

        <div class="control-group">
            <label class="control-label">Type:</label>
            <div class="controls controls-row">
                <select id="campaign-type" name="campaignType" class="form-control selectheight">
                    <option></option>
                    <%_.each(campaignTypes, function(type){%>
                            <option value="<%-type.Id%>"><%-type.Type%></option>
                    <%});%>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Start Date:
                <span class="add-on">
                    <i class="fa fa-calendar"></i>
                </span>
            </label>
            <div class="controls controls-row">
                <input type="text" id="campaign-start-date" name="campaignStartDate" class="form-control date">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                End Date: 
                <span class="add-on">
                    <i class="fa fa-calendar"></i>
                </span>
            </label>
            <div class="controls controls-row">
                <input type="text" id="campaign-end-date" name="campaignEndDate" class="form-control date">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Customers list (white space separated):</label>
            <div class="controls controls-row">
                <textarea id="campaign-customers" name="campaignCustomers" maxlength="10000" style="width: 100%; height: 100px;"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls controls-row">
                <button class="btn btn-primary addCampaignBtn pull-right">Add Campaign</button>
            </div>
        </div>
    </form>
</script>


<script type="text/template" id="campaign-customers-template">
    <%if(campaign && campaign.Customers && campaign.Customers.length > 0){%>
    <table class="table squeezed">
        <thead class="box">
            <tr class="box-title">
                <th>customer id</th>
                <th>email</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(campaign.Customers, function(client) {%>
            <tr>
                <td><%-client.Id%></td>
                <td><%-client.Email%></td>
                <td><%-client.Name%></td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%} else { %>
        <h3>No clients in this campaign</h3>
    <%}%>
</script>
