@using EzBob.Web.Infrastructure.Html
<script type="text/template" id="campaign-settings-template">
    <h3>Campaign Settings</h3>
    <%if(campaigns && campaigns.length > 0) {%>
   
    <table class="table table-bordered table-striped blue-header squeezed darker">
        <thead>
            <tr>
                <th>Campaign</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(campaigns, function(campaign){%>
            <tr>
                <td><%= campaign.Name %></td>
                <td><%= campaign.Type %></td>
                <td><%= EzBob.formatDate(campaign.StartDate) %></td>
                <td><%= EzBob.formatDate(campaign.EndDate) %></td>
                <td><%= campaign.Description ? campaign.Description : '-' %></td>
                <td>
                    <button class="btn-link editCampaign" style="color: blue;" data-campaign-id="<%= campaign.Id %>">Edit</button>
                    <button class="btn-link campaignCustomers" style="color: blue;" data-campaign-clients="<%= campaign.Customers %>">Clients</button>
                </td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%}%>
   
    <button class="btn addCampaign">Add Campaign</button>

</script>

<script type="text/template" id="add-campaign-template">
    <form id="add-campaign-form">

        @EzHtml.InputText().Label("Campaign name:").Id("campaign-name").Name("campaignName").Render()
        @EzHtml.InputText().Label("Campaign description:").Id("campaign-description").Name("campaignDescription").Render()

        <div class="control-group">
            <label class="control-label">Type:</label>
            <div class="controls controls-row">
                <div class="input-append" style="margin-bottom: 10px; float: left;">
                    <select id="campaign-type" name="campaignType" class="selectheight">
                        <option></option>
                        <%_.each(campaignTypes, function(type){%>
                            <option value="<%-type.Id%>"><%-type.Type%></option>
                        <%});%>
                    </select>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Start Date:</label>
            <div class="controls controls-row">
                <div class="input-append" style="margin-bottom: 10px; float: left;">
                    <input type="text" id="campaign-start-date" name="campaignStartDate" class="date" style="width: 100px;">
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">End Date:</label>
            <div class="controls controls-row">
                <div class="input-append" style="margin-bottom: 10px; float: left;">
                    <input type="text" id="campaign-end-date" name="campaignEndDate" class="date" style="width: 100px;">
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Customers list (white space separated):</label>
            <div class="controls controls-row">
                    <textarea id="campaign-customers" name="campaignCustomers" maxlength="1000" style="width:250px;height:100px;"></textarea>
            </div>
        </div>

        <button class="btn btn-primary addCampaignBtn">Add Campaign</button>
    </form>
</script>

