@using EzBob.Web.Infrastructure.Html
<script type="text/template" id="loan-offer-ranges-settings-template">
    <h3>Loan Offer Ranges Settings</h3>
    <%if(loanOfferRanges && loanOfferRanges.length > 0) {%>
   
    <table class="table squeezed">
        <thead class="box">
            <tr class="box-title">
                <th>Start Value</th>
                <th>End Value</th>
                <th>Interest</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(loanOfferRanges, function(loanOfferRange, i){%>
            <tr id="basicInterestRateRow_<%=loanOfferRange.Id%>">
                <td><input type="text" id="startValue_<%=loanOfferRange.Id%>" class="range-field" value="<%= loanOfferRange.FromScore %>"></td>
                <td><input type="text" id="endValue_<%=loanOfferRange.Id%>" class="range-field" value="<%= loanOfferRange.ToScore %>"></td>
                <td><input type="text" id="interest_<%=loanOfferRange.Id%>" class="range-field" value="<%= loanOfferRange.LoanInterestBase %>"></td>
                <td>
                    <button class="btn btn-primary removeRange" data-loan-offer-range-id="<%= loanOfferRange.Id %>">Remove</button>
                </td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%}%>
   
    <button class="btn btn-primary addRange">Add Range</button>
    <div class="pull-right">
        <button class="btn btn-primary" id="SaveBasicInterestRateSettings"><i class="fa fa-check-circle" />Save</button>
        <button class="btn btn-primary" id="CancelBasicInterestRateSettings"><i class="fa fa-refresh" />Reset</button>
    </div>

</script>
