<script type="text/template" id="range-template">
    <h3><%-typeName%> settings</h3>
    <%if(configTableEntries && configTableEntries.length > 0) {%>
   
    <table class="table squeezed">
        <thead class="box">
            <tr class="box-title">
                <th>Start</th>
                <th>End</th>
                <th>Value</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(configTableEntries, function(configTableEntry, i){%>
            <tr id="row_<%=configTableEntry.Id%>">
                <td><input type="text" id="start_<%=configTableEntry.Id%>" class="range-field" value="<%= configTableEntry.Start %>"></td>
                <td><input type="text" id="end_<%=configTableEntry.Id%>" class="range-field" value="<%= configTableEntry.End %>"></td>
                <td><input type="text" id="value_<%=configTableEntry.Id%>" class="range-field" value="<%= configTableEntry.Value %>"></td>
                <td>
                    <button class="btn btn-primary removeRange" range-id="<%= configTableEntry.Id %>">Remove</button>
                </td>
            </tr>
            <%});%>
        </tbody>
    </table>
    <%}%>
   
    <button class="btn btn-primary addRange">Add Range</button>
    <div class="buttons_container">
        <button class="btn btn-primary save"><i class="fa fa-check-circle" />Save</button>
        <button class="btn btn-primary cancel"><i class="fa fa-refresh" />Reset</button>
    </div>
</script>
