@model dynamic
<script type="text/template" id="open-platform-settings-template">
	<form>
		<div class="alert-block">
			<table class="table squeezed">
				<thead class="box">
					<tr class="box-title">
						<th colspan="3">Open Platform Settings</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="buttons_container">
				<button class="btn btn-primary" name="SaveOpenPlatformSettings"><i class="fa fa-check-circle" />Save</button>
				<button class="btn btn-primary" name="CancelOpenPlatformSettings"><i class="fa fa-refresh" />Reset</button>
			</div>
		</div>
	</form>
</script>





