@model dynamic

@helper StrategySettings()
{
    <div class="box">
        <div class="box-content">
            <div id="settingsplane">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#general-settings" data-toggle="tab">General Settings</a></li>
                        <li><a href="#charges-settings" data-toggle="tab">Charges</a></li>
                        <li><a href="#experian-settings" data-toggle="tab">Experian</a></li>
                        <li><a href="#campaign-settings" data-toggle="tab">Campaign</a></li>
                        <li><a href="#basic-interest-rate-settings" data-toggle="tab">Basic Interest Rate</a></li>
                        <li><a href="#loan-offer-multiplier-settings" data-toggle="tab">Loan Offer Multiplier</a></li>
                        <li><a href="#pricing-model-settings" data-toggle="tab">Pricing Model</a></li>
                        <li><a href="#eu-loan-monthly-interest-settings" data-toggle="tab">EU Loan Monthly Interest</a></li>
                        <li><a href="#default-rate-company-settings" data-toggle="tab">Default Rate Company</a></li>
                        <li><a href="#default-rate-customer-settings" data-toggle="tab">Default Rate Customer</a></li>
						<li><a href="#product-settings" data-toggle="tab">Product</a></li>
						<li><a href="#open-platform-settings" data-toggle="tab">Open Platform</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="general-settings"></div>
                        <div class="tab-pane" id="charges-settings"></div>
                        <div class="tab-pane" id="experian-settings"></div>
                        <div class="tab-pane" id="campaign-settings"></div>
                        <div class="tab-pane" id="basic-interest-rate-settings"></div>
                        <div class="tab-pane" id="loan-offer-multiplier-settings"></div>
                        <div class="tab-pane" id="pricing-model-settings"></div>
                        <div class="tab-pane" id="eu-loan-monthly-interest-settings"></div>
                        <div class="tab-pane" id="default-rate-company-settings"></div>
                        <div class="tab-pane" id="default-rate-customer-settings"></div>
						<div class="tab-pane" id="product-settings"></div>
						<div class="tab-pane" id="open-platform-settings"></div>
                    </div>
                </div>
			</div>
        </div>
    </div>
    
}

<script id="strategy-detail-settings" type="text/template">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Other)
    <div id="main-content">
        <div class="page-title">
            <h1></h1>
        </div>
        @StrategySettings()
    </div>
</script>

@{ Html.RenderPartial("AutomationSettings/_GeneralSettings"); }
@{ Html.RenderPartial("AutomationSettings/_ChargesSettings"); }
@{ Html.RenderPartial("AutomationSettings/_ExperianSettings"); }
@{ Html.RenderPartial("AutomationSettings/_CampaignSettings"); }
@{ Html.RenderPartial("AutomationSettings/ConfigTableSettings"); }
@{ Html.RenderPartial("AutomationSettings/PricingModelSettings"); }
@{ Html.RenderPartial("AutomationSettings/ProductSettings"); }
@{ Html.RenderPartial("AutomationSettings/OpenPlatformSettings"); }