@model dynamic

@helper StrategySettings()
{
    <div id="settingsplane">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#general-settings" data-toggle="tab">General Settings</a></li>
                <li><a href="#charges-settings" data-toggle="tab">Charges</a></li>
                <li><a href="#experian-settings" data-toggle="tab">Experian</a></li>
                <li><a href="#campaign-settings" data-toggle="tab">Campaign</a></li>
                <li><a href="#basic-interest-rate-settings" data-toggle="tab">Basic Interest Rate</a></li>
                <li><a href="#loan-offer-multiplier-settings" data-toggle="tab">Loan Offer Multiplier</a></li>
                <li><a href="#pricing-model-settings" data-toggle="tab">Pricing Model</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="general-settings"></div>
                <div class="tab-pane" id="charges-settings"></div>
                <div class="tab-pane" id="experian-settings"></div>
                <div class="tab-pane" id="campaign-settings"></div>
                <div class="tab-pane" id="basic-interest-rate-settings"></div>
                <div class="tab-pane" id="loan-offer-multiplier-settings"></div>
                <div class="tab-pane" id="pricing-model-settings"></div>
            </div>
        </div>  
    </div>
}

<script id="strategy-detail-settings" type="text/template">
    @StrategySettings()
</script>

@{ Html.RenderPartial("AutomationSettings/_GeneralSettings"); }
@{ Html.RenderPartial("AutomationSettings/_ChargesSettings"); }
@{ Html.RenderPartial("AutomationSettings/_ExperianSettings"); }
@{ Html.RenderPartial("AutomationSettings/_CampaignSettings"); }
@{ Html.RenderPartial("AutomationSettings/ConfigTableSettings"); }
@{ Html.RenderPartial("AutomationSettings/PricingModelSettings"); }