<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFormEnvironmentConfigValidation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormEnvironmentConfigValidation.Properties.Settings>
            <setting name="TemplatePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestApplications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestModules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestNHibernate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestUrls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestLog4Net" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestAgainstTemplate" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormEnvironmentConfigValidation.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
