<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Board resolution</title>
</head>

<body style="width: 800px;">
<h2 style="text-align: center;">UNANIMOUS WRITTEN CONSENT OF THE BOARD OF DIRECTORS</h2>

<h4 style="text-align: center;">OF __COMPANY_NAME__ (the &ldquo;Company&rdquo;)</h4>

<h4 style="text-align: center;">Company number: __COMPANY_NUMBER__</h4>

<p>The following, being all of the directors of the Company, acting by unanimous written consent, and having waived any rights to receive notice of a meeting:</p>

<p>Having discussed and noted that it is convenient and prudent for the business of the Company to,
enter into that certain credit facility agreement with Orange Money Ltd (trading as ezbob) and from time to time,
draw thereon and borrow money from Orange Money Ltd. thereunder and to appoint a person who may act on behalf of the Company
regarding said advances and the credit facility agreement, including having the authority to complete online applications
do adopt the following written resolutions:</p>

<h3 style="text-align: center;"><u>IT WAS RESOLVED</u></h3>

<dl>
	<dt>FIRST
	<dd>That the Company is hereby authorized to enter into that certain credit facility agreement with Orange Money Ltd.,
	and the Company may from time to time, draw thereon and borrow money from Orange Money Ltd.
	thereunder in connection with the Company&rsquo;s business operations and activities;

	<dt>SECOND
	<dd>That __CUSTOMER_NAME__ is authorised to, from time to time, sign individually for and on behalf of the
	Company and to transact any and all business with Orange Money Ltd., to borrow money under the credit
	facility agreement, with or without  security; to assign, transfer, pledge or otherwise charge property of the Company;
	including granting fixed and floating charges and  charging of receivables.

	<dt>THIRD
	<dd>That the authority granted hereunder shall be valid and effective until such time as the Company,
	by written notice, advises Orange Money Ltd. that it has been revoked; provided, however no such
	revocation shall be deemed to affect or revoke any authority or consent to apply for and accept
	advances from Orange Money Ltd. under a credit facility agreement entered into by Company with Orange Money Ltd.
	prior to the date of such notice, so long as the same are within the limits of the credit limit set forth in such
	credit facility (as the same may be amended from time to time).
</dl>

<p>Signed:</p>

<p>{{_es_signer_signatureblock}}</p>
</body>
</html>