<h4>THIS IS AN IMPORTANT DOCUMENT. YOU SHOULD TAKE INDEPENDENT LEGAL ADVICE BEFORE SIGNING AND SIGN ONLY IF YOU WANT TO BE LEGALLY BOUND.</h4>
<dl>
    <dt>THIS AGREEMENT is made between:-</dt>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">(1) <strong>EZBob Ltd.</strong> (the "<strong>Creditor"</strong>, <strong>&ldquo;We&rdquo;</strong>, <strong>&ldquo;Us&rdquo;</strong>) , registered office address 36, Soho Square, London, W1D 3QY, company registration number 7852687; and</p>
        <p style="text-align: justify; margin-left: 30px;">(2) {{CompanyName}} (the "Customer", &ldquo;You, &ldquo;Your&rdquo;), registered office address {{CompanyAdress}} , company number {{CompanyNumber}}</p>
    </dd>
</dl>
<p style="text-align: justify;">to set out the terms and conditions on which the Creditor is prepared to make available to the Customer a business loan of {{TotalPrincipal}} (the "Loan").</p>
<dl>
    <dt style="margin-left: 30px;"><strong>1. Purpose</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">1.1 The Loan shall be utilised:-</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) for business expenditure.</p>
            </dd>
        </dl>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>2. Payment</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.1 Upon execution of the Agreement we will advance the Loan Amount into your nominated bank account referred to herein as the Primary Payment Account. Any other account nominated and/or maintained by you shall be herein referred to as the Alternative Payment Account.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.2 The Loan with interest thereon shall be repaid by {{CountRepayment}} repayments (each a "Repayment") in accordance with the Repayment Schedule below:-</p>
        <div class="payment">
            {{#FormattedSchedules}}
            <p style="text-align: justify; margin-left: 90px;">{{StringNumber}} Payment {{AmountDue}}, {{Date}}</p>
            {{/FormattedSchedules}} {{#isHalwayLoan}}
            <p style="text-align: justify; margin-left: 90px;">The amount to be repaid in each of the first {{TermOnlyInterestWords}} ({{TermOnlyInterest}}) scheduled payments is comprised of interest only and does not include a repayment of a portion of the credit advanced. The following {{TermInterestAndPrincipalWords}} ({{TermInterestAndPrincipal}}) repayments include both interest and repayment of the credit advanced to you.</p>
            {{/isHalwayLoan}}
            <p style="text-align: justify; margin-left: 90px;">Total Amount to be repaid {{TotalAmount}}</p>
            <p style="text-align: justify; margin-left: 90px;">Loan APR is {{APR}} %</p>
        </div>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.3 You irrevocably grant us the right and authorise us to automatically debit, on a continuing basis, the Primary Payment Account and/or the Alternative Payment Account, using the debit card(s) nominated by you and associated with the Primary and/or Alternative Payment Accounts, for all or part of any sums outstanding on or after the date upon which sums become due.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.4 You must therefore ensure there are sufficient funds in the account to cover payment on the scheduled repayment date. If we are unsuccessful in collecting full payment on a scheduled repayment date we will charge you a &pound;{{LatePaymentCharge}} missed payment fee if scheduled payment is not received by us in full within 7 days of when due, and an additional &pound;{{LatePaymentCharge}} seven days later if you have still not paid the entire scheduled payment. We may try to debit your Primary Payment Account at a later stage and on more than one occasion on the scheduled repayment date, and/or subsequent dates, for all or any part of the Repayment amount due. If you have provided us with details of an Alternative Payment Account and we are unsuccessful in collecting payment from the Primary Payment Account, we may seek payment from the Alternative Payment Account and on multiple occasions, for all or any part of the amount due, as we determine necessary until full repayment is made.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.5 Prompt payment is essential. If you are late in paying, you will pay us interest on the amount due from when it is due until it is actually received by us at the rates of interest shown above. Therefore, in the event your payment is not immediate (i.e. real time) and consequently payment does not reach our bank for a further few days, interest will continue to accrue at the above rate until payment does in fact reach us. Please also see Clause 10.3 concerning late payments and other fees.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.6 Your obligation to make Repayments to us will be satisfied by making payments to us by debit card or as otherwise agreed in writing by us.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.7 Any payments the Customer makes are allocated as follows:- first to pay off any arrears, then to meet the Repayment expected to be made at the time the payment is received, followed by any interest due and payable in relation to arrears, any charges and finally to reduce the amount owed on the Loan account.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">2.8 No amount repaid or prepaid may be redrawn under this Agreement.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>3. Security</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">3.1 The Customer's obligations to the Creditor under this Agreement shall be secured by way</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) full payment and performance Guaranty by {{FullName}};</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(b) such further security as the Creditor may at any time hereafter hold in respect of the Customer's liabilities to the Creditor of any kind.</p>
            </dd>
        </dl>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>4. Interest</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">4.1 Interest is payable at the following interest rates, calculated on the daily balance of the loan outstanding and collected in arrears: {{#FormattedSchedules}}</p>
        <p style="text-align: justify; margin-left: 60px;">MONTH {{Iterration}}: Rate of interest {{InterestRate}}% per month. Fixed</p>
        <p style="text-align: justify; margin-left: 60px;">{{/FormattedSchedules}}</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">4.2 If the Customer fails to pay any sum under this Agreement on its due date, the Customer shall continue pay interest on such sum from the due date to the date of actual payment (both before and after any demand, court decree or judgment) at the rate detailed in Clause 4.1. Interest under this sub-clause shall be calculated on a day to day basis at the highest rate indicated above.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>5. Charges</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">5.1 The Customer shall pay to the Creditor:-</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) A set-up fee of {{#IsManualSetupFee}} {{ManualSetupFee}} {{/IsManualSetupFee}} {{^IsManualSetupFee}} {{#IsBrokerFee}} {{SetupFee}} {{/IsBrokerFee}} {{^IsBrokerFee}}{{SetupFeePercent}}% of the loan amount (but not less than {{SetupFeeAmount}}){{/IsBrokerFee}} {{/IsManualSetupFee}} and this will be deducted from the loan amount deposited in your account and interest will be charged on the loan amount (including the set-up fee); and</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(b) any expenses incurred by the Creditor in enforcing or preserving its rights under this Agreement and the Security with interest thereon at the rate applicable to the Loan, which may include expenses that the Creditor incur after as well as before any judgment or decree. These expenses will include (but not be limited to) expense of taking steps, including court action, to obtain payment, enforcing and/or preserving the Creditor's rights under the Security, tracing the Customer if the Customer changes address without notice communicating with the Customer if the Customer breaks the terms of this Agreement</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">5.2 The Customer shall remain liable for any outstanding charges detailed in Clauses 5.1 if this Agreement is cancelled by the Creditor.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>6. Loan Approval</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">6.1 If and when we provisionally approve your loan application, actual payment of the loan amount is subject to: -</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">i. us ensuring that the information you gave us was not inaccurate or deficient in any respect (if we discover that it was, then the Agreement will be void and where appropriate may be reported to credit reference and fraud agencies);</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">ii. us checking your credit reference and/or the information you provide to assess the affordability of the loan; and</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">iii. where applicable, acceptance by us of the person you have nominated to act as Guarantor and provide a Guarantee, where applicable.</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">6.2 You must accept the loan and sign the Agreement confirming acceptance of the Agreement and its associated Terms and Conditions before the acceptance deadline, which will be communicated to you at the time of your loan application</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 60px;"><strong>7. Preconditions</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">7.1 The Creditor shall not be obliged to provide the Loan unless the following conditions are satisfied on the date on which the Loan is provided:-</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) the Customer has duly accepted this Agreement by means of electronic signature provided by or on behalf of the Customer by a duly authorised official;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(b) any security to be granted in terms of Clause 3 is valued and completed to the satisfaction of the Creditor;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(c) the availability as security for the Loan of any existing security is confirmed to the satisfaction of the Creditor; and</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(d) the Creditor is satisfied that no default event as outlined in Clause 10 (an "Event of Default") (or event which may result in an Event of Default) has occurred or may occur as a consequence of the Loan being provided.</p>
            </dd>
        </dl>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 60px;"><strong>8. Ending the Agreement and Early Repayment</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">8.1 The Customer may end this Agreement at any time by repaying the full amount you owe under the Agreement at that time without premium or penalty.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">8.2 You agree that we may demand repayment of the full amount owed by you under the Agreement if you:</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">i. pay late;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">ii. have been dishonest or given misinformation in a way which affects our decision to lend money to you;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">iii. have broken the terms of the Agreement; or</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">iv. die, become bankrupt or make a voluntary arrangement with people you owe money to.</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">8.3 Before making any demand we will take all the steps we are required to take by law for your protection.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">8.4 You may also make an early repayment of a portion of the credit at any time (without penalty or premium). Any such early repayment will be applied to the amount due on the next rescheduled payment date (and any excess to the amounts due on the following repayment date(s)). Upon any such partial early repayment the amounts payable on the remaining repayment dates shall be recalculated by applying the applicable interest rate applied to the outstanding balance of the credit. Any such changes will be reflected on the dashboard and in the statement of account which you can also access via the dashboard.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>9. Undertakings</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">9.1 The Customer shall immediately notify the Creditor of an Event of Default occurring.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">9.2 The Customer shall not, nor shall it permit any Subsidiary (defined below), to:</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) grant any security to any third party;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(b) sell, transfer, lease or otherwise dispose of any assets (other than assets which are disposed of in the ordinary course of business);</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(c) enter into any obligation, whether by way of borrowing from another source, leasing commitments, factoring of debts, granting of guarantees or by any other means, to the extent to which any of the aforementioned may affect your ability to repay the sums due under this Agreement;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(d) make any change in the nature of business conducted;</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(e) assignment its rights or obligations under this Agreement to a third party; and/or</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(f) loan, remit, distribute or otherwise transfer any funds to any of its officers, directors, shareholders, beneficial owners, affiliates, or any Subsidiary if doing so would or reasonably could cause the Customer to be unable to pay its debts and satisfy its obligations (including those hereunder) as and when due</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">without the prior written consent of the Creditor.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">9.3 The Customer shall, and shall procure that any Subsidiary, shall as necessary:-</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(a) obtain, renew and comply with all necessary certificates, licences, permits, consents or other authorisations required for the purposes of its business; and</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">(b) comply with all applicable laws, regulations or other legal requirements.</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">9.4 The Customer shall promptly supply the Creditor with such information regarding the financial affairs of the Customer and any company which is or becomes a subsidiary of the Customer within the meaning of Section 736 of the Companies Act 1985 ("Subsidiary"), as the Creditor may from time to time reasonably request</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">9.5 The Customer shall use the Loan for the purpose specified in Clause 1.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>10. Default</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">10.1 If any Event of Default occurs, then the Creditor may by written notice to the Customer declare the Loan, all interest accrued and all other sums payable by the Customer under this Agreement to be immediately due and payable and/or terminate the obligations of the Creditor under this Agreement.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">10.2 In the Event of Default, you will be liable for any fees costs and expenses, including legal fees, incurred by us in enforcing this Agreement or collecting or recovering any amounts owing by you under the Agreement. Such amounts shall be added to your outstanding balance.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">10.3 The fees we may charge include:</p>
        <dl>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">10.3.1 Missed Payment Fee, &pound;{{LatePaymentCharge}} (for each scheduled Repayment not made in full within seven days of the applicable repayment date and an additional &pound;{{LatePaymentCharge}} seven days later if the scheduled Repayment has still not been made in full);</p>
            </dd>
            <dd>
                <p style="text-align: justify; margin-left: 90px;">10.3.2 Referral of Loan to collection by outside collections agency &pound;50.00</p>
            </dd>
        </dl>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">10.4 Each of the following events is an Event of Default:</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(a) the Customer fails to pay any amount payable under this Agreement on the scheduled repayment dates set out in this Loan Agreement; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(b) the Customer fails to comply with any provision of the Loan Agreement, where capable of remedy, such failure is not remedied to the reasonable satisfaction of the Creditor within 5 days of the Creditor giving notice to the Customer requiring the Customer to remedy the same; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(c) the Customer or any other grantor of the Security fails to comply with any provision of the Security and, where capable of remedy, such failure is not remedied to the reasonable satisfaction of the Creditor within 5 days of the Creditor giving notice to the Customer/other grantor requiring the Customer/other grantor to remedy the same; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(d) any information given or warranty or representation made by, or on behalf of, the Customer to the Creditor proves inaccurate, false or intentionally misleading; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(e) any resolution is passed, petition presented, proceedings commenced or other procedure or step taken in any jurisdiction for the liquidation of the Customer or any Subsidiary;</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(f) any procedure is used against the Customer or any Subsidiary to attach or take possession of any property for payment of a debt; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(g) a receiver or other similar official is appointed in respect of any of the property of the Customer or any Subsidiary; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(h) any application or petition for an administration order is made or there is given to the Creditor or any other person a notice (whether formal or informal) of intention to appoint an administrator or any such appointment is made in relation to the Customer or any Subsidiary; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(i) a default arises under any other liability of the Customer or any Subsidiary to the Creditor or to any other creditor; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(j) there is a significant drop in the value of the Customer's business or the Security or any guarantor or other grantor of security serves notice to discontinue the security; or</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 90px;">(k) any other circumstances arise which may reasonably lead the Creditor to believe that the Security might be prejudiced or that the Customer's obligations to the Creditor under this Agreement will not be met.</p>
    </dd>
</dl>
<dl>
    <dt style="margin-left: 30px;"><strong>11. Miscellaneous</strong></dt>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.1 Without any obligation upon the Creditor to do so, the Creditor shall be entitled to allow the Customer extended time to pay or grant any other indulgence to the Customer without affecting any of the rights of the Creditor in whole or in part.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.2 Unless the context otherwise requires, words denoting the singular only shall include the plural and vice versa.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.3 Any notice or demand for payment made by the Creditor under this Agreement shall be sent to the registered office of the Customer.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.4 The Creditor (or any Assignee) may allow another person (including EZBob UK, Limited) (an &ldquo;Assignee&rdquo;) to take over any of its rights and duties under this Agreement and the Customer authorises the provision of any financial or other information about the Customer to any such Assignee. Creditor or any Assignee may assign or pledge (as security for its debts or obligations) any of its rights, title or interest to or under this Agreement to any third party. The Customer's rights under this Agreement will not be affected. The Customer agrees and consents to the transfers and assignments described above.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.5 This Agreement is intended to create a permitted investment transaction under Jewish law (to the extent required under Jewish law), based on the form used by Mizrahi Tefahot Bank Ltd (IL), dated 1.9.1981. This clause will not operate to the detriment of the Customer in any way, will not derogate from any of the rights of the Customer, and will not impose any additional obligations on the Customer.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.6 In addition to any other rights to which it may be entitled, including rights under any guarantee or security, the Creditor may retain, set off or appropriate any credit balances in name of the Customer (whether current or not yet due) against the Customer's obligations to the Creditor under this Agreement. The Creditor may exercise any of these rights without prior notice both before and after demand.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.7 You agree to possess and at all times to remain in compliance with all permits, licenses, approvals, consents, registrations and other authorisations necessary to own, operate and to conduct the business in which you are presently engaged.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.8 You agree to comply, at all times, with all applicable laws relating to the operating of your business and with all rules and regulations governing its use of on-line sales channels and web merchant accounts (&ldquo;Accounts&rdquo;).</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.9 You agree not to pledge, assign, close or otherwise dispose of any of your Accounts without our prior written consent.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.10 For so long as the Loan remains outstanding you shall continuously grant us &ldquo;read-only&rdquo; access to your Accounts. In the event that you change your user name, password or other account access information with respect to any Accounts and/or of the on-line sales channel or web merchant accounts you maintain in the operation of our business, you agree to provide us with prompt notice. In the event that you create or use on-line sales channel or web merchant accounts other than those indicated to your initial loan application to us, you agree to promptly advise us of the same and continually allow us &ldquo;read-only&rdquo; access to the same.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.11 You agree that we may, from time to time, request copies of your business&rsquo; reviewed and/or audited financial statements, sales reports and such other information related to your business and financial condition.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.12 Some of our loans benefit from a guarantee issued under the 'European Progress Microfinance Facility' or the &lsquo;Programme for the Competitiveness of Enterprises and small and medium enterprises (COSME)&rsquo; established by the European Union. If you were informed during your loan application process that this loan benefits from one of those guarantee programs, the terms and provisions of <span style="text-decoration: underline;">Rider A</span> attached hereto are incorporated into this loan agreement by reference and apply with respect to your loan in all respects. You are advised to carefully read such terms and conditions as they form a part of the binding legal contract which is this loan agreement.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">11.13 Electronic Transmission of documents and Electronic Signature 1. You agree that we may deliver documents to you via electronic means and that the email addresses you provided to facilitate this is correct. You may email documents to us at customercare@ezbob.com. 2. For the purpose of the prior sentence, any document transmitted by email or fax will be deemed as having been delivered on the working day immediately following the day on which it is transmitted. 3. By Clicking &ldquo;I accept&rdquo; you electronically sign this Agreement and agree to be legally bound by its terms.</p>
    </dd>
</dl>
<dl>
    <dt style="text-align: center; text-decoration: underline;"><center><u>RIDER A</u></center></dt>
    <dd>
        <p style="text-align: justify;">The following terms and conditions are incorporated and made part of the Loan Agreement in accordance with Section 11.12 thereof.</p>
    </dd>
    <dd>
        <p style="text-align: justify;">Customer affirms, represents, warrants, covenants, undertakes as follows:</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">1. It does not have a substantial focus on one or more of the following restricted sectors:</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">a. Any production, trade or other activity, which is illegal under the laws or regulations of the home jurisdiction for such production, trade or activity. Human cloning for reproduction purposes is prohibited under this section.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">b. The production of and trade in tobacco and distilled alcoholic beverages and related products.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">c. The financing of the production of and trade in weapons and ammunition of any kind. This restriction does not apply to the extent such activities are part of or accessory to explicit European Union policies.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">d. Casinos and equivalent enterprises.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">e. Research, development or technical applications relating to electronic data programs or solutions, which aim specifically at supporting any activity included in the restricted sectors referred to under a-d (inclusive) above; internet gambling and online casinos; or pornography, or which are intended to enable to illegally enter into electronic data networks; or download electronic data.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">f. Research, development or technical applications relating to human cloning for research or therapeutic purposes; and genetically modified organisms.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">2. It is not performing illegal activities according to applicable legislation of the United Kingdom (including national, European Union and international legislation, including the Charter of Fundamental Rights of the European Union and the European Convention on Human Rights and its Supplementary Protocols).</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">3. The Loan will be used for (A) investment in tangible and/or intangible assets; and/or (B) working capital.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">4. It acknowledges that this financing is made possible through the support of the EU guarantee for Debt Financing with the financial backing of the European Union under the Loan Guarantee Facility established under Regulation (EU) No 1287/2013 of the European Parliament and the Council establishing a Programme for the Competitiveness of Enterprises and small and medium enterprises (COSME) (2014-2020).</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">5. It will respond to any reasonable information requests in the context of an evaluation of the European Union Guarantee for Debt Financing carried out by the European Commission and, possibly, jointly with the European Investment Fund.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">6. The following exact wording is prescribed and incorporated herein: &ldquo;The counter party acknowledges that the European Investment Fund, the agents of EIF, the European Court of Auditors, the Commission and the agents or contractors of the Commission including OLAF, the European Investment Bank and/or any other European Union institution or body which is entitled to verify the use of this Agreement (together, the &ldquo;Authorised Entities&rdquo; and each an &ldquo;Authorised Entity&rdquo;) shall have the right to carry out controls and to request information and documentation in respect of this agreement and its execution, including without limitation for the purposes of evaluating the COSME programme. The counter party shall permit monitoring visits and inspections by any Authorised Entity of its business operations, books and records. As these controls may include on the spot checks and inspections of the counter party, the counter party shall permit access to its premises to any Authorised Entity during normal business hours.&rsquo;</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">7. It shall prepare, update and maintain available for the Authorised Entities the following documentation:</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">a. information necessary to verify that the use of the European Community's funds is in compliance with the relevant requirements set by this Agreement, including, without limitation, the compliance with the eligibility criteria;</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">b. information regarding the payment and recovery processes;</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">c. information necessary to verify the proper implementation of the terms of the EU Guarantee as related to this Loan Agreement; and</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 60px;">d. any other information reasonably required by the Authorised Entities.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">8. It undertakes to maintain and to be able to produce (including for inspection by any Authorised Entity) all documentation related to the implementation of this Agreement for a period of seven (7) years after 30 June 2021 or the termination of this Agreement, whichever is longer.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">9. If any deficiencies in the maintenance of records are identified by the Authorised Entities, it shall promptly, and in any event no later than three months after being informed of such deficiencies, comply with the instructions given by the Authorised Entities and provide any additional information reasonably requested by the Authorised Entities.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">10. It shall comply in all respects with all laws and regulations (whether national laws and regulations or laws and regulations of the European Union) to which it may be subject, the breach of which may (i) adversely impact the performance of this Agreement; or (ii) adversely prejudice the interests of the EIF, the Commission or the European Investment Bank.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">11. It shall not commit any Irregularity or fraud (including any Fraud Affecting the EU's Financial Interests).</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">12. Without prejudice to the Sections 10 and 11, it undertakes to (i) at all times comply with relevant standards and applicable legislation on the prevention of money laundering, the fight against terrorism and the fight against tax fraud and (ii) not (other than as a result only of events or circumstances beyond its control) be established in a Non-Cooperative Jurisdiction (as defined by the EU).</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">13. It is hereby advised that pursuant to Article 5(a) of Regulation (EC) No 45/2001 of the European Parliament and of the Council, dated 18 December 2000, as amended, relating to the protection of individuals with regard to the processing of personal data by the European Community institutions and bodies and of the free movement of such personal data (OJ L008, 12.01.2001, p.1), (A) the name, address and purpose Customer and other personal data information in connection with this loan transaction will be communicated to the EIF and/or the Commission; (B) that any personal data communicated to the EIF and/or the Commission will be stored until 7 years after the final date referenced in Section 8 above; (C) that requests by Customer to verify, correct, delete or otherwise modify personal data communicated to the EIF and/or the Commission, as the case may be, should be addressed to the EIF and/or the Commission, as applicable, at the following address:</p>
        <p style="text-align: left; margin-left: 30px;">in respect of the EIF:;<br /> <br /> European Investment Fund<br /> 37 B avenue J.F. Kennedy<br /> L-2968 Luxembourg<br /> Grand Duchy of Luxembourg<br /> Attention: Debt Services&ndash;Portfolio Guarantees<br /> <br /> And<br /> <br /> in respect of the Commission:<br /> <br /> Commission European<br /> Directorate General Economic and Financial Affairs<br /> L-2920 Luxembourg<br /> Grand Duchy of Luxembourg<br /> Attention: Head of Unit L2 - EIF Programme Management</p>
        <p style="text-align: justify; margin-left: 30px;">Such requests shall be treated as described in Articles 13 to 19 of the Regulation in its Section 5: "Rights of the Data Subject"; and that pursuant to Article 32, paragraph (2) of the Regulation, Customer may lodge a complaint with the European Data Protection Supervisor if he or she considers that his or her rights under Article 286 of the Treaty establishing the European Community have been infringed as a result of the processing of personal data by the EIF and/or the Commission.</p>
        <p style="text-align: justify; margin-left: 30px;">For the avoidance of doubt, any reference to personal data in this Clause 15.10 (Data protection) shall mean personal data as defined in the Data Protection Regulation.</p>
    </dd>
    <dd>
        <p style="text-align: justify; margin-left: 30px;">14. The affirmations, representations, warranties, covenants, undertakings set forth in this Rider A, elsewhere in the Loan Agreement and the confirmations and acknowledgments made by Customer in connection with the loan application and acceptance process are and shall remain true, correct and accurate at all times so long as the loan or any part thereof remains outstanding and thereafter with respect to those representations, warranties, covenants, undertakings and confirmations which by their nature survive the termination of the Loan Agreement and/or the repayment of the Loan.</p>
    </dd>
</dl>
<p style="text-align: justify;">This document was signed electronically on {{CurentDate}} gmt time.</p>
<p style="text-align: justify;">By {{FullName}}</p>
<p style="text-align: justify;">For company {{CompanyName}}</p>
<p style="text-align: justify;">Signed by EZBob Ltd. director:</p>
<p style="text-align: justify;">Sharone Perlstein</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">On {{CurentDate}}</p>