<div style="text-align: center;">
    <h4><u><strong>UNANIMOUS WRITTEN CONSENT OF THE BOARD OF DIRECTORS OF {{CompanyName}}</strong></u>&nbsp;(the "<strong>Company</strong>")</h4>
</div>
<div>
    <p style="text-align: justify;">The following, being all of the directors of the Company, acting by unanimous written consent, and&nbsp;having waived any rights to receive notice of a meeting:</p>
    <p style="text-align: justify;">Having discussed and noted that it is convenient and prudent for the business of the Company to, enter&nbsp;into that certain credit facility agreement with EZBob Ltd. (trading as ezbob) and from time to&nbsp;time, draw thereon and borrow money from EZBob Ltd.thereunder and to appoint a person who&nbsp;may act on behalf of the Company regarding said advances and the credit facility agreement, including&nbsp;having the authority to complete online applications do adopt the following written resolutions:</p>
</div>
<div style="text-align: center;">
    <h4><u><strong>IT WAS RESOLVED</strong></u></h4>
</div>
<h4><u><strong>FIRST</strong></u></h4>
<p>That the Company is hereby authorized to enter into that certain credit facility agreement with EZBob Ltd., and the Company may from time to time, draw thereon and borrow money from&nbsp;EZBob Ltd. thereunder in connection with the Company&rsquo;s business operations and activities;</p>
<div>
    <h4><u><strong>SECOND</strong></u></h4>
</div>
<div>&nbsp;</div>
<div>
    <div>That {{CustomerFullName}} is authorised to, from time to time, sign individually for and on behalf of the&nbsp;Company and to transact any and all business with EZBob Ltd., to borrow money under the&nbsp;credit facility agreement, with or without &nbsp;security; to assign, transfer, pledge or otherwise charge&nbsp;property of the Company; including granting fixed and floating charges and &nbsp;charging of receivables.</div>
</div>
<div>&nbsp;</div>
<div>
    <h4><u>THIRD</u></h4>
    <p>That the authority granted hereunder shall be valid and effective until such time as the&nbsp;Company, by written notice, advises EZBob Ltd. that it has been revoked; provided, however no&nbsp;such revocation shall be deemed to affect or revoke any authority or consent to apply for and accept&nbsp;advances from EZBob Ltd. under a credit facility agreement entered into by Company with&nbsp;EZBob Ltd. prior to the date of such notice, so long as the same are within the limits of the&nbsp;credit limit set forth in such credit facility (as the same may be amended from time to time).</p>
</div>
<div>&nbsp;</div>
<p>
    @*@foreach (var directorName in directorNames) {</p>
        <div>________________[{{DateOfStamp}}</div>
        <div>@directorN</div>
