<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.Net" maxdatasize="1024">
                <listeners>
                    <add name="TraceFile" />
                </listeners>
            </source>
            <source name="System.Net.Sockets" maxdatasize="1024">
                <listeners>
                    <add name="TraceFile" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
        </sharedListeners>
        <switches>
            <add name="System.Net" value="Verbose" />
            <add name="System.Net.Sockets" value="Verbose" />
        </switches>
    </system.diagnostics>

	<connectionStrings configSource="connection-strings.xml" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.3.9345" newVersion="2.5.3.9345" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>