<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EchoSignDocumentService18HttpBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EchoSignDocumentService18HttpBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secure.echosign.com/services/EchoSignDocumentService18"
                binding="basicHttpBinding" bindingConfiguration="EchoSignDocumentService18HttpBinding"
                contract="EchoSignService.EchoSignDocumentService18PortType"
                name="EchoSignDocumentService18HttpPort" />
        </client>
    </system.serviceModel>
</configuration>