<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="EchoSignDocumentService19HttpBinding">
     <security mode="Transport" />
    </binding>
    <binding name="EchoSignDocumentService19HttpBinding1" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="https://secure.echosign.com/services/EchoSignDocumentService19"
    binding="basicHttpBinding" bindingConfiguration="EchoSignDocumentService19HttpBinding"
    contract="EchoSignService.EchoSignDocumentService19PortType"
    name="EchoSignDocumentService19HttpPort" />
  </client>
	</system.serviceModel>
</configuration>