@using EzBob.Web.Infrastructure
@model EzBob.Web.Models.PaymentConfirmationModel

@{
	UiCustomerOrigin.Set(ViewBag);
    Html.RenderPartial("PayPointResult");
    ViewBag.Title = "Payment Confirm: Payment Confirmation " + ViewBag.CustomerOrigin.Name;
}

@section css {
    @BundleHelper.RenderProfileCss()
}

<div id="paypoint-message"></div>

@section Js
{
    <script type="text/javascript">
        $(function () {
            var infoPage = _.template($('#infoPageTemplate').html());
            $('#paypoint-message').html(infoPage(@Model.ToJSON()));
        });
    </script>
}
