@model dynamic
<div class="row-fluid " style="padding-top:  20px;">
    <div class="span2">&nbsp;</div>
    <div class="span8">
        <h2>
            Unfortunately, time of the offer expired! Please apply for a new offer.
        </h2>
        <a href='@Url.Action("Index", "Profile", new {Area="Customer"})'  class="btn-continue button offer">Go to My Account</a>
    </div>
</div>