@using EzBob.Web.Infrastructure
@model dynamic

@{
	UiCustomerOrigin.Set(ViewBag);
    ViewBag.Title = "Payment failure: Payment Failure |  " + ViewBag.CustomerOrigin.Name;
}

<div class="row-fluid " style="padding-top:  20px;">
    <div class="span2">&nbsp;</div>
    <div class="span8">
        <h2>
            Payment request was unsuccessfull. Please check your card or contact EZBOB for details.
        </h2>
        <a href='@Url.Action("Index", "Profile", new {Area="Customer"})'  class="btn-continue button btn-green ev-btn-org">Go to My Account</a>
    </div>
</div>