<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="syscache2" type="NHibernate.Caches.SysCache2.SysCacheSection, NHibernate.Caches.SysCache2" />
    </configSections>
    <!-- SysCache -->
    <syscache2>
        <cacheRegion name="DbStrings" relativeExpiration="3" />
        <cacheRegion name="Longest" relativeExpiration="3" />
        <cacheRegion name="LongTerm" relativeExpiration="3" />
        <cacheRegion name="VeryShort" relativeExpiration="3" />
    </syscache2>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
