<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Off = 0, RequestCommand = 1, FullRequest = 2, All = 3  -->
    <add key="ServiceActionLogLevel" value="3" />
    <add key="Build" value="" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </httpModules>
    <webServices>
      <protocols>
        <clear />
        <add name="HttpSoap" />
        <add name="Documentation" />
      </protocols>
      <soapExtensionTypes>
        <add type="Scorto.Web.ExceptionAdapterExtension, ServerLib" priority="1" />
        <add type="Scorto.Web.Security.ScortoAuthorizationExtension, ServerLib" priority="1" />
      </soapExtensionTypes>
    </webServices>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <customErrors mode="Off" />
    <!-- trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/ -->
    <globalization culture="ru-RU" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </modules>
  </system.webServer>
</configuration>