@model dynamic

@{
	var model = Model != null ? new RouteValueDictionary(Model) : null;

	object message = "";

	if (model != null) {
		model.TryGetValue("Message", out message);
	}
}

<br />
<br />
<br />
<br />
<br />
<br />
<h2 align="center" style="color: red">@message</h2>
