<p style="page-break-before: always;"><span style="text-decoration:underline;">Commercial clauses</span></p>
<h1 style ="font: 18pt Calibri;font-weight: bold;text-align: center;margin-top: 15px;color: black;"><img src="@Url.Content("~/Content/img/lock.png")">Read this section very carefully,</h1>
<h1 style ="font: 18pt Calibri;font-weight: bold;text-align: center;margin-top: 15px;color: black;"><img src="@Url.Content("~/Content/img/lock.png")">it will vary from lender to lender</h1>

<h1 style ="font: 16pt Calibri;font-weight: bold;text-align: center;margin-top: 15px;color: black;">What EZBob Ltd. does</h1>

<h2 style = "font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">1)  When you apply to us to open a business account, this organisation may: -</h2>

    <p>a) Check our own records for information on:</p>
        <ol type="i">
            <li>You and your business partners<sup><a href="#consent_commercial_sn1">1</a></sup>  (if you have one/any) personal accounts </li>
            <li>Your business accounts.</li>
            <li>Shareholders who are beneficial owners of 25% or more of the business</li>
        </ol>
    <p>b) Search at credit reference agencies for information on:</p>
        <ol type="i">
            <li>Public data on you and your business partners’ personal credit behaviour</li>
            <li>Information on the conduct of you and your business partners’ personal credit accounts if you are proprietors of a small business<sup><a href="#consent_commercial_sn2">2</a></sup>;</li>
            <li> your business</li>
            <li>your business accounts;</li>
            <li>identity information on beneficial owners of the business</li>
            <li>If you have one, we may also check your personal financial partner’s<sup><a href="#consent_commercial_sn3">3</a></sup> personal accounts too, <b>so you must be sure to tell them that this may happen. We will send a notification to them to this effect</b>.</li>
            <li>If you are a director, we will seek confirmation, from credit reference agencies, that the residential address that you provide is the same as that shown on the restricted register of directors’ usual addresses at Companies House.</li>
        </ol>
    <p>c) Search at fraud prevention agencies for information on your business, you, your personal financial partner, your business partners, beneficial owners and your address(es).</p>
<hr/>
<div class="snoska">
    <ul class="list_1">
      <li id="consent_commercial_sn1"><sup>1</sup>If you are not authorised to give agreement on behalf of your business partners’ for such checks to be carried out they will also need to give their agreement to proceed.</li>
      <li id="consent_commercial_sn2"><sup>2</sup>A small business is defined as an organisation which might be sole trader, partnership or a limited company that has three or less partners or directors.</li>
      <li id="consent_commercial_sn3"><sup>3</sup>A financial partner or associate will be someone with whom you have a personal relationship that creates a joint financial unit in a similar way to a married couple. You will have been living at the same address at the time. It is not intended to include temporary arrangements such as students or rented flat sharers or business relationships.</li>
    </ul>
</div>
<h2 style="page-break-before: always; font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">2)   What we do with the information you supply to us as part of the application: -</h2>

<ol type="a">
  <li>Information that is supplied to us will be sent to the credit reference agencies.</li>
  <li>If you give us false or inaccurate information and we suspect or identify fraud, we will record this and may also pass this information to fraud prevention agencies and other organisations involved in crime and fraud prevention.</li>
  <li>Your data may also be used by us, to offer your business other products but only if permitted.</li>
  <li>Record information at credit reference agencies about your application, your business, you and your businesses partners.</li>
  <li>If you provide information about shareholders we will record this information at credit reference agencies</li>
</ol>

<p style="font: 14pt Calibri; font-weight: bold; text-decoration:underline">So you must be sure that you have the  agreement of your business partners and shareholders to disclose information about them.

<h2 style="font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">3)  With the information that we obtain we will:-</h2>

<ol type="a">
  <li>Assess this application for credit and/or;</li>
  <li>Check details on applications for credit and credit related or other facilities;</li>
  <li>Verify your identity and the identity of, other directors/ business partners and shareholders;</li>
  <li>Undertake checks for the prevention and detection of crime or fraud and/or money laundering;</li>
  <li>We may use scoring methods to assess this application and to verify your identity;</li>
  <li>Manage your personal and/or business account (if you have one) with ourselves;</li>
  <li>Undertake periodic statistical analysis or testing to ensure the accuracy of existing and future products and services;</li>
  <li>Any or all of these processes may be automated.</li>
</ol>

<h2 style="font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">4)  What we do when you have an account:-</h2>

  <ol type="a">
    <li>Where you borrow or may borrow from us, we will give details of your business account), including names and parties to the account, and how you manage it to credit reference agencies.</li>
    <li>If you borrow and do not repay in full and on time, we will tell credit reference agencies.</li>
    <li>We may make periodic searches of our own group records and credit reference agencies to manage your account with us, including whether to continue or extend existing credit. We may also check at fraud prevention agencies to prevent or detect fraud.</li>
    <li>If you have borrowed from us and do not make payments that you owe us, we will trace your whereabouts and recover payment.</li>
</ol>
 
<h1 style="page-break-before: always; font: 18pt Calibri;font-weight: bold;text-align: center;margin-top: 15px;color: black;"><img src="https://app.ezbob.com/Content/img/lock.png">What Credit Reference and Fraud Prevention Agencies do</h1>

<h2 style="font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">5)  When credit reference agencies receive a search from us they will:</h2>

<ol type="a">
  <li>Place a credit search “footprint” on your company credit file whether or not this application proceeds. If the search was for a credit application the record of that search (but not the name of the organisation that carried it out) may be seen by other organisations when your business applies for credit in the future.</li>
  <li>Place an enquiry search on the personal credit files of any director/owner or partner that have been searched. Place an associate enquiry search on your personal financial partner’s credit file, if that is checked. These enquiry searches will not be seen by other organisations if any director/owner or partner applies for credit in the future.</li>
  <li>Link together the previous and subsequent names advised by you, of anyone that is a party to the account.</li>
  <li>Place an enquiry or identification search on the record of any shareholder who is a beneficial owner and who we have checked</li>
  <li>[Create a record of the name and address of your business and its proprietors if there is not one already].</li>

  <h2 style = "font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">Supply to us:-</h2>

  <li>Information about your business or conduct of the accounts company such as previous applications for credit [and the conduct of the accounts] </li>
    <ol><li>[and also similar personal credit information in your name (your personal partner’s name) and of your business partners].</li></ol>
  <li>Public information such as County Court Judgments (CCJs) and bankruptcies.</li>
  <li>Electoral Register information on you and your business partners.</li>
  <li>Fraud prevention information.</li>
  <li>Confirmation or otherwise that the usual residential addresses supplied by directors match those on the restricted register<sup><a href="#consent_commercial_sn4">4</a></sup> held at Companies House (or for those directors’ addresses registered under section 243 of the Companies Act, that the usual residential addresses supplied by directors match those on the credit reference agency’s proprietary business directory)</li>
</ol>
<hr/>
<div class="snoska">
    <ul class="list_1">
      <li id="consent_commercial_sn4"><sup>4</sup>With effect from October 2009 two registers have operated at Companies House; a public register available to all and a restricted register available only to public sector organisations and credit reference agencies which may be accessed only for certain specified purposes</li>
    </ul>
</div>
<h2 style="page-break-before: always; font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">6)  When information is supplied by us, to them, on your account(s):-</h2>
  <p>a) Credit reference agencies will record the details that are supplied on your business and business account [including previous and subsequent names of parties to the account and how you manage it/them].</p>
  <p>b) If your business borrows and does not repay in full and on time, credit reference agencies will record the outstanding debt.</p>
  <p>c) Records shared with credit reference agencies remain on file for 6 years after they are closed whether settled by you or defaulted.</p>
  <p>d) Information on shareholders who are beneficial owners will be used and supplied to others only</p>
    <ol type="i">
      <li>for the purpose of the performance of identity checks</li>
      <li>with their specific consent</li>
    </ol>
<h2 style = "font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">7)  How your data will <span style="text-decoration:underline;">NOT</span> be used by credit reference agencies:</h2>
  <p>a) It will <span style = "font: 12pt Calibri;font-weight: bold;">not</span> be used to create a blacklist.</p>
  <p>b) It will <span style = "font: 12pt Calibri;font-weight: bold;">not</span> be used by the credit reference agency to make a decision.</p>

  <p><b>How your data <span style="text-decoration:underline;">WILL</span> be used by credit reference agencies:</b></p>

    <p>c) The information which we and other organisations provide to the credit reference agencies about you, your business partners and details about your business (see 5e above) may be supplied by credit reference agencies to <span style="text-decoration:underline;">other organisations</span> and used by them to</p>
    <ol type="i">
      <li>Prevent crime, fraud and money laundering by, for example checking details provided on applications for credit and credit related or other facilities</li>
      <li>Check the operation of credit and credit-related accounts</li>
      <li>Verify your identity if you or your business partner(s) applies for other facilities.</li>
      <li>Make decisions on credit and credit related services about you and/or your business partner, or your business.</li>
      <li>Manage your personal, your business partner’s and/or business credit or credit related account(s).</li>
      <li>Trace your whereabouts and recover debts that you owe.</li>
      <li>Undertake statistical analysis and system testing.</li>
    </ol>
<h2 style = "font: 14pt Calibri;font-weight: bold;text-align: left;color: black;margin: 10px 0;">8)  How your data <span style="text-decoration:underline;">may</span> be used by fraud prevention agencies:</h2>
  
      <p>a)  The information which we provide to the fraud prevention agencies about you, your business partners and your business may be supplied by fraud prevention agencies to <span style="text-decoration:underline;">other organisations</span> and used by them and us to: </p>
          
              <p>i) prevent crime, fraud and money laundering by, for example: -</p>
              <ol type="1">
                  <li>checking details provided on applications for credit and credit related or other facilities</li>
                  <li>Managing credit and credit related accounts or facilities</li>
                  <li>Cross checking details provided on proposals and claims for all types of insurance.</li>
                  <li>Checking details on applications for jobs or when checked as part of employment</li>
              </ol>
      <p>b) Verify your identity if you or your business partner(s) applies for other facilities including all types of insurance proposals and claims.</p>
      <p>c) Trace your whereabouts and recover debts that you owe.</p>
      <p>d) Conduct other checks to prevent or detect fraud</p>
      <p>e) Organisations may access and use from other countries the information recorded by fraud prevention agencies.</p>
      <p>f) Undertake statistical analysis and system testing.</p>
<p><b>9.</b>  Your data may also be used for other purposes for which you give your specific permission or, in very limited circumstances, when required by law or where permitted under the terms of the Data Protection Act 1998.</p>

<p><b>10.</b> Your data may also be used to offer you other products, but only if permitted.</p>




<h1 style ="font: 18pt Calibri;font-weight: bold;text-align: center;margin-top: 15px;color: black;"><img src="@Url.Content("~/Content/img/lock.png")">How to find out more</h1>
For information about your personal data you can contact the 3 agencies currently operating in the UK; the information they hold may not be the same so it is worth contacting them all. They will charge you a small statutory fee.
<ul>
  <li><b>CallCredit</b>, Consumer Services Team, PO Box 491, Leeds, LS3 1WZ or call 0870 0601414 (Personal credit data only)</li>
  <li><b>Equifax</b> PLC, Credit File Advice Centre, PO Box 3001, Bradford, BD1 5US or call 0870 010 0583 or log on to <a href="http://www.myequifax.co.uk" target="_blank">www.myequifax.co.uk</a></li>
  <li><b>Experian</b>, Consumer Help Service, PO Box 8000, Nottingham NG80 7WF or call 0870 241 6212 or log on to <a href="http://www.experian.co.uk" target="_blank">www.experian.co.uk</a>.</li>
</ul>


