<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
	<!-- Sandbox-->
	<!--
	<add key="ConsumerKey" value="3MVG9rKhT8ocoxGk2916aIHrQ20hYcf_1cp8QQd4b5UYJzZLmv2iPJ44MXyb.IKsgrR.lRi26jgQfeptpyvPc"/>
	<add key="ConsumerSecret" value="4419591275683698474"/>
	<add key="ForceUserName" value="techapi@ezbob.com.sandbox"/>
	<add key="ForcePassword" value="yaron13572"/>
	<add key="ForceToken" value="RcFlUIMu3xZeBfKVvgryoOqvR"/>
	<add key="Environment" value="Sandbox"/>
	-->
	
	<!-- sb1 -->
	<add key="ConsumerKey" value="3MVG954MqIw6FnnPNMtQquUEWgFTeZVdS_G43_vBVQFTsidIuZJQgJ17SJv3PwyxSXgBWUjva9Zyq1pBALdmO"/>
	<add key="ConsumerSecret" value="1496232326147934946"/>
	<add key="ForceUserName" value="techapi@ezbob.com.sb1"/>
	<add key="ForcePassword" value="yaron13572"/>
	<add key="ForceToken" value="5jY4oEpTcYpgjM1MpjDC5Slu1"/>
	<add key="Environment" value="Sandbox"/>
  </appSettings>
</configuration>