<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PostcodeAnywhere_Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="PostcodeAnywhere_Soap1" />
                <binding name="PostcodeAnywhere_Soap2">
                    <security mode="Transport" />
                </binding>
                <binding name="PostcodeAnywhere_Soap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://services.postcodeanywhere.co.uk/BankAccountValidation/Interactive/RetrieveBySortcode/v1.00/soapnew.ws"
                binding="basicHttpBinding" bindingConfiguration="PostcodeAnywhere_Soap"
                contract="pca.PostcodeAnywhere_Soap" name="PostcodeAnywhere_Soap" />
            <endpoint address="https://services.postcodeanywhere.co.uk/BankAccountValidation/Interactive/Validate/v2.00/soapnew.ws"
                binding="basicHttpBinding" bindingConfiguration="PostcodeAnywhere_Soap2"
                contract="pca2.PostcodeAnywhere_Soap" name="PostcodeAnywhere_Soap1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
