<script type="text/template" id="funding-template">
    <div id="funding">
        <table class="table squeezed">
            <thead class="box">
                <tr class="box-title">
                    <th colspan="2">Funding</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Available Funds</td>
                    <td><%- model.get('AvailableFunds') %></td>
                </tr>
                <tr>
                    <td>Open Offers</td>
                    <td><%- model.get('ReservedAmount') %></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button class="btn btn-primary" id="addFundsBtn" ><i class="fa fa-plus" />Add Funds</button> 
            <button class="btn btn-primary" id="cancelManuallyAddedFundsBtn" ><i class="fa fa-ban" />Cancel Manually Added Funds</button> 
        </div>
    </div>
</script>
