<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EzbobWebServicesBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EzbobWebServicesBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cs81.salesforce.com/services/Soap/class/EzbobWebServices"
                binding="basicHttpBinding" bindingConfiguration="EzbobWebServicesBinding"
                contract="SalesForceServiceNS.EzbobWebServicesPortType" name="EzbobWebServices" />
        </client>
    </system.serviceModel>
</configuration>