<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SalesForceBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
			<!--SalesForce sandbox-->
            <endpoint address="https://test.salesforce.com/services/Soap/u/33.0"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForcePartnersServiceNS.Soap" name="PartnersServicesSandbox" />
            <endpoint address="https://cs80.salesforce.com/services/Soap/class/EzbobWebServices"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForceServiceNS.EzbobWebServicesPortType" name="EzbobWebServicesSandbox" />
		  
		    <endpoint address="https://test.salesforce.com/services/Soap/u/33.0"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForcePartnersServiceNS.Soap" name="PartnersServicesSb1" />
            <endpoint address="https://cs87.salesforce.com/services/Soap/class/EzbobWebServices"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForceServiceNS.EzbobWebServicesPortType" name="EzbobWebServicesSb1" />
			 
		
			
			<!--SalesForce prod-->
			<endpoint address="https://login.salesforce.com/services/Soap/u/33.0"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForcePartnersServiceNS.Soap" name="PartnersServicesProduction" />
			<endpoint address="https://eu5.salesforce.com/services/Soap/class/EzbobWebServices"
                binding="basicHttpBinding" bindingConfiguration="SalesForceBinding"
                contract="SalesForceServiceNS.EzbobWebServicesPortType" name="EzbobWebServicesProduction" />
        </client>
    </system.serviceModel>
</configuration>