<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EzbobWebServicesBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cs81.salesforce.com/services/Soap/class/EzbobWebServices" binding="basicHttpBinding" bindingConfiguration="EzbobWebServicesBinding" contract="SalesForceServiceNS.EzbobWebServicesPortType" name="EzbobWebServicesSandbox" />
            <endpoint address="https://test.salesforce.com/services/Soap/u/32.0" binding="basicHttpBinding" bindingConfiguration="EzbobWebServicesBinding" contract="SalesForcePartnersServiceNS.Soap" name="PartnersServicesSandbox" />
        </client>
    </system.serviceModel>
</configuration>