<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--private zone dev -->
		<!--<add key="cobrandId" value="6910005960"/>
		<add key="applicationId" value="58EEA306454D869DFF721D0D00B82D00"/>
		<add key="username" value="private-ezbob"/>
		<add key="password" value="3dhjzb873ehiw$#*bb"/>
		<add key="soapServer" value="https://sdkint11.yodlee.com/yodsoap/services"/>
		<add key="tncVersion" value="2"/>-->

		<!--public zone prod-->
		<add key="cobrandId" value="7110005960"/>
		<add key="applicationId" value="58EEA306454D869DFF721D0D00B82D00"/>
		<add key="username" value="ezbob"/>
		<add key="password" value="3dhjzb873ehiw$#*bb"/>
		<add key="soapServer" value="https://sdkint11.yodlee.com/yodsoap/services"/>
		<add key="tncVersion" value="2"/>
	</appSettings>

	<connectionStrings configSource="connection-strings.xml" />
</configuration>