<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEzServiceAdmin" />
                <binding name="NetTcpBinding_IEzService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://stasd-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="StasEzService.IEzServiceAdmin"
                name="NetTcpBinding_IEzServiceAdmin">
                <identity>
                    <userPrincipalName value="STASD-PC\stasd" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://stasd-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzService" contract="StasEzService.IEzService"
                name="NetTcpBinding_IEzService">
                <identity>
                    <userPrincipalName value="STASD-PC\stasd" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
