@model dynamic
<script type="text/template" id="bug-report-template">
    <div class="modal-header">
        <h3 id="myModalLabel">Report Bug</h3>
    </div>

    <div class="form-group">
        <div class="controls">
            <textarea name="description" class="form-control" rows="7" />
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <button class="btn btn-primary button-upload">Save</button>
        </div>
    </div>
</script>

<script type="text/template" id="bug-edit-template">
    <div class="modal-header">
        <h3 id="myModalLabel">Edit Bug</h3>
    </div>

    <div class="modal-body">
        <div class="control-group">
            <label>Underwriter Opened: <%-UnderwriterOpenedName%></label>
        </div>
        <div class="control-group underwriter-closed">
            <label>Underwriter Closed: <%-UnderwriterOpenedName%></label>
        </div>
        <div class="control-group">
            <label>Date Opened: <%-EzBob.formatDate(DateOpened)%></label>
        </div>
        <div class="control-group">
            <label>Text Opened:</label>
            <div class="controls">
                <textarea rows="7" class="form-control" name="description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label>Text Closed:</label>
            <div class="controls">
                <textarea rows="7" class="form-control" name="closeDescription"></textarea>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <button class="btn btn-primary closeBug">Close bug</button>
        <button class="btn btn-primary reopenBug">Reopen bug</button>
        <button class="btn btn-primary saveBug">Save / Update bug</button>
    </div>
</script>
