<div style="text-align: center;">
    <h4><u><strong>UNANIMOUS WRITTEN CONSENT OF THE BOARD OF DIRECTORS OF {{CompanyName}}</strong></u> (the "<strong>Company</strong>")</h4>
</div>
<div>
    <p style="text-align: justify;">The following, being all of the directors of the Company, acting by unanimous written consent, and having waived any rights to receive notice of a meeting:</p>
    <p style="text-align: justify;">Having discussed and noted that it is convenient and prudent for the business of the Company to borrow from and enter into loan agreements with EZBob Ltd. trading as EVERLINE and to appoint a person who may act on behalf of the Company regarding said loan and agreements, including authority to complete online applications do adopt the following written resolutions:</p>
</div>
<div style="text-align: center;">
    <h4><u><strong>IT WAS RESOLVED</strong></u></h4>
</div>
<h4><u><strong>FIRST</strong></u></h4>
<p><span style="text-align: left;">That the Company shall borrow from and enter into a loan agreements with EZBob Ltd. trading as EVERLINE with respect to a loan in the original principal amount of up to &pound;{{LoanAmount}} (the "<strong>Loan</strong>")</span></p>
<div style="text-align: left;">
    <h4><u><strong>SECOND</strong></u></h4>
</div>
<div>That {{CustomerFullName}} is authorised to sign individually for and on behalf of the Company and to transact any and all business with EZBob Ltd. trading as EVERLINE, to borrow money with or without security; to assign, transfer, pledge or otherwise charge property of the Company; including granting fixed and floating charges and charging of receivables.</div>
<div>Signed:</div>
<p>
    @*@foreach (var directorName in directorNames) {</p>
        <div>________________[{{DateOfStamp}}</div>
        <div>@directorName</div>
        <p>}*@
</p>