<center>
    <h3>THIS IS AN IMPORTANT DOCUMENT. YOU SHOULD TAKE INDEPENDENT LEGAL ADVICE BEFORE SIGNING AND SIGN ONLY IF YOU WANT TO BE LEGALLY BOUND.</h3>
    <h3>PRE-CONTRACT CREDIT INFORMATION</h3>
    <h3>(Standard European Consumer Credit Information)</h3>
</center>
<p class="head">1. Contract Details</p>
<table class="table-contract-agreement" border="1">
    <tbody>
        <tr>
            <td width="50%">Creditor:</td>
            <td width="50%">EZBob Ltd. 36 Soho Square, London W1D 3QY</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{CurentDate}}</td>
        </tr>
    </tbody>
</table>
<p class="head" style="margin-top: 15px;">2. Key features of the credit product</p>
<table class="table-contract-agreement" border="1">
    <tbody>
        <tr>
            <td width="50%">The type of credit</td>
            <td width="50%">Fixed Sum Loan</td>
        </tr>
        <tr>
            <td>The total amount of credit.</td>
            <td>Loan Amount (including set-up fee) {{TotalPrincipal}}</td>
        </tr>
        <tr>
            <td>Set up fee</td>
            <td>{{SetupFee}}</td>
        </tr>
        <tr>
            <td>This means the amount of credit to be provided under the proposed credit agreement or the credit limit.</td>
            <td>Total amount of credit {{TotalPrincipal}}</td>
        </tr>
        <tr>
            <td>How and when credit would be provided</td>
            <td>{{TotalPrincipalWithSetupFee}} will be deposited into the bank account you registered with us (your Primary Payment Account), or other account we have allowed you to nominate (your Alternative Payment Account), in most cases on the day you enter into the agreement with us.</td>
        </tr>
        <tr>
            <td>The duration of the credit agreement.</td>
            <td>{{Term}} months</td>
        </tr>
        <tr>
            <td>
                Repayments. Your repayments will pay off what you owe in the following order.
                <p style="text-align: justify;">The amount to be repaid in each of the first {{TermOnlyInterestWords}} ({{TermOnlyInterest}}) scheduled payments is comprised of interest only and does not include a repayment of a portion of the credit advanced. The following {{TermInterestAndPrincipalWords}} ({{TermInterestAndPrincipal}}) repayments include both interest and repayment of the credit advanced to you.</p>
                {{#isHalwayLoan}}
                <p style="text-align: justify;">The amount to be repaid in each of the first {{TermOnlyInterestWords}} ({{TermOnlyInterest}}) scheduled payments is comprised of interest only and does not include a repayment of a portion of the credit advanced. The following {{TermInterestAndPrincipalWords}} ({{TermInterestAndPrincipal}}) repayments include both interest and repayment of the credit advanced to you.</p>
                {{/isHalwayLoan}}
            </td>
            <td>
                You will pay to us {{TotalAmount}} by way of {{Term}} monthly(s) repayments and in accordance with the repayment schedule set out below: {{#FormattedSchedules}}
                <p style="text-align: justify;">{{StringNumber}} Payment {{AmountDue}}, {{Date}}</p>
                {{/FormattedSchedules}}
            </td>
        </tr>
        <tr>
            <td>The total amount you will have to pay. This means the amount you have borrowed plus interest and other costs.</td>
            <td>{{TotalAmount}}</td>
        </tr>
        <tr>
            <td>Security required. This is a description of the security to be provided by you in relation to the credit agreement.</td>
            <td>You must give us debit card details for us to collect your repayment and continuous authority to do so. This means that if we cannot collect the money you owe us on the scheduled repayment date, we can make further attempts to debit your Primary Payment Account and/or your Alternative Payment Account.</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p class="head" style="margin-top: 15px;">3. Costs of the credit</p>
<table class="table-contract-agreement" border="1">
    <tbody>
        <tr>
            <td width="50%">The rates of interest which apply to the credit agreement</td>
            <td width="50%">
                {{#FormattedSchedules}}
                <p style="text-align: justify;">MONTH {{Iterration}}: Rate of interest {{InterestRate}}% per month. Fixed</p>
                {{/FormattedSchedules}}
            </td>
        </tr>
        <tr>
            <td>Annual Percentage Rate of Charge (APR). This is the total cost expressed as an annual percentage of the total amount of credit. The APR is there to help you compare different offers.</td>
            <td>
                <p style="text-align: justify;">Total Loan APR: {{APR}}%</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">Related costs</td>
        </tr>
        <tr>
            <td>Other costs deriving from the credit agreement</td>
            <td>We charge a set-up fee equal to {{#IsManualSetupFee}} {{ManualSetupFee}} {{/IsManualSetupFee}} {{^IsManualSetupFee}} {{#IsBrokerFee}} {{SetupFee}} {{/IsBrokerFee}} {{^IsBrokerFee}} {{SetupFeePercent}}% of the loan amount (but in no case less than {{SetupFeeAmount}}){{/IsBrokerFee}} {{/IsManualSetupFee}} and this is deducted from the loan amount actually deposited in your bank account; we charge you interest on the entire loan amount (including the set-up fee).</td>
        </tr>
        <tr>
            <td>Costs in the case of late payments</td>
            <td>
                <p>If you fail to repay us in full on a scheduled repayment date you will be charged a fee of &pound;{{LatePaymentCharge}} after 7 days and an additional &pound;{{AdministrationCharge}} seven days later if you still have not made the scheduled payment (&ldquo;missed payment fee&rdquo;). This fee will be charged on each occasion that you fail to make the required payment on your scheduled repayment date.</p>
                <p>Also if you do not repay your loan in full and on time we will continue to charge interest on the outstanding credit balance. The rate of interest will be the same as shown above. Interest after default is calculated daily and applied to the outstanding balance every calendar month (or when the outstanding balance is repaid in full if earlier).</p>
            </td>
        </tr>
        <tr>
            <td>Consequences of missing payments</td>
            <td>If we cannot collect the money you owe us on the scheduled repayment date, you authorise us to make further attempts to debit your Primary Payment Account and/or your Alternative Payment Account in order to collect the money. Missing payments could have further severe consequences, including legal proceedings, and could make obtaining credit in the future more difficult.</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p class="head" style="margin-top: 15px;">4. Other important legal aspects</p>
<table class="tabbable table-contract-agreement" border="1">
    <tbody>
        <tr>
            <td width="50%">Right of withdrawal.</td>
            <td width="50%">You have the right to withdraw from the credit agreement before the end of the period of 14 days beginning from the day after you receive a copy of the agreement.</td>
        </tr>
        <tr>
            <td>Early repayment.</td>
            <td>You have the right to repay the credit early at any time in full or partially and there will be no additional charge or penalty in the event you do repay early.</td>
        </tr>
        <tr>
            <td>Consultation with a Credit Reference Agency(s).</td>
            <td>If we decide not to proceed with a prospective regulated consumer credit agreement on the basis of information from a credit reference agency we must, when informing you of the decision, inform you that it has been reached on the basis of information from a credit reference agency and of the particulars of that agency.</td>
        </tr>
        <tr>
            <td>Right to a draft credit agreement.</td>
            <td>You have the right, upon request, to obtain a copy of the draft credit agreement free of charge, unless at the time of your request we are unwilling to proceed to the conclusion of the credit agreement.</td>
        </tr>
        <tr>
            <td>The period of time during which the creditor is bound by the pre-contractual information.</td>
            <td>This information is valid from the date of receipt of this document until 24 hours after.</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p class="head" style="margin-top: 15px;">5. Additional information in the case of distance marketing of financial services</p>
<table class="table-contract-agreement" border="1">
    <tbody>
        <tr>
            <td colspan="2" width="50%">(a) concerning the creditor</td>
        </tr>
        <tr>
            <td>Registration number.</td>
            <td>We are authorised and regulated by the Financial Conduct Authority. Our Interim Permissions Reference Number is 647816. Company registration number 7852687.</td>
        </tr>
        <tr>
            <td>The supervisory authority.</td>
            <td>Financial Conduct Authority, 25 The North Colonnade, Canary Wharf, London E14 5HS.</td>
        </tr>
        <tr>
            <td colspan="2">(b) concerning the credit agreement</td>
        </tr>
        <tr>
            <td style="border-bottom: 0px none;">
                <p>The law taken by the creditor as a basis for the establishment of relations with you before the conclusion of the credit agreement.</p>
            </td>
            <td style="border-bottom: 0px none;">
                <p>The laws of the United Kingdom (and English law in particular) are taken by the creditor as the basis for the establishment of relations with you prior to the conclusion of the distance credit agreement and is the law applicable to the credit agreement.</p>
            </td>
        </tr>
        <tr>
            <td style="border-top: 0px none; border-bottom: 0px none;">
                <p>The law applicable to the credit agreement and/or the competent court.</p>
            </td>
            <td style="border-top: 0px none; border-bottom: 0px none;">
                <p>We and you submit to the non-exclusive jurisdiction of the English courts, unless you live in Scotland, Northern Ireland, the Channel Islands or the Isle of Man, in which case you will be entitled to commence legal proceedings in your local courts.</p>
            </td>
        </tr>
        <tr>
            <td style="border-top: 0px none;">
                <p>If applicable Language to be used in connection with the credit agreement.</p>
            </td>
            <td style="border-top: 0px none;">
                <p>All information and contractual terms will be in the English language.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">(c) concerning redress</td>
        </tr>
        <tr>
            <td>Access to out-of-court complaint and redress mechanism.</td>
            <td>Complaints can be made directly to us via email to <a href="mailto:customercare@everline.com" target="_blank">customercare@everline.com</a> or to the Consumer Credit Trade Association (&ldquo;CCTA&rdquo;), you may phone them on 01274 714959 via their web-site <a href="http://www.ccta.co.uk" target="_blank">www.ccta.co.uk</a> or to the Financial Services Ombudsman via email to <a href="mailto:complaint.info@financial-ombudsman.org.uk" target="_blank"> complaint.info@financial-ombudsman.org.uk </a></td>
        </tr>
    </tbody>
</table>
<p style="text-align: justify;">This document was signed electronically on {{CurentDate}} gmt time.</p>
<p style="text-align: justify;">By {{FullName}}</p>
<p style="text-align: justify;">Signed by EZBob Ltd. director:</p>
<p style="text-align: justify;">Sharone Perlstein</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">On {{CurentDate}}</p>