<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PartnerAPISoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://partnerapi.ekmpowershop1.com/v1.1/partnerapi.asmx"
          binding="basicHttpBinding" bindingConfiguration="PartnerAPISoap"
          contract="API.PartnerAPISoap" name="PartnerAPISoap" />
    </client>
  </system.serviceModel>
</configuration>