@model dynamic

<script type="text/template" id="add-customer-relations-entry-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Add Customer Relations Entry</h3>
    </div>
    <div class="modal-body">
        <form id="paypoint-edit-form">
            <div class="form_field_container FormRadioCtrl">
			    <span>
			        In\Out
			        <input type="radio" name="Incoming" value="I" id="Incoming_I" class="required"><label for="Incoming_I">Incoming</label>
			        <input type="radio" name="Incoming" value="O" id="Incoming_O" checked="checked"><label for="Incoming_O">Outgoing</label>
			    </span>
			</div>
            <br/>

            <div class="control-group form_field_container">
				<div class="controls">
					<label class="control-label attardi-input"><span>Status</span>
						<select class="form_field selectheight" id="Status" name="Status">
							<option></option>
                            <% for (var i in statuses) { %>
                                <option value="<%- i %>"><%- statuses[i] %></option>
                            <%}%>
						</select>
					</label>
				</div>
			</div>
            <br/>    
    
            <div class="control-group form_field_container">
				<div class="controls">
					<select class="form_field selectheight" id="Action" name="Action">
						<option></option>
                        <% for (var i in actions) { %>
	                        <option value="<%- i %>"><%- actions[i] %></option>
                        <%}%>
    				</select>
				</div>
			</div>
            <br/>    

            <label>Comment</label>    
            <textarea id="Comment" class="add-customer-entry-comment-size"/>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">OK</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</script>