@model dynamic

<script type="text/template" id="mark-as-pending-template">
    <div>
       BLAH BLAH
    </div>
    <div class="pull-right">
        <button class="btn btn-primary">OK</button>
    </div>
</script>
