@model dynamic

<script type="text/template" id="mark-as-pending-template">
    <div>
        <% _.each(actionItems, function(actionItem) { %>
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox" id="frequentActionItem_<%- actionItem.id %>" <%- actionItem.IsChecked ? 'checked="checked"' : '' %>>
                    <%- actionItem.Text %>
                </label>
            </div>
        <%});%>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary">OK</button>
    </div>
</script>
