@model dynamic

<script type="text/template" id="mark-as-pending-template">
    <div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" class="checkbox" id="testai1">
                Test action item 1
            </label>
        </div>
        <div>
            <label class="checkbox-inline">
                <input type="checkbox" class="checkbox" id="testai2">
                Test action item 2
            </label>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary">OK</button>
    </div>
</script>
