@model dynamic

<script type="text/template" id="send-sms-template">
    <div>
        <form id="customer-relations-form" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    Phone:
                </label>
                <div class="controls controls-row">
                    <input type="text" id="Phone" name="Phone" class="form-control" value="<%-phone%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Content:</label>
                <div class="controls controls-row">
                    <textarea id="Content" name="Content" maxlength="160" style="width: 100%; height: 100px;"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="pull-right">
        <button class="btn default-sms" data-default="<%-customerName%>, we tried to contact you but no reply, please contact us on 0800-011-4787 thanks, Ros from ezbob">Default SMS (Ros)</button>
        <button class="btn default-sms" data-default="<%-customerName%>, we tried to contact you but no reply, please contact us on 0203 7693 772 thanks, Jamie from everline/ezbob.">Default SMS (Jamie)</button>
        <button class="btn default-sms" data-default="<%-customerName%>, we tried to contact you but no reply, please contact us on 0203 7693 773 thanks, Loui from everline/ezbob.">Default SMS (Loui)</button>
        <button class="btn default-sms" data-default="<%-customerName%>, Please contact everline/ezbob ASAP concerning your missed payment. Sailish 0203 7693 771.">Default SMS (Sailish)</button>
        <button class="btn default-sms" data-default="<%-customerName%>, I need to speak with you on an important matter. Contact can be made by calling 0203 7693 769. Russ Barrett MICM, Senior Collections Manager at EZBob Ltd.">Default SMS (Russ)</button>
        <button class="btn btn-primary">Send</button>
    </div>
</script>
