@model dynamic


@using (Html.BeginForm("Generate", "GenerateAgreements", new{Area = "Underwriter"}, FormMethod.Post)) {
    <input type="submit" value="Generate" class="btn btn-primary"/>
    <p>@Html.ActionLink("Reload Agreement", "ReloadAgreementsModel", "GenerateAgreements")</p>
    <p>@Html.ActionLink("Reload Consent Agreement", "GenerateConsentAgreement", "GenerateAgreements")</p>
}
 