<?xml version="1.0"?>
<configuration>
  <!--<system.windows.forms jitDebugging="true" />-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinFormTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IEzServiceAdmin" />
        <binding name="NetTcpBinding_IEzService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://stasd-pc:7081/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="StasEzService.IEzServiceAdmin"
        name="NetTcpBinding_IEzServiceAdmin">
        <identity>
          <userPrincipalName value="STASD-PC\stasd" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://stasd-pc:7081/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IEzService" contract="StasEzService.IEzService"
        name="NetTcpBinding_IEzService">
        <identity>
          <userPrincipalName value="STASD-PC\stasd" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <WinFormTestApp.Properties.Settings>
      <setting name="lang" serializeAs="String">
        <value>0</value>
      </setting>
    </WinFormTestApp.Properties.Settings>
  </applicationSettings>
</configuration>
