@model dynamic

<script type="text/template" id="report-template">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Other)
    <div id="main-content">
        <div class="page-title">
            <h1></h1>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <%if(reports){ %>
                    <select id="reportsDdl" data-placeholder="Select report">
                        <option selected="selected" value="0"></option>
                        <%_.each(reports.reports, function(report){ if(report.Id){%>
                        <option value="<%-report.Id%>"><%-report.Title%></option>
                        <%}});%>
                    </select>
                    <select id="datesDdl" data-placeholder="Select date range">
                        <option selected="selected" value="0"></option>
                        <%_.each(reports.dates, function(date){ if(date.key){%>
                        <option value="<%-date.key%>"><%-date.value%></option>
                        <%}});%>
                    </select>
                    <div id="form-date-range" class="btn report-button" style="display: none">
                        <i class="fa fa-calendar"></i>
                        &nbsp;<span></span>
                        <b class="caret"></b>
                    </div>
                    <div id="reportCustomerDiv" class="report-button md-col-3" style="display: none;">
                        <input id="reportCustomer" type="text" class="form-control" placeholder="Customer Id/Name/Email" />
                    </div>
                    <div id="reportNonCashDiv" class="report-button md-col-3" style="display: none;">
                        <label>
                            <input id="reportNonCash" type="checkbox" value="false">Show Non cash
                        </label>
                    </div>
                    <button id="getReportBtn" class="btn btn-primary report-button"><i class="fa fa-play-circle-o"></i></button>
                    <button id="downloadReportBtn" class="btn btn-primary report-button"><i class="fa fa-file-excel-o"></i></button>
                    <%}%>
                </div>
                <div id="reportDiv" class="box-content"></div>
            </div>
        </div>
    </div>
</script>
