* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-page:before, .error-page:before, #main-content {
    background: initial;
}

.ezbob-logo {
    background-image: url(../img/new-ezbob-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 100%;
    margin-left: 10px;
}

.tvdashboard {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    width: 78%;
}

table.table {
    font-size: 13px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 0;
}

.notifications {
    color: red;
}

.navbar .nav > li > a {
    color: #000;
}

.skin-orange .navbar {
    background-color: #ddd;
}

.tile-ezgreen {
    background-color: #67c10b;
}

.tile-ezorange {
    background-color: #fc8e00;
}

.tile-ezgrey {
    background-color: #8d8d8d;
}

.tile-black {
    background-color: #000000;
}

.navbar .navbar-brand {
    font-size: 35px;
    text-align: center;
    height: 100%;
}

.navbar {
    height: 80px;
}

.flaty-nav {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box {
    margin-bottom: 0;
}

.tile {
    margin-bottom: 5px;
}

.box .box-title {
    padding: 0;
}

    .box .box-title h3 {
        color: #000;
        font-size: 30px;
        line-height: 30px;
    }

.tile p.title {
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.tile .caption {
    font-size: 37px;
    position: absolute;
    left: 0;
    vertical-align: middle;
    height: 100%;
    top: 40px;
    padding-left: 10px;
}

.tile-ezgrey .caption {
    color: #ddd;
}

.tile-ezgreen .caption {
    color: #D5FF91;
}


.nav-li {
    width: 200px;
}

.last-updated {
    position: absolute;
    top: 20px;
    right: 0;
}

a.logout {
    position: absolute !important;
    right: 0;
    top: -20px;
}

.skin-orange .box > .box-title {
    background-color: transparent;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
    text-shadow: none;
}

.col-md-4, .col-md-12 {
    padding-right: 1px;
    padding-left: 1px;
}

strong {
    color: black;
    font-weight: bold;
}

.ezlight {
    color: #888;
}

.total {
    background-color: #00bfff;
}

.total2 {
    background-color: #00ced1;
}

@media (max-width: 762px) {
    .login-page .login-wrapper form {
        width: 100%;
    }

    .navbar {
        height: initial;
    }

    .tvdashboard {
        display: none;
    }

    .last-updated {
        position: relative;
        float: right;
        top: 0;
    }

    .navbar .navbar-brand.ezbob-logo {
        background-image: url(../img/new-ezbob-logo.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    .box .box-title h3 {
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
    }

    .tile {
        height: initial;
    }

        .tile p.title {
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            right: 2px;
            top: 2px;
        }

        .tile .caption {
            font-size: 13px;
            position: absolute;
            left: 0;
            vertical-align: middle;
            height: 100%;
            top: 2px;
            padding-left: 2px;
        }

    .skin-orange .box > .box-title {
        padding: 0;
        margin-bottom: 0;
    }
}
