.ezbob-logo {
    background-image: url(../img/new-ezbob-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 100%;
}

table.table {
    font-size: 18px;
}

.notifications {
    color: red;
}

.skin-orange .navbar {
    background-color: #fc8e00;
}

.tile-ezgreen {
    background-color: #67c10b;
}

.tile-ezorange {
    background-color: #fc8e00;
}

.tile-ezgrey {
    background-color: #8d8d8d;
}

.tile-black {
    background-color: #000000;
}

.navbar-brand {
    font-size: 35px !important;
    text-align: center;
}

.navbar {
    height: 80px;
}

.flaty-nav {
    position: absolute;
    right: 10px;
    top: 5px;
}

.row {
    margin-bottom: 0;
}

.box {
    margin-bottom: 0;
}

.tile {
    margin-bottom: 5px;
}

.box .box-title {
    padding: 0;
}

    .box .box-title h3 {
        color: #000;
        font-size: 35px;
        line-height: 30px;
    }

.tile p.title {
    font-size: 70px;
    margin: -45px 0 0 0;
}

.tile .caption {
    font-size: 40px;
    text-align: center;
    min-height: 60px;
    padding-bottom: 25px;
    margin: -15px 0 0 0;
}

.nav-li {
    width: 200px;
}

.last-updated {
    position: absolute;
    top: 20px;
    right: 0;
}

a.logout {
    position: absolute !important;
    right: 0px;
    top: -20px;
}
