@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PayPoint: Fill Debit Card Details | EZBOB";
}

@model dynamic

@section head{
    <base href="https://app.ezbob.com/" />
    <script type="text/javascript">
        var EzBob = EzBob || {};
        EzBob.Config = EzBob.Config || {};
        EzBob.GA = EzBob.GA || function () { };
    </script>
    <style>
        .error{
	        color: red;
        }
        .error h3{
	        font-size: 14px;
	        margin-bottom: 0px;
	        color: red;
        }
        .paypont-form .control-label {
            font-weight: normal;
        }
        body header + .inner, .main-page {
            margin: 0 auto !important;
        }
    </style>
}

@helper Hiddens()
{
    <text><input type="hidden" name="merchant" value="${merchant}">
          <input type="hidden" name="trans_id" value="${trans_id}">
          <input type="hidden" name="callback" value="${callback}">
          <input type="hidden" name="backcallback" value="${backcallback}">
          <input type="hidden" name="order" value="${order}">
          <input type="hidden" name="shipping" value="${shipping}">
          <input type="hidden" name="billing" value="${billing}">
          <input type="hidden" name="template" value="${template}">
          <input type="hidden" name="err_template" value="${err_template}">
          <input type="hidden" name="options" value="${options}">
          <input type="hidden" class="amount" name="amount" value="${amount}">
          <input type="hidden" name="currency" value="${currency}">
          <input type="hidden" name="cb_list" value="${cb_list}">
          <input type="hidden" name="cb_flds" value="${cb_flds}">
          <input type="hidden" name="map_flds" value="${map_flds}">
          <input type="hidden" name="md_flds" value="${md_flds}">
          <input type="hidden" name="background" value="${background}">
          <input type="hidden" name="bgcolor" value="${bgcolor}">
          <input type="hidden" name="font_face" value="${font_face}">
          <input type="hidden" name="font_color" value="${font_color}">
          <input type="hidden" name="font_size" value="${font_size}">
          <input type="hidden" name="branding" value="${branding}">
          <input type="hidden" name="mail_message" value="${mail_message}">
          <input type="hidden" name="cb_message" value="${cb_message}">
          <input type="hidden" name="cb_fail_message" value="${cb_fail_message}">
          <input type="hidden" name="mandatory_Text" value="${mandatory_Text}">
          <input type="hidden" name="customer_Text" value="${customer_Text}">
          <input type="hidden" name="card_type_Text" value="${card_type_Text}">
          <input type="hidden" name="card_no_Text" value="${card_no_Text}">
          <input type="hidden" name="expiry_Text" value="${expiry_Text}">
          <input type="hidden" name="issue_Text" value="${issue_Text}">
          <input type="hidden" name="start_date_Text" value="${start_date_Text}">
          <input type="hidden" name="authorise_Text" value="${authorise_Text}">
          <input type="hidden" name="wait_Text" value="${wait_Text}">
          <input type="hidden" name="error_table_Text" value="${error_table_Text}">
          <input type="hidden" name="Master_Card_Text" value="${Master_Card_Text}">
          <input type="hidden" name="Delta_Text" value="${Delta_Text}">
          <input type="hidden" name="Visa_Text" value="${Visa_Text}">
          <input type="hidden" name="JCB_Text" value="${JCB_Text}">
          <input type="hidden" name="Solo_Text" value="${Solo_Text}">
          <input type="hidden" name="Switch_Text" value="${Switch_Text}">
          <input type="hidden" name="Maestro_Text" value="${Maestro_Text}">
          <input type="hidden" name="American_Express_Text" value="${American_Express_Text}">
          <input type="hidden" name="Diners_Club_Text" value="${Diners_Club_Text}">
          <input type="hidden" name="cv2_Text" value="${cv2_Text}">
          <input type="hidden" name="start_date_Error" value="${start_date_Error}">
          <input type="hidden" name="card_no_Error" value="${card_no_Error}">
          <input type="hidden" name="card_type_Error" value="${card_type_Error}">
          <input type="hidden" name="customer_name_Error" value="${customer_name_Error}">
          <input type="hidden" name="expiry_date_Error" value="${expiry_date_Error}">
          <input type="hidden" name="issue_Error" value="${issue_Error}">
          <input type="hidden" name="email_Error" value="${email_Error}">
          <input type="hidden" name="cv2_Error" value="${cv2_Error}">
          <input type="hidden" name="save_other_pay" value="${save_other_pay}">
          <input type="hidden" name="usercallback" value="${usercallback}">
          <input type="hidden" name="token" value="${token}">
          <input type="hidden" name="error_table">
          <input type="hidden" name="error_list"></text>
}


<div style="padding: 0 30px;">
    <div class="row-fluid">
        <div class="pages">
            <div>
                <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span10" style="padding-top: 16px;">
                        
                        <div class="PayPointHeader">
                            <h2>Enter your debit card details</h2>
                            <h3>For automatic loan repayment</h3>
                        </div>

                        <div class="error">
                            ${error_table}
                        </div>
                        <form class="form-horizontal paypont-form" action="https://www.secpay.com/java-bin/ValCard" method="POST" autocomplete="off" style="margin-top: 40px;">
                            <div class="control-group">
                                <label class="control-label" for="customer">
                                    ${customer_Text:=Name of Cardholder}<span class="mand">*</span></label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="customer" name="customer" value="${customer}"size="20"/>
                                </div>
                            </div>

                            ${start_card_type}
                            <div class="control-group">
                                <label class="control-label" for="card_type">${card_type_Text:=Card Type}<span class="mand">*</span></label>
                                <div class="controls">
                                    <select name="card_type" style ="width: 280px" class="input-xlarge">
                                        <option value="Visa" ${card_type="Visa"}>${Visa_Text:=Visa}</option>
                                        <option value="Debit Master Card" ${card_type="Debit" master="" card=""}>${Debit_Master_Card_Text:=Debit Master Card}</option>
                                        <option value="Delta" ${card_type="Delta"}>${Delta_Text:=Visa Debit Delta or Connect}</option>
                                        ${StartIssue}
                                        <option value="Maestro" ${card_type="Maestro"}>${Maestro_Text:=Maestro}</option>
                                        <option value="Solo" ${card_type="Solo"}>${Solo_Text:=Solo}</option>
                                        ${EndIssue}
                                        ${card_types} 
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="card_no">
                                    ${card_no_Text:=Card Number}<span class="mand">*</span></label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="card_no" autocomplete="off" name="card_no" value="${card_no}" maxlength="16" size="16"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="cv2">${cv2_Text:=CV2 (security code)}<span class="mand">*</span></label>
                                <div class="controls">
                                    <input type="password" style="width: 270px;" class="input-xlarge" id="cv2" autocomplete="off" name="cv2" value="${cv2}" maxlength="4" size="4"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="expiry">${expiry_Text:=Expiry Date (MM/YY)}<span class="mand">*</span></label>
                                <div class="controls">
                                    <input id="date" type="text" class="input-xlarge" id="expiry" autocomplete="off" name="expiry" value="${expiry}" maxlength="5" size="5"/>
                                </div>
                            </div>

                            <div id="amount-group" class="control-group" style="display: none">
                                <label class="control-label" for="amount">Amount</label>
                                <div class="controls">
                                    <label class="control-label" id="amount">${amount} ${currency:=GBP}</label>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p id="mandatory_text">${mandatory_Text:=Mandatory fields} <span class="mand">*</span></p>
                                </div>
                            </div>

                            <div>
                                <input type="submit" name="accept" value="Confirm" class="submit pull-right button orange">
                                <a href="#"class="button grey pull-right">Back</a>
                            </div>

                            @Hiddens()

                        </form>
                        <div id="buttons" align="center" class="span7">
                            ${other_pay}<br>
                        </div>
                        <div class="row">
                            <div class="span7" align="center">
                                ${3ds}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span11">
                    <hr>
                    ${paypal:=<table id="paypal_table">
                                  <tbody>
                                      <tr>
                                          <td id="paypal_text">
                                              <p>Pay with PayPal</p>
                                          </td>
                                          <td id="paypal_link">
                                              <a href="javascript:PPHelp()">What is PayPal?</a>
                                          </td>
                                          <td id="paypal_button">
                                              <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_xpressCheckout_nosub.gif" 
                                                     value="PayByPayPal" name="paypal_transaction"/>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                    <hr id="paypal_line">
                    }
                    <div id="secure">
                        <table border="0" width="100%" class="secure_table">
                            <tbody>
                                <tr>
                                    <td style="text-align: center; width: 150px;">
                                        <a href="https://www.paypoint.net/" target="_blank" title="PayPoint.net">
                                            <img src="https://www.secpay.com/users/small_logo.gif" width="125" height="22" alt="PayPoint.net logo" title="PayPoint.net logo" style="border: 0;" />
                                        </a>
                                    </td>
                                    <td valign="top" rowspan="2">
                                        ${wait_Text:=You have now entered a secure transaction environment. Your personal
                                        information will be encrypted before transmission. Please check that the address
                                        bar of your browser is visible and that the address begins with <b>https://</b>.
                                        For your re-assurance, this page is loaded from <b>https://www.secpay.com</b>. PayPoint.net
                                        incorporates the SECPay service.}
                                    </td>
                                    <td valign="top" rowspan="2" style="text-align: center; width: 150px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        Secure Payment<br>
                                                      <img src="https://www.secpay.com/users/lock.png" alt="The secure padlock" width="16" height="16">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{Html.RenderPartial("~/Areas/Customer/Views/Profile/_payEarlyConfirmationModalTemplate.cshtml");}
@{ Html.RenderPartial("~/Areas/Customer/Views/Profile/_GetCashConfirmationModalTemplate.cshtml"); }

@section Js{
    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false
        });

        EzBob.Config.HeartBeatEnabled = false;
        EzBob.Config.SessionTimeout = -1;

        function submitPaypointForm() {
            $('form').submit();
        }

        function getCallbackValue(key) {
            var uri = new Uri(decodeURIComponent(new Uri(document.location).getQueryParamValue('callback')));
            return uri.getQueryParamValue(key);
        }

        function getOptionsValue() {
            var uri = new Uri(document.location);
            return decodeURIComponent(uri.getQueryParamValue('options'));
        }

        var uri = new Uri(decodeURIComponent(new Uri(document.location).getQueryParamValue('options')));

        $(function() {
            $('form').attr('action', document.location.href);
            var amount = $('.amount').val();
            var isPayEarly = amount != 5;
            var lastDateOfPayment;

            if (isPayEarly) {
                lastDateOfPayment = moment().add('months', -1);
            } else {
                var param = decodeURIComponent(getCallbackValue('lastDatePayment') || "");
                lastDateOfPayment = moment(param, "DD/MM/YYYY");
            }
            var isTest = getOptionsValue().indexOf('test_status=true') != -1;

            //set user email in top bar
            var html = decodeURIComponent(getCallbackValue('username') || "") + '<a href="/Account/LogOff" class="button grey medium_btn">Log off</a>';
            $("#header_description").html(html);

            //set url for back button
            var ulrBack = !isPayEarly ? 'https://app.ezbob.com/Customer/Profile#GetCash' : "https://app.ezbob.com/Customer/Profile#PayEarly";
            var testUrlBack = !isPayEarly ? 'https://192.168.0.99/EzBob/EzBob.Web/Customer/Profile#GetCash' : "https://192.168.0.99/EzBob/EzBob.Web/Customer/Profile#PayEarly";

            $(".btn-back").attr("href", isTest ? testUrlBack : ulrBack);

            if (!isTest) {
                $("select option[value='Visa']").remove();
            }
            $("#date").mask("99/99");
            $("#card_no").mask("9999999999999999");

            if (isPayEarly) {
                $('#amount-group').show();
                $('.PayPointHeader h3').hide();
                $(".wizard-steps").hide();
            }

            $('li[rel]').popover({ placement: 'left' });

            $('input[name="back"]').click(function() {
                history.go(-1);
            });

            var contactUs = new EzBob.ContactUsView();
            contactUs.template = $(".contactUs").html();
            contactUs.render();

            $('input[type="submit"]').click(function(e) {
                if (!validator.form()) {
                    return false;
                }
                submitPaypointForm();
                return false;
            });
            var validator = $('.paypont-form').validate({
                rules: {
                    customer: { required: true, minlength: 2 },
                    card_no: { required: true, maxlength: 16 },
                    cv2: { required: true, minlength: 3 },
                    expiry: { required: true, validateLastDateOfPayment: lastDateOfPayment, regex: "^(0[1-9]|1[012])/\([0-9]{2})" }
                },
                errorPlacement: EzBob.Validation.errorPlacement,
                unhighlight: EzBob.Validation.unhighlight
            });

            $.validator.addMethod(
                "validateLastDateOfPayment", function(value, element, date) {
                    date = $.browser.msie ? date._d : date;
                    var expirydate = moment(value, "MM/YY");
                    var res = expirydate > date;
                    return res;
                }, "Debit card expires before the loan term. Please use another card."
            );
        });
    </script>
    <script type="text/javascript">
        adroll_adv_id = "PLSVG5WCDVB33CAAP2HAAG";
        adroll_pix_id = "VXRFC42DQVGXFOJMAXOXFA";
        (function() {
            var oldonload = window.onload;
            window.onload = function() {
                __adroll_loaded = true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if (oldonload) {
                    oldonload()
                }
            };
        }());
    </script>
}
