<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
 <project name="EzBob" queue="EzBob" queuePriority="1">
  <category>EzBob</category>
  <webURL>http://192.168.120.11/ccnet/server/local/project/EzBob/ViewLatestBuildReport.aspx</webURL>
  <workingDirectory>E:\build\EzBob</workingDirectory>
  <artifactDirectory>E:\build\EzBob\Artifacts</artifactDirectory>
  <triggers/>
  
  <labeller type="assemblyVersionLabeller">
		  <major>6</major>
		  <minor>2</minor>		  
		</labeller>
  
  <sourcecontrol type="git">
    <repository>git@bitbucket.org:ezbob/ezbob.git</repository>
    <executable>C:\Program Files (x86)\Git\bin\git</executable>
    <branch>master</branch>
    <workingDirectory>Sources</workingDirectory>
    <autoGetSource>true</autoGetSource>
    <tagOnSuccess>false</tagOnSuccess>
    <tagCommitMessage>CCNet Build {0}</tagCommitMessage>
    <tagNameFormat>ezbob/builds/v{0}</tagNameFormat>
    <committerName>CCNet</committerName>
  </sourcecontrol>

  <prebuild/>
  <tasks>
    <msbuild>
      <executable>c:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe</executable>
      <workingDirectory>Sources\Deployment</workingDirectory>
      <projectFile>Deploy.proj</projectFile>
      <!-- without incremental update db -->
	  <!--<targets>LogOffSessions;ContiniousScenario;BinaryCreate;UpdateWebConfig;ServiceStop;WEBStop;Deploy;WEBStart;ServiceStart;DeleteOldBinary</targets>-->
	  <!-- with incremental update db -->
	  <targets>LogOffSessions;ContiniousScenario;BinaryCreate;UpdateWebConfig;ServiceStop;WEBStop;ServerStop;Deploy;IncrementalUpdateDB;WEBStart;ServerStart;ServiceStart;DeleteOldBinary</targets>

      <buildArgs>
        "/l:CCNetListener,C:\Program Files (x86)\CruiseControl.NET\server\MSBuildListener.dll"
        /noconsolelogger
        /p:Src="E:\build\EzBob\Sources"
        /p:NunitLogs="E:\build\EzBob\nunit-logs"
        /p:BuildBin="E:\build\EzBob\Binary"
        /p:ServerBaseFolder="C:\inetpub\EzBob"
        /p:UsedEdition="standard"
        /p:ServicesFolder="service"
        /p:WebFolder="web"
        /p:ToolsFolder="tools"
        /p:Culture="en-US"
        /p:EnvId="EzBob"
        /p:EMConnection="Data Source=localhost;Initial Catalog=ezbob;Persist Security Info=True;User ID=sa;Password=qwerty-01;Asynchronous Processing=true;MultipleActiveResultSets=True"
		/p:MainConnectionString="Data Source=localhost;Initial Catalog=ezbob;Persist Security Info=True;User ID=sa;Password=Ezbobqadb1;Asynchronous Processing=true;MultipleActiveResultSets=True"
        /p:SessionConnectionString="Persist Security Info=True;Data Source=localhost;user id=ezbobuser;password=ezbobuser;"
        /p:DatabaseString="nevada sa sa EzBob"
        /p:DbPrefix="mssql"
        /p:DatabaseDeployFolder="MsSql"
        /p:TempStatesPath="E:\build\EzBob\Temp\TempStates"
        /p:serviceName="ezService"
      	/p:TfsUrl="http://localhost:8080"
      	/p:TfsProject="EzBob"
      </buildArgs>
      <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      <timeout>120000</timeout>
    </msbuild>
  </tasks>
  <publishers>
	<merge>
      <files>
        <file>C:\build\EzBob\nunit-logs\NUnitReport.xml</file>
      </files>
    </merge>
    <xmllogger />
    <modificationHistory />
    <statistics />
  </publishers>
 </project>
</cruisecontrol>