<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="appAssemblies" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appAssemblies>
    <add key="DPWindowsControls" value="DPWindowsControls.dll" />
    <add key="DPCore" value="DPCore.dll" />
  </appAssemblies>
  <appSettings>
  </appSettings>
  <system.web>
    <httpModules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </httpModules>
    <webServices>
      <protocols>
        <clear />
        <!--add name="HttpGet"/> 
        <add name="HttpPost"/-->
        <add name="HttpSoap" />
        <add name="Documentation" />
      </protocols>
      <soapExtensionTypes>
        <add type="Scorto.Web.ExceptionAdapterExtension, ServerLib" priority="1" />
        <add type="Scorto.Web.Security.ScortoAuthorizationExtension, ServerLib" priority="1" />
      </soapExtensionTypes>
    </webServices>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <customErrors mode="RemoteOnly" />
    <!-- trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/ -->
    <httpRuntime maxRequestLength="102400" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ExceptionAdapterModule" type="Scorto.Web.ExceptionAdapterModule, ServerLib" />
    </modules>
  </system.webServer>
</configuration>