<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="AdminConfig" type="AdminLib.AdminConfig, AdminLib"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SpecificSettings" type="Scorto.ConnectionsManager.SSSConfigSection,WindowsClientLib" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
			<section name="Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<Admin.Properties.Settings>
   <setting name="AppCulture" serializeAs="String">
    <value>en-US</value>
   </setting>
  </Admin.Properties.Settings>
		<SpecificSettings>
			<ConnectionProfiles ShowProfiles="true" DefaultProfileName="Main Connection">
				<add Name="Main Connection" Address="http://localhost/303/AdminServer/Service.asmx"/>
			</ConnectionProfiles>
		</SpecificSettings>
	</applicationSettings>

	<AdminConfig>
		<Plugins>
			<Plugin Name="Security management module" Path="securityplugin.dll"/>
			<Plugin Name="Other management module" Path="managementplugin.dll"/>
			<Plugin Name="Dictionaries module" Path="WarehouseDictionaries.dll"/>
      <Plugin Name="Customer Types module" Path="WarehouseCustomerTypes.dll"/>
      <Plugin Name="Account Types module" Path="WarehouseAccountTypes.dll"/>
      
      <Plugin Name="Warehouse Data View module" Path="WarehouseDataView.dll"/>
      <!-- <Plugin Name="Logs module" Path="logs.dll"/> -->
    </Plugins>
	</AdminConfig>
 <userSettings>
  <Admin.Properties.Settings>
   <setting name="AppEdition" serializeAs="String">
    <value>Standard edition</value>
   </setting>
   <setting name="AppName" serializeAs="String">
    <value>Administrator</value>
   </setting>
   <setting name="ForceScortoAuth" serializeAs="String">
    <value>True</value>
   </setting>
  </Admin.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
