<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AgentWindowsService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="appParams" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" allowLocation="true"/>
	</configSections>
	<connectionStrings>
		<!--<add name="MainConnection" connectionString="Data Source=GSPEED.SCORTO.LOCAL;User Id=sss8010;Password=sss8010;Integrated Security=no;" providerName="System.Data.OracleClient" />-->
		<add name="MainConnection" connectionString="Data Source=GSPEED.SCORTO.LOCAL;User Id=sssmain;Password=sssmain;Integrated Security=no;" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<appSettings>
		<add key="MainDBLib" value="DBOracle.dll"/>
		<add key="EngineDBLib" value="DBOracle.dll"/>
		<add key="MessageQueuePath" value=".\private$\test"/>
		<add key="pin" value="1234"/>
	</appSettings>
	<appParams>
		<add key="Engine" value="Engine.dll"/>
	</appParams>
	<applicationSettings>
		<AgentWindowsService.Settings>
			<setting name="MessageQueuePath" serializeAs="String">
				<value>.\private$\test</value>
			</setting>
			<setting name="MainDBLib" serializeAs="String">
				<value>DBOracle.dll</value>
			</setting>
			<setting name="HostUserId" serializeAs="String">
				<value>1</value>
			</setting>
		</AgentWindowsService.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
