<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

    <connectionStrings>
        <add name="dev-yulys" connectionString="user id=sa;password=Or@nge123;server=localhost\SQLEXPRESS;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-alexbo" connectionString="user id=ezbobuser;password=ezbobuser;server=localhost;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
        <add name="qa" connectionString="Server=localhost;Database=ezbob;User Id=sa;Password=Ezbobqadb1;" providerName="System.Data.SqlClient"/>
        <add name="uat" connectionString="Server=192.168.120.17;Database=ezbob;User Id=sa;Password=Ezbobuatdb1;" providerName="System.Data.SqlClient"/>
        <add name="prod" connectionString="Server=192.168.120.10;Database=ezbob;User Id=sa;Password=Or@nge123;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEzServiceAdmin" />
                <binding name="NetTcpBinding_IEzService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="EzServiceReference.IEzServiceAdmin"
                name="NetTcpBinding_IEzServiceAdmin">
                <identity>
                    <userPrincipalName value="alexbo-pc\alexbo" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzService" contract="EzServiceReference.IEzService"
                name="NetTcpBinding_IEzService">
                <identity>
                    <userPrincipalName value="alexbo-pc\alexbo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
