<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>

    <connectionStrings>
        <add name="dev-yulys" connectionString="user id=sa;password=Or@nge123;server=localhost\SQLEXPRESS;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-alexbo" connectionString="user id=ezbobuser;password=ezbobuser;server=localhost;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NetHttpBinding_IEzService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="NetHttpBinding_IEzService1">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEzServiceAdmin" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7082/" binding="customBinding"
                bindingConfiguration="NetHttpBinding_IEzService" contract="EzServiceReference.IEzService"
                name="NetHttpBinding_IEzService" />
            <endpoint address="net.tcp://localhost:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="EzServiceReference.IEzServiceAdmin"
                name="NetTcpBinding_IEzServiceAdmin">
                <identity>
                    <userPrincipalName value="yulys-PC\yulys" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7082/" binding="customBinding"
                bindingConfiguration="NetHttpBinding_IEzService1" contract="EzServiceReference.IEzService"
                name="NetHttpBinding_IEzService1" />
        </client>
    </system.serviceModel>
</configuration>
