<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <connectionStrings>
        <add name="dev-yulys" connectionString="user id=sa;password=Or@nge123;server=localhost\SQLEXPRESS;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-alexbo" connectionString="user id=ezbobuser;password=ezbobuser;server=localhost;database=ezbob" providerName="System.Data.SqlClient"/>
        <add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
        <add name="qa" connectionString="Server=ezqa01;Database=ezbob;User Id=sa;Password=Ezbobqadb1;" providerName="System.Data.SqlClient"/>
        <add name="uat" connectionString="Server=192.168.120.17;Database=ezbob;User Id=sa;Password=Ezbobuatdb1;" providerName="System.Data.SqlClient"/>
        <add name="production" connectionString="Server=192.168.120.10;Database=ezbob;User Id=sa;Password=Or@nge123;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEzServiceAdmin" />
                <binding name="NetTcpBinding_IEzService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://yulys-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="EzServiceReference.IEzServiceAdmin"
                name="NetTcpBinding_IEzServiceAdmin">
                <identity>
                    <userPrincipalName value="yulys-PC\yulys" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://yulys-pc:7081/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEzService" contract="EzServiceReference.IEzService"
                name="NetTcpBinding_IEzService">
                <identity>
                    <userPrincipalName value="yulys-PC\yulys" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="c:\temp\logs\StrategyActivator.log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy-MM-dd" />
            <maxSizeRollBackups value="1000" />
            <maximumFileSize value="100MB" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="ALL"/>
            <appender-ref ref="RollingLogFileAppender"/>
        </root>

        <logger name="NHibernate">
            <level value="WARN" />
        </logger>
        <logger name="NHibernate.SQL">
            <level value="WARN" />
        </logger>
        <logger name="AbstractBatcher.SQL">
            <level value="WARN" />
        </logger>
        <logger name="Scorto.Schedulers.SessionExpirationScheduler">
            <level value="INFO" />
        </logger>
    </log4net>
</configuration>
