<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.StructureMap" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Metadata.Modules" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.MSOwinSecurity" version="1.0.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NJsonSchema" version="1.12.5801.29458" targetFramework="net45" />
  <package id="NServiceBus" version="5.2.10" targetFramework="net45" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net45" />
  <package id="NServiceBus.Log4Net" version="1.0.0" targetFramework="net45" />
  <package id="NServiceBus.StructureMap" version="5.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="structuremap" version="3.1.5.154" targetFramework="net45" />
</packages>