@model EzBob.Web.Models.LogOnModel
@{
    ViewBag.Title = " Login to your EZBOB Account";
    Layout = "../../Areas/Underwriter/Views/Shared/_Layout.cshtml";
}
<div class="login-page">
    <div class="login-wrapper">
        @Html.Partial("_LoginSimple")
    </div>
</div>


@section Js{

    <script type="text/javascript">
        $(function () {
            EzBob.validateAdminLoginForm();
            var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
            EzBob.App.trigger('error', '@Html.ValidationMessage("")');
        });
    </script>
}