@model EzBob.Web.Models.LogOnModel
@{
    ViewBag.Title = "Login to EZBOB | Business loans UK | Money in your account in less than 30 minutes";
}

<div class="row-fluid">
    <div class="notifications"></div>
    <div class="row-fluid">
        <div class="span12">
            <!-- @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.") -->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
            @{Html.RenderPartial("_LoginTemplate", Model);}
        </div>
    </div>
</div>
@section Js{
    <script type="text/javascript">
        var loginPage = new EzBob.LoginView();
        loginPage.render();
        $(function () {
            EzBob.validateSignUpForm();
            var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
            EzBob.App.trigger('error', '@Html.ValidationMessage("")');
        });
        $('.login_btn').addClass('hide');
        $('.signup_btn').removeClass('hide');
    </script>
}