@model dynamic

<script id="apply-forloan-confirmation-template" type="text/template">
    @Template()
</script>

@helper Template(){
    <div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><%-name%> <%-surname%> - Get Cash Confirmation</h3>
        </div>
        <div class="modal-body">
            <strong>You have requested:</strong> <%=EzBob.formatPounds(amount)%><br/>
            <div><strong>Transferred to bank account:</strong> XXXX<%-card_no%><br/><br/></div>
            <div style="display: none;"><strong>Total (inc. interest and fees):</strong> <%-EzBob.formatPounds(total)%></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="button btn-green save pull-right">Ok</a>
            <a href="#" class="button btn-grey cancel pull-right">Cancel</a>
        </div>
    </div>
}
