@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	CustomerOriginEnum origin = ViewBag.CustomerOrigin.GetOrigin();
	bool isEverline = origin == CustomerOriginEnum.everline;
}
<script id="account-activity-template" type="text/template">
	<% if (loans.length) { %>
		<table class="table">
		<thead>
			<tr>
				<th width="15%">Ref. No.</th>
				<th width="15%">Origination Date</th>
				<th width="14%">Loan Amount</th>
				<th width="13%">Status</th>
				<th width="14%">Open Balance end of term</th>
				<th width="14%">Open Balance for today</th>
				<th width="15%"></th>
			</tr>
		</thead>
		<tbody><%
			_.each(loans, function(loan, i) {
				var last = loans.length - 1 == i;
				%><tr class="<%- last ? 'last' : '' %>">
					<td class="first"><%- loan.RefNumber  %></td>
					<td><%- EzBob.formatDateUK(loan.Date) %></td>
					<td><%-EzBob.formatPounds(loan.LoanAmount)%></td>
					<td class="status<%-loan.Status%>"><%-loan.StatusDescription%></td>
					<td><%-EzBob.formatPounds(loan.TotalBalance)%></td>
				  	<td><%-EzBob.formatPounds(loan.TotalEarlyPayment)%></td>
					<td class="last" width="100">
						<a href="#LoanDetails/<%-loan.Id%>" class="btn-details button btn-green loanbtn-<%-loan.Status%> clean-btn" ui-event-control-id="dashboard:loan-details">Details</a>
					</td>
				</tr><%
			});
		%></tbody>
	</table>
	<div class="clearfix right">
		<a href="#" class="print-link clean-btn" onclick="window.print();return false;" ui-event-control-id="dashboard:print-account-activity">Print</a>
	</div>
	<% } else { %>
		There is no activity in your account.
	<% } %>
</script>
