@model dynamic

<script id="company-directors-template" type="text/template">
	<h2>Directors and shareholders
		<button type="button" class="button btn-green add-director" ui-event-control-id="my-information:add-director-shareholder"><i class="fa fa-file-o"></i> Add Director/Shareholder</button>
	</h2>

	<div class="add-company-director" style="display: none;"></div>

	<table class="directors-list table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date of birth</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Director</th>
				<th>Shareholder</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<div class="templates hide" style="display: none;">
		<button type="button" class="btn-edit-director button btn-green"><i class="fa fa-edit"></i> Edit</button>
		<button type="button" class="btn-save-director button btn-green"><i class="fa fa-save"></i>Save</button>
		<button type="button" class="btn-cancel-edit button btn-grey"><i class="fa fa-undo"></i>Cancel</button>
	</div>
</script>
