@model dynamic

<script id="company-directors-template" type="text/template">
	<h2>Directors and shareholders</h2>
	<table class="directors-list table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Date of birth</th>
				<th>Address</th>
				<th>Director</th>
				<th>Shareholder</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<div class="templates hide" style="display: none;">
		<button class="btn-edit-director"><i class="fa fa-edit" /> Edit</button>
	</div>
</script>
