@using EzBob.Web.Areas.Customer.Models
@model dynamic
@{
    var url = string.Format("{0}://{1}{2}?invite={3}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"), Model.Customer.InviteFriendSource);
    const string summary = "Get a Small Business Loan To Grow your Online Store";
    var encodedSummary = Uri.EscapeDataString(summary);
    var text = string.Format("{0} {1}Join Now {2}", summary, Environment.NewLine, @url);
    string urlEncoded = Uri.EscapeDataString(url);
    string subject = Uri.EscapeDataString("Join Ezbob Loans");
    string utImageUrl = "http://www.ezbob.com/wp-content/uploads/ezbob_logo.jpg";
    var customer = (CustomerModel) Model.Customer;
}
<script id="invite-friend-template" type="text/template">
    <h3>Refer a small business to EZBOB and both you and your friend can get 100 pounds!</h3>
    <p>
       Help your friends grow their small business with up to 40,000 pounds in EZBOB
       instant funds. Refer them to EZBOB and you will earn 100 pounds for each
       business that signs up and qualifies for a loan. The small business that you refer
       will also receive 100 pounds when the sign up up and qualifies for funds. There is
       no limit to the number of referrals you can send or the amount of cash you can 
       receive.
    </p>
    @if (customer.InvitedFriends != null && customer.InvitedFriends.Any())
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Registered Friend</th>
                        <th>Took a loan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InvitedFriend friend in Model.Customer.InvitedFriends)
                    {
                        <tr>
                            <td class="first">@friend.FriendName</td>
                            <td class="last">@friend.FriendTookALoan</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="row-fluid">
        <button class="button orange pull-right inviteFriendHelp">Invite A Friend</button>
    </div>

    <div class="hide">
        <div id="inviteFriendHelp" class="help_window">
            <h2>Invite A Friend</h2>
            <p>
                Please copy the following text and paste in your email client 
                <br />
                or just press send button.
            </p>
            <br />
            <textarea class="invite_friend">@text</textarea>
            <div class="alignright" style="padding: 0 10px 0 0;">
                <a href="mailto:?subject=@subject&body=@text" target="_blank" class="button orange pull-right" id="inviteFriendBtn" onclick="$.colorbox.close();">Send</a>
                <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=@subject&p[summary]=@encodedSummary&p[url]=@urlEncoded&p[images][0]=@utImageUrl" class="button orange pull-right" target="_blank">Share on Facebook</a>
                <button class="button grey pull-right" id="cancelInviteFriendBtn" onclick="$.colorbox.close();">Cancel</button>
            </div>
            <div class="clear"></div>
            <hr>
            <div class="help_security"></div>
        </div>
    </div>




</script>
