@model dynamic
@{ Html.RenderPartial("_payEarlyConfirmationModalTemplate"); }

<script id="payEaryly-template" type="text/template">
	<%
	var loanPaymentTypeDisabled = !isPayLoan && liveLoans.length > 1 ? 'disabled="disabled"' : '';
	var loanPaymentTypeHidden   = !isPayLoan && liveLoans.length > 1 ? 'style="display: none;"' : '';

	var rolloverDisabled        = !isPayRollover && rollovers.length > 0 ? 'disabled="disabled"' : '';
	var rolloverIsHidden        = !isPayRollover && rollovers.length > 0  ? 'style="display: none;"' : '';
	var rolloverVisible         = rollovers.length == 0 ? 'style="display: none;"' : '';
	var rolloverAnotherAmountDisabled = rolloverPaymentType != 'other' ? 'disabled="disabled"' : '';

	var loansClass = liveLoans.length > 1 ? 'lot-of-loans' : '';
	%>
	<div class="row-fluid profile-screen">
		<div class="span7"><%
			if (hasLateLoans || !isEarly) {
				%><h1>Make a Payment:</h1>
				<h2>Always good to pay on time!</h2><%
			}
			else {
				%><h1>Pay Early:</h1>
				<h2>Save &amp; Increase Your Rating!</h2><%
			}
			%>

			<div class="form-horizontal early-payment-form simple-well">
				<div class="row-fluid">
					<div class="span12">
						<h3 class="apply-header-approved total-balance-pay pull-right">Today's Total Balance: <b><%- EzBob.formatPounds(total) %></b></h3>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<h3 style="margin-bottom: 25px; font-weight: bold;">Choose an Option:</h3>
					</div>
				</div>

				<div><%
					if (liveLoans.length > 1) {
						%><div class="control-group">
							<label class="radio w100p" ui-event-control-id="pay-early:total">
								<input type="radio" name="paymentType" value="total" <%- paymentType =='total' ? 'checked="checked"' : '' %> />
								Pay Total Balance: <b style="margin-left: 25px;"><%- EzBob.formatPounds(total) %></b>
							</label>
						</div>

						<% if (hasLateLoans) { %>
							<div class="control-group">
								<label class="radio w100p" ui-event-control-id="pay-early:totalLate">
									<input type="radio" name="paymentType" value="totalLate" <%- isPayTotalLate ? 'checked="checked"' : '' %> />
									Pay Late Balance: <b style="margin-left: 25px;"><%- EzBob.formatPounds(totalLatePayment) %></b>
								</label>
							</div><%
						} %>

						<div class="control-group">
							<label class="radio inline-block-margin" style="width: 64px;" ui-event-control-id="pay-early:loan">
								<input type="radio" name="paymentType" value="loan" <%- isPayLoan ? 'checked="checked"' : '' %> />
								Pay
							</label>
							<select class="w220 selectheight" <%= loanPaymentTypeDisabled %> name="loanSelect" ui-event-control-id="pay-early:loanSelect"><%
								_.each(liveLoans, function(l) {
									%><option value="<%- l.get('Id') %>" <%- l.get('Id') == loan.get('Id') ? 'selected="selected"' : ''%>>Loan Ref. # <%- l.get('RefNumber') %></option><%
								});
							%></select>
						</div><%
					}

					if (loan.get('Status') == "Late") {
						%><div class="control-group less-space">
							<label class="radio <%-loansClass%> w100p" <%- loanPaymentTypeDisabled %> <%= loanPaymentTypeHidden %> ui-event-control-id="pay-early:late">
								<input type="radio" <%- loanPaymentTypeDisabled %> name="loanPaymentType" value="late" <%- loanPaymentType == 'late' && isPayLoan ? 'checked="checked"' : '' %> />Late: <b style="color:red"><%- EzBob.formatPounds(loan.get('Late')) %></b>
							</label>
						</div><%
					} %>

					<div class="control-group less-space">
						<label class="radio <%-loansClass%> w100p" <%-loanPaymentTypeDisabled%> <%=loanPaymentTypeHidden%> ui-event-control-id="pay-early:full">
							<input type="radio" <%-loanPaymentTypeDisabled%> name="loanPaymentType" value="full"  <%-loanPaymentType=='full' && isPayLoan ? 'checked="checked"' : ''%> />Pay Total Balance: <b><%-EzBob.formatPounds(loan.get('TotalEarlyPayment'))%></b>
						</label>
					</div>

					<% if (loan.get('Status') != "Late") {
						%><div class="control-group less-space">
							<label class="radio <%-loansClass%> w100p" <%-loanPaymentTypeDisabled%> <%=loanPaymentTypeHidden%> ui-event-control-id="pay-early:next" >
								<input type="radio" <%- loanPaymentTypeDisabled %> name="loanPaymentType" value="next" <%- loanPaymentType=='next' && isPayLoan ? 'checked="checked"' : '' %> />Next Installment: &nbsp;&nbsp;<b><%- EzBob.formatPounds(loan.get('NextEarlyPayment')) %></b>
							 </label>
						</div>
					
						<% if(loan.get('NextInterestPayment')) {
							%><div class="control-group less-space">
								<label class="radio <%-loansClass%> w100p" <%- loanPaymentTypeDisabled %> <%= loanPaymentTypeHidden %> ui-event-control-id="pay-early:next-interest" >
									<input type="radio" <%- loanPaymentTypeDisabled %> name="loanPaymentType" value="nextInterest" <%- loanPaymentType == 'nextInterest' && isPayLoan ? 'checked="checked"' : '' %> />Next Interest: &nbsp;&nbsp;<b><%- EzBob.formatPounds(loan.get('NextInterestPayment')) %></b>
								 </label>
							</div><%
						}
					} %>

					<div class="control-group less-space" style="margin-bottom: 20px;">
						<label class="radio inline-block-margin input-medium <%- loansClass %> other-amount-label w100p" <%- loanPaymentTypeDisabled %> <%= loanPaymentTypeHidden %> ui-event-control-id="pay-early:other">
							<input <%- loanPaymentTypeDisabled %> type="radio" name="loanPaymentType" value="other" <%- loanPaymentType == 'other' && isPayLoan ? 'checked="checked"' : '' %> />
							Another Amount:
							<input type="text" class="money s84 bold" <%= loanPaymentTypeHidden %> name="paymentAmount" <%- loanPaymentType != 'other' ? 'readonly="readonly"' : '' %> value="<%- EzBob.formatPounds(amount) %>" ui-event-control-id="pay-early:other-value" />
						</label>
					</div>

					 <div class="control-group" <%= rolloverVisible %>>
						<label class="radio inline-block-margin" style="width: 64px;" ui-event-control-id="pay-early:rollover">
							<input type="radio" name="paymentType" value="rollover" <%- paymentType == 'rollover' ? 'checked="checked"' : '' %> />
							Rollover
						</label>
						<select class="rolloverLoan selectheight" <%= rolloverDisabled %> name="rolloverSelect" ui-event-control-id="pay-early:rollover-select"><%
							_.each(liveLoans, function(l) {
								if (_.any(rollovers.toJSON(), function(r){ return r.LoanId == l.get('Id'); }) ) {
									%><option value="<%- l.get('Id') %>" >Loan Ref. # <%- l.get('RefNumber') %></option><%
								}
							});
						%></select>
					</div>

					<div class="control-group less-space" <%= rolloverIsHidden %> <%= rolloverVisible %>>
						<label class="radio lot-of-loans w100p" ui-event-control-id="pay-early:minimum">
							<input type="radio" name="rolloverPaymentType" value="minimum" <%- rolloverPaymentType == 'minimum' ? 'checked="checked"' : '' %> />Minimum payment: </b><%- EzBob.formatPounds(currentRollover && currentRollover.RolloverPayValue) %></b>
						</label>
					</div>

					<div class="control-group less-space" <%= rolloverIsHidden %> <%= rolloverVisible %>>
						<label class="radio inline-block-margin input-medium lot-of-loans other-amount-label w100p" <%- rolloverDisabled %> <%= rolloverIsHidden %> ui-event-control-id="pay-early:rollover-other">
							<input <%- rolloverDisabled %> type="radio" name="rolloverPaymentType" value="other" <%- rolloverPaymentType == 'other' ? 'checked="checked"' : ''%> />
							Another Amount:
							<input type="text" <%= rolloverAnotherAmountDisabled %> class="money s84 bold" <%= rolloverIsHidden %> name="rolloverAmount" value="<%- EzBob.formatPounds(amount) %>" ui-event-control-id="pay-early:rollover-other-value" />
						</label>
					</div>
				</div>

				<div class="clearfix" style="margin-top: 20px;">
					<label class="checkbox" style="width: 125px" ui-event-control-id="pay-early:use-default-card">
						<input type="checkbox" name="defaultCard" <%- defaultCard ? 'checked="checked"' : ''%> />
						Use default card
					</label>
				</div>
			</div>
			<div class="clearfix buttons_container">
				<a href="<%-url%>" class="button btn-green submit pull-right" ui-event-control-id="pay-early:confirm">Confirm</a>
				<a href="#" class="button btn-grey back pull-right" ui-event-control-id="pay-early:back">Back</a>
			</div>
		</div>

		<div class="span1">&nbsp;</div>
	</div>
</script>

@{ Html.RenderPartial("PayPointResult"); }
