@using EzBob.Models
@model dynamic

@{
	var customer = (CustomerModel)Model.Customer;
}

<script id="perks-template" type="text/template">
	@*@if (customer.Perks != null) {
		<div style="margin-top: 10px">
			@Html.Raw(customer.Perks)
		</div>
 }*@
</script>
