@using EzBob.Web.Areas.Customer.Models
@model dynamic
@{
    var customer = (CustomerModel)Model.Customer;
}
<script id="perks-template" type="text/template">
    <h2>Perks</h2>
    @if (customer.Perks != null)
    {
        <div style="margin-top: 10px">
            @Html.Raw(customer.Perks)
        </div>
    }
</script>
