@model dynamic

@helper StoresContent(){
    <table class="table grey-table account-activity-table">
        <thead>
            <tr>
                <th width="250">Marketplace</th>
                <th width="250">Store Name</th>
                <th width="250">Status</th>
            </tr>
        </thead>
        <tbody>
            <%_.each(stores, function(store, i){%>
                <%var last = stores.length - 1 == i;%>
                <tr class="<%= last ? 'last' : '' %>" >
                    <td class="first" ><div class="source_labels_on <%=store.type%>"></div></td>
                    <td><%=store.displayName%></td>
                    <td class="last Live" >LIVE</td>
                </tr>
            <%});%>
        </tbody>
    </table>
    <div style="padding-left: 260px;">
        <a href="#" style="margin-left: 80px;" class="btn-continue button orange add-store">Add Shop</a><br/>
        <span style="padding-left: 90px;" class="add-stores-tip">Get more cash!</span>
    </div>
}

<script id="stores-template" type="text/template">
    @StoresContent()
</script>