<div class="nvbarwrapper col-md-10 col-md-offset-1">
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="ReviewLegalDocsTab" class="LegalDocsTab tabContentReviewLegalDocs"><a href="#/reviewPage">Review</a></li>                
                <li id="ApproveLegalDocsTab" class="LegalDocsTab tabContentApproveLegalDocs"><a href="#/approvePage">Approve</a></li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated) {
                    <text>
                        Hello, @User.Identity.Name
                        @using (Html.BeginForm("Logout", "Account", new { Area = "" }, FormMethod.Post, new { @class = "simple-logout" })) {
                            @Html.AntiForgeryToken()
                            <a href="#" onclick="$(this).parents('form').submit();">Log Out</a>
                        }
                    </text>
                }
            </ul>
        </div>
    </nav>
</div>