<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZBob.DatabaseLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EZBob.DatabaseLib.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Data Source=KOT;Initial Catalog=EZBob;Persist Security Info=True;User ID=sa;Password=sa</value>
            </setting>
        </EZBob.DatabaseLib.Properties.Settings>
    </applicationSettings>
</configuration>