#signupEmail, #signupPass1, #signupPass2, #SecurityAnswer {
    width: 200px;
}
#securityQuestion{
    /*width: 390px;*/
}
#recaptcha_area, #recaptcha_table {
    margin-left: -3px;
}

#wizard {
    padding: 0 61px;    
}

.wizard-steps {
    margin-bottom: 40px;
    background-image: url(wizard-bg.png);
    background-repeat: repeat-x;
    background-position: left center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

.wizard-steps ul 
{

}
.wizard-steps ul, .wizard-steps ul li, .wizard-steps ul > li > div {
    margin: 0;
    padding: 0;
    height: 50px;
}
.wizard-steps ul li {
    display: block;
    float: left;
    margin-left: -15px;
    cursor: pointer;
}

.wizard-steps ul li:first-child
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 0;
}
.wizard-steps ul li:first-child .arrow-left {
    display: none;
}
.wizard-steps li > div {
    display: inline-block;
}
.wizard-steps div.arrow-left {
    background-image: url(arrow-grey.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 15px;
}

.wizard-steps div.arrow-right {
    background-image: url(arrow-grey.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 15px;
}

.wizard-steps div.arrow-last {
    background-image: url(arrow-last.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 15px;
}

.wizard-steps ul li:first-child div.arrow-left {
    background-image: none;
}

.wizard-steps li.active div.arrow-left {
    background-image: url(arrow-blue-left.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 15px;
}

.wizard-steps li.active div.arrow-right {
    background-image: url(arrow-blue-right.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 15px;
}
.wizard-steps li.active {
    background-image: url(wizard-bg-active.png);
    background-repeat: repeat-x;
    background-position: left center;
}

.wizard-steps div.completition {
    width: 29px;
}
.wizard-steps li.completed div.completition {
    background-image: url(wizard-mark-completed.png);
    background-position: left center;
    background-repeat: no-repeat;
}
.wizard-steps .step-text 
{
    vertical-align: top;
    padding: 10px 5px 0 5px;
    height: 40px;
    line-height: 13px;
    color: #515051;
    font-weight: bold;
    font-style: italic;
    font-family: arial;
    font-size: 16px;
}

.wizard-steps .step-text span 
{
    line-height: 15px;
}

.wizard-steps li.active .step-text{
    color: white;
}

.wizard-steps .wizard-step-no {
    font-family: georgia;
    font-size: 60px;
    font-style: italic;
    color: white;
    line-height: 50px;
    vertical-align: top;
    padding: 0 5px;
    overflow: hidden;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.wizard-steps .wizard-step-no1{line-height: 35px; font-size: 100px;}
.wizard-steps .wizard-step-no2{line-height: 35px; font-size: 100px;}
.wizard-steps .wizard-step-no3{line-height: 25px; font-size: 85px;}
.wizard-steps .wizard-step-no4{line-height: 28px; font-size: 85px;}

form.signup input[type="text"], form.signup input[type="password"], form.signup select{
    margin-bottom: 0;
}
form.signup button[rel] {
    margin-left: 20px;
}

.store-add-page {
    padding: 0 10px 0 10px;
    color: #565656;
    margin-bottom: 26px;
}

.store-add-page h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    color: #565656;
}
.store-add-page p {
    font-family: arial;
    font-weight: normal;
    font-size: 14px;
}

.ebay-iframe {
    height: 800px;
    width: 100%;
}

#ebay-connect-modal {
    width: 1000px;
    margin-left: -500px;
}

.store-connect-manual li{
    margin: 20px 0;
}

.store-logo {
     width: 207px; height: 147px; cursor: pointer; background-repeat: no-repeat;
    background-image: url(store-sprites.png);
}

.amazon-logo:hover {
    background-position: 0px 0px;
}

.amazon-logo {
    background-position: 0px -147px;
}

.ebay-logo:hover {
    background-position: 0px -294px;
}

.ebay-logo {
    background-position: 0px -443px;
}

.paypal-logo {
    background-position: 0px -735px;
}

.paypal-logo:hover {
    background-position: 0px -588px;
}

.bank-account-logo {
    background-position: 0px -1029px;
}

.bank-account-logo:hover {
    background-position: 0px -882px;
}

.instructions-header h2{
    font-family: arial;
    font-size: 16px;
    color: white;
    background-color: #353333;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 10px;
    min-height: 55px;
    
    background: rgb(89,89,89); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzFmMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(89,89,89,1) 0%, rgba(35,31,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(35,31,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(35,31,32,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#231f20',GradientType=0 ); /* IE6-8 */

}

.instructions-header h2.one-line {
    vertical-align: middle;
    line-height: 55px;
}

.instructions-header h2 p {
    padding-left: 50px;
    padding-top: 10px;
    font-style: normal;
    font-size: 16px;
    font-family: Arial;
    color: white;
}
.instructions-header .exclamation {
    font-family: arial;
    font-size: 46px;
    font-weight: bold;
    font-style: italic;
    color: #f3b91e;
    float: left;
}
.ebay-instructions img 
{
    margin-left: 20px;
}

.ebay-instructions-list span {
    float: left;
}
hr.dotted {
    border: 0;
    border-bottom: 2px dotted #ccc;
    margin: 18px 30px;
}
.ebay-instructions-list p {
    margin-right: 20px;
    padding-left: 20px;   
}

.ebay-instructions-list, .ebay-instructions-list p {
    font-family: arial;
    font-size: 16px;
    color: #565656;
}

.ebay-instructions-list {
}

.store-connect-manual, .store-connect-manual p, .store-connect-manual a, .store-connect-manual a:hover, .store-connect-manual a:visited, .amazon-instructions p {
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    color: #565656;
}

.store-connect-manual a, .store-connect-manual a:hover, .store-connect-manual a:visited {
    text-decoration: underline;
}

.store-connect-manual q {
    font-style: italic;
    color: #0b73b4;
}

.amazon-instructions .amazon-blackbox h2
{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    
    background-color: #353333;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    padding: 8px 8px 8px 20px;
    margin-left: 160px;
    margin-top: 2px;
    margin-right: 2px;
}
.amazon-instructions .simple-well {
    padding: 0 20px;
}

.simple-well {
    padding: 10px;
    border: solid 1px #c5c5c5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #FFF;
}

.wizard-top-notification h2 {

}

img.help-btn {
    float: right;
}

.help-btn, .help-btn:hover, .help-btn:active {
    color: #0b73b4;
    font: bold 16px Airal;
}
body .SecurityStatement {
    border: solid #d3d3d3 3px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 10px #CCC;
    -moz-box-shadow: 0 0 10px #CCC;
    -o-box-shadow: 0 0 10px #CCC;
    box-shadow: 0 0 10px #CCC;
    

    padding: 18px;

    color: #585858;
    background-color: #FFF;

    font: normal 12px Arial;
}

.SecurityStatement h4 {
    font: normal 16px Arial;
    margin-bottom: 22px;
    color: #585858;
}

.pages fieldset legend {
    font-style: italic;
    color: #0B73B4;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    display: inline;
    padding-right: 20px;
    padding-left: 10px;
    border: none;
    width: auto;
}

.pages fieldset {
    border-top: 1px solid #EEE;
}

.AmazonForm, .AmazonForm label {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    color: black;
}

body .bank-account legend {
    color: #515051;
    font-size: 16px;
}

body .andenter {
    font-weight: normal;
    padding: 15px 0 5px 0px;
}

.store-connect-manual dl{
    margin-top: 0;
    padding-top: 0;
}

.store-connect-manual dt {
    float: left;
    width: 150px;
    padding-top: 20px;
    
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    color: black;
    text-align: right;
    margin-left: -10px;
}

.store-connect-manual dd {
    margin-left: 160px;
    padding-top: 20px;
}

#wizard .pages h1, #wizard .pages h2{
    padding-left: 10px;
}

#wizard .SecurityStatement {
    margin-top: 10px;
}

label {
    color: #585858;
}

.CompanyDetailForm {
    padding-top: 15px;
}

.yellow-link, a.yellow-link, a.yellow-link:visited, a.yellow-link:active,  a.yellow-link:hover {
    color: #f3b91e;
    font-weight: bold;
    text-decoration: underline;
}

.blue-link, a.blue-link, a.blue-link:visited, a.blue-link:active,  a.blue-link:hover {
    color: #0B73B4;
    text-decoration: underline;
}


#amazon-gallery {
    width: 960px;
    left: 36%;
}

#amazon-gallery .cs-title {
    display: none;
}

#amazon-gallery  .cs-buttons {
}