<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MavenConfig" type="StrategyBuilder.MavenConfig, Scorto.Maven.Base"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpecificSettings" type="Scorto.ConnectionsManager.SSSConfigSection,WindowsClientLib" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
      <section name="StrategyBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StrategyBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="ApplicationNodes" type=" StrategyBuilder.Plugin.NodesConfig, Scorto.Maven.Base" />
    <section name="MixedNodes" type=" StrategyBuilder.Plugin.NodesConfig, Scorto.Maven.Base" />
  </configSections>
  <appSettings>
    <add key="pin" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <SpecificSettings>
      <ConnectionProfiles ShowProfiles="true" DefaultProfileName="Main Connection" OfflineAlways="false">
        <add Name="Main Connection" Address="http://localhost/303/MavenServer/Service.asmx"/>
      </ConnectionProfiles>
    </SpecificSettings>
    <StrategyBuilder.Properties.Settings>
      <setting name="Build" serializeAs="String">
        <value/>
      </setting>
      <setting name="ParalleNodeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ComplexNodesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MarketingNodesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppCulture" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="DemonstrationBehaviourEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BehavioralDBTempPath" serializeAs="String">
        <value>TempDB</value>
      </setting>
      <setting name="UseNewCreateAndLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UndoEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </StrategyBuilder.Properties.Settings>
  </applicationSettings>
  <MavenConfig>
    <Plugins>
      <Plugin Name="Default" Path="DefaultSigningProvider.dll"/>
      <Plugin Name="Application scoring" Path="Scorto.Maven.Application.dll"/>
      <Plugin Name="Mixed" Path="Scorto.Maven.Mixed.dll"/>
    </Plugins>
  </MavenConfig>
  <userSettings>
    <StrategyBuilder.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Strategy Maven</value>
      </setting>
      <setting name="AppEdition" serializeAs="String">
        <value>Standard edition</value>
      </setting>
    </StrategyBuilder.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <ApplicationNodes>
    <Nodes>
      <Node Name="Comparison" />
      <Node Name="Assignment" />
      <Node Name="StopNode" />
      <Node Name="SuspendNode" />
      <Node Name="MailNode" />
      <Node Name="CutOffPoint" />
      <Node Name="ScriptNode" />
      <Node Name="RuleSet" />
      <Node Name="DumpNode" />
      <Node Name="ParallelExecutionStart" />
      <Node Name="ParallelExecutionStop" />
      <Node Name="ConditionalAssignment" />
      <Node Name="MultiAssignment" />
      <Node Name="DiscreteValue" />
      <Node Name="Segmentation" />
      <Node Name="CreditProduct" />
      <Node Name="Print" />
      <Node Name="DecisionMatrix" />
      <Node Name="DecisionTree" />
      <Node Name="AutoFillNode" />
      <Node Name="StatusNode" />
      
      <Node Name="ModelExecution" Category="scoring" />
      <Node Name="AdverseCode" Category="scoring" />
	  
      <Node Name="DataSourceNodeScalar" Category="data"/>
	  <Node Name="EzBobUpdateCustomerDataNode" Category="integration" />
	  <Node Name="EzBobUpdateCustomerMarketPlaceDataNode" Category="integration" />
    </Nodes>
  </ApplicationNodes>
  <MixedNodes>
    <Nodes>
      <Node Name="Comparison" />
      <Node Name="AssignmentB" />
      <Node Name="StopNode" />
      <Node Name="SuspendNode" />
      <Node Name="MailNode" />
      <Node Name="ParallelExecutionStart" />
      <Node Name="ParallelExecutionStop" />
      <Node Name="ConditionalAssignmentBehavioral" />
      <Node Name="MultiAssignmentB" />
      <Node Name="Segmentation" />
      <Node Name="CreditProduct" />
      <Node Name="Print" />
      <Node Name="DumpNode" />
      <Node Name="AutoFillNode" />
      <Node Name="StatusNode" />	  
	  <Node Name="ScriptNode" />
      <Node Name="ModelExecutionB" Category="scoring" />
      <Node Name="ModelExecution" Category="scoring" />
      
      <Node Name="DataSourceNodeScalar" Category="data" />
      <Node Name="DataSourceBehavioral" Category="data" />
      <Node Name="AppendNode" Category="data" />
      <Node Name="JoinNode" Category="data" />
      <Node Name="DataSave" Category="data"/>
      <Node Name="Select" Category="data" />
      <Node Name="SplitNode" Category="data" />
      <Node Name="MergeNode" Category="data" />
      <Node Name="SwitchLayerNode" Category="data" />
      <Node Name="Aggregation" Category="data" />
      <Node Name="ReadNextNode" Category="data" />
      <Node Name="GetRowDataNode" Category="data" />
      <Node Name="UpdateRowDataNode" Category="data" />
      <Node Name="AddRowDataNode" Category="data" />

      <Node Name="FetchCasesNode" Category="collection" />
      <Node Name="UpdateCasesNode" Category="collection" />
      <Node Name="FinalizeCasesNode" Category="collection" />
      
      <Node Name="ListReport" Category="report.basic" />
      <Node Name="RangeReport" Category="report.basic"/>
      <Node Name="GroupReport" Category="report.basic"/>
      <Node Name="MultigroupReport" Category="report.basic"/>
      
      <Node Name="ScorecardAccuracy" Category="report.business" />
      <Node Name="DelinquencyPerformance" Category="report.business" />
      <Node Name="DelinquencyMigration" Category="report.business" />
      <Node Name="RollRates" Category="report.business" />
      <Node Name="VintageAnalysis" Category="report.business" />
	  <Node Name="EzBobUpdateCustomerDataNode" Category="integration" />
	  <Node Name="EzBobUpdateCustomerMarketPlaceDataNode" Category="integration" />
    </Nodes>
  </MixedNodes>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
