@model dynamic
@{
    var ignored = new[] { "localhost", "192.168.0.99" };
}
@if (!ignored.Contains(Request.Url.Host))
{
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type='text/javascript'>
        document.write(unescape("%3Cscript%20src='" +
            (document.location.protocol == 'https:' ?
                'https://clicktale.pantherssl.com/' :
                'http://s.clicktale.net/') +
            "WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        if (typeof ClickTaleUploadPage == 'function') ClickTaleUploadPage('<!DOCTYPE html><html>', '</html>');
        var ClickTaleSSL = 1;
        if (typeof ClickTale == 'function') ClickTale(24806, 1, "www02");
    </script>
}