<span>EZBOB is the trading name of Orange Money Ltd.<br />
    Company No. 7852687 Consumer Credit license 647816<br />
    ICO Registration Number: Z2946778<br />
    Registered Address: 145 – 157 John Street, London EC1V 4PW<br />
    Business Address: 39-41 North Road, London N7 9DP<br />
</span>