<div id="copyrights">
	<div class="inner">
		<span class='bold'>ezbob</span> is the trading name of Orange Money Ltd. Company No. 7852687 Consumer Credit license: 647816 ICO Registration Number: Z2946778<br>
		Registered Address: 145 – 157 John Street, London EC1V 4PW Business Address: 39-41 North Road, London N7 9DP<br>
		&copy;2013 <span class='bold'>ezbob</span> Inc. All rights reserved. Terms, conditions, features, availability, pricing, fees, service & support options subject to change without notice.

		<ul id="menu-sub_footer_menu" class="sub_footer_nav">
			<li><a href="http://www.ezbob.com/terms-conditions/" target="_blank">Terms &#038; Conditions</a></li>
			<li><a href="http://www.ezbob.com/about-us/responsible-lending/" target="_blank">Responsible Lending</a></li>
			<li><a href="http://www.ezbob.com/privacy-cookies/" target="_blank">Privacy &#038; Cookies</a></li>
			<li><a href="http://www.ezbob.com/blog/" target="_blank">Blog</a></li>
			<li><a href="http://www.ezbob.com/contact/" target="_blank">Contact</a></li>
		</ul>
		Secured by:
		<ul class="secure_icons">
			<li class="verisign_seal">
				<!-- <script src="https://seal.verisign.com/getseal?host_name=www.ezbob.com&size=S&use_flash=NO&use_transparent=NO&lang=en" type="text/javascript"></script> !-->
				<a tabindex="-1" href="javascript:vrsn_splash()">
					<img alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security" oncontextmenu="return false;" src="https://seal.verisign.com/getseal?at=0&sealid=2&dn=www.ezbob.com&lang=en" name="seal">
				</a>

			</li>
			<li class="truste_seal">
				@{ Html.RenderPartial("_Truste"); }
			</li>
		</ul>
	</div>
</div>
