<div id="copyrights">
    <div class="inner">
        <span class='bold'>ezbob</span> is the trading name of Orange Money Ltd. Company No. 7852687 Consumer Credit license: 647816 ICO Registration Number: Z2946778<br>
        Registered Address: 145 – 157 John Street, London EC1V 4PW Business Address: 39-41 North Road, London N7 9DP<br>
        &copy;2013 <span class='bold'>ezbob</span> Inc. All rights reserved. Terms, conditions, features, availability, pricing, fees, service & support options subject to change without notice.
                
        <ul id="menu-sub_footer_menu" class="sub_footer_nav">
            <li><a href="http://www.ezbob.com/terms-conditions/" target="_blank">Terms &#038; Conditions</a></li>
            <li><a href="http://www.ezbob.com/about-us/responsible-lending/" target="_blank">Responsible Lending</a></li>
            <li><a href="http://www.ezbob.com/privacy-cookies/" target="_blank">Privacy &#038; Cookies</a></li>
            <li><a href="http://www.ezbob.com/blog/" target="_blank">Blog</a></li>
            <li><a href="http://www.ezbob.com/contact/" target="_blank">Contact</a></li>
        </ul>
    </div>
</div>
