@model dynamic

@{
    var isLoggOffHidden = !User.Identity.IsAuthenticated;
    var controller = (string) ViewContext.RouteData.Values["controller"];
    var isUnderwriterPag = (string) ViewContext.RouteData.DataTokens["area"] == "Underwriter";
    var loginDisplayed = isLoggOffHidden ? "none" : "inline-block";
}
@if (isLoggOffHidden && controller != "Wizard")
{
    <a class="Register" href='@Url.Action("Index", "Wizard", new { Area = "Customer" }, "https")#SignUp'>sign up</a>@:<li>|</li>
    
}
<li @if (!isLoggOffHidden)
                              {
                                  @:style='display:none;'
                              }
    >
    <a href="#" class="login">login</a>
</li>
@{
    object linkData = isUnderwriterPag ? (object)new {Area = "", isUnderwriterPage = true} : new {Area = ""};
}

<li @if (isLoggOffHidden)
                              {
                                  @:style='display:none;'
                              }
    >
    @Html.ActionLink("log out", "LogOff", "Account", linkData, new { style = !isLoggOffHidden ? "" : "display:none;", @class = "logoff" })
</li>