@model dynamic
<footer>
    <div class="footer-images">
    </div>
    <div class="footer-copyright">
       @{Html.RenderPartial("_Copyright");}
    </div>
    <div class="footer-black-small">
    </div>
</footer>