@model dynamic

<ul class="nav nav-pills pull-right how-it-works">
    <li  class="left">@Html.ActionLink("How It Works?", "Index", "HowItWorks" , new {Area=""},null)</li>
    <li>@Html.ActionLink("Why EZBOB?", "Index", "WhyEzBob", new { Area = "" }, null)</li>
    <li>@Html.ActionLink("About Us", "Index", "AboutUs", new { Area = "" }, null)</li>
    <li class="right"><a href="http://blog.ezbob.com/">Blog</a></li>    
</ul>