@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	CustomerOriginEnum origin = ViewBag.CustomerOrigin == null ? CustomerOriginEnum.ezbob : ViewBag.CustomerOrigin.GetOrigin();
	bool isEverline = origin == CustomerOriginEnum.everline;
}

<script id="loan-schedule-template" type="text/template">
<% (function() {
	var bAtLeastOneExceeds = false; %>
    <div class="print-ezboblogo"></div>
    <div class="print-customer_details">Loan offer (<%-customer%>, <%-refNum%>, <%-moment().format('DD/MM/YYYY')%>)</div>
	<div class="simple-well clearfix apply-for-loan-total-block">
		@if (isEverline) {
			<div class="sliders">
				<div class="form-markup-wrapper clearfix summary-wrap">
					<div class="c_col c_spn_16 summary">
						<div class="c_col c_spn_3 ">
							<h3>Borrowing</h3>
							<p><span class="amount"><%-EzBob.formatPounds(totalPrincipal)%></span></p>
						</div>
						<span class="c_col c_spn_1"><span class="calc-equal"> + </span><i class="fa icon-plus"></i></span>
						<div class="c_col c_spn_3">
							<h3>Interest cost</h3>
							<p><span class="interest"><%-EzBob.formatPounds(totalInterest)%></span></p>
						</div>
						<div class="c_col c_spn_7 summary_total">
							<h3 class="c_col c_spn9">
								<span class="calc-equal"> = </span>Total to repay
							</h3>
							<p class="c_col c_spn_7"><span class="total"><%-EzBob.formatPounds(total)%></span></p>
						</div>
						<br class="clearfix">
					</div>
				</div>
			</div>
		} else {
			<div class="formula">
				<div class="total">Loan: <span class="gelt"><%-EzBob.formatPounds(totalPrincipal)%></span></div>
				<div class="plus"></div>
				<div class="cost">Cost: <span class="gelt"><%-EzBob.formatPounds(totalInterest)%></span></div>
				<div class="eq"></div>
				<div class="due">Total: <span class="gelt"><%-EzBob.formatPounds(total)%></span></div>
			</div>
		}
		<div class="rlc">
			<%if(isPersonal) {%>
			<div class="apr">APR = <%- apr %>%</div>
			<%}%>
			<div class="real-cost">@(isEverline ? "*Real loan cost" : "Real Loan Cost") = <%- EzBob.formatPercents(realInterestCost) %>@(isEverline?".":"")</div>
		</div>
	</div>
	
	<div class="loan-schedule-header">
		<h2>
			<span>Payment schedule</span>
		</h2>
	</div>

	<table class="table table-striped payment-schedule-table">
		<thead>
			<tr>
				<th>Due Date</th>
				<th>Principal</th>
				<th>Interest</th>
				<th>Rate</th>
				<th>Fees<%if(setupFee) { %> * <% } %></th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(schedule, function(line, i){
				var bExceeds = false;

				if (isShowExceedMaxInterestForSource && (MaxInterestForSource != -1)) {
					if (line.InterestRate > MaxInterestForSource) {
						bExceeds = true;
						bAtLeastOneExceeds = true;
					} // if
				} // if

				%><tr>
					<td><%-EzBob.formatDateHumanFull(line.Date)%></td>
					<td><%-EzBob.formatPounds(line.LoanRepayment)%></td>
					<td><%-EzBob.formatPounds(line.Interest)%></td>
					<td<% if (bExceeds) { print(' class=red title="Interest rate for this month exceeds max rate for loan source."'); } %>><%-EzBob.formatPercentsWithDecimals(line.InterestRate)%></td>

					<td class="payment-schedule-fees"><%
						var fee = setupFee > 0 && i == 0 ? setupFee : 0;
						if (line.Fees) fee += line.Fees; %>
							<%-fee !=0 ? EzBob.formatPounds(fee) : '-' %><%- setupFee && i == 0 ? '*' : '' %>
					</td>

					<td class="apply-loan-total"><%-EzBob.formatPounds(line.AmountDue)%></td>
				</tr>
			<%});%>
		</tbody>
	</table>

	<div>
		<% if (setupFee) { %>
			<div class="setupFeeFooter">* origination fee will be deducted from the loan transfer</div>
		<% } %>
	</div>
	<p class="offer-status"></p>

	<div class="underwriter-only">
		Offered credit line: <b><%- EzBob.formatPounds(OfferedCreditLine) %></b><% if (OfferedCreditLine < EzBob.Config.MinLoan) { %><span class="red">(Offered sum is less than min limit)</span><% } %><br />
		Repayment period: <b><%- RepaymentPerion %></b><br />
		Interest rate: <b><%- EzBob.formatPercents(InterestRate) %></b><br />
		Loan type: <b><%- LoanType %></b><br>
		Loan source: <b><%- LoanSourceName %></b><br>
		<br>
	</div>

	<% if(isShowExportBlock) { %>
	<a href="#" class="pull-right print-link excel-link">Export to Excel</a>
	<a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
	<% } %>

	<% if (bAtLeastOneExceeds) { %>
	<h3 class="red at-least-one-exceeds-max-rate-for-source">Interest for at least one month exceeds max interest for this loan source.</h3>
	<% } %>

	<% if (ManualAddressWarning) { %>
	<h3 class="red"><%- ManualAddressWarning %></h3>
	<% } %>
<% })(); %>
</script>
