@model dynamic
<script id="loan-schedule-template" type="text/template">
<% (function() {
	var bAtLeastOneExceeds = false; %>
    <div class="print-ezboblogo"></div>
    <div class="print-customer_details">Loan offer (<%-customer%>, <%-refNum%>, <%-moment().format('DD/MM/YYYY')%>)</div>
	<div class="simple-well clearfix apply-for-loan-total-block">
		<div class="formula">
			<div class="total">Loan: <span class="gelt"><%-EzBob.formatPounds(totalPrincipal)%></span></div>
			<div class="plus"></div>
			<div class="cost">Cost: <span class="gelt"><%-EzBob.formatPounds(totalInterest)%></span></div>
			<div class="eq"></div>
			<div class="due">Total: <span class="gelt"><%-EzBob.formatPounds(total)%></span></div>
		</div>

		<div class="rlc">
            <%if(isPersonal) {%>
			<div class="apr">APR = <%- apr %>%</div>
            <%}%>
			<div class="real-cost">Real Loan Cost = <%- EzBob.formatPercents(realInterestCost) %></div>
		</div>
	</div>

	<table class="table table-striped payment-schedule-table">
		<thead>
			<tr>
				<th>Due Date</th>
				<th>Principal</th>
				<th>Interest</th>
				<th>Rate</th>
				<th>Fees<%if(setupFee) { %> * <% } %></th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(schedule, function(line, i){
				var bExceeds = false;

				if (isShowExceedMaxInterestForSource && (MaxInterestForSource != -1)) {
					if (line.InterestRate > MaxInterestForSource) {
						bExceeds = true;
						bAtLeastOneExceeds = true;
					} // if
				} // if

				%><tr>
					<td><%-EzBob.formatDateHumanFull(line.Date)%></td>
					<td><%-EzBob.formatPounds(line.LoanRepayment)%></td>
					<td><%-EzBob.formatPounds(line.Interest)%></td>
					<td<% if (bExceeds) { print(' class=red title="Interest rate for this month exceeds max rate for loan source."'); } %>><%-EzBob.formatPercentsWithDecimals(line.InterestRate)%></td>

					<td style="text-align: center"><%
						var fee = setupFee > 0 && i == 0 ? setupFee : 0;
						if (line.Fees) fee += line.Fees; %>
							<%-fee !=0 ? EzBob.formatPounds(fee) : '-' %><%- setupFee && i == 0 ? '*' : '' %>
					</td>

					<td>
						<b class="apply-loan-total"><%-EzBob.formatPounds(line.AmountDue)%></b>
					</td>
				</tr>
			<%});%>
		</tbody>
	</table>

	<div>
		<% if (setupFee) { %>
			<div class="setupFeeFooter">* origination fee will be deducted from the loan transfer</div>
		<% } %>
	</div>
	<p class="offer-status"></p>

	<div class="underwriter-only">
		Offered credit line: <b><%- EzBob.formatPounds(OfferedCreditLine) %></b><% if (OfferedCreditLine < EzBob.Config.MinLoan) { %><span class="red">(Offered sum is less than min limit)</span><% } %><br />
		Repayment period: <b><%- RepaymentPerion %></b><br />
		Interest rate: <b><%- EzBob.formatPercents(InterestRate) %></b><br />
		Loan type: <b><%- LoanType %></b><br>
		Loan source: <b><%- LoanSourceName %></b><br>
		<br>
	</div>

	<% if(isShowExportBlock) { %>
	<a href="#" class="pull-right print-link excel-link">Export to Excel</a>
	<a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
	<% } %>

	<% if (bAtLeastOneExceeds) { %>
	<h3 class="red at-least-one-exceeds-max-rate-for-source">Interest for at least one month exceeds max interest for this loan source.</h3>
	<% } %>

	<% if (ManualAddressWarning) { %>
	<h3 class="red"><%- ManualAddressWarning %></h3>
	<% } %>
<% })(); %>
</script>
