@model dynamic
<script id="loan-schedule-template" type="text/template">
	<div class="simple-well clearfix apply-for-loan-total-block">
		<div class="formula">
			<div class="total">Loan<span class="gelt"><%-EzBob.formatPounds(totalPrincipal)%></span></div>
			<img class="plus" src="@Url.Content("~/Content/img/plus.png")">
			<div class="cost">Cost<span class="gelt"><%-EzBob.formatPounds(totalInterest)%></span></div>
			<img class="eq" src="@Url.Content("~/Content/img/arrow-right.png")">
			<div class="due">Total<span class="gelt"><%-EzBob.formatPounds(total)%></span> </div>
		</div>

		<% if (isShowGift) { %><div class="free-gift">Pay early at any time and reduce your costs.</div><% } %>

		<div class="rlc">Real Loan Cost = <%- EzBob.formatPercents(realInterestCost) %>, <span class="apr">APR = <%- apr %>%</span></div>
	</div>

	<table class="table table-bordered table-striped payment-schedule-table">
		<thead>
			<tr>
				<th width="80">Due Date</th>
				<th>Principal</th>
				<th>Interest</th>
				<th>Rate</th>
				<th>Fees<%if(setupFee) { %> * <% } %></th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<%_.each(schedule, function(line, i){%>
				<tr>
					<td><%-EzBob.formatDateHumanFull(line.Date)%></td>
					<td><%-EzBob.formatPounds(line.LoanRepayment)%></td>
					<td><%-EzBob.formatPounds(line.Interest)%></td>
					<td><%-EzBob.formatPercents(line.InterestRate, 1)%></td>

					<td style="text-align: center"><%
						var fee = setupFee > 0 && i == 0 ? setupFee : 0;
						if (line.Fees) fee += line.Fees; %>
							<%-fee !=0 ? EzBob.formatPounds(fee) : '-' %><%- setupFee && i == 0 ? '*' : '' %>
					</td>

					<td>
						<b class="apply-loan-total"><%-EzBob.formatPounds(line.AmountDue)%></b>
					</td>
				</tr>
			<%});%>
		</tbody>
	</table>

	<div>
		<% if (setupFee) { %>
			<div class="setupFeeFooter">* origination fee will be deducted from the loan transfer</div>
		<% } %>
	</div>
	<p class="offer-status"></p>

	<div class="underwriter-only">
		Offered credit line: <b><%- EzBob.formatPounds(OfferedCreditLine) %></b><% if (OfferedCreditLine < EzBob.Config.MinLoan) { %><span class="red">(Offered sum is less than min limit)</span><% } %><br />
		Repayment period: <b><%- RepaymentPerion %></b><br />
		Interest rate: <b><%- EzBob.formatPercents(InterestRate) %></b><br />
		Loan type: <b><%- LoanType %></b><br>
		<br>
	</div>

	<% if(isShowExportBlock) { %>
	<a href="#" class="pull-right print-link excel-link">Export to Excel</a>
	<a href="#" style="margin-right: 20px;" class="pull-right pdf-link">Export to PDF</a>
	<% } %>
</script>
