@model dynamic
@{
    var isAuth = User.Identity.IsAuthenticated;
}

@if (isAuth)
{
    <div class="top-profile-button">
        <div class="top-profile-content">
            <a href="@Url.Action("Index", "Profile", new {area = "Customer"})">&gt;&nbsp;&nbsp;&nbsp;my account</a>
        </div>
        
    </div>
}