<div id='nanoRepEmbedContainer'></div>
<script type='text/javascript'>
    var _nRepData = _nRepData || [];
    _nRepData['kb'] = '25108251';
    /* API here */;
    _nRepData['embed'] = {
        account: 'ezbob',
        container: 'nanoRepEmbedContainer',
        width: 400,
        maxHeight: 500,
        dynamicSize: true,
        cdcFrame: '/cdc.html',
        cdcVersion: 3
    };

    (function () {
        var windowLoadFunc = function () {
            var _nRepData = window._nRepData || [];
            _nRepData['windowLoaded'] = true;
            if (typeof (_nRepData['windowOnload']) === 'function')
                _nRepData['windowOnload']();
        }; if (window.attachEvent) window.attachEvent('onload', windowLoadFunc);
        else if (window.addEventListener)
            window.addEventListener('load', windowLoadFunc, false);
        var sc = document.createElement('script');
        sc.type = 'text/javascript';
        sc.async = true;
        sc.defer = true;
        sc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'my.nanorep.com/widget/scripts/embed.js?account=ezbob';
        var _head = document.getElementsByTagName('head')[0];
        _head.appendChild(sc);
    })();
</script>
