@using EzBob.Web.Infrastructure
@using Scorto.NHibernate.Model
@using StructureMap
@model dynamic
@{
	string captchamode = ObjectFactory.GetInstance<IEzBobConfiguration>().CaptchaMode;
	var securityQuestions = @ViewData["Questions"] as List<SecurityQuestion>;
}

@using (Html.BeginForm("SignUp", "Account", new {Area = ""}, FormMethod.Post, new {@class = "signup clearfix form-horizontal"}))
{
	<div class="inner">
		<section id="content">
			<h2>Funding over £2.5m loans and counting!</h2>
			<p><span style="font-size: large;"><strong>You are less than 10 minutes away from an EZBOB loan.</strong></span></p>

			<h3>Create an account</h3>
			<p>Complete the details below to begin</p>
			<form name="form" action="#" method="post">
				<label>Email Address <span class="required">*</span></label>
				<input type="text" name="text" id="" value="" size="60" tabindex="1" class="form_field">
				<label>Password <span class="required">*</span></label>
				<input type="password" name="password" id="password" value="" size="60" tabindex="2" class="form_field">
				<label>Confirm Password <span class="required">*</span></label>
				<input type="password" name="confirm_password" id="confirm_password" value="" size="60" tabindex="3" class="form_field">

				<label>Select a Secret Question <span class="required">*</span></label>
				<select name="secret_question" id="secret_question" class="form_field" tabindex="4">
					@if (securityQuestions != null) {
						foreach (SecurityQuestion item in securityQuestions) {
							<option value="@item.Id">@item.Name</option>
						}
					}
				</select>

				<label>Secret Answer <span class="required">*</span></label>
				<input type="text" name="secret_answer" id="secret_answer" value="" size="60" tabindex="5" class="form_field">

				@EzForm.Captcha(captchamode)

				<br><br>
				<input type="submit" name="submit" id="btn" value="Conitnue &raquo;" class="button green"> 
			</form>
		</section>
	</div>
}