@model dynamic

<script id="edit-experian-director-data-template" type="text/template">
	<div class="email_container">
		<label class="attardi-input">
			<span>Email address</span>
			<input type="email" class="form_field email" />
			<img class="field_status required email-status" />
		</label>
	</div>
</script>
