@model dynamic

<div id="edit-experian-director-data-template" style="display: none;">
	<div class="email-container">
		<label class="attardi-input">
			<span>Email address</span>
			<input type="email" class="form_field email" />
			<img class="field_status required" />
		</label>
	</div>

	<div class="phone-container">
		<label class="attardi-input">
			<span>Mobile phone</span>
			<input type="text" class="form_field mobilePhone" />
			<img class="field_status required" />
		</label>
	</div>

	<div class="address-container">
		<div>
			<label class="attardi-input">
				<span>Line 1</span>
				<input type="text" class="form_field line1" />
				<img class="field_status required line1_status" />
			</label>

			<label class="attardi-input">
				<span>Town</span>
				<input type="text" class="form_field town" />
				<img class="field_status required town_status" />
			</label>
		</div>

		<div class="more-rows">
			<label class="attardi-input">
				<span>Line 2</span>
				<input type="text" class="form_field line2" />
				<img class="field_status line2_status" />
			</label>

			<label class="attardi-input">
				<span>County</span>
				<input type="text" class="form_field county" />
				<img class="field_status county_status" />
			</label>
		</div>

		<div class="more-rows">
			<label class="attardi-input">
				<span>Line 3</span>
				<input type="text" class="form_field line3" />
				<img class="field_status line3_status" />
			</label>

			<label class="attardi-input">
				<span>Postcode</span>
				<input type="text" class="form_field postcode" />
				<img class="field_status required postcode_status" />
			</label>
		</div>
	</div>
</div>
