@model HandleErrorInfo

@if (Request.Headers["X-Requested-With"] == "XMLHttpRequest")
{
    Layout = null;
    if (Model!=null && Model.Exception != null)
    {
        @Model.Exception.Message
    }
    return;
}

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Sorry, an error has occurred.";
}
<div class="row-fluid">
    <div class="span1">&nbsp;</div>
    <div class="span10">
        <div class="well" style="color: #565656">

                <h2>Sorry, an error has occurred.</h2>
                <b><i>Please reload the page.</i></b>

        </div>
    </div>
</div>

