@model dynamic

<script id="journal-template" type="text/template">
    <table class="table" id="journalTable">
        <thead class="box">
            <tr class="box-title">
                <th>Action</th>
                <th>Date</th>
                <th>Type</th>
                <th>Status</th>
                <th><span data-toggle="tooltip" title="Approved Sum">App Sum</span></th>
                <th>Interest</th>
                <th><span data-toggle="tooltip" title="Repayment Period">RP</span></th>
                <th><span data-toggle="tooltip" title="Loan Type">Loan Type</span></th>
                <th><span data-toggle="tooltip" title="Setup Fee">SF</span></th>
                <th><span data-toggle="tooltip" title="Discount Plan">Discount</span></th>
                <th>Loan Source</th>
                <th><span data-toggle="tooltip" title="Customer Selection">CS</span></th>
				<th>Open Platform</th>
                <th>Underwriter</th>
                <th>Comment</th>
                <th class="hide">IsCrm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (int i = 0; i < 15; ++i) {
                    <td></td>
                }
                <td class="hide"></td>
            </tr>
        </tbody>
    </table>
</script>

