<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
      <add key="DBConnection" value="Data Source=ezbob.scorto.local;Initial Catalog=ezbob;Persist Security Info=True;User ID=sa;Password=qwerty-01;Asynchronous Processing=true;MultipleActiveResultSets=True" />
      <add key="DBConnectionLocal" value="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" />
  </appSettings>
</configuration>