<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="testRailUrl" value="https://ezbob.testrail.com"/>
  <add key="testRailUser" value="stasd@ezbob.com"/>
  <add key="testRailApiKey" value="EfyZvz7lVi5ZcfAeW5Q1-xkxbcnBodihEIft7AGlb"/>
  <add key="teamCityUrl" value="localhost:49152"/>
  <add key="teamCityUser" value="admin"/>
  <add key="teamCityPassword" value="123456"/>
  <add key="buildRegressionId" value="EzbobSite1_Regression"/>
  <add key="teamcityIncludeParameterName" value="env.INCLUDED_TESTS"/>
  <add key="teamcityJobsInFolder" value="E:\Jobs\JobsIn"/>
  <add key="teamcityJobsOutFolder" value="E:\Jobs\JobsOut"/>
</appSettings>