<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
        <!--<add name="dev-stasd" connectionString="user id=sa;password=Ezbobqadb1;server=192.168.120.11;Trusted_Connection=no;database=ezbob_prod_medal;connection timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
        <add name="production-stasd" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
        <add name="production-auto_exec" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>