@model dynamic
<script id="CompanyFilesAccountInfoTemplate" type="text/template">
	<div class="row-fluid">
		<div class="wizard-top-notification">
			<h2 class="form_start">Upload company files</h2>
			Please upload the company documents like annual financial accounts, bank statements in CSV format or VAT returns.
		</div>
		<form id="companyFilesUploadZone" class="dropzone" action="@Url.Action("UploadedFiles", "CompanyFilesMarketPlaces", new { Area = "Customer" })" ui-event-control-id="companyFiles:dropzone">
			<div class="dz-message dz-with-text">Drag or Click to upload the Company’s documents.</div>
		</form>

		<div class="attardi-button form_buttons_container" style="padding-top: 10px;">
			<a href="#" class="button btn-green disabled connect-account pull-right" ui-event-control-id="link-account:company_files">Upload files</a>
			<a href="#" class="back button btn-grey pull-right" ui-event-control-id="link-account:company_files_back">Back</a>
		</div>
	</div>
</script>
