@model dynamic
<script id="CompanyFilesAccountInfoTemplate" type="text/template">
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please upload company files</h2>
        </div>
        <form id="companyFilesUploadZone" class="dropzone" action="@Url.Action("UploadedFiles", "CompanyFilesMarketPlaces", new { Area = "Customer" })" ui-event-control-id="companyFiles:dropzone"></form>
        <div class="form_buttons_container">
            <div class="attardi-button">
                <a href="#" class="rc-button green disabled connect-account" ui-event-control-id="link-account:company_files">Upload files</a>
                <a href="#" class="back rc-button grey" ui-event-control-id="link-account:company_files_back">Back</a>
            </div>
        </div>
    </div>
</script>
