@model dynamic

<script id="EKMAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo(){
    <div class="row-fluid">
        <div class="row-fluid ">
           <div class="span7" style="padding-top: 2px;">
                <div class="wizard-top-notification">
                    <h2>Please enter your ekmpowershop credentials</h2>
                </div>
               <form id="ekmAccount">                              
                   <div class="simple-well bank-account-instructions clearfix form-horizontal">
                       <div class="bank-account">
                           @EzForm.InputText("ekm_login", "EKM Login", "", "input-large")
                           @EzForm.Password("ekm_password", "EKM Password", "", "input-large")
                          <div class="control-group clearfix" style="padding-right: 68px;">
                              <a href="#" class="button orange  connect-ekm  disabled pull-right">Continue</a>
                              <a href="#" class="back button orange pull-right">Back</a>
                          </div>
                       </div>
                   </div>
               </form>
              @{Html.RenderPartial("_SecureDisclaimer");}
        </div>
            <div class="span1">&nbsp;</div>
            <div class="span4">
                @{Html.RenderPartial("SideBars/EKMShopNtification");}
            </div>
        </div>
    </div>
}