@model dynamic
<script id="EKMAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please enter ekmpowershop credentials</h2>
        </div>
        <form id="ekmAccount">
            <div class="clearfix">
                @EzForm.InputText("ekm_login", "ekm login", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:ekm_login")
                @EzForm.Password("ekm_password", "ekm password", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:ekm_password")

                <div class="form_buttons_container">
                    <div class="attardi-button">
                        <a href="#" class="button btn-green connect-ekm disabled" ui-event-control-id="link-account:ekm_connect">Link account</a>
                        <a href="#" class="button btn-grey back" ui-event-control-id="link-account:ekm_back">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}