@model dynamic
<script id="EKMAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Enter EKMPowershop Credentials</h2>
        </div>
        <form id="ekmAccount">
            <div class="clearfix">
                @EzForm.InputText("ekm_login", "EKM Login", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:ekm_login")
                @EzForm.Password("ekm_password", "EKM Password", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:ekm_password")

                <div class="form_buttons_container">
                    <div class="attardi-button">
                        <a href="#" class="button orange connect-ekm disabled pull-right" ui-event-control-id="link-account:ekm_connect">Link Account</a>
                        <a href="#" class="back button grey pull-right" ui-event-control-id="ekm_back">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}