@using System.Collections.Generic
@using EzBob.Web.Infrastructure.Html
@model dynamic
<script id="EKMAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please enter ekmpowershop credentials</h2>
        </div>
        <form id="ekmAccount">
            <div class="clearfix">
                
				@EzForm.InputTextWizard(
					new EzInputBuilder(
							"ekm_login", "ekm login", 
							cls: "form_field", 
							isRequired: true, 
							statusIcon: true, 
							uiEventControlID: "link-account:ekm_login"), 
					origin: origin)
               
				 @EzForm.InputTextWizard(
					new EzInputBuilder(
							"ekm_password", 
							"ekm password", 
							type: "password", 
							cls: "form_field", 
							isRequired: true, 
							statusIcon: true, 
							uiEventControlID: "link-account:ekm_password"), 
					origin: origin)
				
				@EzForm.WizardButton(
					new List<EzButtonModel>{
						new EzButtonModel(
							"ekm_link_account_button", 
							"Link Account", 
							cls: "button btn-green connect-ekm disabled ev-btn-org", 
							uiEventControlID: "link-account:ekm_connect", 
							buttonType: EzButtonType.link, 
							href: "#"),
						new EzButtonModel(
							"ekm_back_button", 
							"Back", 
							cls: "button btn-grey back ev-btn-org", 
							uiEventControlID: "link-account:ekm_back", 
							buttonType: EzButtonType.link, 
							href: "#")
					}, 
					origin: origin)
            </div>
        </form>
    </div>
}