@model dynamic

<script id="FreeAgentAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo(){
    <div class="row-fluid">
        <div class="wizard-top-notification">
	        <h2 class="form_start">Please Enter FreeAgent Credentials</h2>
        </div>
        <form id="freeagentAccount">                              
            <div class="bank-account-instructions clearfix">
                <div class="bank-account">
                    @EzForm.InputText("freeagent_name", "FreeAgent Display Name", cls:"form_field", isRequired: true, statusIcon: true)
                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" class="button orange connect-freeagent disabled pull-right">Link Account</a>
                        <a href="#" class="back button grey pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}