@model dynamic

<script id="PayPointAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo(){
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Enter PayPoint Credentials</h2>
        </div>
        <form id="payPointAccount">                              
            <div class="bank-account-instructions clearfix form-horizontal">
                <div class="bank-account">
                    @EzForm.InputText("payPoint_mid", "PayPoint Mid", cls: "form_field", isRequired:true)
                    @EzForm.Password("payPoint_vpnPassword", "PayPoint VpnPassword", cls: "form_field")
                    @EzForm.Password("payPoint_remotePassword", "PayPoint RemotePassword", cls: "form_field")
                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" class="button orange  connect-payPoint  disabled pull-right">Continue</a>
                        <a href="#" class="back button grey pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
        @{Html.RenderPartial("_SecureDisclaimer");}
    </div>
}