@model dynamic
<script id="PayPointAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Enter PayPoint Credentials</h2>
        </div>
        <form id="payPointAccount">
            <div class="clearfix">
                @EzForm.InputText("payPoint_mid", "Account ID", cls: "form_field", isRequired: true, statusIcon: true)
                @EzForm.Password("payPoint_vpnPassword", " VPN Password", cls: "form_field", isRequired: true, statusIcon: true)
                @EzForm.Password("payPoint_remotePassword", "Remote Password", cls: "form_field", isRequired: true, statusIcon: true)
                <div>If you don't remember your passwords try to recreate them:</div>
                <ul>
                    <li>Login to your account</li>
                    <li>Go to 'Account' tab</li>
                    <li>Choose 'Remote Passwords' section</li>
                    <li>Set new passwords</li>
                </ul>

                <div>If you are having trouble getting your passwords please contact paypoint support:</div>
                <ul>
                    <li>Email: Enquiries@paypoint.co.uk</li>
                    <li>UK Phone: 08457 600633</li>
                </ul>
                <div class="control-group clearfix" style="padding-right: 68px;">
                    <a href="#" class="button btn-green connect-payPoint disabled pull-right">Link Account</a>
                    <a href="#" class="back button btn-grey pull-right">Back</a>
                </div>
            </div>
        </form>
        @*@{Html.RenderPartial("_SecureDisclaimer");}*@
    </div>
}