@model dynamic

<script id="PayPointAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo(){
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2>Please enter your PayPoint credentials</h2>
        </div>
        <form id="ekmAccount">                              
            <div class="simple-well bank-account-instructions clearfix form-horizontal">
                <div class="bank-account">
                    @EzForm.InputText("payPoint_login", "PayPoint Mid", "", "input-large")
                    @EzForm.Password("payPoint_vpnPassword", "PayPoint VpnPassword", "", "input-large")
                    @EzForm.Password("payPoint_remotePassword", "PayPoint RemotePassword", "", "input-large")
                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" class="button orange  connect-payPoint  disabled pull-right">Continue</a>
                        <a href="#" class="back button orange pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
        @{Html.RenderPartial("_SecureDisclaimer");}
    </div>
}