@using EzBob.Web.Infrastructure
@using StructureMap
@model dynamic
<script id="PlayAccoutInfoTemplate" type="text/template">
	@accountInfo()
</script>

@helper accountInfo() {
	var oCfg = ObjectFactory.GetInstance<IEzBobConfiguration>();

	<div class="row-fluid">
		<div class="wizard-top-notification">
			<h2 class="form_start">Please Enter Play.com Credentials</h2>
		</div>
		<form id="playAccount">
			<div class="bank-account-instructions clearfix">
				<div class="bank-account">
					@EzForm.InputText("play_name", "The name of the account", oCfg.PlayShopName, cls: "form_field", isRequired: true, statusIcon: true)
					@EzForm.InputText("play_login", "Email associated with the PlayTrade account", oCfg.PlayShopLogin, cls: "form_field", isRequired: true, statusIcon: true)
					@EzForm.InputText("play_password", "The password for the PlayTrade account", oCfg.PlayShopPassword, cls: "form_field", isRequired: true, statusIcon: true)
					<div class="control-group clearfix" style="padding-right: 68px;">
						<a href="#" class="button orange connect-play disabled pull-right">Link Account</a>
						<a href="#" class="back button grey pull-right">Back</a>
					</div>
				</div>
			</div>
		</form>
		@*@{Html.RenderPartial("_SecureDisclaimer");}*@
	</div>
}