@model dynamic
<script id="YodleeAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Select a Bank </h2>
        </div>
        <form id="yodleeAccount">
            <div class="bank-account-instructions clearfix">
                <div class="bank-account">
                    <% if (YodleeBanks) { console.log(YodleeBanks); %>
                        <div class="form_field_container BankContainer">
                            Bank
                            <% _.each(YodleeBanks, function (bank, i) { %>
                            <input type="radio" name="Bank" value="<%- bank.parentBankName %>" id="Bank_<%- bank.parentBankName %>"><label for="Bank_<%- bank.parentBankName %>"><%- bank.parentBankName %></label>
                            <%});%>    
                        </div>
                    
                        <% _.each(YodleeBanks, function (bank, i) {%>
                            <div class="form_field_container hide <%- bank.parentBankName %>Container SubBank">
                                <%- bank.parentBankName %>
                                <% _.each(bank.subBanks, function (sub, i) { %>
                                    <input type="radio" name="<%- bank.parentBankName %>" value="<%- sub.csId %>" id="<%- bank.parentBankName %>_<%- sub.csId %>"><label for="<%- bank.parentBankName %>_<%- sub.csId %>"><%- sub.displayName %></label>
                                <%});%>
                            </div>
                        <%});%>

                    <%}%>

                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" target="_blank" class="button orange pull-right disabled" id="yodleeContinueBtn">Link Account</a>
                        <a href="#" class="back button grey pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}