@model dynamic
<script id="YodleeAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo()
{
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Select a Bank </h2>
        </div>
        <form id="yodleeAccount">
            <div class="bank-account-instructions clearfix">
                <div class="bank-account">
                    <% if (YodleeBanks) { console.log(YodleeBanks); %>
                        <div class="form_field_container BankContainer">
                            Bank
                            <br/>
                            <% _.each(YodleeBanks, function (bank, i) { %>
                            <input type="radio" name="Bank" value="<%- bank.parentBankName %>" id="Bank_<%- bank.parentBankName %>" class="hide"/>
                            <img class="<%- bank.parentBankName %> <%- bank.parentBankName %>-off" />
                            <%});%>    
                        </div>
                    
                        <% _.each(YodleeBanks, function (bank, i) {%>
                            <select class="form_field_container hide <%- bank.parentBankName %>Container SubBank" size="3">
                                <% _.each(bank.subBanks, function (sub, i) { %>
                                <option value="<%- sub.csId %>"><%- sub.displayName %></option>
                                <%});%>
                            </select>
                        <%});%>
                    <%}%>

                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" target="_blank" class="button orange pull-right disabled" id="yodleeContinueBtn">Link Account</a>
                        <a href="#" class="back button grey pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}