@using EzBob.Web.Infrastructure
@model dynamic

<div id="accounts-list"></div>

@{Html.RenderPartial("StoreInfoMain");}
@{Html.RenderPartial("PayPalInstructions");}
@{Html.RenderPartial("StoreButton");}

@section Js{
    @BundleHelper.RenderAccountsJs();
    <script type="text/javascript">
        $(function() {
            var view = new EzBob.AccountsView({el: $('#accounts-list')});
            view.render();
        });
    </script>
}