@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Paypal adding was canceled</title>
    </head>
    <body>
        <div>
            <h2>Canceled</h2>
            If this windows is not automatically closed, close it.
        </div>
        <script type="text/javascript">
            window.opener.PayPalAddingError("Error occurred while adding paypal account");
            self.close();
        </script>
    </body>
</html>