<?xml version="1.0"?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="Main" connectionString="Data Source=safari;Initial Catalog=EZBOB_gor;Persist Security Info=True;User ID=sa;Password=qwerty-01"
   providerName="System.Data.SqlClient" />
  <add name="TestApplication.Properties.Settings.EZBobConnectionString"
   connectionString="Data Source=safari;Initial Catalog=EZBOB_gor;Persist Security Info=True;User ID=sa;Password=qwerty-01"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
