<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IovationBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <!--Iovation-->
          <!--Iovation Test-->
            <endpoint address="https://ci-snare.iovation.com/api/AddAccountEvidence" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationAddAccountEvidenceNS.PortType" 
                      name="AddAccountEvidenceTest" />
            <endpoint address="https://ci-snare.iovation.com/api/CheckTransactionDetails" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationCheckTransactionDetailsNS.PortType" 
                      name="CheckTransactionDetailsTest" />
            <endpoint address="https://ci-snare.iovation.com/api/GetEvidenceDetails" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationGetEvidenceDetailsNS.PortType" 
                      name="GetEvidenceDetailsTest" />
            <endpoint address="https://ci-snare.iovation.com/api/RetractAccountEvidence" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationRetractAccountEvidenceNS.PortType" 
                      name="RetractAccountEvidenceTest" />
          <!--Iovation Production-->
          <endpoint address="https://soap.iovation.com/api/AddAccountEvidence" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationAddAccountEvidenceNS.PortType"
                      name="AddAccountEvidenceProduction" />
          <endpoint address="https://soap.iovation.com/api/CheckTransactionDetails" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationCheckTransactionDetailsNS.PortType"
                    name="CheckTransactionDetailsProduction" />
          <endpoint address="https://www.iesnare.com/api/GetEvidenceDetails" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationGetEvidenceDetailsNS.PortType"
                    name="GetEvidenceDetails" />
          <endpoint address="https://soap.iovation.com/api/RetractAccountEvidence" binding="basicHttpBinding" bindingConfiguration="IovationBinding" contract="IovationRetractAccountEvidenceNS.PortType"
                    name="RetractAccountEvidenceProduction" />
        </client>
    </system.serviceModel>
</configuration>