@{
    ViewBag.Title = "Land Registry";
}

<script type="text/template" id="landregistry-template">
    <div class="tabbable">
    <% var data = this.model; if(data.error) {%><h3><%-data.error%></h3>
    <%} else { console.log("lr data",data); %>
    <div class="tab-content"><span>Title Number: </span><%-data.response.TitleNumber%></div>
        <div class="tab-content">
            <%if(data.response.PropertyAddresses.length == 1){%>
            <div>Property Address: <%=data.response.PropertyAddresses[0].Lines%> <%=data.response.PropertyAddresses[0].PostCode%></div>
            <%} else {%>
            <table class="table centered squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <td colspan="2">Property Address</td>
                    </tr>
                    <tr class="box-title">
                        <td>Address</td>
                        <td>Postcode</td>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(data.response.PropertyAddresses, function(a) {%>
                    <tr>
                        <td class="narrow-as-possible"><%=a.Lines%></td>
                        <td><%=a.PostCode%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <%}%>
        </div>
        <div class="tab-content">
            <%if(data.response.PricePaidInfills && data.response.PricePaidInfills.length>0){%>
            <table class="table centered squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <td colspan="2">Price Paid</td>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(data.response.PricePaidInfills, function(p) {%>
                    <tr>
                        <td class="narrow-as-possible"><%-p.Key%></td>
                        <td><%=p.Value%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <%} else {%>
            <div><span>No price paid specified.</span></div>
            <%}%>
        </div>

        <div class="tab-content">
            <table class="table centered squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <td>Proprietorship</td>
                        <td>Current Proprietorship Date: <%-EzBob.formatDate2(data.response.Proprietorship.CurrentProprietorshipDate)%></td>
                        <td colspan="3"></td>
                    </tr>
                    <tr class="box-title">
                        <td>Type</td>
                        <td>Party Type</td>
                        <td>Private Individual Name</td>
                        <td>Company Name / Registration Number</td>
                        <td>Proprietorship Addresses</td>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(data.response.Proprietorship.ProprietorshipParties, function(p) {%>
            <tr>
                <td><%=p.ProprietorshipType%></td>
                <td><%=p.ProprietorshipPartyType%></td>
                <td><%=p.PrivateIndividualForename%> <%=p.PrivateIndividualSurname%></td>
                <td><%=p.CompanyName%> <%=p.CompanyRegistrationNumber%></td>
                <td>
                    <table class="table centered squeezed">
                        <tbody>
                            <%_.each(p.ProprietorshipAddresses, function(a) {%>
                            <tr>
                                <td><%=a.Lines%></td>
                                <td><%=a.PostCode%></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </td>
            </tr>
                    <%});%>
                </tbody>
            </table>
        </div>

        <div class="tab-content">
            <table class="table centered squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <td colspan="6">Restrictions</td>
                    </tr>
                    <tr class="box-title">
                        <td>Entry Num</td>
                        <td>Entry Text</td>
                        <td>Type</td>
                        <td>SubRegister Code</td>
                        <td>Schedule Code</td>
                        <td>In fills</td>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(data.response.Restrictions, function(r) {%>
                    <tr>
                        <td><%=r.EntryNumber%></td>
                        <td><%=r.EntryText%></td>
                        <td><%=r.Type%></td>
                        <td><%=r.SubRegisterCode%></td>
                        <td><%=r.ScheduleCode%></td>
                        <td>
                            <table class="table centered squeezed">
                                <tbody>
                                    <%_.each(r.Infills, function(i) {%>
                                    <tr>
                                        <td><%-i.Key%></td>
                                        <td><%=i.Value%></td>
                                    </tr>
                                    <%});%>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>

        <div class="tab-content">
            <table class="table centered squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <td>Indicators</td>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(data.response.Indicators, function(i) {%>
            <tr>
                <td><%=i%></td>
            </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <%}%>
    </div>
</script>
