<script type="text/template" id="landregistry-enquiry-template">
    <div class="modal-header">
        <h3>Land Registry Enquiry</h3>
        <h4>Please provide flat/house and postcode OR flat, street and town OR house, street and town.</h4>
        <h4>Customer Address: <%=data.address%></h4>
    </div>
    <div class="modal-body">
        <form id="landregistry-enquiry-form" class="form-horizontal" action="/" method="POST">
            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <label for="buildingNumber" class="control-label">Building number:</label>
                        <div class="controls">
                            <input name="buildingNumber" id="" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="buildingNumber" class="control-label">Building name:</label>
                        <div class="controls">
                            <input name="buildingName" id="" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="streetName" class="control-label">Street name:</label>
                        <div class="controls">
                            <input name="streetName" id="" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="cityName" class="control-label">City name:</label>
                        <div class="controls">
                            <input name="cityName" id="" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="control-label">Post code:</label>
                        <div class="controls">
                            <input name="postCode" id="" type="text" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="pull-right">
            <button class="btn btn-primary btnOk">OK</button>
        </div>
    </div>

</script>

<script id="another-title-template" type="text/template">
    <div class="modal-header">
        <h3 id="myModalLabel">Title number</h3>
    </div>
    <div class="modal-body">
        <div class="">
            <label>Title number</label>
            <input class="form-control" type="text" id="titleNumber" name="titleNumber" value="" />
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary anotherTitleBtn">Ok</button>
    </div>
</script>
