<script type="text/template" id="landregistry-enquiry-template">
    <div class="modal-header">
        <h4>Please provide flat/house and postcode OR flat, street and town OR house, street and town. OR Retrieve by Title Number</h4>
        <h4>Customer Address: <%=data.address%></h4>
    </div>
    <div class="modal-body">
        <form id="landregistry-enquiry-form" class="form-horizontal" action="/" method="POST">
            <div class="row">
                <%if(data.titles && data.titles.length > 0) {%>
                <table class="table lr-enquiry-results">
                    <thead class="box">
                        <tr class="box-title">
                            <th>Title number (from cache)</th>
                            <th>Building name</th>
                            <th>Sub building name</th>
                            <th>Building number</th>
                            <th>Street name</th>
                            <th>City name</th>
                            <th>Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%_.each(data.titles, function(title){ %>
                        <tr data-titlenumber="<%=title.TitleNumber%>">
                            <td><%=title.TitleNumber%></td>
                            <td><%=title.BuildingName%></td>
                            <td><%=title.SubBuildingName%></td>
                            <td><%=title.BuildingNumber%></td>
                            <td><%=title.StreetName%></td>
                            <td><%=title.CityName%></td>
                            <td><%=title.Postcode%></td>
                        </tr>
                        <%});%>
                    </tbody>
                </table>
                <%}%>
                <div class="control-group">
                    <label for="buildingNumber" class="control-label">Title Number:</label>
                    <div class="controls">
                        <input name="titleNumber" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
                <hr />
                <div class="control-group">
                    <label for="buildingNumber" class="control-label">Building number:</label>
                    <div class="controls">
                        <input name="buildingNumber" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="buildingNumber" class="control-label">Building name:</label>
                    <div class="controls">
                        <input name="buildingName" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="streetName" class="control-label">Street name:</label>
                    <div class="controls">
                        <input name="streetName" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="cityName" class="control-label">City name:</label>
                    <div class="controls">
                        <input name="cityName" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">Post code:</label>
                    <div class="controls">
                        <input name="postCode" id="" type="text" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </form>
        <div class="pull-right">
            <button class="btn btn-primary btnOk">OK</button>
        </div>
    </div>
</script>

