@{
    ViewBag.Title = "Zoopla";
}

<script type="text/template" id="zoopla-template">
    <%
    var data = this.model;
    if(data.error) {%>
        <h3><%-data.error%></h3>
    <%} else {%>
    <div class="span8">
        <table class="table rright">
            <thead class="box">
                <tr class="box-title">
                    <th colspan="2"><h3>Average Sales For Area <%-data.AreaName%></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Average Sold Price 1 year</td>
                    <td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice1Year)%></td>
                </tr>
                <tr>
                    <td>Average Sold Price 3 years</td>
                    <td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice3Year)%></td>
                </tr>
                <tr>
                    <td>Average Sold Price 5 years</td>
                    <td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice5Year)%></td>
                </tr>
                <tr>
                    <td>Average Sold Price 7 years</td>
                    <td><%-EzBob.formatPoundsAsInt(data.AverageSoldPrice7Year)%></td>
                </tr>
                <tr>
                    <td>Num of Sales 1 Year</td>
                    <td><%-EzBob.formatIntWithCommas(data.NumerOfSales1Year)%></td>
                </tr>
                <tr>
                    <td>Num of Sales 3 Years</td>
                    <td><%-EzBob.formatIntWithCommas(data.NumerOfSales3Year)%></td>
                </tr>
                <tr>
                    <td>Num of Sales 5 Years</td>
                    <td><%-EzBob.formatIntWithCommas(data.NumerOfSales5Year)%></td>
                </tr>
                <tr>
                    <td>Num of Sales 7 Years</td>
                    <td><%-EzBob.formatIntWithCommas(data.NumerOfSales7Year)%></td>
                </tr>
                <tr>
                    <td>Turnover <i class="icon-white icon-info-sign" data-turnover=""></i></td>
                    <td><%-data.TurnOver%>%</td>
                </tr>
            </tbody>
        </table>
        <img src="<%-data.AverageValuesGraphUrl%>" />
        <img src="<%-data.HomeValuesGraphUrl%>" />
        <a href="<%-data.PricesUrl%>" class="btn btn-primary" target="_blank">Go to Zoopla <i class="icon-white icon-info-sign" data-zoopla=""></i></a>
    </div>
    <div class="span8">
        <img src="<%-data.ValueRangesGraphUrl%>" />
        <img src="<%-data.ValueTrendGraphUrl%>" />
        <img src="http://maps.googleapis.com/maps/api/streetview?size=640x640&sensor=false&location=<%-data.CustomerAddress.FormattedAddress%>" />
    </div>
    <%}%>
</script>
