@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    html, body {
        padding: 0 2px;
        margin: 0;
    }

    #pre_header {
        margin: 0;
        padding: 0;
    }

    div.full_width {
        width: 100%;
        overflow-x: hidden;
    }

    .inner {
        width: 350px;
        padding: 0;
        margin: 0 auto;
    }

    .inner_nopadding {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    aside#sidebar {
        clear: both;
    }
    /*ul.eu_icon{position:absolute; top:0; left:0;}*/
    div.wizard-director-text {
        width: 100%;
        font-size: 11pt;
        color: #585858;
    }

    #content {
        float: left;
        width: 100%;
        line-height: 1.8em;
    }

    .ez_progress_bar {
        width: 100%;
        height: 20px;
        padding: 0;
        background: #f7f7f7;
        background: -moz-linear-gradient(top,#f7f7f7 0%,#e5e5e5 90%);
    }

    .notification_green, .notification_yellow, .notification_orange, .notification_red, .notification_pink, .notification_darkblue, .notification_lightblue, .notification_white {
        min-height: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow: inset 0 0 1px #fff,0 0 10px rgba(0,0,0,.2);
        -webkit-box-shadow: inset 0 0 1px #fff,0 0 10px rgba(0,0,0,.2);
        box-shadow: inset 0 0 1px #fff,0 0 10px rgba(0,0,0,.2);
        position: relative;
        padding-left: 15px;
        padding-right: 14px;
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: 11px;
        text-align: justify;
        font-family: Arial;
        line-height: 18px;
        margin: 10px 0 10px 0;
        text-shadow: 0 1px 0 rgba(255,255,255,.24);
        width: 90%;
    }

        .notification_green .specular, .notification_yellow .specular, .notification_orange .specular, .notification_red .specular, .notification_pink .specular, .notification_darkblue .specular, .notification_lightblue .specular, .notification_white .specular {
            position: absolute;
            width: 200%;
            height: 90%;
            background: #fff;
            opacity: .15;
            filter: alpha(opacity=15);
            top: -30%;
            left: -10%;
            -moz-transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            -o-transform: rotate(50deg);
        }

    input.form_field, textarea.form_field {
        width: 92%;
    }

    div.form_read_and_accept {
        width: 100%;
    }

    select.form_field {
        width: 92%px;
        height: 30px;
        padding: 0;
    }

    .FormRadioCtrl > span {
        width: 100%;
        display: inline-block;
    }

        .FormRadioCtrl > span.error {
            width: 100%;
            display: inline-block;
        }

    .SubBank {
        width: 100%;
    }

    div.form_buttons_container {
        position: relative;
        height: 30px;
    }

        div.form_buttons_container input.confirm {
            position: absolute;
            top: 0;
            left: 0;
        }

        div.form_buttons_container input.continue, div.form_buttons_container a.continue {
            position: absolute;
            top: 0;
            left: 150px;
        }

        div.form_buttons_container input.back, div.form_buttons_container a.back {
            position: absolute;
            top: 0;
            left: 0;
        }

    ul.application_steps {
        margin: 0 0 10px 0;
        overflow: hidden;
        list-style: none;
    }

        ul.application_steps li {
            float: left;
            background: url(../images/arrow.png) 0 13px no-repeat;
            padding: 13px 0 10px 15px;
            font-weight: bold;
            font-size: 12px;
            width: 53px;
            margin: 0 2px;
            ;
            position: relative;
        }

            ul.application_steps li.current {
                background: url(../images/current_arrow.png) no-repeat 0 15px;
                color: #577fa5;
            }

            ul.application_steps li.complete {
                background: url(../images/tick.png) no-repeat 12px 18px;
                color: #497307;
            }

            ul.application_steps li .step_label {
                display: block;
                font-weight: normal;
                margin-left: 5px;
            }

            ul.application_steps li .progress_tip {
                background: url(../images/progress_tip.png) no-repeat 0 0;
                width: 115px;
                height: 27px;
                padding: 9px 0 0 15px;
                font-size: 12px;
                color: #fff;
                text-shadow: 0 1px 1px #c60;
                position: absolute;
                bottom: -33px;
                left: 0;
            }

    input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
        background-color: #eee;
        border: 1px #ccc solid;
        cursor: default;
    }

    .attardi-input input, .attardi-input textarea, .attardi-input select {
        padding: 4px;
    }
}

.modal {
    width: 100%;
}

#sidebar {
    width: 100%;
}

.clear {
    display: none;
    visibility: hidden;
}
