ALTER TABLE CompanyEmployeeCount ALTER COLUMN TopEarningEmployeeCount INT NULL
ALTER TABLE CompanyEmployeeCount ALTER COLUMN BottomEarningEmployeeCount INT NULL
ALTER TABLE CompanyEmployeeCount ALTER COLUMN EmployeeCountChange INT NULL