IF (EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MP_YodleeGroup]') AND type in (N'U')) AND (SELECT count(*) FROM MP_YodleeGroup) = 9) 
BEGIN
	ALTER TABLE MP_YodleeOrderItemBankTransaction DROP CONSTRAINT FK_MP_YodleeGroup_MP_YodleeOrderItemBankTransaction
    ALTER TABLE MP_YodleeOrderItemBankTransaction DROP COLUMN EzbobCategory
	DROP TABLE MP_YodleeGroupRuleMap
	DROP TABLE MP_YodleeRule
	DROP TABLE MP_YodleeGroup
END 

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MP_YodleeGroup]') AND type in (N'U'))
BEGIN
    --DROP TABLE MP_YodleeGroupRuleMap
    --DROP TABLE mp_yodleerule
	--DROP TABLE MP_YodleeGroup
	CREATE TABLE [dbo].[MP_YodleeGroup]
	(
		Id        INT IDENTITY(1,1) NOT NULL,
		MainGroup NVARCHAR(100) NOT NULL,
		SubGroup  NVARCHAR(100),
		BaseType  NVARCHAR(100),
	    CONSTRAINT PK_MP_YodleeGroup PRIMARY KEY (Id)
	) 
	
	INSERT INTO MP_YodleeGroup (MainGroup , SubGroup, BaseType) VALUES ('Revenues', 'Online', 'credit')
	INSERT INTO MP_YodleeGroup (MainGroup , SubGroup, BaseType) VALUES ('Revenues', 'Transfers','credit')
	INSERT INTO MP_YodleeGroup (MainGroup , SubGroup, BaseType) VALUES ('Opex', NULL, 'debit')
	
	CREATE TABLE [dbo].[MP_YodleeRule]
	(
		Id                INT IDENTITY(1,1) NOT NULL,
		RuleDescription   NVARCHAR(100) NOT NULL,
	    CONSTRAINT PK_MP_YodleeRule PRIMARY KEY (Id)
	) 
	
	INSERT INTO MP_YodleeRule (RuleDescription) VALUES ('Include a literal word')
	INSERT INTO MP_YodleeRule (RuleDescription) VALUES ('Include a director last name')
	INSERT INTO MP_YodleeRule (RuleDescription) VALUES ('Transaction is a round figure')

	CREATE TABLE [dbo].[MP_YodleeGroupRuleMap]
	(
		Id       INT IDENTITY(1,1) NOT NULL,
		GroupId  INT NOT NULL,
		RuleId   INT NOT NULL,
		Literal  NVARCHAR(100),
	    CONSTRAINT PK_MP_YodleeGroupRuleMap PRIMARY KEY (Id),
	    CONSTRAINT FK_MP_YodleeGroupRuleMap_MP_YodleeGroup FOREIGN KEY (GroupId) REFERENCES MP_YodleeGroup (Id),
	    CONSTRAINT FK_MP_YodleeGroupRuleMap_MP_YodleeRule FOREIGN KEY (RuleId) REFERENCES MP_YodleeRule (Id)
	) 
	
	INSERT INTO MP_YodleeGroupRuleMap (GroupId, RuleId, Literal) VALUES (1,1,'paypal')
	INSERT INTO MP_YodleeGroupRuleMap (GroupId, RuleId, Literal) VALUES (1,1,'ebay')
	INSERT INTO MP_YodleeGroupRuleMap (GroupId, RuleId, Literal) VALUES (1,1,'amazon')
	
	
	
	
	
	



	--ALTER TABLE MP_YodleeOrderItemBankTransaction DROP CONSTRAINT FK_MP_YodleeGroup_MP_YodleeOrderItemBankTransaction
    --ALTER TABLE MP_YodleeOrderItemBankTransaction DROP COLUMN EzbobCategory
	ALTER TABLE MP_YodleeOrderItemBankTransaction ADD EzbobCategory INT 
	ALTER TABLE MP_YodleeOrderItemBankTransaction ADD CONSTRAINT FK_MP_YodleeGroup_MP_YodleeOrderItemBankTransaction FOREIGN KEY (EzbobCategory) REFERENCES MP_YodleeGroup(Id)
		
END
GO



