IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RptNoPersonalInfoCustomers]') AND type in (N'P', N'PC'))
	EXECUTE('CREATE PROCEDURE [dbo].[RptNoPersonalInfoCustomers] AS SELECT 1')
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE RptNoPersonalInfoCustomers
@DateStart DATETIME,
@DateEnd   DATETIME
AS
BEGIN
	SELECT Id, Name, Fullname FROM Customer 
    WHERE WizardStep=4 AND Id IN (261,292,294,328,375,376,392,401,421,437,481,489,506,516,529,538,546,569,575,622,636,637,639,640,646,676,677,680,682,683,696,697,700,713,718,719,738,769,771,775,777,779,790,801,841,844,865,884,886,895,904,909,919,925,932,937,941,951,953,958,959,967,984,986,996,998,999,1003,1006,1015,1019,1024,1040,1041,1045,1066,1069,1070,1087,1088,1089,1091,1093,1096,1097,1123,1130,1132,1137,1188,1192,1211,1240,1243,1249,1260,1267,1270,1271,1276,1298,1306,1310,1319,1322,1328,1330,1332,1348,1351,1359,1376,1377,1387,1388,1405,1414,1418,1423,1436,1438,1442,1448,1450,1481,1486,1493,1510,1545,1548,1558,1643,1645,1670,1724,1769,1773,1780,1787,1798,1802,1804,1822,1828,1829,1837,1842,1844,1860,1862,1866,1893,1900,1914,1921,1922,1932,1946,1950,1951,1954,1959,2034,2050,2071,2098,2099,2113,2127,2130,2135,2157,2166,2170,2216,2248,2250,2269,2299,2303,2312,2328,2334,2343,2350,2367,2372,2391,2402,2450,2473,2475,2487,2508,2510,2521,2544,2585,2596,2601,2602,2611,2627,2629,2649,2653,2674,2676,2722,2727,2748,2786,2794,2828,2867,2928,2941,2946,2955,2969,2971,2983,2993,2995,3008,3013,3016,3024,3064,3072,3079,3085,3100,3112,3148,3171,3184,3188,3193,3196,3207,3219,3233,3234,3244,3250,3265,3267,3268,3293,3296,3303,3307,3308,3310,3332,3337,3352,3354,3418,3438,3454,3458,3461,3468,3473,3476,3486,3490,3498,3505,3513,3525,3529,3534,3536,3539,3544,3545,3547,3558,3560,3565,3570,3580,3589,3593,3604,3609,3612,3616,3618,3625,3632,3640,3644,3645,3657,3667,3691,3714,3715,3718,3723,3724,3729,3731,3742,3745,3761,3762,3784,3790,3793,3794,3796,3814,3816,3826,3846,3849,3850,3853,3871,3877,3880,3881,3892,3893,3898,3905,3912,3919,3923,3925,3926,3928,3940,3944,3948,3949,3951,3957,3958,3961,3964,3968,3970,3979,3987,3991,4003,4010,4021,4026,4028,4040,4051,4058,4060,4085,4086,4102,4106,4109,4112,4118,4119,4124,4125,4133,4138,4144,4147,4149,4153,4169,4175,4180,4196,4204,4213,4238,4239,4253,4259,4263,4274,4281,4291,4295,4297,4312,4318,4320,4321,4323,4328,4330,4340,4343,4349,4350,4352,4367,4370,4371,4376,4382,4397,4410,4416,4424,4431,4439,4444,4449,4457,4460,4462,4473,4476,4479,4494,4504,4517,4530,4543,4551,4552,4556,4563,4567,4571,4574,4576,4579,4583,4584,4586,4589,4594,4596,4603,4613,4615,4616,4617,4620,4623,4633,4634,4639,4645,4648,4683,4687,4688,4689,4700,4702,4705,4715,4718,4728,4731,4735,4736,4739,4742,4748,4749,4751,4752,4757,4758,4763,4786,4787,4796,4801,4803,4807,4808,4813,4814,4830,4837,4838,4842,4845,4846,4849,4851,4855,4869,4870,4882,4885,4886,4897,4898,4901,4904,4906,4908,4910,4940,4944,4949,4950,4951,4966,4985,4986,4988,4990,4992,4994,4995,4997,4998,5000,5010,5016,5027,5029,5033,5036,5037,5047,5048,5059,5066,5067,5074,5080,5085,5089,5091,5096,5097,5102,5108,5118,5120,5121,5122,5124,5125,5126,5127,5131,5132,5138,5150,5157,5160,5166,5167,5173,5184,5189,5190,5191,5200,5201,5202,5207,5208,5210,5212,5215,5222,5225,5226,5227,5228,5230,5235,5239,5247,5248,5277,5282,5287,5296,5298,5300,5301,5308,5314,5316,5318,5322,5324,5332,5333,5334,5335,5345,5346,5354,5356,5358,5359,5360,5367,5369,5370,5373,5376,5379,5381,5382,5384,5385,5397,5400,5407,5410,5419,5421,5422,5426,5434,5444,5447,5458,5459,5463,5469,5474,5476,5480,5482,5483,5492,5493,5497,5508,5511,5512,5513,5517,5520,5522,5526,5528,5545,5548,5551,5555,5556,5559,5565,5578,5579,5588,5590,5606,5617,5624,5629,5634,5654,5671,5672,5674,5678,5681,5684,5687,5689,5691,5702,5707,5709,5731,5744,5747,5752,5753,5757,5760,5761,5766,5772,5798,5804,5815,5818,5820,5824,5835,5836,5839,5843,5846,5849,5850,5851,5852,5855,5861,5866,5867,5871,5873,5877,5878,5881,5887,5889,5893,5901,5908,5918,5919,5920,5931,5933,5936,5939,5945,5953,5969,5970,5983,5985,5997,5998,6002,6005,6007,6017,6032,6043,6044,6048,6049,6051,6053,6060,6061,6062,6064,6065,6071,6073,6076,6080,6082,6083,6085,6092,6095,6099,6102,6103,6110,6111,6117,6128,6132,6133,6136,6146,6151,6162,6165,6166,6168,6172,6175,6183,6187,6199,6211,6219,6223,6225,6240,6249,6255,6256,6262,6279,6289,6290,6293,6298,6305,6308,6310,6320,6327,6347,6356,6361,6366,6370,6373,6374,6376,6378,6389,6394,6401,6402,6407,6410,6413,6414,6417,6430,6434,6442,6447,6459,6460,6476,6481,6488,6518,6525,6527,6530,6537,6546,6548,6551,6553,6554,6567,6570,6589,6599,6601,6606,6609,6613,6614,6615,6617,6619,6620,6623,6625,6640,6646,6658,6659,6684,6697,6705,6708,6717,6718,6724,6734,6736,6743,6749,6750,6754,6759,6761,6766,6768,6771,6777,6786,6789,6793,6794,6796,6797,6804,6807,6811,6814,6815,6821,6822,6829,6831,6844,6853,6860,6862,6864,6865,6877,6880,6882,6885,6891,6895,6900,6901,6905,6912,6914,6920,6929,6934,6935,6938,6946,6967,6969,6974,6975,6981,6991,6992,6993,6996,6999,7002,7004,7010,7011,7013,7015,7017,7020,7021,7028,7048,7050,7072,7078,7080,7081,7085,7100,7117,7125,7144,7147,7152,7156,7158,7171,7173,7177,7181,7190,7191,7194,7200,7209,7212,7218,7226,7233,7234,7238,7239,7249,7252,7255,7260,7262,7294,7314,7345,7347,7355,7365,7387,7393,7400,7405,7422,7431,7444,7457,7461,7464,7497,7499,7529,7547,7554,7573,7582,7616,7621,7627,7629,7645,7656,7658,7669,7673,7723,7727,7729,7756,7763,7767,7794,7802,7806,7838,7842,7855,7860,7883,7927,7982,7991,7994,8013,8026,8031,8046,8066,8069,8070,8076,8091,8125,8158)
END
GO

IF NOT EXISTS (SELECT 1 FROM ReportScheduler WHERE Type = 'RPT_NO_PERSON_INFO_CUSTOMERS') 
BEGIN
	INSERT INTO dbo.ReportScheduler (
		Type, Title, StoredProcedure,
		IsDaily, IsWeekly, IsMonthly,
		Header,
		Fields,
		ToEmail, IsMonthToDate
	)
	VALUES (
		'RPT_NO_PERSON_INFO_CUSTOMERS', 'Customers that finished wizard without personal info', 'RptNoPersonalInfoCustomers',
		1, 0, 0,
		'Id,Email,Full Name',
	    '!Id,Name,FullName',
		'nimrodk@ezbob.com, eilaya@ezbob.com,rosb@ezbob.com', 0
	)

	INSERT INTO ReportsUsersMap (UserID, ReportID)
	SELECT
		u.Id,
		r.Id
	FROM
		ReportUsers u,
		ReportScheduler r
	WHERE
		u.UserName IN ('alexbo', 'stasd', 'nimrodk', 'eilaya')
		AND
		r.Type = 'RPT_BROKER_STATUS'
		AND NOT EXISTS (
			SELECT *
			FROM ReportsUsersMap
			WHERE UserID = u.Id
			AND ReportID = r.ID
		)
		
	DECLARE @ReportId INT  = (SELECT Id FROM ReportScheduler r WHERE r.Type = 'RPT_NO_PERSON_INFO_CUSTOMERS')
	DECLARE @ReportArgId INT = (SELECT Id FROM ReportArgumentNames WHERE Name = 'DateRange')
	INSERT INTO ReportArguments (ReportArgumentNameId, ReportId) VALUES (@ReportArgId,@ReportId)
END
GO

