#divAdminArea H2 {
	text-align: center;
}

DIV#divAdminArea DIV#AdminLeftPane {
	float: left;
	margin-right: 1em;
}

DIV#divAdminArea DIV#AdminLeftPane INPUT,
DIV#divAdminArea DIV#AdminLeftPane SELECT {
	width: 15em;
	display: block;
}

DIV#divAdminArea DIV#AdminLeftPane INPUT.ReportButton {
	width: 48px !important;
	height: 48px !important;
}

div#divReportUserMap { float: left; }

TABLE.tblReportUserMap TBODY TR:hover {
	background-color: antiquewhite;
}

TABLE.tblReportUserMap TBODY TR TD {
	padding: 0.5em;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

TABLE.tblReportUserMap TBODY TR TD img.map-icon {
	width: 16px;
	height: 16px;
	border: 0;
}

div#divReportUserMapSection { float: left; }

div#divPendingActions,
textarea#txtPendingActionList { display: none; }