@model dynamic

<script type="text/template" id="accounting-investor-template">
	@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Investor, Model.IsEscalated)
	<div id="main-content">
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					<form id="accounting-investor-form" class="form-horizontal">
						<div class="row">
							<div class="col-md-6">

								<h3>Investor Status</h3>
								
								<div class="control-group">
									<label class="control-label"></label>
									<div class="control">
										<label class="checkbox">
											<input name="IncludeNonActiveAccounts" id="IncludeNonActiveAccounts" type="checkbox" value="true" checked="checked" />
											Include non active accounts
										</label>
									</div>
								</div>
								
								<div class="tab-pane" id="accounting-tbl">
									<div class="table-responsive table-ezbig">
										<table class="table grid-data">
											<thead>
												<tr>
													<th>#</th>
													<th>Type</th>
													<th>Name</th>
													<th style="width: 200px; text-align: center">Outstanding funding</th>
													<th>Accumulated Repayment for Investor</th>
													<th>Servicing fee discount</th>
													<th>Config Schedulers</th>
													<th>Is Active</th>
												</tr>
												<% data = data || {}; console.log('data', data); %>
												<%_.each(data, function(a){ %>
												<tr>
													<td><%-a.InvestorID%></td>
													<td><%-a.InvestorType%></td>
													<td><%-a.InvestorName%></td>
													<td>
														<span>
															<%-EzBob.formatPoundsNoDecimals(a.OutstandingFunding)%>
														</span>
														<span class="accounting-btn">
															<button class="btn btn-primary fa fa-exchange funding-transactions" data-fundaccid="<%-a.FundingBankAccountID%>"></button>
														</span>
													</td>
													<td>
														<span>
															<p><%-EzBob.formatPoundsNoDecimals(a.AccumulatedRepayments)%></p>
															<%if(a.TotalNonActiveAccumulatedRepayments) {%>
															<p><%-EzBob.formatPoundsNoDecimals(a.TotalNonActiveAccumulatedRepayments)%></p>
															<%}%>
														</span>
														<span class="accounting-btn">
															<button class="btn btn-primary fa fa-exchange repayments-transactions" data-investorid="<%-a.Investor%>"></button>
														</span>
													</td>
													<td><%-EzBob.formatPercents(a.ServicingFeeDiscount)%></td>
													<td>
														<span class="accounting-btn">
															<button class="btn btn-primary fa fa-clock-o investor-scheduler" data-investorid="<%-a.Investor%>"></button>
														</span>
													</td>
													<td><img src="/Content/img/<%-a.IsInvestorActive?'check_icon.svg':'close_icon.svg'%>" /></td>													
												</tr>
												<%});%>

											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</script>
