@model dynamic

<div id="add-investor-view" style="display: none;"></div>
<div id="manage-investor-view" style="display: none;"></div>


@{ Html.RenderPartial("~/Areas/Underwriter/Views/Investor/AddInvestor.cshtml"); }
@{ Html.RenderPartial("~/Areas/Underwriter/Views/Investor/ManageInvestor.cshtml"); }
@{ Html.RenderPartial("~/Areas/Underwriter/Views/Investor/ManageInvestors.cshtml"); }
