@model dynamic

<script type="text/template" id="manage-investors-template">
	@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Investor, Model.IsEscalated)
	<div id="main-content">
		<div class="page-title">
			<div>
				<h1>This is for managing investors</h1>
			</div>
		</div>
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					This is for managing investors
				</div>
			</div>
		</div>
	</div>
</script>
