@model dynamic

<script type="text/template" id="manage-investor-template">
	@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Investor, Model.IsEscalated)
	<div id="main-content">
		<div class="page-title">
			<div>
				<h1>This is for managing investor</h1>
			</div>
		</div>
		<div class="col-md-12">
			<div class="box">
				<div class="box-content">
					This is for managing investor
					<div id="manage-investor-region"></div>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="manage-investor-details-template">
	<div class="col-md-12">
		<div class="box">
			<div class="box-content">
				This is for managing investor details
				<button id="addInvestorContact" class="btn btn-primary">Add Contact</button>
				<button id="addInvestorBank" class="btn btn-primary">Add Bank</button>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="manage-investor-contact-template">
	<div class="col-md-12">
		<div class="box">
			<div class="box-content">
				This is for managing investor contact
				<button id="investorContactBack" class="btn btn-primary">Back</button>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="manage-investor-bank-template">
	<div class="col-md-12">
		<div class="box">
			<div class="box-content">
				This is for managing investor bank
				<button id="investorBankBack" class="btn btn-primary">Back</button>
			</div>
		</div>
	</div>
</script>

