<?xml version="1.0"?>
<configuration>
    <configSections>
		<section name="PublisherConfig" type="Publisher.PublisherConfig, Publisher"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Publisher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Publisher.Settings>
            <setting name="Login" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UrlPatronBase" serializeAs="String">
                <value>http://localhost/303/PatronServer</value>
            </setting>
            <setting name="UrlMavenBase" serializeAs="String">
                <value>http://localhost/303/MavenServer</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UrlAuthServiceBase" serializeAs="String">
                <value>http://localhost/303/AuthenticationServer/</value>
            </setting>
            <setting name="SecurityApplicationIdentification" serializeAs="String">
                <value>AppId</value>
            </setting>
            <setting name="LogRollbackQuery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xlsFileName" serializeAs="String">
                <value>TestData.xls</value>
            </setting>
            <setting name="Rollback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrategyAsyncUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CommonBackupFolder" serializeAs="String">
                <value>Install</value>
            </setting>
            <setting name="BackupFileName" serializeAs="String">
                <value>TestData.xls</value>
            </setting>
            <setting name="StrategiesCommaDelimitedTypesList" serializeAs="String">
                <value>Application;Behavioral;Mixed</value>
            </setting>
            <setting name="StrategiesToPublishCommaDelimitedTypesList" serializeAs="String">
                <value>Application;Mixed</value>
            </setting>
        </Publisher.Settings>
    </applicationSettings>

	<PublisherConfig>
		<Plugins>
			<Plugin Name="Default" Path=".\DefaultSigningProvider.dll"/>
		</Plugins>
	</PublisherConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
