<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IEzServiceAdmin" />
        <binding name="NetTcpBinding_IEzService" />
        <binding name="NetTcpBinding_IEzServiceAdmin1" />
        <binding name="NetTcpBinding_IEzService1" />
        <binding name="NetTcpBinding_IEzServiceAdmin2" />
        <binding name="NetTcpBinding_IEzService2" />
        <binding name="NetTcpBinding_IEzServiceAdmin3" />
        <binding name="NetTcpBinding_IEzService3" />
        <binding name="NetTcpBinding_IEzServiceAdmin4" />
        <binding name="NetTcpBinding_IEzService4" />
        <binding name="NetTcpBinding_IEzServiceAdmin5" />
        <binding name="NetTcpBinding_IEzService5" />
        <binding name="NetTcpBinding_IEzServiceAdmin6" />
        <binding name="NetTcpBinding_IEzService6" />
        <binding name="NetTcpBinding_IEzServiceAdmin7" />
        <binding name="NetTcpBinding_IEzService7" />
      </netTcpBinding>
    </bindings>
	  <client>
    <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin">
     <identity>
      <userPrincipalName value="ALEXBO-PC\alexbo" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService">
     <identity>
      <userPrincipalName value="ALEXBO-PC\alexbo" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin3" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin2">
     <identity>
      <userPrincipalName value="ALEXBO-PC\alexbo" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://alexbo-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService3" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService2">
     <identity>
      <userPrincipalName value="ALEXBO-PC\alexbo" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin4" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin3">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService4" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService3">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin5" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin4">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService5" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService4">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin6" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin5">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://elinar-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService6" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService5">
     <identity>
      <userPrincipalName value="ELINAR-PC\elinar" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://dell-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzServiceAdmin7" contract="EzServiceReference.IEzServiceAdmin"
     name="NetTcpBinding_IEzServiceAdmin1">
     <identity>
      <userPrincipalName value="Dell-PC\sashaf" />
     </identity>
    </endpoint>
    <endpoint address="net.tcp://dell-pc:7081/" binding="netTcpBinding"
     bindingConfiguration="NetTcpBinding_IEzService7" contract="EzServiceReference.IEzService"
     name="NetTcpBinding_IEzService1">
     <identity>
      <userPrincipalName value="Dell-PC\sashaf" />
     </identity>
    </endpoint>
   </client>
  </system.serviceModel>
</configuration>