<?xml version="1.0"?>
<configuration>

	<configSections>
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>

	</system.web>
	<system.serviceModel>
		<bindings>
			<!--<webHttpBinding>
				<binding name="secureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="nonSecureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpBinding>-->
		
			<wsHttpBinding>
				<binding name="wsBinding">
				  <security mode="Transport">
					<message clientCredentialType="None"/>
				  </security>
				</binding>
			</wsHttpBinding>
			
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			
			<endpointBehaviors>
				<behavior>
					<webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"  />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add scheme="https" binding="webHttpBinding" bindingConfiguration="secureWeb" />
			<add scheme="http" binding="webHttpBinding" bindingConfiguration="nonSecureWeb"  />
		</protocolMapping>
		
			<services>
				<service name="EzbobAPI.Customer">				
					<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.ICustomer">
						<identity>
							<dns value="localhost" />
						</identity>
					</endpoint>	
				
					<endpoint address="" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" contract="EzbobAPI.ICustomer" />
			
					<host>
						<baseAddresses>
							<add baseAddress="https://localhost:12498/Customer" />
						</baseAddresses>
					</host>
		
				</service>
		</services>	
					
		
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
	
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>