<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>

	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="false" requireSSL = "true" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="secureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<security mode="Transport">
						<!--transport clientCredentialType="Basic"/-->
					</security>
				</binding>
				<binding name="nonSecureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>

					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />

					 
					<!--<serviceAuthorization serviceAuthorizationManagerType="EzbobAPI.CustomAuthorizationManager, EzbobAPI" />-->
					
					<serviceAuthorization principalPermissionMode="Always" serviceAuthorizationManagerType="EzbobAPI.old_CustomAuthorizationManager, EzbobAPI"/>  
						
						
					<serviceCredentials useIdentityConfiguration="true">
						<serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />						
						<clientCertificate>
							<authentication certificateValidationMode="None" />	<!--Do not authenticate chain of trust-->
						</clientCertificate>
					</serviceCredentials>
					

				
				<!--<serviceCredentials>
						<serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
						<clientCertificate>
							<authentication certificateValidationMode="None" />
						</clientCertificate>
						<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="EzbobAPI.Identity.IdentityValidator, EzbobAPI" />
					</serviceCredentials>
					<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="EzbobAPI.Identity.RoleAuthorizationManager, EzbobAPI" /> -->


				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp automaticFormatSelectionEnabled="true"  helpEnabled="true"  />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add scheme="https" binding="webHttpBinding" bindingConfiguration="secureWeb" />
			<add scheme="http" binding="webHttpBinding" bindingConfiguration="nonSecureWeb"  />
		</protocolMapping>
		<services>
			
			<service name="EzbobAPI.Customer">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.ICustomer">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" contract="EzbobAPI.ICustomer" />
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:12498/Customer" />
					</baseAddresses>
				</host>
			</service>

			<!--service name="EzbobAPI.AuthenticationService">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.IAuthenticationService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" contract="EzbobAPI.IAuthenticationService" />
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:12498/Authentication" />
					</baseAddresses>
				</host>
			</service-->
		</services>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0"/>

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<remove name="Default" />
				<add name="myListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="c:\temp\logs\EzbobApi.log" />
			</listeners>
		</trace>
	</system.diagnostics>

</configuration>