<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingConfig" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpBinding>
		
			 <basicHttpBinding>
				<binding name="secureHttpBinding">
				  <security mode="Transport">
					<transport clientCredentialType="None" proxyCredentialType="None" />
				  </security>
				</binding>
			  </basicHttpBinding>
			
		</bindings>

		<services>
			<service name="EzbobAPI.Customer" behaviorConfiguration="webHttpBehavior">

				<!--<host>
					<baseAddresses>
						<add baseAddress="http://Elinar-PC:12498/MyRESTServices/"/>
					</baseAddresses>
				</host>-->
				
				
				<endpoint address=""
					  binding="basicHttpBinding"
					  bindingConfiguration="secureHttpBinding"
					  contract="EzbobAPI.ICustomer"/>

				<endpoint address=""
						  behaviorConfiguration="webHttpEndpointBehaviour"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpBindingConfig"
						  contract="EzbobAPI.ICustomer" />

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				
			
		
			
			</service>
		</services>

		<!--<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint defaultOutgoingResponseFormat="Json" helpEnabled="true" automaticFormatSelectionEnabled="true" />

				</webHttpEndpoint>
		</standardEndpoints>-->

		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpEndpoint>
		</standardEndpoints>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpEndpointBehaviour">
					<webHttp automaticFormatSelectionEnabled="true" helpEnabled="false"  />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>

				<behavior  name="webHttpBehavior">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<!--<add binding="basicHttpsBinding" scheme="https" />-->
			<add binding="basicHttpBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								   multipleSiteBindingsEnabled="true"
								   minFreeMemoryPercentageToActivateService="0" />



	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
