<?xml version="1.0"?>
<configuration>

	<configSections>
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>

	</system.web>
	<system.serviceModel>
		<services>
			<service name="EzbobAPI.Customer" behaviorConfiguration="xxx">
				<!--	<endpoint address=""
						  binding="basicHttpBinding"
						  bindingConfiguration="secureHttpBinding"
						  contract="EzbobAPI.ICustomer"/>-->

				<endpoint address=""
					  binding="webHttpBinding"
					  bindingConfiguration="secureWeb"
					  behaviorConfiguration="webEndpoint"
					  contract="EzbobAPI.ICustomer"/>
				
				<!--<endpoint address=""
					  binding="basicHttpsBinding"
					  behaviorConfiguration="webEndpoint"
					  contract="EzbobAPI.ICustomer"/>-->

				<endpoint address="mex"
						  binding="mexHttpsBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
		<!--	<basicHttpBinding>
				<binding name="secureHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>-->

			<webHttpBinding>
				<binding name="secureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>
			</webHttpBinding>

		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="xxx">
					
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpsGetEnabled="true"/>
					
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>

					<!--<serviceCredentials>
						<clientCertificate>
							<authentication certificateValidationMode="None" mapClientCertificateToWindowsAccount="true" />
						</clientCertificate>
						<peer>
							<peerAuthentication certificateValidationMode = "None" revocationMode="NoCheck" trustedStoreLocation="LocalMachine" />
						</peer>
					</serviceCredentials>-->

				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="webEndpoint">
					<webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"  />
				</behavior>
			</endpointBehaviors>

		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"
								   aspNetCompatibilityEnabled="true"
								   minFreeMemoryPercentageToActivateService="0"/>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
