<?xml version="1.0"?>
<configuration>

	<configSections>
 </configSections>
 <appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	
	

	</system.web>
	<system.serviceModel>
		
			
				
		<bindings>
			
			<webHttpBinding>
				<!--<binding name="webHttpTransportSecurity" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<security mode="Transport">
						<transport clientCredentialType="Certificate">
						</transport>
					</security>
				</binding>-->

				<binding name="webHttpBindingConfig" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
				
			  </webHttpBinding>
		
		</bindings>

		<services>
			
		
				
			<service name="EzbobAPI.Customer" behaviorConfiguration="webHttpBehavior">
			<!--	<service name="EzbobAPI.Customer" behaviorConfiguration="SecureRESTSvcTestBehavior">-->
				
				<host>
					<baseAddresses>
					  <add baseAddress="http://api-dev.ezbob.com:12498"/>
					  <!--<add baseAddress="https://api-dev.ezbob.com:443"/>-->
					</baseAddresses>
				</host>
		
				
				<endpoint address=""
        behaviorConfiguration="webHttpEndpointBehaviour"
        binding="webHttpBinding"
        bindingConfiguration="webHttpBindingConfig"
        contract="EzbobAPI.ICustomer" />
				
				<!--<endpoint address=""
						  behaviorConfiguration="webHttpEndpointBehaviour"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpTransportSecurity"
						  contract="EzbobAPI.ICustomer" />-->

				<!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />-->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			
			</service>
		
		
		</services>

		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpEndpoint>
		</standardEndpoints>

		<behaviors>
			
			<endpointBehaviors>
				<behavior name="webHttpEndpointBehaviour">
					<webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"  />
				
					<!--<clientCredentials>
						<clientCertificate findValue="Elinar-PC" x509FindType="FindBySubjectName" />
					</clientCredentials>-->
			
				</behavior>
			</endpointBehaviors>
			
			<serviceBehaviors>

				<behavior name="webHttpBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				
				<behavior name="SecureRESTSvcTestBehavior">
					<serviceMetadata httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
	  
			</serviceBehaviors>
		</behaviors>
		
		<protocolMapping>
			<!--<add binding="basicHttpsBinding" scheme="https" />-->
			<add binding="basicHttpBinding" scheme="http" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
           multipleSiteBindingsEnabled="true"
           minFreeMemoryPercentageToActivateService="0" />



	</system.serviceModel>
	
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
        -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
