<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<!--<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>-->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="true" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<connectionStrings configSource="connection-strings.xml" />

	<system.serviceModel>

		<extensions>
			<behaviorExtensions>
				<add name="dependencyInjection" type="WcfExt.Configuration.DiServiceBehaviorExtensionElement,WcfExt" />
				<add name="customAuthentication" type="WcfExt.Configuration.CustomServiceAuthenticationExtensionElement,WcfExt" />
			</behaviorExtensions>
		</extensions>

		<bindings>
			<webHttpBinding>
				<binding crossDomainScriptAccessEnabled="true" name="secureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="nonSecureWeb" contentTypeMapper="EzbobAPI.JsonContentTypeMapper, EzbobAPI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="">
					<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="secureBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
					<serviceCredentials>
						<clientCertificate>
							<authentication certificateValidationMode="None" />
						</clientCertificate>
						<serviceCertificate findValue="localhost" storeLocation="LocalMachine"
						 storeName="My" x509FindType="FindBySubjectName" />
						<userNameAuthentication userNamePasswordValidationMode="Custom"
						 customUserNamePasswordValidatorType="EzbobAPI.Identity.IdentityValidator, EzbobAPI" />
					</serviceCredentials>
				</behavior>
				<behavior name="nonSecureBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add scheme="https" binding="webHttpBinding" bindingConfiguration="secureWeb" />
			<add scheme="http" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" />
		</protocolMapping>
		<services>

			<service name="EzbobAPI.Customer" behaviorConfiguration="secureBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.ICustomer">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" contract="EzbobAPI.ICustomer" />-->
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:12498/Customer" />
					</baseAddresses>
				</host>
			</service>

			<service name="EzbobAPI.Alibaba.Service" behaviorConfiguration="secureBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.Alibaba.IService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:12498/Service" />
					</baseAddresses>
				</host>
			</service>

			<!--service name="EzbobAPI.AuthenticationService">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="secureWeb" contract="EzbobAPI.IAuthenticationService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="nonSecureWeb" contract="EzbobAPI.IAuthenticationService" />
				<host>
					<baseAddresses>
						<add baseAddress="https://localhost:12498/Authentication" />
					</baseAddresses>
				</host>
			</service-->
		</services>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />

	</system.serviceModel>

	<system.webServer>
		<!--<modules runAllManagedModulesForAllRequests="true"/>-->
		<directoryBrowse enabled="true" />
	</system.webServer>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\logs\EzbobApi.log" />
			</listeners>
		</trace>
	</system.diagnostics>



</configuration>