@using EzBob.Web.Infrastructure
@model dynamic

<div id="store-notify"></div>
<div id="store-info-container">
</div>

@{Html.RenderPartial("StoreInfoMain");}
@{Html.RenderPartial("EbayStoreInfo");}
@{Html.RenderPartial("AmazonStoreInfo");}
@{Html.RenderPartial("StoreButton");}

@section Js{
    @BundleHelper.RenderStoreInfoJs();
    <script type="text/javascript">
    $(function () {
        var view = new EzBob.StoreInfoView({ el: $('#store-info-container') });
        view.render();
    })
    </script>
}