@model string

@{
    ViewBag.Title = "Bank account already exists";
}

<h1>Error</h1>

@section Js
{
    <script type="text/javascript">
        $(function() {
            var error = '@Model';
            window.opener.window.EzBob.App.trigger("error", error);
            self.close();
        });
    </script>
}