@using Newtonsoft.Json
@model dynamic
@{
    ViewBag.Title = "Refresh Bank Account";
}

<h2>Refresh Bank Account</h2>

@section Js
{
    <script type="text/javascript">
        $(window).load(function () {
        if (querystring('oauth_error_code').length > 0) {
            var variables = window.opener.YodleeRefreshAccountRetry();
            var attemptsLeft = variables.attemptsLeft;
            var url = variables.url;
                    
            if (attemptsLeft <= 0) {
                window.opener.YodleeAccountUpdateError("Error occurred while trying to update bank account");
                self.close();
            } else {
                var model = @Html.Raw(JsonConvert.SerializeObject(Model));
                    if (model != undefined && model.bankId != undefined) {
                        // In here the marketplace was updated properly
                        //window.opener.YodleeAccountAdded(@Html.Raw(JsonConvert.SerializeObject(Model)));
                        self.close();
                    } else {
                        // In here we retry
                        document.location.href = url;
                    }
                }

        } else {
            // In here the marketplace was updated properly
            self.close();
         }

         function querystring(key) {
             var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
             var r = [], m;
             while ((m = re.exec(document.location.search)) != null) {
                 r.push(m[1]);
             }
             return r;
         }
        });
    </script>
}
