@using EzBob.Web.Areas.Customer.Controllers
@using Newtonsoft.Json
@using log4net
@model dynamic
@{
}
<h2>Trying to add bank account. Please wait a minute.</h2>

@section Js
{
    <script type="text/javascript">
        $(function () {
            if (querystring('oauth_error_code').length > 0) {
                    
                var variables = window.opener.YodleeAccountRetry();
                var attemptsLeft = variables.attemptsLeft;
                var url = variables.url;
                    
                if (attemptsLeft <= 0) {
                    window.opener.YodleeAccountAddingError("Error occurred while trying to add bank account");
                    self.close();
                } else {
                    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
                    if (model != undefined && model.bankId != undefined) {
                        // In here the marketplace was added properly
                        window.opener.YodleeAccountAdded(@Html.Raw(JsonConvert.SerializeObject(Model)));
                        self.close();
                    } else {
                        // In here we retry
                        document.location.href = url;
                    }
                }
            } else {
                window.opener.YodleeAccountAdded(@Html.Raw(JsonConvert.SerializeObject(Model)));
                self.close();
            }

            function querystring(key) {
                var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
                var r = [], m;
                while ((m = re.exec(document.location.search)) != null) r.push(m[1]);
                return r;
            }
        });
    </script>
}

