
<section class="sliders row">
    <div class="col span_16">
        <div class="col span_9 pad_1 slider-cont">
            <h2>How much do you need?</h2>
            <div class="slider" data-min="3000" data-max="30000" data-target="amount"></div>
            <h2>How long do you want it for?</h2>
            <div class="slider" data-min="1" data-max="52" data-target="length"></div>
        </div>
        <div class="col span_4 pad_1 slider-input-cont">
            <p>&pound;10,000 maximum for sole traders</p>
            <div class="slider-input row">
                <span class="minus col span_4"></span>
                <input class="col span_8" type="text" name="amount" value="15000" />
                <span class="plus col span_4"></span>
                <br class="clearfix">
            </div>
            <div class="slider-input amount-cont row">
                <span class="minus col span_4"></span>
                <input class="col span_4" type="text" name="length" value="16" />
                <span class="col span_4">Weeks</span>
                <span class="plus col span_4"></span>
                <br class="clearfix">
            </div>
        </div>
        <div class="col span_16 summary">
            <div class="col span_2 pad_1">
                <h3>Borrowing</h3>
                <p>&pound;<span class="amount">30,000</span></p>
            </div>
            <span class="col span_1">+</span>
            <div class="col span_2">
                <h3>Fee</h3>
                <p>&pound;<span class="fee">900</span></p>
            </div>
            <span class="col span_1">+</span>
            <div class="col span_2">
                <h3>Interest Cost</h3>
                <p>&pound;<span class="interest">2,300</span> (<span class="interestRate">8</span>%)</p>
            </div>
            <div class="col span_4 pad_2 summary_total">
                <h3 class="col span_9">Total to repay</h3>
                <p class="col span_7">&pound;<span class="total">33,300</span></p>
            </div>
        </div>
    </div>
    <div class="col span_16 overview">
        <div class="col span_10 pad_1">
            <p><span class="org length">16</span> weekly repayments* of <span class="org">£<span class="repayment">2,081.25</span></span></p>
        </div>
        <a href="#" class="org-btn col span_4">Apply now</a>
    </div>
</section>