<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CertPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxBufferSize="65536000" maxReceivedMessageSize="65536000"
                    textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="65536000"
                        maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="prodCert">
                    <clientCredentials>
                        <clientCertificate findValue="Land Registry Issuing CA" x509FindType="FindByIssuerName" storeLocation="LocalMachine" storeName="My"/>
                        <serviceCertificate>
                            <authentication certificateValidationMode="PeerTrust"/>
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService/EnquiryByPropertyDescriptionV2_0WebService"
                behaviorConfiguration="prodCert" binding="basicHttpBinding"
                bindingConfiguration="CertPortBinding" contract="LREnquiryServiceTestNS.PropertyDescriptionEnquiryV2_0Service"
                name="PropertyDescriptionV2_0WSImplPort1" />
            <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/OfficialCopyWithSummaryV2_1WebService"
                behaviorConfiguration="prodCert" binding="basicHttpBinding"
                bindingConfiguration="CertPortBinding" contract="LRRESServiceTestNS.OCWithSummaryV2_1Service"
                name="OCWithSummaryV2_1WSImplPort1" />
            <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService/EnquiryByPropertyDescriptionV2_0PollWebService"
                behaviorConfiguration="prodCert" binding="basicHttpBinding"
                bindingConfiguration="CertPortBinding" contract="LREnquiryPollServiceTestNS.PropertyDescriptionEnquiryV2_0PollService"
                name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPort1" />
            <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/OfficialCopyWithSummaryV2_0PollRequestWebService"
                behaviorConfiguration="prodCert" binding="basicHttpBinding" 
                bindingConfiguration="CertPortBinding" contract="LRRESPollServiceTestNS.OCWithSummaryV2_0PollService"
                name="OCWithSummaryV2_0PollRequestWSImplPort" />
        </client>
    </system.serviceModel>
</configuration>
