<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SourceFolders" type="Ezbob.Dabinuto.CfgSourceFoldersSection, Dabinuto" />
	</configSections>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings configSource="connection-strings.xml" />

	<SourceFolders>
		<Folders>
			<add name="types" />
			<add name="current" />
			<add name="Triggers" />
			<add name="Functions" />
			<add name="Views" />
			<add name="SPs" />
		</Folders>
	</SourceFolders>
</configuration>