@model dynamic

@{
    ViewBag.Title = "CAIS";
    Layout = "../Shared/_Layout.cshtml";
}

@UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Other)
<div id="main-content">
    <div class="box">
        <div class="box-content">
            <div class="content file-list"></div>
        </div>
    </div>
</div>
<div id="loan_editor_schedule_template"></div>

<script type="text/template" id="cais-template">
    @CaisReports()
</script>

@section Js{
    <script type="text/javascript">
        $(".container-fluid > ul.nav > li[id]").removeClass("active");
        $("#liCAIS").addClass("active");
        var view = new EzBob.Underwriter.CAIS.CaisManageView({ el: ".content" });
    </script>
}

@helper CaisReports()
{
    <fieldset>
        <div class="page-title">
            <h1>
                CAIS reports
            </h1>
        </div>
        <div class="simple-well cais-manage-controls">
            <button class="generate btn btn-primary"><i class="fa fa-cog"></i>Generate current reports</button>
            <button class="download btn btn-primary"><i class="fa fa-download"></i>Download selected reports(<span class="reports-count"></span>)</button>
            <a class="redirect btn btn-primary" href="https://st.uk.experian.com" target="_blank"><i class="fa fa-globe"></i>Go to expirian sts</a>
        </div>
        
        <table class="table cais-table">
            <thead class="box">
                @EzForm.RawHeaderCell("Reports history", "", "", "", "", "", "", "")
                @EzForm.RawCellBold("Generation Date", "Name", "Type", "Total account", "Good accounts", "Late accounts", "Defaults", "Upload status")
            </thead>
            <tbody>
                <% _.each(model, function(val, i){ %>
                <tr class="" data-id ="<%-val.Id%>">
                    <td><%-val.Date%></td>
                    <td><%-val.FileName%></td>
                    <td><%-val.Type%></td>
                    <td><%-val.OfItems%></td>
                    <td><%-val.GoodUsers%></td>
                    <td><%-val.OfItems - val.GoodUsers%></td>
                    <td><%-val.Defaults%></td>
                    <td>
	                    <%-val.CaisUploadStatus%>
						<%if(val.CaisUploadStatus != 'Uploaded') {%>
							<button class="btn btn-primary set-cais-uploaded-status" data-id="<%-val.Id%>">
								<i class="fa fa-upload"></i>
							</button>
						<%}%>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </fieldset>
}