    
        <center><h4>DIRECTORS' CONSENT DECLARATION</h4></center>
        <div>
            <p  style="text-align: justify" >
                THIS DECLARATION is made and entered into on {{CurentDate}}</p>
            <p  style="text-align: justify"  style="text-align: justify">
                In consideration of Orange Money Ltd of 145 – 157, St John Street, London, EC1V
                4PY, COMPANY NUMBER 7852687, (“the Creditor”) entering into the Loan Agreement,
                {{Customer.CustomerPersonalInfo.Fullname}} {{PersonAddress}}  (the Guarantor(s) hereby unconditionally and
                irrevocably and where there is more than one Guarantor, jointly and severally, undertake(s)
                and guarantee(s) to the Creditor the due and punctual performance and observance
                by the Principal Debtor of all its obligations, commitments, undertakings, warranties,
                indemnities and covenants under or pursuant to the Loan Agreement and the due and
                punctual payment of all sums now or subsequently payable by the Principal Debtor
                to the Creditor under the Loan Agreement, when the same shall become due and agrees
                to indemnify the Creditor against all losses, damages, costs and expenses (including
                legal costs and expenses) which the Creditor may incur or suffer through or arising
                from any breach by the Principal Debtor of such obligations, commitments, warranties,
                undertakings, indemnities or covenants. If the Principal Debtor shall default in
                the payment of any sum under the Loan Agreement, the Guarantor(s) will forthwith
                on demand by the Creditor pay such sum to the Creditor. Such guarantee and undertaking
                is a continuing guarantee and undertaking and shall remain in force until all the
                obligations of the Principal Debtor under the Loan Agreement have been fully performed
                and all sums payable to the Creditor have been fully paid. The Guarantor(s) agrees
                and accepts all obligations set out above and detailed below.
            </p>
        </div>
