
<center><h4>GUARANTEE AND INDEMNITY</h4></center>
<div>
    <p style="text-align: justify">
        THIS GUARANTEE is made and entered into on {{CurentDate}}
    </p>
    <p style="text-align: justify" style="text-align: justify">
        In consideration of Orange Money Ltd of 39-41 North Road, London N7 9DP,
        COMPANY NUMBER 7852687, trading as Everline, (&ldquo;the Creditor&rdquo;) entering into the Loan Agreement,
        {{FullName}} {{PersonAddress}}  (the Guarantor(s) hereby unconditionally and
        irrevocably and where there is more than one Guarantor, jointly and severally, undertake(s)
        and guarantee(s) to the Creditor the due and punctual performance and observance
        by the Principal Debtor of all its obligations, commitments, undertakings, warranties,
        indemnities and covenants under or pursuant to the Loan Agreement and the due and
        punctual payment of all sums now or subsequently payable by the Principal Debtor
        to the Creditor under the Loan Agreement, when the same shall become due and agrees
        to indemnify the Creditor against all losses, damages, costs and expenses (including
        legal costs and expenses) which the Creditor may incur or suffer through or arising
        from any breach by the Principal Debtor of such obligations, commitments, warranties,
        undertakings, indemnities or covenants. If the Principal Debtor shall default in
        the payment of any sum under the Loan Agreement, the Guarantor(s) will forthwith
        on demand by the Creditor pay such sum to the Creditor. Such guarantee and undertaking
        is a continuing guarantee and undertaking and shall remain in force until all the
        obligations of the Principal Debtor under the Loan Agreement have been fully performed
        and all sums payable to the Creditor have been fully paid. The Guarantor(s) agrees
        and accepts all obligations set out above and detailed below.
    </p>
</div>
<dl>
    <dt>1 INTERPRETATION</dt>
    <dd>
        <p style="text-align: justify">
            1.1 Unless the context otherwise requires or unless otherwise defined in this Guarantee,
            words and expressions shall have the same respective meanings that are ascribed
            to them in the Loan Agreement.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            1.2 In this Guarantee:
            <dl>
                <dd>
        <p style="text-align: justify">
            &ldquo;Loan Agreement&rdquo; means that certain Loan Agreement between
            {{CompanyName}} as borrower, and Creditor, as lender, dated as of the date of this
            Guarantee, with respect to a loan in the original principal amount of {{TotalPrincipal}}
            (&ldquo;Loan&rdquo;). Loan APR is {{APR}} %
        </p>
    </dd>
    <dd><p style="text-align: justify">&ldquo;Principal Debtor&rdquo; means {{CompanyName}} .</p></dd>
    <dd>
        <p style="text-align: justify">
            &ldquo;Principal Debtor’s Obligations&rdquo; means all monies and liabilities which are now or at any time after
            the date of this Guarantee advanced to, becoming due from, or owing or incurred
            by, the Principal Debtor to Creditor under or in connection with the Loan Agreement.
        </p>
    </dd>
</dl>
<dd>
    <p style="text-align: justify">
        1.3 In this Guarantee:
        <dl>
            <dd>
    <p style="text-align: justify">
        1.3.1 references to this Guarantee are to include the indemnity
        in clause 3.3.
    </p>
</dd>
<dd>
    <p style="text-align: justify">
        1.3.2 references to this Guarantee or any provisions of this Guarantee
        or to the Loan Agreement or any other document or agreement are to be construed
        as references to this Guarantee, that Loan Agreement or those provisions or that
        document or agreement as is in force for the time being and as amended, varied,
        supplemented, substituted or novated from time to time.
    </p>
</dd>
<dd>
    <p style="text-align: justify">
        1.3.3 references to any
        person are to be construed to include that person’s assigns or transferees or successors
        in title, whether direct or indirect.
    </p>
</dd>
                </dl>
            </p></dd>
        </dl>
<dl>
    <dt>2 REPRESENTATIONS AND WARRANTIES</dt>
    <dd>
        <p style="text-align: justify">
            The Guarantor warrants, represents and undertakes to the Creditor (such warranties,
            representations and undertakings to continue so long as this Guarantee remains subsisting)
            that:
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            2.1 It is a director, shareholder, officer, member and/or otherwise has a beneficial
            interest (directly or indirectly) in Principal Debtor and the making of the Loan
            by Creditor and the acceptance of the Loan by Principal Debtor will confer a benefit
            (direct or indirect) on Guarantor; and
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            2.2 It has had an opportunity to review the Loan Agreement and understands the obligations
            of Principal Debtor thereunder to repay the Loan, along with interest thereon and
            any other fees, charges or amounts in accordance with the terms of the Loan Agreement.
        </p>
    </dd>
</dl>
<dl>
    <dt>3 GUARANTEE AND INDEMNITY</dt>
    <dd>
        <p style="text-align: justify">
            3.1 The Guarantor irrevocably and unconditionally guarantees to the Creditor the
            payment on demand, of the Principal Debtor’s Obligations.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            3.2 If the Principal Debtor’s Obligations are not recoverable from the Principal
            Debtor by reason of illegality, incapacity, the lack or exceeding of powers, ineffectiveness
            of execution, defectiveness or omission of any required internal procedure or any
            other reason, the Guarantor shall notwithstanding any of the foregoing be liable
            under this Guarantee for the Principal Debtor’s Obligations as if it were a principal
            debtor.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            3.3 The Guarantor, as principal obligor and as a separate and independent obligation
            and liability from its obligations and liabilities under clause 3.1, irrevocably
            and unconditionally agrees to indemnify the Creditor in full on demand against all
            losses, costs and expenses suffered or incurred by the Creditor arising from or
            in connection with from the failure by the Principal Debtor to make due and punctual
            payment of the Principal Debtor's Obligations (or any part thereof) or resulting
            from any of the Principal Debtor's Obligations being or becoming void, voidable,
            unenforceable or ineffective against the Principal Debtor.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            3.4 The Creditor may allow another person to take over any of its rights and duties under this Guarantee and the Guarantor authorises the Creditor to give that person any financial or other information about Guarantor.  Creditor may assign or pledge (as security for any debts or obligations of Creditor) any of its rights, title or interest to or under this Guarantee to any third party, separately or in connection with any assignment or pledge of its right, title or interest to or under the Loan Agreement.
        </p>
    </dd>
</dl>
<dl>
    <dt>4 CREDITOR PROTECTIONS</dt>
    <dd>
        <p style="text-align: justify">
            4.1 Guarantor acknowledges and agrees that this Guarantee is and at all times shall
            be a continuing security and shall extend to cover the ultimate balance due at any
            time from the Principal Debtor to the Creditor under or in connection with the Principal
            Debtor’s Obligations.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2 The Guarantor acknowledges and agrees that none of its liabilities under this
            Guarantee shall be reduced, discharged or otherwise adversely affected by:
            <dl>
                <dd>
        <p style="text-align: justify">
            4.2.1 any variation, extension, discharge, compromise, dealing with, exchange or
            renewal of any right or remedy which the Creditor may now or after the date of this
            Guarantee have from or against the Principal Debtor or any other person in respect
            of the Principal Debtor’s Obligations;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.2 any act or omission by the Creditor or any other person in taking up, perfecting
            or enforcing any security or guarantee from or against the Principal Debtor or any
            other person;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.3 any administration, insolvency, bankruptcy, liquidation, winding-up, incapacity,
            limitation, disability, the discharge by operation of law and any change in the
            constitution, name and style of the Principal Debtor or any other person;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.4 any termination, amendment, variation, novation or supplement of or to any
            of the Principal Debtor’s Obligations;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.5 any grant of time, indulgence, waiver or concession to the Principal Debtor
            or any other person;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.6 any act or omission which would not have discharged or affected the liability
            of the Guarantor had it been a principal debtor instead of guarantor or indemnitor
            or by anything done or omitted by any person which but for this provision might
            operate to exonerate or discharge the Guarantor or otherwise reduce or extinguish
            its liability under this Guarantee;
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            4.2.7 any invalidity, illegality, unenforceability, irregularity of, or any defect
            in, any provision of the Loan Agreement or this Guaranty, including without limitation
            any claim by Guarantor, Principle Obligor or any other person that the Loan Agreement
            and Principle Obligor’s obligations thereunder were agreed to and/or executed in
            the absence or proper corporate power or authority
        </p>
    </dd>
</dl>
            </p></dd>
<dd>
    <p style="text-align: justify">
        4.3 The Creditor shall not be obliged before taking steps to enforce any of its
        rights and remedies under this Guarantee to take any action or obtain judgment against
        the Principal Debtor or any other person.
    </p>
</dd>
<dd>
    <p style="text-align: justify">
        4.4 The Guarantor warrants to the Creditor that it has not taken or received, and
        shall not take, exercise or receive, the benefit of any security or other right
        or benefit from or exercise any right against the Principal Debtor, its liquidator,
        an administrator, a co-guarantor or any other person in connection with any liability
        of, or payment by, the Guarantor under this Guarantee.
    </p>
</dd>
<dd>
    <p style="text-align: justify">
        4.5 If the Guarantor is in breach of clause 4.4 any security or other right or
        benefit obtained from the Principal Debtor or any other person shall be held upon
        trust to transfer or pay them to the Creditor to the extent necessary to satisfy
        any liability of the Guarantor under this Guarantee.
    </p>
</dd>
        </dl>
<dl>
    <dt>5 SUSPENSE ACCOUNT</dt>
    <dd>
        <p style="text-align: justify">
            The Creditor may place to the credit of a suspense account any monies received under
            or in connection with this Guarantee and may, at any time, apply any of those monies
            in or towards satisfaction of any of the Guarantor’s liabilities under clause 3
            to the Creditor, in its absolute discretion, may from time to time determine.
        </p>
    </dd>
</dl>
<dl>
    <dt>6 APPROPRIATION</dt>
    <dd>
        <p style="text-align: justify">
            The Guarantor shall not direct the application by the Creditor of any sums received
            by the Creditor from the Guarantor under this Guarantee.
        </p>
    </dd>
</dl>
<dl>
    <dt>7 DISCHARGE TO BE CONDITIONAL</dt>
    <dd>
        <p style="text-align: justify">
            7.1 Any release, discharge or settlement between the Guarantor and the Creditor
            in relation to this Guarantee shall be conditional upon no right, security, disposition
            or payment to the Creditor by the Guarantor, the Principal Debtor or any other person
            being avoided, set aside or ordered to be refunded pursuant to any enactment or
            law relating to breach of duty by any person, bankruptcy, liquidation, administration,
            the protection of creditors or insolvency or for any other reason.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            7.2 If any such right, security, disposition or payment is avoided, set aside or
            ordered to be refunded, the Creditor shall be entitled subsequently to enforce this
            Guarantee against the Guarantor as if such release, discharge or settlement had
            not occurred and any such security, disposition or payment had not been made.
        </p>
    </dd>
</dl>
<dl>
    <dt>8 PAYMENTS AND TAXES</dt>
    <dd>
        <p style="text-align: justify">
            8.1 All sums payable by the Guarantor under this Guarantee shall be paid to the
            Creditor in full:
            <dl>
                <dd>
        <p style="text-align: justify">
            8.1.1 without any set-off, condition or counterclaim whatsoever; and
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            8.1.2 free and clear of any deduction or withholding whatsoever except only as may
            be required by law or regulation which in either case is binding on it.
        </p>
    </dd>
</dl>
            </p></dd>
<dd>
    <p style="text-align: justify">
        8.2 If any deduction or withholding is required by any law or regulation (whether
        or not that regulation has the force of law) in respect of any payment due from
        the Guarantor under this Guarantee, the sum payable by the Guarantor shall be increased
        so that, after making the minimum deduction or withholding so required, the Guarantor
        shall pay to the Creditor, and the Creditor shall receive and be entitled to retain
        on the due date for payment, a net sum at least equal to the sum which it would
        have received had no such deduction or withholding been required to be made.
    </p>
</dd>
        </dl>
<dl>
    <dt>9 DEMANDS AND NOTIFICATION BINDING</dt>
    <dd>
        <p style="text-align: justify">
            Any demand, notification or certificate given by the Creditor specifying amounts
            due and payable under or in connection with any of the provisions of this Guarantee
            shall, in the absence of manifest error, be conclusive and binding on the Guarantor.
        </p>
    </dd>
</dl>
<dl>
    <dt>10 COSTS</dt>
    <dd>
        <p style="text-align: justify">
            The Guarantor shall, on demand by the Creditor and on a full indemnity basis, pay
            to the Creditor the amount of all reasonable costs and expenses substantiated by
            invoices which the Creditor incurs under or in connection with any enforcement of
            this Guarantee.
        </p>
    </dd>
</dl>
<dl>
    <dt>11 SET-OFF</dt>
    <dd>
        <p style="text-align: justify">
            The Creditor may, without notice to the Guarantor, apply any credit balance which
            is at any time held by any office or branch of the Creditor for the account of the
            Guarantor in or towards satisfaction of any sum then due and payable from the Guarantor
            under this Guarantee.
        </p>
    </dd>
</dl>
<dl>
    <dt>12 ELECTRONIC TRANSMISSION OF DOCUMENTS, ELECTRONIC SIGNATURE & COMMUNICATIONS</dt>
    <dd>
        <p style="text-align: justify">
            12.1 You agree that we may deliver documents to you via electronic means and that
            the email addresses you provide to facilitate this is correct. You may email documents
            to us at customercare@everline.com.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            12.2 Any demand or notice under this Guarantee shall be in writing signed by an
            officer or agent of the Creditor and (without prejudice to any other effective means
            of serving it) may be served on the Guarantor personally or by post or by electronic
            means and either by delivering it to any officer of the Guarantor at any place or
            by despatching it addressed to the Guarantor at the Guarantor’s registered or principal
            office for the time being or a place of business of the Guarantor, or at the last
            email address last known to the Creditor.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            12.3 Any such demand or notice sent by post shall be deemed to have been received
            at the opening of business in the intended place of receipt on the second business
            day following the day on which it was posted, even if returned undelivered.
            Any such demand or notice delivered by email or fax shall be deemed to have been
            delivered at the time the email leaves the server of the sender, if during normal
            business hours in the intended place of receipt on a business day in that place
            and otherwise at the opening of business in that place on the next succeeding business
            day.
        </p>
    </dd>
    <dd>
        <p style="text-align: justify">
            12.4 By Clicking &ldquo;I accept&rdquo; you electronically sign this Guarantee and agree to
            be legally bound by its terms.
        </p>
    </dd>
</dl>
<dl>
    <dt>13 LAW AND JURISDICTION</dt>
    <dd>
        <p style="text-align: justify">
            This Guarantee is governed by and shall be construed in accordance with the law
            of England and Wales And the Creditor and the Guarantor(s) submit to the non-exclusive
            jurisdiction of the English courts, unless you live in Scotland, Northern Ireland,
            the Channel Islands or the Isle of Man, in which case you will be entitled to commence
            legal proceedings in your local courts.
        </p>
    </dd>
</dl>

<p style="text-align: justify">This document was signed electronically on {{CurentDate}} gmt time.</p>
<p style="text-align: justify">By {{FullName}}</p>
<p style="text-align: justify">For company {{CompanyName}}</p>
<p style="text-align: justify">Signed by Orange Money director:</p>
<p style="text-align: justify">Sharone Perlstein</p>
<p style="text-align: justify"> </p>
<p style="text-align: justify">On {{CurentDate}}</p>

