<appSettings>
  <add key="GoCardlessAppId" value="MP9EJ3MQH163M34V2D7SS567DV8G44BBSBF3QBFVJP0R736198P2G7E88N38B2RE"/>
  <add key="GoCardlessAppSecret" value="0E866XN7Z33X5N4WRK5668DRESFV9WFP8DZMVW6YW0FFK48XM58KH9SFG7RBGVDT"/>
  <add key="GoCardlessAccessToken" value="3MMVNZERVE7X8FN8AGYZM3EBANVTD3NZENEVPN62BAVHY3FCEVQJ9JA6RZEDGTEF"/>
  <add key="GoCardlessMerchantId" value="0NP016PZPT"/>
</appSettings>