<div id="body">
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>Welcome to Ezbob Demo Web API!</h1>
			</hgroup>
		</div>
	</section>
	<section class="content-wrapper main-content clear-fix">
		Glad to see you here.
	</section>
</div>
