@using Newtonsoft.Json
@model dynamic
@{
}
<h2>Rechecking Yodlee</h2>

@section Js
{
    <script type="text/javascript">
        var model = @Html.Raw(JsonConvert.SerializeObject(Model));
        window.opener.YodleeTryRecheck(model);
        self.close();
    </script>
}
