<div id="address-popup" title="Address search by Postcode" style="overflow: visible">
	<input class="postCode" name="postCode" type="hidden" />
	<div class="address-selector-block">
    <ul class="matchingAddressList" disabled="disabled" tabindex="128">
    </ul>
    <div>
        <input class="postCodeBtnCancel rc-button green pull-right" type="button" value="Cancel" ui-event-control-id="address-form:address-cancelled" />
			<input class="postCodeBtnNotFound rc-button green pull-right" type="button" value="Not found" ui-event-control-id="address-form:address-not-found" />
        <input class="postCodeBtnOk rc-button green pull-right" type="button" value="OK" disabled="disabled" ui-event-control-id="address-form:address-selected" />
		</div>
	</div>
	<div class="well address-input-block hide">
		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Line 1</span>
					<input type="text" class="line1 form_field" ui-event-control-id="address-form:manual-input-line1" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Line 2</span>
					<input type="text" class="line2 form_field" ui-event-control-id="address-form:manual-input-line2" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Line 3</span>
					<input type="text" class="line3 form_field" ui-event-control-id="address-form:manual-input-line3" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Town</span>
					<input type="text" class="town form_field" ui-event-control-id="address-form:manual-input-town" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Postcode</span>
					<input type="text" class="zipcode form_field" ui-event-control-id="address-form:manual-input-zipcode" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Country</span>
					<input type="text" class="country form_field" ui-event-control-id="address-form:manual-input-country" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>P.O. box</span>
					<input type="text" class="pobox form_field" ui-event-control-id="address-form:manual-input-pobox" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div style="height: 45px;">
			<input class="postCodeBtnManualInputCancel button orange pull-right" type="button" value="Cancel" ui-event-control-id="address-form:address-manual-input-cancelled" />
			<input class="postCodeBtnManualInputOk button orange pull-right" type="button" value="OK" disabled="disabled" ui-event-control-id="address-form:address-manual-input-selected" />
		</div>
	</div>
</div>
