<div id="address-popup">
	<input class="postCode" name="postCode" type="hidden" />

	<div class="address-list-loading-block">
		Loading...
	</div>

	<div class="address-selector-block hide">
		<ul class="matchingAddressList" disabled="disabled" tabindex="128"></ul>
	</div>

	<div class="address-input-block hide">
		Please enter the address manually
		<br/><br/>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Address line 1</span>
					<input type="text" class="line1 form_field" ui-event-control-id="address-form:manual-input-line1" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Address line 2</span>
					<input type="text" class="line2 form_field" ui-event-control-id="address-form:manual-input-line2" />
					<img class="field_status" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Address line 3</span>
					<input type="text" class="line3 form_field" ui-event-control-id="address-form:manual-input-line3" />
					<img class="field_status" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Town</span>
					<input type="text" class="town form_field" ui-event-control-id="address-form:manual-input-town" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Postcode</span>
					<input type="text" disabled="disabled" readonly="" class="zipcode form_field" ui-event-control-id="address-form:manual-input-zipcode" />
					<img class="field_status required" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>Country</span>
					<input type="text" class="country form_field" ui-event-control-id="address-form:manual-input-country" />
					<img class="field_status" />
				</label>
			</div>
		</div>

		<div class="control-group form_field_container">
			<div class="controls">
				<label class="attardi-input">
					<span>P.O. box</span>
					<input type="text" class="pobox form_field" ui-event-control-id="address-form:manual-input-pobox" />
					<img class="field_status" />
				</label>
			</div>
		</div>
	</div>
</div>
