@helper GeneralInfo(){
    <table class="table table-bordered table-striped profile-table summary-table">
        <thead>
            <tr>
                <th colspan="2">General</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Account type</td>
                <td><%-Medal%></td>
            </tr>
            <tr>
                <td>Amount Pass Due</td>
                <td><%-EzBob.formatPounds('5000')%></td>
            </tr>
            <tr>
                <td>Active Loans</td>
                <td><%-Loans.length%></td>
            </tr>
            <tr>
                <td>Total Balance</td>
                <td><%-EzBob.formatPounds(TotalBalance)%></td>
            </tr>
            <tr>
                <td>Time with EZBOB</td>
                <td><%- EzBob.formatTimeSpan(GreetingMailSentDate) %></td>
            </tr>
        </tbody>
    </table>
}

@helper RescentActivity(){
    <table class="table table-bordered table-striped profile-table summary-table">
        <thead>
            <tr>
                <th colspan="2">Rescent Activity</th>
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td>Last Payment Total</td>
                <td style="min-width: 61px;"><%-EzBob.formatPounds(LastPaymentTotal)%></td>
            </tr>            
            <tr>
                <td>Last Payment Principal</td>
                <td><%-EzBob.formatPounds(LastPaymentPrincipal)%></td>
            </tr>            
            <tr>
                <td>Last Payment Interest</td>
                <td><%-EzBob.formatPounds(LastPaymentInterest)%></td>
            </tr>            
            <tr>
                <td>Last Payment Fees</td>
                <td><%-EzBob.formatPounds(LastPaymentFees)%></td>
            </tr>
        </tbody>
    </table>    
}

@helper ActiveLoans(){
        <table class="table table-bordered table-striped profile-table summary-table">
        <thead>
            <tr>
                <th colspan="2">Active Loans</th>
            </tr>
        </thead>
            <tbody>
                <%_.each(Loans.toJSON(), function(loan){%>
                    <tr>
                        <td>
                            Loan #<%-loan.RefNumber%> - <%-EzBob.formatDate(loan.Date)%>
                        </td>
                        <td><%-EzBob.formatPounds(loan.Balance)%></td>
                    </tr>
                <%});%>
            </tbody>
    </table>
}

@helper ProfileSummary()
    {

    <div class="AccountSumeryTable row-fluid form-horizontal">
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    @GeneralInfo()
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @RescentActivity()
                </div>
            </div>
        </div>
        <div class="span6">
            @ActiveLoans()
        </div>
    </div>
}
<script type="text/template" id="ProfileSummary">
    @ProfileSummary()
</script>