<div style="padding-top: 20px"class="row-fluid">
    <div class="span2">
        <img alt="lock image"  style="margin-left: 0px;" src="@Url.Content("~/Content/IMG/lock2.jpg")"/>
    </div>
    <div class="span10 securedisclaimer">
        <strong>Note:</strong> <span class="bold">ezbob</span> <strong><u> cannot view or use</u></strong> any of your passwords. We use the information for one purpose only, to determine your eligibility!
    </div>
</div>

