<a href='@Url.Action("Index", "Wizard", new {Area = "Customer"}, "https")#SignUp'> <img alt="signup button" src="@Url.Content("~/Content/IMG/btn-signup.png")"></a><br>
 <div class="text-obligation" style="text-align: right">Fast, Secure with <strong>no Obligation!</strong></div>