@using EzBob.Web.Models.Strings
@model dynamic

<script id="signup-template" type="text/template">
    <div class="row-fluid">
        <div class="span7">
            @{Html.RenderPartial("_SignUp");}
        </div>
        <div class="span1">
        &nbsp;
        </div>
        <div class="span4">
            @{Html.RenderPartial("SideBars/_SecurityStatement");}
        </div>
    </div>

</script>