@using EzBob.Web.Models.Strings
@model dynamic

<script id="signup-template" type="text/template">
    <section id="content">
        @{Html.RenderPartial("_SignUp");}
    </section>
    <aside  id="sidebar">
        @{Html.RenderPartial("SideBars/_SecurityStatement");}
    </aside>
    <div class="clear"/>
</script>