@model dynamic
<div class="wizard-steps">
    <ul class="application_steps">
        <% _.each(steps, function(step, i){%>
        <li class="<%= (i == steps.length-1) ?  'current' : ''%> " data-step-num="<%= step.num %>">
            <span class="step_label">Step <%= step.num + 1 %>:
            </span>
            <%= step.title %>
        </li>
        <%})%>
    </ul>
    <% _.each(steps, function(step, i){%>
    <div class="ez_progress_bar <%= (i == steps.length-1) ?  'current' : ''%>">
        <div class="ez_bar bar_step<%= step.num %>">
            <%if(step.num==2){%>
                <div class="bar_content alignright">70% Completed</div> <!-- align text right-->
            <%}else{%>
                <div class="bar_content alignright"><%= parseInt((100/steps.length)*step.num) %>% Completed</div>
            <%}%>
        </div>
    </div>
    <%})%>
</div>
