@model dynamic

<div class="wizard-steps">
<ul class="application_steps">
    <% _.each(steps, function(step, i){%>
        <li class="<%= (i == steps.length-1) ?  'current' : ''%> " data-step-num="<%= step.num %>">
            <span class="step_label">
                Step <%= step.num + 1 %>:
            </span>
            <%= step.title %>
            <div class="progress_tip"><%= parseInt((100/steps.length)*step.num) %>%completed</div>
        </li>
    <%})%>
</ul>
</div>