@model dynamic

<div class="wizard-steps">
    <ul class="application_steps">
        <% _.each(steps, function(step, i){%>
            <% 
                var css = "";
                if(i == current) css += "active current ";
                if(i < current) css += "completed complete ";
            %>
            <li class="<%= css %> " data-step-num="<%= step.num %>">
                <span class="step_label">Step <%= step.num + 1 %>:
                </span>
                <%= step.title %>
            </li>
        <%})%>
    </ul>
    <div>
        <%= progress %> % Completed
    </div>
</div>
