@using EzBob.Web.Infrastructure
@model dynamic
<div class="wizard-steps">
    <div class="progress-time"><span>Just <span class="progress-time-remainig"><%=progress%> minutes</span> to complete your application</span></div>
    <ul class="application_steps">
        <%
        (function() {
        var nVisibleStepNum = 0;
        var last = steps.length - 1;
        _.each(steps, function(step, i) {
        var css = '';
        var lastcss = '';
        if (i == current) css += 'current';

        if (i < current) css += 'complete';

        if (progress == 100) css = 'complete';
        if (i==last) lastcss = 'last';

        if (step.showTitleInWizardSteps) nVisibleStepNum++;
        else css += 'hide';

        %><li class="<%- css %> <%-lastcss%>" data-step-num="<%= step.num %>">
            <span class="step_label"><% print(step.title) %></span>
            <div class="progress-circle @*timer fill*@">
                <div class="percent"><%=(i+1)%></div>
                @*<div id="slice" class="gt50">
                    <div class="pie" style="-webkit-transform: rotate(360deg);"></div>
                    <div class="pie fill" style="-webkit-transform: rotate(360deg);"></div>
                </div>*@
            </div>
            <div class="progress-line">
                <div class="progress-line-<%-css%>"></div>
            </div>
        </li>
        <%
        });
        })();
        %>
    </ul>

    @*<div class="ez_progress_bar active">
		<div class="ez_bar bar_step<%= progress %>"><%
			if(progress > 0) {
				%><div class="bar_content" style="color: white;"><%= progress %>% Completed</div><%
			}
			else {
				%><div class="bar_content" style="color: grey;"><%= progress %>% Completed</div><%
			}
		%></div>
	</div>*@
</div>
@{
	var blm = new WizardBrokerLeadModel(Session);

	if (blm.IsSet) {
		if (blm.BrokerFillsForCustomer) {
			<div>Broker fills details for customer.</div>
		}
	}
	else {
		<div>No broker lead.</div>
	}
}
