@model dynamic

<div class="wizard-steps-wrapper">
	<%
		var steps = [
			{ title: "Choose Loan Term" },
			{ title: "Enter Bank & Debit" },
			{ title: "Get Cash" }
		];
	%>
	<div class="side-strip"></div>
	<div class="dashboard-steps wizard-steps">
		<div class="progress-time"><%-steps[current].title%></div>
		<div class="steps-wrap">
			<div class="stripe"></div>
			<div class="progress-bar">
				<div class="green-line" style="width: 23%;">

				</div>
				<div class="grey-line">

				</div>
			</div>

			<ul class="application_steps">
				<%(function() {
				var last = steps.length - 1;

				_.each(steps, function(step, i) {
				var css = '';
				var lastcss = '';
				var circleType = 'center-circle';
				if (i == current) css = 'current';

				if (i < current) css = 'complete';

				if (i == last) {
				lastcss = 'last';
				circleType = 'last-circle';
				}
				if ( i == 0 ) circleType = 'first-circle'
				%>
				<li class="<%- css %> <%-lastcss%> <%-circleType%>" data-step-num="<%= i %>">
					<div class="progress-circle <%- css %>">
						<div class="inner-circle <%-css%>">
							<div class="percent"><%=(i+1)%></div>
						</div>
					</div>
					<div class="progress-line"></div>
					<div class="progress-line-<%-css%>"></div>

					<span class="step_label"><% print(step.title) %></span>
				</li>
				<%}); // for each step
				})(); // inline function - local scope
				%>
			</ul>
		</div>
	</div>
</div>
