@{
    Layout = null;
}
<script type="text/template" id="CompanyTargets">
    <ul class="targets"></ul>
    <div>
        <input class="btnTargetOk rc-button green pull-right disabled" type="button" value="OK" ui-event-control-id="wizard:target_ok" />
        <input class="btnTargetNotFound rc-button green pull-right" type="button" value="Not found" ui-event-control-id="wizard:target_notfound" />
        <input class="btnTargetCancel rc-button green pull-right" type="button" value="Cancel" ui-event-control-id="wizard:target_cancel" />
    </div>
</script>
