@model dynamic

@helper Wizard(){
    <div class="wizard-progress"></div>
    <section id="content">
        <div class="row-fluid notifications">
        </div>
        <div class='pages'>
        </div>        
    </section>
	<aside class="customer-sidebar wizard">
		@{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Sidebar.cshtml");}
	</aside>
    <div class="clear"/>
}
<script type="text/template" id="wizard-template">
@Wizard()
</script>

<script type="text/template" id="progress-indicator">
    @{Html.RenderPartial("_Steps");}
</script>