@model dynamic
           
@{ ViewBag.Title = "EZBOB sign up. easy, fast and free │ EZBOB"; }

@helper Wizard(){
    <h1 class="wizard-header"></h1>
    <section id="content">
        <div class="wizard-progress"></div>
        <div class="row-fluid notifications">
        </div>
        <div class='pages'>
        </div>        
    </section>
    <aside  id="sidebar">
        @{Html.RenderPartial("SideBars/_SecurityStatement");}
    </aside>
    <div class="clear"/>
}
<script type="text/template" id="wizard-template">
@Wizard()
</script>

<script type="text/template" id="progress-indicator">
    @{Html.RenderPartial("_Steps");}
</script>