@model dynamic

<script type="text/template" id="infoPageTemplate">
	<div class="row-fluid">
		<h1>Confirmation</h1>

		<% if (hasLateLoans) { %>
		<h3>Thank you for your payment</h3>
		<% } else { var paymentPrefix = (this.model && this.model.get('isEarly')) ? "Early payment" : "Payment"; %>
		<h3><%= paymentPrefix %> complete</h3>
		<% } %>
		<% if (isRolloverPaid) { %>
		<h3>Your loan has been rolled over</h3>
		<% } %>

		<p>
			<div><strong class="pay-early-details">Payment amount:</strong> <%- EzBob.formatPounds(amount) %></div>
			<div><strong class="pay-early-details">Payment date:</strong> <%- EzBob.currentDateFormatted() %></div>
			<div><strong class="pay-early-details">Payment ref:</strong> <%- transRefnums %></div>
			<div><strong class="pay-early-details">Loan ref. number:</strong> <%- refnum %></div>
			<div><strong class="pay-early-details">Payment made by:</strong> xxxx-<%- card_no %></div>
		</p>

		<p style="margin-top: 25px">A confirmation email is being sent to <strong class="orange-text"><%- email %></strong>.</p>

		<% if (savedPounds > 0 && !hasLateLoans && this.model && this.model.get('isEarly')) { %>
		<p align="left" class="by-paying-early"><strong>By paying early you saved <%= EzBob.formatPounds(savedPounds) %></strong></p>
		<% } %>

		<a href="@Url.Action("Index", "Profile", new { Area = "Customer" })" ui-event-control-id="payment-info:back-to-profile" class="btn-continue button btn-green ev-btn-org back-to-profile btn-wide pull-right">Continue to account</a>
	</div>
</script>
