@model dynamic

<div class="quick-offer-form hide">
	<h2 class="form_start">Congratulations, you are already approved for <span class="quick-offer-amount"></span></h2>

	<div class="quick-offer-form-column pull-left immediate-offer">
		<h3>Get <span class="quick-offer-amount"></span> now!</h3>

		<div class="link-container">
			<a class="btn-take-quick-offer" ui-event-control-id="link-account:take-quick-offer">
				<div class="amount"></div>
				<div class="term quick-offer-form-item"></div>
				<div class="interest-rate quick-offer-form-item">Interest rate: <span class="value"></span></div>
				<div class="onhover">
					<br />
					<br />
					<h4>Get <span class="quick-offer-amount"></span> now!</h4>
				</div>
			</a>
		</div>
	</div>

	<div class="quick-offer-form-column pull-right potential-offer">
		<h3>Continue</h3>

		<div class="link-container">
			<a class="btn-go-to-link-accounts" ui-event-control-id="link-account:go-to-link-accounts">
				<div class="amount"></div>
				<div class="term quick-offer-form-item"></div>
				<div class="interest-rate quick-offer-form-item">Interest rate: <span class="value"></span></div>
				<div class="onhover">
					<br />
					<br />
					<h4>Continue</h4>
				</div>
			</a>
		</div>
	</div>
</div>


