@model dynamic

<script id="store-button-template" type="text/template">
    <div class="source">
        <div class="<%= shops.length ? 'source_header_on' : 'source_header'%> cf">
            <div class="alignleft">
                <div class="<%= shops.length ? 'source_labels_on' : 'source_labels'%>  <%- shopClass %>"><%- name %></div> 
            </div> 
            <div class="alignright"><a href="#" class="button green">Link more shops</a></div>
        </div>
        <div class="source_description">
            <% if(shops.length) {%>
                <table class="source_table" width="100%">
                    <thead>
                    <tr>
                        <th>Store</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%_.each(shops, function(shop, index){%>
                            <tr>
                                <td><%- shop.displayName %></td>
                                <td><span class="label label-success">Connected</span></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
            <%} else{%>
                <span class="label label-warning">0</span> shops(s) linked
            <%}%>
        </div>
    </div>
</script>