@model dynamic
@{ bool bIsWizard = (string)ViewContext.RouteData.Values["controller"] == "Wizard"; }

<script id="store-info" type="text/template">
    <div>
        <div class="quick-offer-form hide">
            <h2 class="form_start">Congratulations, you are already approved for <span class="quick-offer-amount"></span></h2>

            <div class="quick-offer-form-column pull-left immediate-offer">
                <h3>Get <span class="quick-offer-amount"></span> now!</h3>

                <div class="link-container">
                    <a class="btn-take-quick-offer" ui-event-control-id="link-account:take-quick-offer">
                        <div class="amount"></div>
                        <div class="term quick-offer-form-item"></div>
                        <div class="interest-rate quick-offer-form-item">Interest rate: <span class="value"></span></div>
                        <div class="onhover">
                            <br />
                            <br />
                            <h4>Get <span class="quick-offer-amount"></span> now!</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="quick-offer-form-column pull-right potential-offer">
                <h3>Continue</h3>

                <div class="link-container">
                    <a class="btn-go-to-link-accounts" ui-event-control-id="link-account:go-to-link-accounts">
                        <div class="amount"></div>
                        <div class="term quick-offer-form-item"></div>
                        <div class="interest-rate quick-offer-form-item">Interest rate: <span class="value"></span></div>
                        <div class="onhover">
                            <br />
                            <br />
                            <h4>Continue</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="link-accounts-form hide">
            @if (bIsWizard)
            {
                <h2 class="form_start">Link accounts</h2>
            }
            else
            {
                <h2 class="form_start">Link more accounts</h2>
            }
            <div style="display: none;" class="online_entry_message wizard_message">Please connect at least one account.</div>

            <div style="display: none;" class="offline_entry_message wizard_message">
                In order to properly evaluate your business, we need a view into it.
                Please upload your company’s financial documents or link one of the accounts below.
            </div>

            <div style="display: none;" class="offline_entry_message profile_message">Add more accounts to improve your funding.</div>

            <div style="display: none;" class="online_entry_message profile_message">Add more accounts to improve your funding.</div>

            @if (bIsWizard)
            {
                <div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
            }

            <div class="accounts-list row-fluid"></div>
            
            <div class="marketplace-button show-more" style="width: 100% !important">
                <a class="btn-showmore hide alignright" ui-event-control-id="link-account:showmore" data-current="more">
                    <span class="caption">Show more account types</span><div class="rotate90">&laquo;</div>
                    <div class="onhover"><div class="onhover-cell">Show more data source connectors</div></div>
                </a>
            </div>

            <div class="attardi-button cunt-button form_buttons_container">
                <button class="back-store button btn-grey pull-right">Back</button>
                <a href="@Url.Action("Dashboard", "CustomerDetails", new { Area="Customer" })" class="btn-continue button btn-green continue disabled alignright" id="finish-wizard" ui-event-control-id="link-account:submit">Complete</a>
                <a href="#" class="hide button btn-green disabled alignright" id="finish-wizard-placeholder">Complete</a>
                <a class="btn-back-to-quick-offer button btn-green alignright" ui-event-control-id="link-account:back_to_quick_offer">Back</a>
                <a id="link_account_implicit_back" style="display: none;" class="hide" ui-event-control-id="link-account:implicit_back"></a>
            </div>

            <div style="display: none;" class="hmrc-why-question offline_entry_message wizard_message">
                <div class="hmrc-question-sign"></div>
                <div class="hmrc-why">
                    Why do we need this?
                    <br />
                    We need your HMRC and/or your company's bank account data to properly evaluate your application.</div>
            </div>

            <div class="marketplace-group-template marketplace-group hide">
                <h3 class="group-title"></h3>
            </div>
        </div>
    </div>
</script>
