@model dynamic
<script id="store-button-template" type="text/template">
    <div class="source accordion">
        <div class="<%= shops.length ? 'source_header_on' : 'source_header'%> cf">
            <div class="alignleft">
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 187px;">
                                <a href="#" class="addAccount" style="border: none;">
                                    <div class="aligncenter <%= shops.length ? 'source_labels_on' : 'source_labels'%>  <%- shopClass %>"><%- name %></div>
                                </a>
                            </td>
                            <td style="vertical-align: middle;"><% if(shops.length) {%>
                                   <div class="tooltipdiv" data-toggle="tooltip" data-placement="bottom" data-original-title="<%- shopNames %>">
                                       <a class="accordion-toggle label green" data-toggle="collapsewithlinkedarrow" data-target="#arrow<%- shopClass %>" href="#description<%- shopClass %>"><%= shops.length%><div id="arrow<%- shopClass %>" class="alignright downarrowbutton">▼</div></a> Shop(s) Linked
                                   </div>
                                <%} else {%>
                                    <div>
                                        No Accounts Linked
                                    </div>
                                <%}%>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="alignright">
                <div class="tooltipdiv" data-toggle="tooltip" data-placement="top" data-original-title="Click to add an account">
                    <a href="#<%- shopClass %>_help" class="source_help btn green button">Add Account</a>
                </div>
            </div>
        </div>

        <div class="hide">
            <div id="<%- shopClass %>_help" class="help_window">
                <h2>Link <%- shopClass %> Account</h2>
                <p>Please follow the instructions and click continue below to link your <%- shopClass %> account.</p>
                <div class="help_image help_<%- shopClass %>"></div><br>
                <div class="alignright" style="padding: 0 10px 0 0;"><input class="btn orange button addAccount" onclick='EzBob.App.trigger("ct:storebase.shops.connect", "<%- shopClass %>")' type="button" value="Continue" /></div>
                <div class="clear"></div>
                <hr>
                <div class="help_security"></div>
            </div>
        </div>

        <div id="description<%- shopClass %>" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="source_description">
                    <table class="source_table" width="100%">
                        <tbody>
                            <% _.each(shops, function(shop, index) { %>
                                <tr>
                                    <td><%- shop.displayName %></td>
                                    <td class="statustd">
                                        <div class="shop-connected"></div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
