@model dynamic
<script id="store-button-template" type="text/template">
    <div class="source accordion">
        <div class="<%= shops.length ? 'source_header_on' : 'source_header'%> cf">
            <div class="alignleft">
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 187px;">
                                <div class="<%= shops.length ? 'source_labels_on' : 'source_labels'%>  <%- shopClass %>"><%- name %></div>
                            </td>
                            <td style="vertical-align: middle;"><% if(shops.length) {%>
                                   <div class="tooltipdiv" data-toggle="tooltip" data-placement="bottom" style="width: 120px;" data-original-title="<%- shopNames %>">
                                       <a class="accordion-toggle label green" data-toggle="collapse" href="#description<%- shopClass %>"><%= shops.length%></a> shops(s) linked
                                   </div>
                                <%} else {%>
                                    <div style="width: 120px;">
                                        <span class="label orange"><%= shops.length%></span> shops(s) linked
                                    </div>
                                <%}%>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="alignright">
                <a href="#" class="btn green plus_container button" style="border: none; margin-top: 8px;">
                    <div class="plus"></div>
                </a>
            </div>
        </div>
        <div id="description<%- shopClass %>" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="source_description">
                    <table class="source_table" width="100%">
                        <thead>
                            <tr>
                                <th>Store</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(shops, function(shop, index) { %>
                                <tr>
                                    <td><%- shop.displayName %></td>
                                    <td class="statustd"><span class="label label-success">Connected</span></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<script type="text/javascript">
        $('.tooltipdiv').tooltip();
    </script>*@
</script>
