@model dynamic
<script id="store-info" type="text/template">
    <div>
        <h2 class="form_start">Link Accounts</h2>

        @*This ebay pixel code is commented out now in phase 1 but will be uncommented later - do not delete
		@{
			var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
			bool ebayPixelEnabled = config.EbayPixelEnabled;
			var controller = (string)ViewContext.RouteData.Values["controller"];

			if (ebayPixelEnabled && controller == "Wizard") {
				<img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobcp;ord='<%- ordpi %>'?" width="1" height="1" border="0" alt="" />
			}
		}*@

        <div style="display: none;" class="online_entry_message">To be approved for a loan, link at least one account. The more accounts you link, the more funds you can borrow.</div>

        <div style="display: none;" class="offline_entry_message wizard_message">As part of your application process we require you to upload or link your VAT payment history. We use your VAT returns to analyse your business performance and to better assess your funding needs.</div>
        
        <div style="display: none;" class="offline_entry_message profile_message">Link the accounts you use so <strong>ezbob</strong> can automatically evaluate your business and grant you the funds required.</div>
        @if ((string)ViewContext.RouteData.Values["controller"] == "Wizard")
        {
            <div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
        }

        <div class="AddMoreRule hide">Please add one of the following accounts.</div>

        <div class="accounts-list row-fluid"></div>

        <div style="display: none;" class="online_entry_message">
            <div>A minimum of <span class="importantnumber">£10,000</span> annual turnover is required to get a loan offer</div>
            <div>Link more accounts to be approved for a loan</div>
        </div>

        <div style="padding-bottom: 50px; margin-top: 10px;" class="cunt-button source">
            @if ((string)ViewContext.RouteData.Values["controller"] == "Wizard")
            {
                <div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
            }

			<div class="AddMoreRuleBottom hide"><div class="AddMoreRule hide">Please add one of the following accounts.</div></div>
        </div>
        <div class="attardi-button cunt-button">
            <button class="back-store rc-button grey pull-right">Back</button>
            <a class="btn-continue rc-button green continue disabled alignright" ui-event-control-id="link-account:submit">Continue</a>
            <a class="btn-showmore rc-button green hide alignright" ui-event-control-id="link-account:showmore">Show more accounts</a>
            <a id="link_account_implicit_back" style="display: none;" class="hide" ui-event-control-id="link-account:implicit_back"></a>
        </div>

		<!--
		<form id="dropzone-test-form" action="@Url.Action("DropzoneUploadTest", "Wizard", new { Area = "Customer" })" class="dropzone"></form>
		-->

        <div style="display: none;" class="hmrc-why-question offline_entry_message wizard_message">
            <div class="hmrc-question"></div>
            <div class="hmrc-why">Why do we need this? In order to properly evaluate your business and help your business achieve its goals. This is 100% secure.</div>
        </div>

		<div class="marketplace-group-template marketplace-group hide">
			<h2 class="group-title form_start"></h2>
		</div>
    </div>
</script>
