@model dynamic
<script id="store-info" type="text/template">
	<div>
		<h2 class="form_start">Link Accounts</h2>

		@*This ebay pixel code is commented out now in phase 1 but will be uncommented later - do not delete
		@{
			var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
			bool ebayPixelEnabled = config.EbayPixelEnabled;
			var controller = (string)ViewContext.RouteData.Values["controller"];

			if (ebayPixelEnabled && controller == "Wizard") {
				<img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobcp;ord='<%- ordpi %>'?" width="1" height="1" border="0" alt="" />
			}
		}*@

		<div style="display: none;" id="online_entry_message">To be approved for a loan, link at least one account. The more accounts you link, the more funds you can borrow.</div>

		<div style="display: none;" id="offline_entry_message">You must <strong>link</strong> or <strong>upload</strong> your
			<span class="green btn" onclick="EzBob.App.trigger('ct:storebase.shops.connect', 'HMRC')" ui-event-control-id="link-account:add_hmrc_at_the_top">HM Revenue &amp; Customs</span>
			account data<br />to be approved for a loan.
		</div>

		<div style="display: none;" id="plain_offline_entry_message">The more you link, the more funds you can get.</div>

		@if ((string)ViewContext.RouteData.Values["controller"] == "Wizard") {
			<div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
		}

		<div class="AddMoreRule hide">Please add more accounts in order to continue.</div>

		<div class="accounts-list row-fluid"></div>

		<div>A minimum of <span class="importantnumber">£10,000</span> annual turnover is required to get a loan offer</div>
		<div>Link more accounts to be approved for a loan</div>

		<div style="padding-bottom: 50px; margin-top: 10px;" class="cont-button source">
			@if ((string)ViewContext.RouteData.Values["controller"] == "Wizard") {
				<div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
			}

			<div class="AddMoreRule hide">Please add more accounts in order to continue.</div>
		</div>
        <div class="attardi-button">
            <a class="rc-button green continue disabled alignright" ui-event-control-id="link-account:submit">Continue</a>
			<a id="link_account_implicit_back" style="display: none;" class="hide" ui-event-control-id="link-account:implicit_back"></a>
        </div>
	</div>
</script>
