@model dynamic
@helper StoreInfo()
{
    <div>
        <div class="shops-list row-fluid">
        </div>
        <div class="accounts-list row-fluid">
        </div>

        <div style="padding-bottom: 50px;margin-top: 10px;" class="cont-button source">
            <a class="next button orange pull-right disabled" >Continue</a>
        </div>
    </div>
}

<script id="payment-accounts-securitystatement" type="text/template">
    @{Html.RenderPartial("SideBars/PaymentAccountsNotification");}
</script>

<script id="store-info" type="text/template">
    @StoreInfo()
</script>
