@model dynamic
<script id="store-button-template" type="text/template">
	<div class="source accordion">
		<div class="<%= shops.length ? 'source_header_on' : 'source_header'%> cf">
			<div class="alignleft">
				<table>
					<tbody>
						<tr>
							<td style="width: 187px;"><%
								(function (shopClass, nShopCount) {
									var aryCGAccounts = $.parseJSON($('div#cg-account-list').text());

									var oCG = aryCGAccounts[shopClass];
								
									var sSourceLabels = (oCG ? 'source-labels' : 'source_labels') + (nShopCount ? '_on' : '');

									switch (shopClass) {
									case 'eBay':
									case 'paypal':
									case 'FreeAgent':
									case 'Sage':
										%><a href="#<%- shopClass %>_help" class="source_help"><%
										break;
									default:
										%><a href="#<%- shopClass %>_help" class="source_no_help" onclick='EzBob.App.trigger("ct:storebase.shops.connect", "<%- shopClass %>")'><%
										break;
									} // switch

									var sRibbon = '';

									if (shopClass == 'Yodlee')
										sRibbon = 'new';
									else if (shopClass == 'FreeAgent' || shopClass == 'Sage')
										sRibbon = 'beta';
									else if (oCG)
										sRibbon = oCG.ClientSide.Ribbon.toLowerCase();

									if (sRibbon != '') {
										sRibbon += '-ribbon';
										%><div class="<%= sSourceLabels %> <%= sRibbon %>"></div><%
									} // if

									%><div class="aligncenter <%= sSourceLabels %> <%- shopClass %>"><%- name %></div></a><%
								})(shopClass, shops.length);
							%></td>
							<td style="vertical-align: middle;"><% if(shops.length) {%>
									<div class="tooltipdiv" data-toggle="tooltip" data-placement="bottom" data-original-title="<%- shopNames %>">
										<a class="accordion-toggle label green" data-toggle="collapsewithlinkedarrow" data-target="#arrow<%- shopClass %>" href="#description<%-shopClass%>">
											<div style="float: left"><%= shops.length%></div>
											<div id="arrow<%- shopClass %>" class="alignright downarrowbutton">▼</div>
										</a>
										&nbsp;Account<%= shops.length == 1 ? '' : 's' %> Linked
									</div>
								<%} else {%>
									<div>No Accounts Linked</div>
								<%}%>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="alignright">
				<div>
					<% switch (shopClass) {
					case 'eBay':
					case 'paypal':
					case 'FreeAgent':
					case 'Sage':
						%><a href="#<%- shopClass %>_help" class="btn green button source_help">Add Account</a><%
						break;
					default:
						%><a href="#<%- shopClass %>_help" class="btn green button source_no_help" onclick='EzBob.App.trigger("ct:storebase.shops.connect", "<%- shopClass %>")'>Add Account</a><%
						break;
					} // switch %>
				</div>
			</div>
		</div>

		<div class="hide">
			<div id="<%- shopClass %>_help" class="help_window">
				<h2>Link <%- shopClass %> Account</h2>
				<p>Please follow the instructions and click continue below to link your <%- shopClass %> account.</p>
				<div class="help_image help_<%- shopClass %>"></div>
				<br>
				<div class="alignright" style="padding: 0 10px 0 0;">
					<% switch (shopClass) {
					case 'eBay':
						%><a href="@Url.Action("AttachEbay", "EbayMarketPlaces", new { Area = "Customer" })" target="_blank" class="button orange connect-ebay pull-right">Continue</a><%
						break;
					case 'paypal':
						%><a href="@Url.Action("AttachPayPal", "PaymentAccounts", new { Area = "Customer" })" class="button orange connect-paypal pull-right" target="_new">Continue</a><%
						break;
					case 'FreeAgent':
						%><a href="@Url.Action("AttachFreeAgent", "FreeAgentMarketPlaces", new { Area = "Customer" })" class="button orange pull-right" target="_new">Continue</a><%
						break;
					case 'Sage':
						%><a href="@Url.Action("AttachSage", "SageMarketPlaces", new { Area = "Customer" })" class="button orange pull-right" target="_new">Continue</a><%
						break;
					default:
						%><input class="btn orange button addAccount" onclick='EzBob.App.trigger("ct:storebase.shops.connect", "<%- shopClass %>")' type="button" value="Continue" /><%
						break;
					} // switch %>
				</div>
				<div class="clear"></div>
				<hr>
				<div class="help_security"></div>
			</div>
		</div>

		<div id="description<%- shopClass %>" class="accordion-body collapse">
			<div class="accordion-inner">
				<div class="source_description">
					<table class="source_table" width="100%">
						<tbody>
							<% _.each(shops, function(shop, index) { %>
								<tr>
									<td><%- shop.displayName %></td>
									<td class="statustd">
										<div class="shop-connected"></div>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>
