@model dynamic
@helper StoreInfo()
{
    <div>
        <h2>Link your accounts</h2>
        @*<p>Please link the shops you sell in. You can link always more later. Remember, the more you link the more the funds you can get.</p>*@

        <div class="shops-list row-fluid">
        </div>
        <div class="accounts-list row-fluid">
        </div>

        <div style="padding-bottom: 50px;margin-top: 10px;" class="cont-button">
            <a class="next button orange pull-right disabled" >Continue</a>
            <a href="#" class="back-step button orange pull-right">Back</a>
        </div>
    </div>
}

<script id="payment-accounts-securitystatement" type="text/template">
    @{Html.RenderPartial("SideBars/PaymentAccountsNotification");}
</script>

<script id="store-info" type="text/template">
    @StoreInfo()
</script>
