@using System.Collections.Generic
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database

@model dynamic
@{ 
	bool bIsWizard = (string)ViewContext.RouteData.Values["controller"] == "Wizard";
	CustomerOriginEnum origin = ViewBag.CustomerOrigin.GetOrigin();
}

<script id="store-info" type="text/template">
    <div>
		@if (origin == CustomerOriginEnum.everline) {
			Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_SecurityIcons.cshtml");
		}

        @{ Html.RenderPartial("~/Areas/Customer/Views/Shared/QuickOffer.cshtml"); }

        <div class="link-accounts-form hide">
            @if (bIsWizard)
            {
				if (origin == CustomerOriginEnum.everline) {
					<h2 class="form_start">Your business information <span class="h2-sub-title">(complete at least 1)</span></h2>
				} else {
					<h2 class="form_start">Link accounts</h2>
				}
			} else {
                <h2 class="form_start">Link more accounts</h2>
            }
            <div style="display: none;" class="entry_message wizard_message">We base our loan decisions on the business information you provide.  Please let us have at least one of the following. The more you link or upload the better your chances of being accepted.</div>
			
            <div style="display: none;" class="entry_message profile_message">Add more accounts to improve your <strong>@ViewBag.CustomerOrigin.Name</strong> funding.</div>

            @if (bIsWizard)
            {
                <div class="eBayPaypalRule hide">Paypal account must be added in order to continue.</div>
            }

            <div class="accounts-list row-fluid"></div>
			
			<div style="display: none" class="wizard-message link-accounts-optional clear">
				<h2>Optional</h2>
				<p>If you use any of these services, please link them.</p>
			</div>
           
			@EzForm.WizardButton(new List<EzButtonModel> {
    			new EzButtonModel("link_account_see_more_less", "See more",
					cls: "btn-showmore button btn-green clean-btn",
					buttonType: EzButtonType.link,
					uiEventControlID: "link-account:showmore",
					href: "#"),
				new EzButtonModel("link_account_back", "Back",
					cls: "back-store button btn-grey ev-btn-org",
					buttonType: EzButtonType.button,
					uiEventControlID: "link-account:back"),
				new EzButtonModel("finish-wizard", "Complete",
					cls: "btn-continue button btn-green continue disabled ev-btn-org",
					buttonType: EzButtonType.link,
					uiEventControlID: "link-account:submit",
					href: @Url.Action("Dashboard", "CustomerDetails", new { Area="Customer" })),
				new EzButtonModel("link_account_back_to_quick-offer", "Back",
					cls: "btn-back-to-quick-offer button btn-green ev-btn-org",
					buttonType: EzButtonType.link,
					uiEventControlID: "link-account:back_to_quick_offer",
					href: "#"),
				new EzButtonModel("link_account_implicit_back", "",
					cls: "hide",
					buttonType: EzButtonType.button,
					uiEventControlID: "link-account:back",
					href: "#"),
			}, 
			wrapperClass: "show-more-wrapper",
			origin: origin)
            
            <div class="marketplace-group-template marketplace-group hide">
                <h3 class="group-title"></h3>
				<p class="group-description"></p>
            </div>
        </div>
    </div>
</script>
