@using EzBob.Web.Models.Strings
@model dynamic

@helper StoreInfo()
    {
    <div class="row-fluid">
        <div class="span7">
            <div class="wizard-top-notification stores-top-notification">
                <h1>&nbsp;Shop Info</h1>
                <h2>
                    Add your shops to get cash
                </h2>
            </div>
            <div class="simple-well">
                <div class="row-fluid">
                    <img class="help-btn" width="25" height="25" src='@Url.Content("~/Content/Img/question.png")' rel="popover" data-content="Click a marketplace logo  to link your shop to EZBOB." data-original-title="Stores" alt=""/>
                </div>
                <div class="store-add-page">
                    <h2>Select your marketplace:</h2>
                </div>
                    <div class="buttons-list row-fluid">
                    </div>
                </div>
            <div style="padding-bottom: 50px" class="cont-button">
                <a class="next button orange pull-right" style="display: none; " >Continue</a>
                <a href="#" class="back-step button orange pull-right">Back</a>
            </div>
            @{Html.RenderPartial("_SecureDisclaimer");}
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span4 sidebar-container">
            @{Html.RenderPartial("SideBars/StoreInfoNotification");}
        </div>
    </div>
}



<script id="payment-accounts-securitystatement" type="text/template">
    @{Html.RenderPartial("SideBars/PaymentAccountsNotification");}
</script>

<script id="store-info" type="text/template">
    @StoreInfo()
</script>

<script id="amazon-store-list" type="text/template">
    <ul>
        <% _.each(stores, function(s){
        %>
            <li>
                <%= s.marketplaceId %>, <%= s.merchantId %>
            </li>
        <%
            });
        %>
    </ul>
</script>

<script id="ebay-store-list" type="text/template">
    <ul class="storelist">
        <% _.each(stores, function(s){
        %>
            <li>
                <span><%= s.displayName %></span>
            </li>
        <%
            });
        %>
    </ul>
</script>