@model dynamic
@helper StoreInfo() {
	<div>
		<h2 class="form_start">Link Accounts</h2>
		<div class="full_width">You can link one account to be approved for a loan. However, the more you link, the more funds you can get</div>
		<div class="eBayPaypalRule" class="hide">Paypal account must be added in order to continue.</div>

		<div class="shops-list row-fluid">
		</div>
		<div class="accounts-list row-fluid">
		</div>


		<div>A minimum of <span class="importantnumber">£10,000</span> annual turnover is required to get a loan offer</div>
		<div>Link more accounts to be approved for a loan</div>
		<div style="padding-bottom: 50px; margin-top: 10px;" class="cont-button source">
			<div class="eBayPaypalRule" class="hide">Paypal account must be added in order to continue.</div>
			<a class="next button orange pull-right disabled">Continue</a>
		</div>
	</div>
}

<script id="payment-accounts-securitystatement" type="text/template">
	@{Html.RenderPartial("SideBars/PaymentAccountsNotification");}
</script>

<script id="store-info" type="text/template">
	@StoreInfo()
</script>
