@model dynamic

<script id="store-button-template" type="text/template">
    <div class="store-logo <%-name%>-logo" data-store-name="<%- name %>"/>
    <div>
    <p class="store-logo-text"><%-logoText%></p>
    </div>
</script>