@model EzTvDashboard.Models.DashboardModel

@{
    ViewBag.Title = "EzTvDashboard";
    ViewBag.DashboardTitle = "<div class='col-md-3 navbar-brand'><h4><i class='fa fa-file-o'></i>Dashboard</h4></div>";
}

@{ Html.RenderPartial("Dashboard", Model); }

<footer>
    <p>2014 © <strong>ezbob</strong> TV Dashboard.</p>
</footer>
 
