@model EzTvDashboard.Models.DashboardModel

@{
    ViewBag.Title = "EzTvDashboard";
    ViewBag.DashboardTitle = "<div class='tvdashboard'>TV Dashboard</div>";
}

@{ Html.RenderPartial("Dashboard", Model); }
 
