@model EzTvDashboard.Models.DashboardModel

@{
    ViewBag.Title = "EzTvDashboard";
    ViewBag.DashboardTitle = "<div class='col-md-12 navbar-brand'>TV Dashboard</div>";
}

@{ Html.RenderPartial("Dashboard", Model); }
 
