@model EzTvDashboard.Models.DashboardModel

@{
    ViewBag.Title = "EzTvDashboard";
    ViewBag.DashboardTitle = "<div class='col-md-12 navbar-brand'>TV Dashboard</div>";
}

@{ Html.RenderPartial("Dashboard", Model); }

<footer>
    <p>2014 © <strong>ezbob</strong> TV Dashboard.</p>
</footer>
 
