<%
(function() {
	var aryTimePeriods = [ '1M', '3M', '6M', '12M', '15M', '18M', '24M', 'Lifetime' ];

	var sOrders = bHasExpenses ? 'Invoices' : 'Orders';

	var aryOrdersTable = [
		{ caption: 'Sum of ' + sOrders,            field: 'TotalSumOfOrders',           display: function(x) { return GBPValues(x, true); } },
		{ caption: 'Annualized sum of ' + sOrders, field: 'TotalSumOfOrdersAnnualized', display: function(x) { return GBPValues(x, true); } },
		{ caption: 'Number of ' + sOrders,         field: 'NumOfOrders',                display: function(x) { return x; }                  },
		{ caption: sOrders + ' Average',           field: 'AverageSumOfOrders',         display: function(x) { return x; }                  }
	];

	var aryExpensesTable = bHasExpenses ? [
		{ caption: 'Sum of Expenses',    field: 'TotalSumOfExpenses',   display: function(x) { return GBPValues(x, true); } },
		{ caption: 'Number of Expenses', field: 'NumOfExpenses',        display: function(x) { return x; }                  },
		{ caption: 'Expenses Average',   field: 'AverageSumOfExpenses', display: function(x) { return x; }                  }
	] : null;

	function DrawOneTable(aryTableStruct) {
		%><table class="table centered rright">
			<thead class="box">
				<tr class="box-title">
					<th></th><%
					for (var i = 0; i < aryTimePeriods.length; i++) {
						%><th><%= aryTimePeriods[i] %></th><%
					}
				%></tr>
			</thead>
			<tbody><%
				for (var i = 0; i < aryTableStruct.length; i++) {
					var row = aryTableStruct[i];
					%><tr>
						<td><%= row.caption %></td><%
						for (var j = 0; j < aryTimePeriods.length; j++) {
							var sKey = row.field + aryTimePeriods[j];
							var nValue = ai.hasOwnProperty(sKey) ? row.display(ai[sKey]) : '-';
							%><td><%= nValue%></td><%
						}
					%></tr><%
				}
			%></tbody>
		</table><%
	};

	%><div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#orders-tab1" data-toggle="tab"><% print(bHasExpenses ? 'Invoices' : 'Orders'); %></a></li><%
			if (bHasExpenses) {
				%><li><a href="#expenses-tab1" data-toggle="tab">Expenses</a></li><%
			}
		%></ul>
		<div class="tab-content">
			<div class="tab-pane active" id="orders-tab1"><% DrawOneTable(aryOrdersTable) %></div><%
			if (bHasExpenses) {
				%><div class="tab-pane" id="expenses-tab1"><% DrawOneTable(aryExpensesTable) %></div><%
			}
			%><div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
		</div>
	</div><%
})(); %>
