<table class="table table-bordered table-striped  blue-header centered"><thead><tr>
<th>Business &amp; Period</th> <th>Return Details</th></tr></thead><tbody><%
if (m.CGData && m.CGData.VatReturn) {
	for (var nIdx = 0; nIdx < m.CGData.VatReturn.length; nIdx++) {
	var oEntry = m.CGData.VatReturn[nIdx];
		%><tr><td class="no-padding"><table class="internal-table">
			<tr><td>Registration #:</td><td><%= oEntry.RegistrationNo %></td></tr>
			<tr><td>Period:</td><td><%= oEntry.Period %></td></tr>
			<tr><td>From:</td><td><%= EzBob.formatDate(oEntry.DateFrom) %></td></tr>
			<tr><td>To:</td><td><%= EzBob.formatDate(oEntry.DateTo) %></td></tr>
			<tr><td>Business Details:</td><td><%= oEntry.BusinessName %>
			<% for (var nAddrIdx = 0; nAddrIdx < oEntry.BusinessAddress.length; nAddrIdx++) {
				%><div><%= oEntry.BusinessAddress[nAddrIdx] %></div><%
			} %></td></tr></table></td>
			<td class="no-padding"><table class="internal-table"><%
				var oSortable = [];
				for (var oDetail in oEntry.Data)
					oSortable.push({ caption: oDetail, amount: oEntry.Data[oDetail].Amount, currency_code: oEntry.Data[oDetail].CurrencyCode });

				oSortable.sort(function(a, b) {
					var re = /\(Box (\d+)\)$/;
					var nA = parseInt(re.exec(a.caption)[1]);
					var nB = parseInt(re.exec(b.caption)[1]);
					return nA - nB;
				});

				for (var nRDIdx = 0; nRDIdx < oSortable.length; nRDIdx++) {
					var oDetail = oSortable[nRDIdx];
					%><tr><td><%= oDetail.caption %>:</td><td class="r"><%= (oDetail.currency_code == 'GBP') ? GBPValues(oDetail.amount, true) : oDetail.amount %></td></tr><%
				} %></table></td>
		</tr><%
	} // for each entry
} // if
%></tbody></table>
