<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#companyfilestab0" data-toggle="tab">Files</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="companyfilestab0">
            <%if(m.CompanyFiles && m.CompanyFiles.Files && m.CompanyFiles.Files.length > 0) {%>
            <table class="table ">
                <thead class="box">
                    <tr class="box-title" >
                        <th>File name</th>
                        <th>Upload date</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.CompanyFiles.Files, function(file) {%>
                    <tr class="company-files-tr" data-file-id="<%-file.Id%>">
                        <td><a href="@Url.Action("DownloadCompanyFile", "MarketPlaces", new { Area="Underwriter"})/?fileId=<%-file.Id%>" target="_blank"><%=file.FileName%></a></td>
                        <td><%=EzBob.formatDate2(file.Uploaded)%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
                
            <%} else { print('No files uploaded.'); }%>
        </div>
    </div>
</div>
