<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#ebayTab5" data-toggle="tab">Order info</a></li>
        <li><a href="#ebayTab4" data-toggle="tab">Feedback info</a></li>
        <li><a href="#ebayTab1" data-toggle="tab">Trader info</a></li>
        <li><a href="#ebayTab2" data-toggle="tab">Account details</a></li>
        <li><a href="#ebayTab6" data-toggle="tab">Categories info</a></li>
    </ul>
    <%if(m.EBay == null) m.EBay = {};
      if(m.AnalysisDataInfo == null) m.AnalysisDataInfo = {};
    %>
    <div class="tab-content">
        <div class="tab-pane" id="ebayTab1">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Parameter name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>FeedbackPrivate</td>
                        <td><%-m.EBay.FeedbackPrivate%></td>
                    </tr>
                    <tr>
                        <td>IDVerified</td>
                        <td><%-m.EBay.IdVerified%></td>
                    </tr>
                    <tr>
                        <td>NewUser</td>
                        <td><%-m.EBay.NewUser%></td>
                    </tr>
                    <tr>
                        <td>PayPalAccountStatus</td>mo
                        <td><%-m.EBay.PayPalAccountStatus%></td>
                    </tr>
                    <tr>
                        <td>PayPalAccountType</td>
                        <td><%-m.EBay.PayPalAccountType%></td>
                    </tr>
                    <tr>
                        <td>QualifiesForSelling</td>
                        <td><%-m.EBay.QualifiesForSelling%></td>
                    </tr>
                    <tr>
                        <td>StoreOwner</td>
                        <td><%-m.EBay.SellerInfoStoreOwner%></td>
                    </tr>
                    <tr>
                        <td>StoreSite</td>
                        <td><%-m.EBay.SellerInfoStoreSite%></td>
                    </tr>
                    <tr>
                        <td>TopRatedProgram</td>
                        <td><%-m.EBay.SellerInfoTopRatedProgram%></td>
                    </tr>
                    <tr>
                        <td>UserIDChanged</td>
                        <td><%-m.EBay.IDChanged%></td>
                    </tr>
                    <tr>
                        <td>UserIDLastChanged</td>
                        <td><%-m.EBay.IDLastChanged%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="ebayTab2">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Parameter name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Account ID</td>
                        <td><%-m.EBay.AccountId%></td>
                    </tr>
                    <tr>
                        <td>Account State</td>
                        <td><%-m.EBay.AccountState%></td>
                    </tr>
                    <tr>
                        <td>Amount Past Due</td>
                        <td><%-m.EBay.AmountPastDueAmount%></td>
                    </tr>
                    <tr>
                        <td>Bank Account Info</td>
                        <td><%-m.EBay.BankAccountInfo%></td>
                    </tr>
                    <tr>
                        <td>Bank Modify Date</td>
                        <td><%-m.EBay.BankModifyDate%></td>
                    </tr>
                    <tr>
                        <td>Credit Card Expiration</td>
                        <td><%-m.EBay.CreditCardExpiration%></td>
                    </tr>
                    <tr>
                        <td>Credit Card Info</td>
                        <td><%-m.EBay.CreditCardInfo || "-"%></td>
                    </tr>
                    <tr>
                        <td>Credit Card Modify Date</td>
                        <td><%-m.EBay.CreditCardModifyDate%></td>
                    </tr>
                    <tr>
                        <td>Current Balance</td>
                        <td><%-m.EBay.CurrentBalance%></td>
                    </tr>
                    <tr>
                        <td>Past Due</td>
                        <td><%-m.EBay.PastDue%></td>
                    </tr>
                    <tr>
                        <td>Payment Method</td>
                        <td><%-m.EBay.PaymentMethod%></td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td><%-m.EBay.Currency%></td>
                    </tr>
                    <tr>
                        <td>Additional Account Code</td>
                        <td><%-m.EBay.AdditionalAccountAccountCode%></td>
                    </tr>
                    <tr>
                        <td>Additiona Account Balance</td>
                        <td><%-m.EBay.AdditionalAccountBalance%></td>
                    </tr>
                    <tr>
                        <td>Additional Account Currency</td>
                        <td><%-m.EBay.AdditionalAccountCurrency%></td>
                    </tr>
                    <tr>
                        <td>eBayGoodStanding</td>
                        <td><%-m.EBay.EBayGoodStanding%></td>
                    </tr>
                    <tr>
                        <td>EIASToken</td>
                        <td><%-m.EBay.EIASToken || "-"%></td>
                    </tr>
                    <tr>
                        <td>TopRatedSeller</td>
                        <td><%-m.EBay.SellerInfoTopRatedSeller%></td>
                    </tr>
                    <tr>
                        <td>StoreURL</td>
                        <td><a target="_blank" href="<%-m.SellerInfoStoreURL%>"><%- m.SellerInfoStoreURL %></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="ebayTab4">
            <table class="table centered rright">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>30 days</th>
                        <th>180 days</th>
                        <th>1 year</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Positive</td>
                        <td><%-ai.PositiveFeedbackRate1M || "-"%> (<%-EzBob.formatPercents0(ai.PositiveFeedbackPercentRate1M)%>)</td>
                        <td><%-ai.PositiveFeedbackRate6M || "-"%> (<%-EzBob.formatPercents0(ai.PositiveFeedbackPercentRate6M)%>)</td>
                        <td><%-ai.PositiveFeedbackRate12M || "-"%> (<%-EzBob.formatPercents0(ai.PositiveFeedbackPercentRate12M)%>)</td>
                        <td><%-ai.PositiveFeedbackRateLifetime || "-"%> (<%-EzBob.formatPercents0(ai.PositiveFeedbackPercentRateLifetime)%>)</td>
                    </tr>
                    <tr>
                        <td>Neutral</td>
                        <td><%-ai.NeutralFeedbackRate1M || "-"%> (<%-EzBob.formatPercents0(ai.NeutralFeedbackPercentRate1M)%>)</td>
                        <td><%-ai.NeutralFeedbackRate6M || "-"%> (<%-EzBob.formatPercents0(ai.NeutralFeedbackPercentRate6M)%>)</td>
                        <td><%-ai.NeutralFeedbackRate12M || "-"%> (<%-EzBob.formatPercents0(ai.NeutralFeedbackPercentRate12M)%>)</td>
                        <td><%-ai.NeutralFeedbackRateLifetime || "-"%> (<%-EzBob.formatPercents0(ai.NeutralFeedbackPercentRateLifetime)%>)</td>
                    </tr>
                    <tr>
                        <td>Negative</td>
                        <td><%-ai.NegativeFeedbackRate1M || "-"%> (<%-EzBob.formatPercents0(ai.NegativeFeedbackPercentRate1M)%>)</td>
                        <td><%-ai.NegativeFeedbackRate6M || "-"%> (<%-EzBob.formatPercents0(ai.NegativeFeedbackPercentRate6M)%>)</td>
                        <td><%-ai.NegativeFeedbackRate12M || "-"%> (<%-EzBob.formatPercents0(ai.NegativeFeedbackPercentRate12M)%>)</td>
                        <td><%-ai.NegativeFeedbackRateLifetime || "-"%> (<%-EzBob.formatPercents0(ai.NegativeFeedbackPercentRateLifetime)%>)</td>
                    </tr>
                    <tr>
                        <td>Number of reviews</td>
                        <td><%-ai.NumberOfReviews1M%></td>
                        <td><%-ai.NumberOfReviews6M%></td>
                        <td><%-ai.NumberOfReviews12M%></td>
                        <td><%-ai.NumberOfReviewsLifetime%></td>
                    </tr>
                </tbody>
            </table>
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Parameter name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Negative Feedback Count</td>
                        <td><%-m.EBay.NegativeFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Neutral Feedback Count</td>
                        <td><%-m.EBay.NeutralFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Positive Feedback Count</td>
                        <td><%-m.EBay.PositiveFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Unique Negative Feedback Count</td>
                        <td><%-m.EBay.UniqueNegativeFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Unique Neutral Feedback Count</td>
                        <td><%-m.EBay.UniqueNeutralFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Unique Buyer Count</td>
                        <td><%-m.EBay.UniqueBuyerCount%></td>
                    </tr>
                    <tr>
                        <td>Unique Positive Feedback Count</td>
                        <td><%-m.EBay.UniquePositiveFeedbackCount%></td>
                    </tr>
                    <tr>
                        <td>Transaction Percent</td>

                        <td><%- (m.EBay.TransactionPercent != "-" && m.EBay.TransactionPercent) ? (m.EBay.TransactionPercent.replace(',','.')*1 ).toFixed(1) : m.EBay.TransactionPercent%></td>
                    </tr>
                    <tr>
                        <td>Repeat Buyer Count</td>
                        <td><%-m.EBay.RepeatBuyerCount%></td>
                    </tr>
                    <tr>
                        <td>Repeat Buyer Percent</td>
                        <td><%-m.EBay.RepeatBuyerPercent%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane active" id="ebayTab5">
            <table class="table centered rright">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total sum of orders</td>
                        <td><%-ai.TotalSumOfOrders1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders1M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders3M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders6M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders12M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders15M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders15M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders18M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders18M): "-"%></td>
                        <td><%-ai.TotalSumOfOrders24M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrders24M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersLifetime!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersLifetime): "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of orders (Annualized)</td>
                        <td><%-ai.TotalSumOfOrdersAnnualized1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized1M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized3M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized6M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized12M): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Successful orders count</td>
                        <td><%-ai.NumOfOrders1M  || "-"%></td>
                        <td><%-ai.NumOfOrders3M  || "-"%></td>
                        <td><%-ai.NumOfOrders6M  || "-"%></td>
                        <td><%-ai.NumOfOrders12M  || "-"%></td>
                        <td><%-ai.NumOfOrders15M  || "-"%></td>
                        <td><%-ai.NumOfOrders18M  || "-"%></td>
                        <td><%-ai.NumOfOrders24M  || "-"%></td>
                        <td><%-ai.NumOfOrdersLifetime  || "-"%></td>
                    </tr>
                    <tr>
                        <td>Total items ordered</td>
                        <td><%-ai.TotalItemsOrdered1M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered3M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered6M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered12M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered15M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered18M  || "-"%></td>
                        <td><%-ai.TotalItemsOrdered24M  || "-"%></td>
                        <td><%-ai.TotalItemsOrderedLifetime  || "-"%></td>
                    </tr>
                    <tr>
                        <td>Average items per order</td>
                        <td><%-ai.AverageItemsPerOrder1M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder1M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder3M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder3M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder6M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder6M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder12M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder12M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder15M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder15M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder18M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder18M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrder24M != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrder24M, 1)+"x" : "-"%></td>
                        <td><%-ai.AverageItemsPerOrderLifetime != undefined ? EzBob.roundNumber( ai.AverageItemsPerOrderLifetime, 1)+"x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of order</td>
                        <td><%-ai.AverageSumOfOrder1M!=undefined ? GBPValues(ai.AverageSumOfOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder3M!=undefined ? GBPValues(ai.AverageSumOfOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder6M!=undefined ? GBPValues(ai.AverageSumOfOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder12M!=undefined ? GBPValues(ai.AverageSumOfOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder15M!=undefined ? GBPValues(ai.AverageSumOfOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder18M!=undefined ? GBPValues(ai.AverageSumOfOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder24M!=undefined ? GBPValues(ai.AverageSumOfOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrderLifetime!=undefined ? GBPValues(ai.AverageSumOfOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Cancelled orders count</td>
                        <td><%-ai.CancelledOrdersCount1M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount3M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount6M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount12M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount15M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount18M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCount24M  || "-"%></td>
                        <td><%-ai.CancelledOrdersCountLifetime  || "-"%></td>
                    </tr>
                    <tr>
                        <td>Orders cancellation rate</td>
                        <td><%-ai.OrdersCancellationRate1M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate3M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate6M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate12M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate12M*cancellationRateFactor, cancellationRateRound ) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate15M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate18M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRate24M!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                        <td><%-ai.OrdersCancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.OrdersCancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : ""%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
            <div id="terapeakChart"></div>
        </div>
        <div class="tab-pane" id="ebayTab6">
            <table class="table centered">
                <tbody>
                    <%if(!m.Categories || m.Categories.length == 0){%>
                    <tr>
                        <td><i>No data in database</i></td>
                    </tr>
                    <%}%>

                    <%_.each(m.Categories, function(val, i){%>
                    <tr>
                        <td><%=val != null ? val.replace(/:/g, " -> "): "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>
