<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#ekmtab1" data-toggle="tab">Orders</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ekmtab1">
            <table class="table centered rright">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total sum of orders</td>
                        <td><%-ai.TotalSumOfOrders1M!=undefined ? GBPValues(ai.TotalSumOfOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders3M!=undefined ? GBPValues(ai.TotalSumOfOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders6M!=undefined ? GBPValues(ai.TotalSumOfOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders12M!=undefined ? GBPValues(ai.TotalSumOfOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders15M!=undefined ? GBPValues(ai.TotalSumOfOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders18M!=undefined ? GBPValues(ai.TotalSumOfOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders24M!=undefined ? GBPValues(ai.TotalSumOfOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of orders (Annualized)</td>
                        <td><%-ai.TotalSumOfOrdersAnnualized1M!=undefined ? GBPValues(ai.TotalSumOfOrdersAnnualized1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized3M!=undefined ? GBPValues(ai.TotalSumOfOrdersAnnualized3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized6M!=undefined ? GBPValues(ai.TotalSumOfOrdersAnnualized6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized12M!=undefined ? GBPValues(ai.TotalSumOfOrdersAnnualized12M, true): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Number of orders</td>
                        <td><%-ai.NumOfOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders1M) : "-"%></td>
                        <td><%-ai.NumOfOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders3M) :  "-"%></td>
                        <td><%-ai.NumOfOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders6M) :  "-"%></td>
                        <td><%-ai.NumOfOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders12M) :  "-"%></td>
                        <td><%-ai.NumOfOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders15M) :  "-"%></td>
                        <td><%-ai.NumOfOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders18M) :  "-"%></td>
                        <td><%-ai.NumOfOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders24M) :  "-"%></td>
                        <td><%-ai.NumOfOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of order</td>
                        <td><%-ai.AverageSumOfOrder1M!=undefined ? GBPValues(ai.AverageSumOfOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder3M!=undefined ? GBPValues(ai.AverageSumOfOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder6M!=undefined ? GBPValues(ai.AverageSumOfOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder12M!=undefined ? GBPValues(ai.AverageSumOfOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder15M!=undefined ? GBPValues(ai.AverageSumOfOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder18M!=undefined ? GBPValues(ai.AverageSumOfOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrder24M!=undefined ? GBPValues(ai.AverageSumOfOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOrderLifetime!=undefined ? GBPValues(ai.AverageSumOfOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of cancelled orders</td>
                        <td><%-ai.TotalSumOfCancelledOrders1M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders3M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders6M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders12M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders15M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders18M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrders24M!=undefined ? GBPValues(ai.TotalSumOfCancelledOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumOfCancelledOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfCancelledOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Cancelled orders count</td>
                        <td><%-ai.NumOfCancelledOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders1M) : "-"%></td>
                        <td><%-ai.NumOfCancelledOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders3M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders6M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders12M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders15M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders18M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrders24M) :  "-"%></td>
                        <td><%-ai.NumOfCancelledOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfCancelledOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of cancelled order</td>
                        <td><%-ai.AverageSumOfCancelledOrder1M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder3M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder6M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder12M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder15M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder18M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrder24M!=undefined ? GBPValues(ai.AverageSumOfCancelledOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfCancelledOrderLifetime!=undefined ? GBPValues(ai.AverageSumOfCancelledOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of other orders</td>
                        <td><%-ai.TotalSumOfOtherOrders1M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders3M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders6M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders12M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders15M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders18M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrders24M!=undefined ? GBPValues(ai.TotalSumOfOtherOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOtherOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfOtherOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Other orders count</td>
                        <td><%-ai.NumOfOtherOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders1M) : "-"%></td>
                        <td><%-ai.NumOfOtherOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders3M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders6M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders12M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders15M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders18M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrders24M) :  "-"%></td>
                        <td><%-ai.NumOfOtherOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOtherOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of other order</td>
                        <td><%-ai.AverageSumOfOtherOrder1M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder3M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder6M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder12M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder15M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder18M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrder24M!=undefined ? GBPValues(ai.AverageSumOfOtherOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumOfOtherOrderLifetime!=undefined ? GBPValues(ai.AverageSumOfOtherOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Orders cancellation rate</td>
                        <td><%-ai.CancellationRate1M!=undefined ? EzBob.roundNumber(ai.CancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate3M!=undefined ? EzBob.roundNumber(ai.CancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate6M!=undefined ? EzBob.roundNumber(ai.CancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate12M!=undefined ? EzBob.roundNumber(ai.CancellationRate12M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate15M!=undefined ? EzBob.roundNumber(ai.CancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate18M!=undefined ? EzBob.roundNumber(ai.CancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate24M!=undefined ? EzBob.roundNumber(ai.CancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.CancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
        </div>
    </div>
</div>