<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#ekmtab1" data-toggle="tab">Orders</a>
        </li>
        @*<li><a href="#ekmtab2" data-toggle="tab">Account details</a></li>*@
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ekmtab1">
            <table class="table table-bordered table-striped  blue-header centered rright">
                <thead>
                    <tr>
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total sum of orders</td>
                        <td><%-ai.TotalSumofOrders1M!=undefined ? GBPValues(ai.TotalSumofOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders3M!=undefined ? GBPValues(ai.TotalSumofOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders6M!=undefined ? GBPValues(ai.TotalSumofOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders12M!=undefined ? GBPValues(ai.TotalSumofOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders15M!=undefined ? GBPValues(ai.TotalSumofOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders18M!=undefined ? GBPValues(ai.TotalSumofOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrders24M!=undefined ? GBPValues(ai.TotalSumofOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumofOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Number of orders</td>
                        <td><%-ai.NumofOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders1M) : "-"%></td>
                        <td><%-ai.NumofOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders3M) :  "-"%></td>
                        <td><%-ai.NumofOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders6M) :  "-"%></td>
                        <td><%-ai.NumofOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders12M) :  "-"%></td>
                        <td><%-ai.NumofOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders15M) :  "-"%></td>
                        <td><%-ai.NumofOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders18M) :  "-"%></td>
                        <td><%-ai.NumofOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders24M) :  "-"%></td>
                        <td><%-ai.NumofOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of order</td>
                        <td><%-ai.AverageSumofOrder1M!=undefined ? GBPValues(ai.AverageSumofOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder3M!=undefined ? GBPValues(ai.AverageSumofOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder6M!=undefined ? GBPValues(ai.AverageSumofOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder12M!=undefined ? GBPValues(ai.AverageSumofOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder15M!=undefined ? GBPValues(ai.AverageSumofOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder18M!=undefined ? GBPValues(ai.AverageSumofOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrder24M!=undefined ? GBPValues(ai.AverageSumofOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOrderLifetime!=undefined ? GBPValues(ai.AverageSumofOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of cancelled orders</td>
                        <td><%-ai.TotalSumofCancelledOrders1M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders3M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders6M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders12M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders15M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders18M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrders24M!=undefined ? GBPValues(ai.TotalSumofCancelledOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumofCancelledOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofCancelledOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Cancelled orders count</td>
                        <td><%-ai.NumofCancelledOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders1M) : "-"%></td>
                        <td><%-ai.NumofCancelledOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders3M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders6M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders12M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders15M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders18M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrders24M) :  "-"%></td>
                        <td><%-ai.NumofCancelledOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofCancelledOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of cancelled order</td>
                        <td><%-ai.AverageSumofCancelledOrder1M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder3M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder6M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder12M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder15M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder18M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrder24M!=undefined ? GBPValues(ai.AverageSumofCancelledOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofCancelledOrderLifetime!=undefined ? GBPValues(ai.AverageSumofCancelledOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sum of other orders</td>
                        <td><%-ai.TotalSumofOtherOrders1M!=undefined ? GBPValues(ai.TotalSumofOtherOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders3M!=undefined ? GBPValues(ai.TotalSumofOtherOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders6M!=undefined ? GBPValues(ai.TotalSumofOtherOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders12M!=undefined ? GBPValues(ai.TotalSumofOtherOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders15M!=undefined ? GBPValues(ai.TotalSumofOtherOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders18M!=undefined ? GBPValues(ai.TotalSumofOtherOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrders24M!=undefined ? GBPValues(ai.TotalSumofOtherOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumofOtherOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOtherOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Other orders count</td>
                        <td><%-ai.NumofOtherOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders1M) : "-"%></td>
                        <td><%-ai.NumofOtherOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders3M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders6M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders12M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders15M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders18M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrders24M) :  "-"%></td>
                        <td><%-ai.NumofOtherOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofOtherOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Average sum of other order</td>
                        <td><%-ai.AverageSumofOtherOrder1M!=undefined ? GBPValues(ai.AverageSumofOtherOrder1M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder3M!=undefined ? GBPValues(ai.AverageSumofOtherOrder3M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder6M!=undefined ? GBPValues(ai.AverageSumofOtherOrder6M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder12M!=undefined ? GBPValues(ai.AverageSumofOtherOrder12M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder15M!=undefined ? GBPValues(ai.AverageSumofOtherOrder15M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder18M!=undefined ? GBPValues(ai.AverageSumofOtherOrder18M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrder24M!=undefined ? GBPValues(ai.AverageSumofOtherOrder24M, true) + "x" : "-"%></td>
                        <td><%-ai.AverageSumofOtherOrderLifetime!=undefined ? GBPValues(ai.AverageSumofOtherOrderLifetime, true) + "x" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Orders cancellation rate</td>
                        <td><%-ai.CancellationRate1M!=undefined ? EzBob.roundNumber(ai.CancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate3M!=undefined ? EzBob.roundNumber(ai.CancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate6M!=undefined ? EzBob.roundNumber(ai.CancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate12M!=undefined ? EzBob.roundNumber(ai.CancellationRate12M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate15M!=undefined ? EzBob.roundNumber(ai.CancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate18M!=undefined ? EzBob.roundNumber(ai.CancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate24M!=undefined ? EzBob.roundNumber(ai.CancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.CancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<div class="tab-pane" id="ekmtab2">
            <table class="table table-bordered table-striped  blue-header centered">
                <thead>

                    <tr>
                        <th>Parameter name</th>
                        <th colspan="2">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Some info</td>
                        <td colspan="2">info1
                        </td>
                    </tr>
                    <tr>
                        <td>some other info</td>
                        <td colspan="2">info2</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
    </div>
</div>