<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#freeagentinvoicestab" data-toggle="tab">Invoices</a>
        </li>
        <li>
            <a href="#freeagentexpensestab" data-toggle="tab">Expenses</a>
        </li>
        <li>
            <a href="#freeagentinvoicedetailstab" data-toggle="tab">Invoice Details</a>
        </li>
        <li>
            <a href="#freeagentexpensedetailstab" data-toggle="tab">Expense Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="freeagentinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of invoices</td>
                        <td><%-ai.NumofOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders1M) : "-"%></td>
                        <td><%-ai.NumofOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders3M) : "-"%></td>
                        <td><%-ai.NumofOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders6M) : "-"%></td>
                        <td><%-ai.NumofOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders12M) : "-"%></td>
                        <td><%-ai.NumofOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders15M) : "-"%></td>
                        <td><%-ai.NumofOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders18M) : "-"%></td>
                        <td><%-ai.NumofOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders24M) : "-"%></td>
                        <td><%-ai.NumofOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total invoices</td>
                        <td><%-ai.TotalSumofOrders1M!=undefined ? GBPValues(ai.TotalSumofOrders1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders3M!=undefined ? GBPValues(ai.TotalSumofOrders3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders6M!=undefined ? GBPValues(ai.TotalSumofOrders6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders12M!=undefined ? GBPValues(ai.TotalSumofOrders12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders15M!=undefined ? GBPValues(ai.TotalSumofOrders15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders18M!=undefined ? GBPValues(ai.TotalSumofOrders18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders24M!=undefined ? GBPValues(ai.TotalSumofOrders24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOrdersLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total invoices (Annualized)</td>
                        <td><%-ai.TotalSumofOrdersAnnualized1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized1M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized3M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized6M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized12M): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Paid invoices</td>
                        <td><%-ai.Sumofpaidinvoices1M!=undefined ? GBPValues(ai.Sumofpaidinvoices1M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices3M!=undefined ? GBPValues(ai.Sumofpaidinvoices3M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices6M!=undefined ? GBPValues(ai.Sumofpaidinvoices6M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices12M!=undefined ? GBPValues(ai.Sumofpaidinvoices12M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices15M!=undefined ? GBPValues(ai.Sumofpaidinvoices15M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices18M!=undefined ? GBPValues(ai.Sumofpaidinvoices18M, true) : "-"%></td>
                        <td><%-ai.Sumofpaidinvoices24M!=undefined ? GBPValues(ai.Sumofpaidinvoices24M, true) : "-"%></td>
                        <td><%-ai.SumofpaidinvoicesLifetime!=undefined ? GBPValues(ai.SumofpaidinvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Overdue invoices</td>
                        <td><%-ai.Sumofoverdueinvoices1M!=undefined ? GBPValues(ai.Sumofoverdueinvoices1M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices3M!=undefined ? GBPValues(ai.Sumofoverdueinvoices3M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices6M!=undefined ? GBPValues(ai.Sumofoverdueinvoices6M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices12M!=undefined ? GBPValues(ai.Sumofoverdueinvoices12M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices15M!=undefined ? GBPValues(ai.Sumofoverdueinvoices15M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices18M!=undefined ? GBPValues(ai.Sumofoverdueinvoices18M, true) : "-"%></td>
                        <td><%-ai.Sumofoverdueinvoices24M!=undefined ? GBPValues(ai.Sumofoverdueinvoices24M, true) : "-"%></td>
                        <td><%-ai.SumofoverdueinvoicesLifetime!=undefined ? GBPValues(ai.SumofoverdueinvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Open invoices</td>
                        <td><%-ai.Sumofopeninvoices1M!=undefined ? GBPValues(ai.Sumofopeninvoices1M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices3M!=undefined ? GBPValues(ai.Sumofopeninvoices3M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices6M!=undefined ? GBPValues(ai.Sumofopeninvoices6M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices12M!=undefined ? GBPValues(ai.Sumofopeninvoices12M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices15M!=undefined ? GBPValues(ai.Sumofopeninvoices15M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices18M!=undefined ? GBPValues(ai.Sumofopeninvoices18M, true) : "-"%></td>
                        <td><%-ai.Sumofopeninvoices24M!=undefined ? GBPValues(ai.Sumofopeninvoices24M, true) : "-"%></td>
                        <td><%-ai.SumofopeninvoicesLifetime!=undefined ? GBPValues(ai.SumofopeninvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Draft invoices</td>
                        <td><%-ai.Sumofdraftinvoices1M!=undefined ? GBPValues(ai.Sumofdraftinvoices1M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices3M!=undefined ? GBPValues(ai.Sumofdraftinvoices3M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices6M!=undefined ? GBPValues(ai.Sumofdraftinvoices6M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices12M!=undefined ? GBPValues(ai.Sumofdraftinvoices12M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices15M!=undefined ? GBPValues(ai.Sumofdraftinvoices15M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices18M!=undefined ? GBPValues(ai.Sumofdraftinvoices18M, true) : "-"%></td>
                        <td><%-ai.Sumofdraftinvoices24M!=undefined ? GBPValues(ai.Sumofdraftinvoices24M, true) : "-"%></td>
                        <td><%-ai.SumofdraftinvoicesLifetime!=undefined ? GBPValues(ai.SumofdraftinvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
        </div>
        <div class="tab-pane" id="freeagentexpensestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of expenses</td>
                        <td><%-ai.NumofExpenses1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses1M) : "-"%></td>
                        <td><%-ai.NumofExpenses3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses3M) : "-"%></td>
                        <td><%-ai.NumofExpenses6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses6M) : "-"%></td>
                        <td><%-ai.NumofExpenses12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses12M) : "-"%></td>
                        <td><%-ai.NumofExpenses15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses15M) : "-"%></td>
                        <td><%-ai.NumofExpenses18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses18M) : "-"%></td>
                        <td><%-ai.NumofExpenses24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenses24M) : "-"%></td>
                        <td><%-ai.NumofExpensesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpensesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total expenses</td>
                        <td><%-ai.TotalSumofExpenses1M!=undefined ? GBPValues(ai.TotalSumofExpenses1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses3M!=undefined ? GBPValues(ai.TotalSumofExpenses3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses6M!=undefined ? GBPValues(ai.TotalSumofExpenses6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses12M!=undefined ? GBPValues(ai.TotalSumofExpenses12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses15M!=undefined ? GBPValues(ai.TotalSumofExpenses15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses18M!=undefined ? GBPValues(ai.TotalSumofExpenses18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenses24M!=undefined ? GBPValues(ai.TotalSumofExpenses24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpensesLifetime!=undefined ? GBPValues(ai.TotalSumofExpensesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Admin expenses</td>
                        <td><%-ai.Sumofadminexpensescategory1M!=undefined ? GBPValues(ai.Sumofadminexpensescategory1M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory3M!=undefined ? GBPValues(ai.Sumofadminexpensescategory3M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory6M!=undefined ? GBPValues(ai.Sumofadminexpensescategory6M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory12M!=undefined ? GBPValues(ai.Sumofadminexpensescategory12M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory15M!=undefined ? GBPValues(ai.Sumofadminexpensescategory15M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory18M!=undefined ? GBPValues(ai.Sumofadminexpensescategory18M, true) : "-"%></td>
                        <td><%-ai.Sumofadminexpensescategory24M!=undefined ? GBPValues(ai.Sumofadminexpensescategory24M, true) : "-"%></td>
                        <td><%-ai.SumofadminexpensescategoryLifetime!=undefined ? GBPValues(ai.SumofadminexpensescategoryLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Cost of sales</td>
                        <td><%-ai.Sumofcostofsalesexpensescategory1M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory1M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory3M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory3M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory6M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory6M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory12M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory12M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory15M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory15M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory18M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory18M, true) : "-"%></td>
                        <td><%-ai.Sumofcostofsalesexpensescategory24M!=undefined ? GBPValues(ai.Sumofcostofsalesexpensescategory24M, true) : "-"%></td>
                        <td><%-ai.SumofcostofsalesexpensescategoryLifetime!=undefined ? GBPValues(ai.SumofcostofsalesexpensescategoryLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>General expenses</td>
                        <td><%-ai.Sumofgeneralexpensescategory1M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory1M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory3M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory3M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory6M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory6M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory12M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory12M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory15M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory15M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory18M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory18M, true) : "-"%></td>
                        <td><%-ai.Sumofgeneralexpensescategory24M!=undefined ? GBPValues(ai.Sumofgeneralexpensescategory24M, true) : "-"%></td>
                        <td><%-ai.SumofgeneralexpensescategoryLifetime!=undefined ? GBPValues(ai.SumofgeneralexpensescategoryLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="freeagentinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Net Value</th>
                        <th>Paid Value</th>
                        <th>Due Value</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.FreeAgent.Invoices, function(invoice, i) {%>
                    <tr>
                        <td><%-invoice.dated_on!=undefined ? EzBob.formatDateTime(invoice.dated_on) : "-"%></td>
                        <td><%-invoice.net_value!=undefined ? GBPValues(invoice.net_value, true) : "-"%></td>
                        <td><%-invoice.paid_value!=undefined ? GBPValues(invoice.paid_value, true) : "-"%></td>
                        <td><%-invoice.due_value!=undefined ? GBPValues(invoice.due_value, true) : "-"%></td>
                        <td><%-invoice.status!=undefined ? invoice.status : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="freeagentexpensedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Gross Value</th>
                        <th>Description</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.FreeAgent.Expenses, function(expense, i) {%>
                    <tr>
                        <td><%-expense.dated_on!=undefined ? EzBob.formatDateTime(expense.dated_on) : "-"%></td>
                        <td><%-expense.gross_value!=undefined ? GBPValues(expense.gross_value, true) : "-"%></td>
                        <td><%-expense.description!=undefined ? expense.description : "-"%></td>
                        <td><%-expense.categoryItem.description!=undefined ? expense.categoryItem.description : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>