<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#freeagentinvoicestab" data-toggle="tab">Invoices</a>
        </li>
        <li>
            <a href="#freeagentexpensestab" data-toggle="tab">Expenses</a>
        </li>
        <li>
            <a href="#freeagentinvoicedetailstab" data-toggle="tab">Invoice Details</a>
        </li>
        <li>
            <a href="#freeagentexpensedetailstab" data-toggle="tab">Expense Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="freeagentinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of invoices</td>
                        <td><%-ai.NumOfOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders1M) : "-"%></td>
                        <td><%-ai.NumOfOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders3M) : "-"%></td>
                        <td><%-ai.NumOfOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders6M) : "-"%></td>
                        <td><%-ai.NumOfOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders12M) : "-"%></td>
                        <td><%-ai.NumOfOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders15M) : "-"%></td>
                        <td><%-ai.NumOfOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders18M) : "-"%></td>
                        <td><%-ai.NumOfOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders24M) : "-"%></td>
                        <td><%-ai.NumOfOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total invoices</td>
                        <td><%-ai.TotalSumOfOrders1M!=undefined ? GBPValues(ai.TotalSumOfOrders1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders3M!=undefined ? GBPValues(ai.TotalSumOfOrders3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders6M!=undefined ? GBPValues(ai.TotalSumOfOrders6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders12M!=undefined ? GBPValues(ai.TotalSumOfOrders12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders15M!=undefined ? GBPValues(ai.TotalSumOfOrders15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders18M!=undefined ? GBPValues(ai.TotalSumOfOrders18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders24M!=undefined ? GBPValues(ai.TotalSumOfOrders24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfOrdersLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total invoices (Annualized)</td>
                        <td><%-ai.TotalSumOfOrdersAnnualized1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized1M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized3M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized6M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized12M): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Paid invoices</td>
                        <td><%-ai.SumOfPaidInvoices1M!=undefined ? GBPValues(ai.SumOfPaidInvoices1M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices3M!=undefined ? GBPValues(ai.SumOfPaidInvoices3M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices6M!=undefined ? GBPValues(ai.SumOfPaidInvoices6M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices12M!=undefined ? GBPValues(ai.SumOfPaidInvoices12M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices15M!=undefined ? GBPValues(ai.SumOfPaidInvoices15M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices18M!=undefined ? GBPValues(ai.SumOfPaidInvoices18M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoices24M!=undefined ? GBPValues(ai.SumOfPaidInvoices24M, true) : "-"%></td>
                        <td><%-ai.SumOfPaidInvoicesLifetime!=undefined ? GBPValues(ai.SumOfPaidInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Overdue invoices</td>
                        <td><%-ai.SumOfOverdueInvoices1M!=undefined ? GBPValues(ai.SumOfOverdueInvoices1M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices3M!=undefined ? GBPValues(ai.SumOfOverdueInvoices3M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices6M!=undefined ? GBPValues(ai.SumOfOverdueInvoices6M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices12M!=undefined ? GBPValues(ai.SumOfOverdueInvoices12M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices15M!=undefined ? GBPValues(ai.SumOfOverdueInvoices15M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices18M!=undefined ? GBPValues(ai.SumOfOverdueInvoices18M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoices24M!=undefined ? GBPValues(ai.SumOfOverdueInvoices24M, true) : "-"%></td>
                        <td><%-ai.SumOfOverdueInvoicesLifetime!=undefined ? GBPValues(ai.SumOfOverdueInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Open invoices</td>
                        <td><%-ai.SumOfOpenInvoices1M!=undefined ? GBPValues(ai.SumOfOpenInvoices1M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices3M!=undefined ? GBPValues(ai.SumOfOpenInvoices3M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices6M!=undefined ? GBPValues(ai.SumOfOpenInvoices6M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices12M!=undefined ? GBPValues(ai.SumOfOpenInvoices12M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices15M!=undefined ? GBPValues(ai.SumOfOpenInvoices15M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices18M!=undefined ? GBPValues(ai.SumOfOpenInvoices18M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoices24M!=undefined ? GBPValues(ai.SumOfOpenInvoices24M, true) : "-"%></td>
                        <td><%-ai.SumOfOpenInvoicesLifetime!=undefined ? GBPValues(ai.SumOfOpenInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Draft invoices</td>
                        <td><%-ai.SumOfDraftInvoices1M!=undefined ? GBPValues(ai.SumOfDraftInvoices1M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices3M!=undefined ? GBPValues(ai.SumOfDraftInvoices3M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices6M!=undefined ? GBPValues(ai.SumOfDraftInvoices6M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices12M!=undefined ? GBPValues(ai.SumOfDraftInvoices12M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices15M!=undefined ? GBPValues(ai.SumOfDraftInvoices15M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices18M!=undefined ? GBPValues(ai.SumOfDraftInvoices18M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoices24M!=undefined ? GBPValues(ai.SumOfDraftInvoices24M, true) : "-"%></td>
                        <td><%-ai.SumOfDraftInvoicesLifetime!=undefined ? GBPValues(ai.SumOfDraftInvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
        </div>
        <div class="tab-pane" id="freeagentexpensestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of expenses</td>
                        <td><%-ai.NumOfExpenses1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses1M) : "-"%></td>
                        <td><%-ai.NumOfExpenses3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses3M) : "-"%></td>
                        <td><%-ai.NumOfExpenses6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses6M) : "-"%></td>
                        <td><%-ai.NumOfExpenses12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses12M) : "-"%></td>
                        <td><%-ai.NumOfExpenses15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses15M) : "-"%></td>
                        <td><%-ai.NumOfExpenses18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses18M) : "-"%></td>
                        <td><%-ai.NumOfExpenses24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenses24M) : "-"%></td>
                        <td><%-ai.NumOfExpensesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpensesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total expenses</td>
                        <td><%-ai.TotalSumOfExpenses1M!=undefined ? GBPValues(ai.TotalSumOfExpenses1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses3M!=undefined ? GBPValues(ai.TotalSumOfExpenses3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses6M!=undefined ? GBPValues(ai.TotalSumOfExpenses6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses12M!=undefined ? GBPValues(ai.TotalSumOfExpenses12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses15M!=undefined ? GBPValues(ai.TotalSumOfExpenses15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses18M!=undefined ? GBPValues(ai.TotalSumOfExpenses18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenses24M!=undefined ? GBPValues(ai.TotalSumOfExpenses24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpensesLifetime!=undefined ? GBPValues(ai.TotalSumOfExpensesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Admin expenses</td>
                        <td><%-ai.SumOfAdminExpensesCategory1M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory1M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory3M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory3M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory6M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory6M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory12M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory12M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory15M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory15M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory18M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory18M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategory24M!=undefined ? GBPValues(ai.SumOfAdminExpensesCategory24M, true) : "-"%></td>
                        <td><%-ai.SumOfAdminExpensesCategoryLifetime!=undefined ? GBPValues(ai.SumOfAdminExpensesCategoryLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Cost of sales</td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory1M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory1M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory3M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory3M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory6M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory6M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory12M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory12M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory15M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory15M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory18M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory18M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategory24M!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategory24M, true) : "-"%></td>
                        <td><%-ai.SumOfCostOfSalesExpensesCategoryLifetime!=undefined ? GBPValues(ai.SumOfCostOfSalesExpensesCategoryLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>General expenses</td>
                        <td><%-ai.SumOfGeneralExpensesCategory1M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory1M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory3M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory3M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory6M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory6M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory12M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory12M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory15M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory15M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory18M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory18M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategory24M!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategory24M, true) : "-"%></td>
                        <td><%-ai.SumOfGeneralExpensesCategoryLifetime!=undefined ? GBPValues(ai.SumOfGeneralExpensesCategoryLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="freeagentinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Net Value</th>
                        <th>Paid Value</th>
                        <th>Due Value</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.FreeAgent.Invoices, function(invoice, i) {%>
                    <tr>
                        <td><%-invoice.dated_on!=undefined ? EzBob.formatDateTime(invoice.dated_on) : "-"%></td>
                        <td><%-invoice.net_value!=undefined ? GBPValues(invoice.net_value, true) : "-"%></td>
                        <td><%-invoice.paid_value!=undefined ? GBPValues(invoice.paid_value, true) : "-"%></td>
                        <td><%-invoice.due_value!=undefined ? GBPValues(invoice.due_value, true) : "-"%></td>
                        <td><%-invoice.status!=undefined ? invoice.status : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="freeagentexpensedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Gross Value</th>
                        <th>Description</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.FreeAgent.Expenses, function(expense, i) {%>
                    <tr>
                        <td><%-expense.dated_on!=undefined ? EzBob.formatDateTime(expense.dated_on) : "-"%></td>
                        <td><%-expense.gross_value!=undefined ? GBPValues(expense.gross_value, true) : "-"%></td>
                        <td><%-expense.description!=undefined ? expense.description : "-"%></td>
                        <td><%-expense.categoryItem.description!=undefined ? expense.categoryItem.description : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>