<table class="table centered"><thead class="box"><tr class="box-title">
<th>Business &amp; Period</th> <th>Return Details</th></tr></thead><tbody><%
if (m.CGData && m.CGData.VatReturn) {
	for (var nIdx = 0; nIdx < m.CGData.VatReturn.length; nIdx++) {
	var oEntry = m.CGData.VatReturn[nIdx];
		%><tr><td class="no-padding"><table class="internal-table">
			<tr><td>Registration #:</td><td><%= oEntry.RegistrationNo %></td></tr>
			<tr><td>Period:</td><td><%= oEntry.Period %></td></tr>
			<tr><td>From:</td><td><%= EzBob.formatDate(oEntry.DateFrom) %></td></tr>
			<tr><td>To:</td><td><%= EzBob.formatDate(oEntry.DateTo) %></td></tr>
			<tr><td>Business Details:</td><td><%= oEntry.BusinessName %>
			<% for (var nAddrIdx = 0; nAddrIdx < oEntry.BusinessAddress.length; nAddrIdx++) {
				%><div><%= oEntry.BusinessAddress[nAddrIdx] %></div><%
			} %></td></tr></table></td>
			<td class="no-padding"><table class="internal-table"><%
				var oSortable = [];

				for (var oDetail in oEntry.Data)
					oSortable.push({ caption: oDetail, amount: oEntry.Data[oDetail].Amount, currency_code: oEntry.Data[oDetail].CurrencyCode });

				var re = /\(Box (\d+)\)$/;
				oSortable.sort(function(a, b) {
					var oAmatch = re.exec(a.caption);
					var oBmatch = re.exec(b.caption);

					var nA = parseInt(oAmatch ? oAmatch[1] : Number.MAX_VALUE - 32);
					var nB = parseInt(oBmatch ? oBmatch[1] : Number.MAX_VALUE - 32);

					return nA - nB;
				});

				for (var nRDIdx = 0; nRDIdx < oSortable.length; nRDIdx++) {
					var oDetail = oSortable[nRDIdx];
					%><tr><td><%= oDetail.caption %>:</td><td class="r <%-NegativeNum(oDetail.amount)%>"><%= (oDetail.currency_code == 'GBP') ? GBPValues(oDetail.amount, true) : oDetail.amount %></td></tr><%
				} %></table></td>
		</tr><%
	} // for each entry
} // if
%></tbody></table>
