<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#paypointtab1" data-toggle="tab">Orders</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="paypointtab1">
            <table class="table centered rright">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sum of authorised orders</td>
                        <td><%-ai.TotalSumOfOrders1M!=undefined ? GBPValues(ai.TotalSumOfOrders1M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders3M!=undefined ? GBPValues(ai.TotalSumOfOrders3M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders6M!=undefined ? GBPValues(ai.TotalSumOfOrders6M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders12M!=undefined ? GBPValues(ai.TotalSumOfOrders12M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders15M!=undefined ? GBPValues(ai.TotalSumOfOrders15M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders18M!=undefined ? GBPValues(ai.TotalSumOfOrders18M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrders24M!=undefined ? GBPValues(ai.TotalSumOfOrders24M, true): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfOrdersLifetime, true): "-"%></td>
                    </tr>
                    <tr>
                        <td>Number of orders</td>
                        <td><%-ai.NumOfOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders1M) : "-"%></td>
                        <td><%-ai.NumOfOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders3M) : "-"%></td>
                        <td><%-ai.NumOfOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders6M) : "-"%></td>
                        <td><%-ai.NumOfOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders12M) : "-"%></td>
                        <td><%-ai.NumOfOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders15M) : "-"%></td>
                        <td><%-ai.NumOfOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders18M) : "-"%></td>
                        <td><%-ai.NumOfOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders24M) : "-"%></td>
                        <td><%-ai.NumOfOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Orders Average</td>
                        <td><%-ai.AverageOrder1M!=undefined ? GBPValues(ai.AverageOrder1M, true) : "-"%></td>
                        <td><%-ai.AverageOrder3M!=undefined ? GBPValues(ai.AverageOrder3M, true) : "-"%></td>
                        <td><%-ai.AverageOrder6M!=undefined ? GBPValues(ai.AverageOrder6M, true) : "-"%></td>
                        <td><%-ai.AverageOrder12M!=undefined ? GBPValues(ai.AverageOrder12M, true) : "-"%></td>
                        <td><%-ai.AverageOrder15M!=undefined ? GBPValues(ai.AverageOrder15M, true) : "-"%></td>
                        <td><%-ai.AverageOrder18M!=undefined ? GBPValues(ai.AverageOrder18M, true) : "-"%></td>
                        <td><%-ai.AverageOrder24M!=undefined ? GBPValues(ai.AverageOrder24M, true) : "-"%></td>
                        <td><%-ai.AverageOrderLifetime!=undefined ? GBPValues(ai.AverageOrderLifetime, true) : "-"%></td>
                    </tr>                                
                    <tr>
                        <td>Num of Failures</td>
                        <td><%-ai.NumOfFailures1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures1M) : "-"%></td>
                        <td><%-ai.NumOfFailures3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures3M) : "-"%></td>
                        <td><%-ai.NumOfFailures6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures6M) : "-"%></td>
                        <td><%-ai.NumOfFailures12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures12M) : "-"%></td>
                        <td><%-ai.NumOfFailures15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures15M) : "-"%></td>
                        <td><%-ai.NumOfFailures18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures18M) : "-"%></td>
                        <td><%-ai.NumOfFailures24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailures24M) : "-"%></td>
                        <td><%-ai.NumOfFailuresLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfFailuresLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Cancellation Rate</td>
                        <td><%-ai.CancellationRate1M!=undefined ? EzBob.roundNumber(ai.CancellationRate1M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate3M!=undefined ? EzBob.roundNumber(ai.CancellationRate3M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate6M!=undefined ? EzBob.roundNumber(ai.CancellationRate6M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate12M!=undefined ? EzBob.roundNumber(ai.CancellationRate12M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate15M!=undefined ? EzBob.roundNumber(ai.CancellationRate15M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate18M!=undefined ? EzBob.roundNumber(ai.CancellationRate18M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRate24M!=undefined ? EzBob.roundNumber(ai.CancellationRate24M*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationRateLifetime!=undefined ? EzBob.roundNumber(ai.CancellationRateLifetime*cancellationRateFactor, cancellationRateRound) + "%" : "-"%></td>
                    </tr>
                    <tr>
                        <td>Cancellation Value</td>
                        <td><%-ai.CancellationValue1M!=undefined ? EzBob.roundNumber(ai.CancellationValue1M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue3M!=undefined ? EzBob.roundNumber(ai.CancellationValue3M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue6M!=undefined ? EzBob.roundNumber(ai.CancellationValue6M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue12M!=undefined ? EzBob.roundNumber(ai.CancellationValue12M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue15M!=undefined ? EzBob.roundNumber(ai.CancellationValue15M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue18M!=undefined ? EzBob.roundNumber(ai.CancellationValue18M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValue24M!=undefined ? EzBob.roundNumber(ai.CancellationValue24M*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                        <td><%-ai.CancellationValueLifetime!=undefined ? EzBob.roundNumber(ai.CancellationValueLifetime*cancellationValueFactor, cancellationValueRound) + "%" : "-"%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
        </div>
    </div>
</div>
