<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#sagesalesinvoicestab" data-toggle="tab">Sales Invoices</a>
        </li>
        <li>
            <a href="#sagesalesinvoicedetailstab" data-toggle="tab">Sales Invoice Details</a>
        </li>
        <li>
            <a href="#sageincomestab" data-toggle="tab">Incomes</a>
        </li>
        <li>
            <a href="#sageincomedetailstab" data-toggle="tab">Income Details</a>
        </li>
        <li>
            <a href="#sagepurchaseinvoicestab" data-toggle="tab">Purchase Invoices</a>
        </li>
        <li>
            <a href="#sagepurchaseinvoicedetailstab" data-toggle="tab">Purchase Invoice Details</a>
        </li>
        <li>
            <a href="#sageexpenditurestab" data-toggle="tab">Expenditures</a>
        </li>
        <li>
            <a href="#sageexpendituredetailstab" data-toggle="tab">Expenditure Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="sagesalesinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of sales invoices</td>
                        <td><%-ai.NumofOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders1M) : "-"%></td>
                        <td><%-ai.NumofOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders3M) : "-"%></td>
                        <td><%-ai.NumofOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders6M) : "-"%></td>
                        <td><%-ai.NumofOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders12M) : "-"%></td>
                        <td><%-ai.NumofOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders15M) : "-"%></td>
                        <td><%-ai.NumofOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders18M) : "-"%></td>
                        <td><%-ai.NumofOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders24M) : "-"%></td>
                        <td><%-ai.NumofOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sales invoices</td>
                        <td><%-ai.TotalSumofOrders1M!=undefined ? GBPValues(ai.TotalSumofOrders1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders3M!=undefined ? GBPValues(ai.TotalSumofOrders3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders6M!=undefined ? GBPValues(ai.TotalSumofOrders6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders12M!=undefined ? GBPValues(ai.TotalSumofOrders12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders15M!=undefined ? GBPValues(ai.TotalSumofOrders15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders18M!=undefined ? GBPValues(ai.TotalSumofOrders18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders24M!=undefined ? GBPValues(ai.TotalSumofOrders24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOrdersLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sales invoices (Annualized)</td>
                        <td><%-ai.TotalSumofOrdersAnnualized1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized1M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized3M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized6M): "-"%></td>
                        <td><%-ai.TotalSumofOrdersAnnualized12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumofOrdersAnnualized12M): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Total paid sales invoices</td>
                        <td><%-ai.TotalSumofPaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofPaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total unpaid sales invoices</td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofUnpaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total partially paid sales invoices</td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagesalesinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Due Value</th>
                        <th>Net Value</th>
                        <th>Outstanding amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.SalesInvoices, function(salesInvoice, i) { %>
                    <tr>
                        <td><%-salesInvoice.date!=undefined ? EzBob.formatDateTime(salesInvoice.date) : "-"%></td>
                        <td><%-salesInvoice.due_date!=undefined ? EzBob.formatDateTime(salesInvoice.due_date) : "-"%></td>
                        <td><%-salesInvoice.total_net_amount!=undefined ? GBPValues(salesInvoice.total_net_amount, true) : "-"%></td>
                        <td><%-salesInvoice.outstanding_amount!=undefined ? GBPValues(salesInvoice.outstanding_amount, true) : "-"%></td>
                        <td><%-salesInvoice.status!=undefined && m.Sage.InvoicesStatuses[salesInvoice.status]!=undefined ? m.Sage.InvoicesStatuses[salesInvoice.status] : "-"%></td>
                     </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of incomes</td>
                        <td><%-ai.NumofIncomes1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes1M) : "-"%></td>
                        <td><%-ai.NumofIncomes3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes3M) : "-"%></td>
                        <td><%-ai.NumofIncomes6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes6M) : "-"%></td>
                        <td><%-ai.NumofIncomes12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes12M) : "-"%></td>
                        <td><%-ai.NumofIncomes15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes15M) : "-"%></td>
                        <td><%-ai.NumofIncomes18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes18M) : "-"%></td>
                        <td><%-ai.NumofIncomes24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes24M) : "-"%></td>
                        <td><%-ai.NumofIncomesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total incomes</td>
                        <td><%-ai.TotalSumofIncomes1M!=undefined ? GBPValues(ai.TotalSumofIncomes1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes3M!=undefined ? GBPValues(ai.TotalSumofIncomes3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes6M!=undefined ? GBPValues(ai.TotalSumofIncomes6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes12M!=undefined ? GBPValues(ai.TotalSumofIncomes12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes15M!=undefined ? GBPValues(ai.TotalSumofIncomes15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes18M!=undefined ? GBPValues(ai.TotalSumofIncomes18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes24M!=undefined ? GBPValues(ai.TotalSumofIncomes24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomesLifetime!=undefined ? GBPValues(ai.TotalSumofIncomesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.Incomes, function(income, i) {%>
                    <tr>
                        <td><%-income.date!=undefined ? EzBob.formatDateTime(income.date) : "-"%></td>
                        <td><%-income.amount!=undefined ? GBPValues(income.amount, true) : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagepurchaseinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of purchase invoices</td>
                        <td><%-ai.NumofPurchaseInvoices1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices1M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices3M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices6M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices12M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices15M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices18M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoices24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoices24M) : "-"%></td>
                        <td><%-ai.NumofPurchaseInvoicesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofPurchaseInvoicesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total purchase invoices</td>
                        <td><%-ai.TotalSumofPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total paid purchase invoices</td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofPaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total unpaid purchase invoices</td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofUnpaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofUnpaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total partially paid purchase invoices</td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofPartiallyPaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumofPartiallyPaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagepurchaseinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Due Value</th>
                        <th>Net Value</th>
                        <th>Outstanding amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.PurchaseInvoices, function(purchaseInvoice, i) {%>
                    <tr>
                        <td><%-purchaseInvoice.date!=undefined ? EzBob.formatDateTime(purchaseInvoice.date) : "-"%></td>
                        <td><%-purchaseInvoice.due_date!=undefined ? EzBob.formatDateTime(purchaseInvoice.due_date) : "-"%></td>
                        <td><%-purchaseInvoice.total_net_amount!=undefined ? GBPValues(purchaseInvoice.total_net_amount, true) : "-"%></td>
                        <td><%-purchaseInvoice.outstanding_amount!=undefined ? GBPValues(purchaseInvoice.outstanding_amount, true) : "-"%></td>
                        <td><%-purchaseInvoice.status!=undefined && m.Sage.InvoicesStatuses[purchaseInvoice.status]!=undefined ? m.Sage.InvoicesStatuses[purchaseInvoice.status] : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageexpenditurestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of expenditures</td>
                        <td><%-ai.NumofExpenditures1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures1M) : "-"%></td>
                        <td><%-ai.NumofExpenditures3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures3M) : "-"%></td>
                        <td><%-ai.NumofExpenditures6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures6M) : "-"%></td>
                        <td><%-ai.NumofExpenditures12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures12M) : "-"%></td>
                        <td><%-ai.NumofExpenditures15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures15M) : "-"%></td>
                        <td><%-ai.NumofExpenditures18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures18M) : "-"%></td>
                        <td><%-ai.NumofExpenditures24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpenditures24M) : "-"%></td>
                        <td><%-ai.NumofExpendituresLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofExpendituresLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total expenditures</td>
                        <td><%-ai.TotalSumofExpenditures1M!=undefined ? GBPValues(ai.TotalSumofExpenditures1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures3M!=undefined ? GBPValues(ai.TotalSumofExpenditures3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures6M!=undefined ? GBPValues(ai.TotalSumofExpenditures6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures12M!=undefined ? GBPValues(ai.TotalSumofExpenditures12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures15M!=undefined ? GBPValues(ai.TotalSumofExpenditures15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures18M!=undefined ? GBPValues(ai.TotalSumofExpenditures18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpenditures24M!=undefined ? GBPValues(ai.TotalSumofExpenditures24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofExpendituresLifetime!=undefined ? GBPValues(ai.TotalSumofExpendituresLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageexpendituredetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.Expenditures, function(expenditure, i) {%>
                    <tr>
                        <td><%-expenditure.date!=undefined ? EzBob.formatDateTime(expenditure.date) : "-"%></td>
                        <td><%-expenditure.amount!=undefined ? GBPValues(expenditure.amount, true) : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>