<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#sagesalesinvoicestab" data-toggle="tab">Sales Invoices</a>
        </li>
        <li>
            <a href="#sagesalesinvoicedetailstab" data-toggle="tab">Sales Invoice Details</a>
        </li>
        <li>
            <a href="#sageincomestab" data-toggle="tab">Incomes</a>
        </li>
        <li>
            <a href="#sageincomedetailstab" data-toggle="tab">Income Details</a>
        </li>
        <li>
            <a href="#sagepurchaseinvoicestab" data-toggle="tab">Purchase Invoices</a>
        </li>
        <li>
            <a href="#sagepurchaseinvoicedetailstab" data-toggle="tab">Purchase Invoice Details</a>
        </li>
        <li>
            <a href="#sageexpenditurestab" data-toggle="tab">Expenditures</a>
        </li>
        <li>
            <a href="#sageexpendituredetailstab" data-toggle="tab">Expenditure Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="sagesalesinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of sales invoices</td>
                        <td><%-ai.NumOfOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders1M) : "-"%></td>
                        <td><%-ai.NumOfOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders3M) : "-"%></td>
                        <td><%-ai.NumOfOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders6M) : "-"%></td>
                        <td><%-ai.NumOfOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders12M) : "-"%></td>
                        <td><%-ai.NumOfOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders15M) : "-"%></td>
                        <td><%-ai.NumOfOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders18M) : "-"%></td>
                        <td><%-ai.NumOfOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrders24M) : "-"%></td>
                        <td><%-ai.NumOfOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sales invoices</td>
                        <td><%-ai.TotalSumOfOrders1M!=undefined ? GBPValues(ai.TotalSumOfOrders1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders3M!=undefined ? GBPValues(ai.TotalSumOfOrders3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders6M!=undefined ? GBPValues(ai.TotalSumOfOrders6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders12M!=undefined ? GBPValues(ai.TotalSumOfOrders12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders15M!=undefined ? GBPValues(ai.TotalSumOfOrders15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders18M!=undefined ? GBPValues(ai.TotalSumOfOrders18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrders24M!=undefined ? GBPValues(ai.TotalSumOfOrders24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfOrdersLifetime!=undefined ? GBPValues(ai.TotalSumOfOrdersLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total sales invoices (Annualized)</td>
                        <td><%-ai.TotalSumOfOrdersAnnualized1M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized1M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized3M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized3M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized6M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized6M): "-"%></td>
                        <td><%-ai.TotalSumOfOrdersAnnualized12M!=undefined ? EzBob.formatPoundsNoDecimals(ai.TotalSumOfOrdersAnnualized12M): "-"%></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Total paid sales invoices</td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfPaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total unpaid sales invoices</td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfUnpaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total partially paid sales invoices</td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices1M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices3M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices6M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices12M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices15M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices18M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoices24M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidSalesInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidSalesInvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
            <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
        </div>
        <div class="tab-pane" id="sagesalesinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Due Value</th>
                        <th>Net Value</th>
                        <th>Outstanding amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.SalesInvoices, function(salesInvoice, i) { %>
                    <tr>
                        <td><%-salesInvoice.date!=undefined ? EzBob.formatDateTime(salesInvoice.date) : "-"%></td>
                        <td><%-salesInvoice.due_date!=undefined ? EzBob.formatDateTime(salesInvoice.due_date) : "-"%></td>
                        <td><%-salesInvoice.total_net_amount!=undefined ? GBPValues(salesInvoice.total_net_amount, true) : "-"%></td>
                        <td><%-salesInvoice.outstanding_amount!=undefined ? GBPValues(salesInvoice.outstanding_amount, true) : "-"%></td>
                        <td><%-salesInvoice.status!=undefined && m.Sage.InvoicesStatuses[salesInvoice.status]!=undefined ? m.Sage.InvoicesStatuses[salesInvoice.status] : "-"%></td>
                     </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of incomes</td>
                        <td><%-ai.NumOfIncomes1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes1M) : "-"%></td>
                        <td><%-ai.NumOfIncomes3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes3M) : "-"%></td>
                        <td><%-ai.NumOfIncomes6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes6M) : "-"%></td>
                        <td><%-ai.NumOfIncomes12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes12M) : "-"%></td>
                        <td><%-ai.NumOfIncomes15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes15M) : "-"%></td>
                        <td><%-ai.NumOfIncomes18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes18M) : "-"%></td>
                        <td><%-ai.NumOfIncomes24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomes24M) : "-"%></td>
                        <td><%-ai.NumOfIncomesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfIncomesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total incomes</td>
                        <td><%-ai.TotalSumOfIncomes1M!=undefined ? GBPValues(ai.TotalSumOfIncomes1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes3M!=undefined ? GBPValues(ai.TotalSumOfIncomes3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes6M!=undefined ? GBPValues(ai.TotalSumOfIncomes6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes12M!=undefined ? GBPValues(ai.TotalSumOfIncomes12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes15M!=undefined ? GBPValues(ai.TotalSumOfIncomes15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes18M!=undefined ? GBPValues(ai.TotalSumOfIncomes18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomes24M!=undefined ? GBPValues(ai.TotalSumOfIncomes24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfIncomesLifetime!=undefined ? GBPValues(ai.TotalSumOfIncomesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.Incomes, function(income, i) {%>
                    <tr>
                        <td><%-income.date!=undefined ? EzBob.formatDateTime(income.date) : "-"%></td>
                        <td><%-income.amount!=undefined ? GBPValues(income.amount, true) : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagepurchaseinvoicestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of purchase invoices</td>
                        <td><%-ai.NumOfPurchaseInvoices1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices1M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices3M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices6M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices12M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices15M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices18M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoices24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoices24M) : "-"%></td>
                        <td><%-ai.NumOfPurchaseInvoicesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfPurchaseInvoicesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total purchase invoices</td>
                        <td><%-ai.TotalSumOfPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total paid purchase invoices</td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfPaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total unpaid purchase invoices</td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfUnpaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfUnpaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total partially paid purchase invoices</td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices1M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices3M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices6M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices12M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices15M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices18M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoices24M!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoices24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfPartiallyPaidPurchaseInvoicesLifetime!=undefined ? GBPValues(ai.TotalSumOfPartiallyPaidPurchaseInvoicesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagepurchaseinvoicedetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Due Value</th>
                        <th>Net Value</th>
                        <th>Outstanding amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.PurchaseInvoices, function(purchaseInvoice, i) {%>
                    <tr>
                        <td><%-purchaseInvoice.date!=undefined ? EzBob.formatDateTime(purchaseInvoice.date) : "-"%></td>
                        <td><%-purchaseInvoice.due_date!=undefined ? EzBob.formatDateTime(purchaseInvoice.due_date) : "-"%></td>
                        <td><%-purchaseInvoice.total_net_amount!=undefined ? GBPValues(purchaseInvoice.total_net_amount, true) : "-"%></td>
                        <td><%-purchaseInvoice.outstanding_amount!=undefined ? GBPValues(purchaseInvoice.outstanding_amount, true) : "-"%></td>
                        <td><%-purchaseInvoice.status!=undefined && m.Sage.InvoicesStatuses[purchaseInvoice.status]!=undefined ? m.Sage.InvoicesStatuses[purchaseInvoice.status] : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageexpenditurestab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>Lifetime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of expenditures</td>
                        <td><%-ai.NumOfExpenditures1M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures1M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures3M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures3M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures6M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures6M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures12M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures12M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures15M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures15M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures18M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures18M) : "-"%></td>
                        <td><%-ai.NumOfExpenditures24M!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpenditures24M) : "-"%></td>
                        <td><%-ai.NumOfExpendituresLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumOfExpendituresLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total expenditures</td>
                        <td><%-ai.TotalSumOfExpenditures1M!=undefined ? GBPValues(ai.TotalSumOfExpenditures1M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures3M!=undefined ? GBPValues(ai.TotalSumOfExpenditures3M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures6M!=undefined ? GBPValues(ai.TotalSumOfExpenditures6M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures12M!=undefined ? GBPValues(ai.TotalSumOfExpenditures12M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures15M!=undefined ? GBPValues(ai.TotalSumOfExpenditures15M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures18M!=undefined ? GBPValues(ai.TotalSumOfExpenditures18M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpenditures24M!=undefined ? GBPValues(ai.TotalSumOfExpenditures24M, true) : "-"%></td>
                        <td><%-ai.TotalSumOfExpendituresLifetime!=undefined ? GBPValues(ai.TotalSumOfExpendituresLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageexpendituredetailstab">
            <table class="table centered">
                <thead class="box">
                    <tr class="box-title">
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.Expenditures, function(expenditure, i) {%>
                    <tr>
                        <td><%-expenditure.date!=undefined ? EzBob.formatDateTime(expenditure.date) : "-"%></td>
                        <td><%-expenditure.amount!=undefined ? GBPValues(expenditure.amount, true) : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>