<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#sagesalesinvoicestab" data-toggle="tab">Sales Invoices</a>
        </li>
        <li>
            <a href="#sagesalesinvoicedetailstab" data-toggle="tab">Sales Invoice Details</a>
        </li>
        <li>
            <a href="#sageincomestab" data-toggle="tab">Incomes</a>
        </li>
        <li>
            <a href="#sageincomedetailstab" data-toggle="tab">Income Details</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="sagesalesinvoicestab">
            <table class="table table-bordered table-striped blue-header centered">
                <thead>
                    <tr>
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of invoices</td>
                        <td><%-ai.NumofOrders1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders1M) : "-"%></td>
                        <td><%-ai.NumofOrders3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders3M) : "-"%></td>
                        <td><%-ai.NumofOrders6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders6M) : "-"%></td>
                        <td><%-ai.NumofOrders12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders12M) : "-"%></td>
                        <td><%-ai.NumofOrders15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders15M) : "-"%></td>
                        <td><%-ai.NumofOrders18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders18M) : "-"%></td>
                        <td><%-ai.NumofOrders24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrders24M) : "-"%></td>
                        <td><%-ai.NumofOrdersLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofOrdersLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total invoices</td>
                        <td><%-ai.TotalSumofOrders1M!=undefined ? GBPValues(ai.TotalSumofOrders1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders3M!=undefined ? GBPValues(ai.TotalSumofOrders3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders6M!=undefined ? GBPValues(ai.TotalSumofOrders6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders12M!=undefined ? GBPValues(ai.TotalSumofOrders12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders15M!=undefined ? GBPValues(ai.TotalSumofOrders15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders18M!=undefined ? GBPValues(ai.TotalSumofOrders18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrders24M!=undefined ? GBPValues(ai.TotalSumofOrders24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofOrdersLifetime!=undefined ? GBPValues(ai.TotalSumofOrdersLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sagesalesinvoicedetailstab">
            <table class="table table-bordered table-striped blue-header centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Due Value</th>
                        <th>Net Value</th>
                        <th>Outstanding amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.SalesInvoices, function(salesInvoice, i) {%>
                    <tr>
                        <td><%-salesInvoice.date!=undefined ? EzBob.formatDateTime(salesInvoice.date) : "-"%></td>
                        <td><%-salesInvoice.due_date!=undefined ? EzBob.formatDateTime(salesInvoice.due_date) : "-"%></td>
                        <td><%-salesInvoice.total_net_amount!=undefined ? GBPValues(salesInvoice.total_net_amount, true) : "-"%></td>
                        <td><%-salesInvoice.outstanding_amount!=undefined ? GBPValues(salesInvoice.outstanding_amount, true) : "-"%></td>
                        <td><%-salesInvoice.status!=undefined ? salesInvoice.status : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomestab">
            <table class="table table-bordered table-striped blue-header centered">
                <thead>
                    <tr>
                        <th></th>
                        <th>1M</th>
                        <th>3M</th>
                        <th>6M</th>
                        <th>12M</th>
                        <th>15M</th>
                        <th>18M</th>
                        <th>24M</th>
                        <th>24M+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of incomes</td>
                        <td><%-ai.NumofIncomes1M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes1M) : "-"%></td>
                        <td><%-ai.NumofIncomes3M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes3M) : "-"%></td>
                        <td><%-ai.NumofIncomes6M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes6M) : "-"%></td>
                        <td><%-ai.NumofIncomes12M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes12M) : "-"%></td>
                        <td><%-ai.NumofIncomes15M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes15M) : "-"%></td>
                        <td><%-ai.NumofIncomes18M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes18M) : "-"%></td>
                        <td><%-ai.NumofIncomes24M!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomes24M) : "-"%></td>
                        <td><%-ai.NumofIncomesLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumofIncomesLifetime) : "-"%></td>
                    </tr>
                    <tr>
                        <td>Total incomes</td>
                        <td><%-ai.TotalSumofIncomes1M!=undefined ? GBPValues(ai.TotalSumofIncomes1M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes3M!=undefined ? GBPValues(ai.TotalSumofIncomes3M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes6M!=undefined ? GBPValues(ai.TotalSumofIncomes6M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes12M!=undefined ? GBPValues(ai.TotalSumofIncomes12M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes15M!=undefined ? GBPValues(ai.TotalSumofIncomes15M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes18M!=undefined ? GBPValues(ai.TotalSumofIncomes18M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomes24M!=undefined ? GBPValues(ai.TotalSumofIncomes24M, true) : "-"%></td>
                        <td><%-ai.TotalSumofIncomesLifetime!=undefined ? GBPValues(ai.TotalSumofIncomesLifetime, true) : "-"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="sageincomedetailstab">
            <table class="table table-bordered table-striped blue-header centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <%_.each(m.Sage.Incomes, function(income, i) {%>
                    <tr>
                        <td><%-income.date!=undefined ? EzBob.formatDateTime(income.date) : "-"%></td>
                        <td><%-income.amount!=undefined ? GBPValues(income.amount, true) : "-"%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>