<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation targetFramework="4.5" debug="true"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="60" />
		</authentication>

		<sessionState timeout="60" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<connectionStrings>
		<add name="dev-alexbo" connectionString="user id=ezbobuser;password=ezbobuser;server=localhost;database=ezbob" providerName="System.Data.SqlClient"/>
		<add name="dev-yulys" connectionString="Server=localhost\SQLEXPRESS;Database=ezbob;User Id=sa;Password=Or@nge123;" providerName="System.Data.SqlClient"/>
		<add name="production" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
		<add name="dev-stasd" connectionString="Server=localhost;Database=ezbob;User Id=stas;Password=ezbobuser;" providerName="System.Data.SqlClient"/>
		<add name="production-stasd" connectionString="user id=sa;password=Or@nge123;server=192.168.120.10;Trusted_Connection=no;database=ezbob;connection timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>