<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation targetFramework="4.5" debug="true" />
		<httpRuntime />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<authorization>
			<deny users="?" />
		</authorization>
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="60" />
		</authentication>

		<sessionState timeout="60" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<connectionStrings configSource="connection-strings.xml" />
</configuration>