@model dynamic

<table class="table table-selected bankAccounts centered box">
	<thead class="box">
		<tr class="box-title">
			<th>Bank Account</th>
			<th>Sort Code</th>
			<th>Bank Account Check</th>
			<th>Type</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="box-content"><%
		_.each(bankAccounts, function(ba) {
			%><tr data-card-id="<%- ba.Id %>" >
				<td><%
					if(!ba.StatusInformation) {
						%><i class="icon-question-sign" data-title="Not validated"></i><%
					} else if(ba.StatusInformation == "OK") {
						%><i class="icon-ok" data-title="Validated"></i><%
					} else {
						%><i class="icon-exclamation-sign" data-title="<%- ba.StatusInformation %>"></i><%
					}
					%> <%- ba.BankAccount %>
				</td>
				<td><%- ba.SortCode %></td>
				<td><%- ba.StatusInformation || "-" %></td>
				<td><%- ba.Type %></td>
				<td class="buttons_container">
					<button class="btn btn-primary btn-mini checkeBankAccount">Check</button><%
					if (!ba.isDefault) {
						%><button class="btn btn-primary btn-mini setDefault">Set Default</button><%
					}
				%></td>
			</tr><%
		});
	%></tbody>
</table>

<button class="btn btn-primary addNewDebitCard">Add New</button>
