@model dynamic

<table class="table table-selected bankAccounts centered">
    <thead class="box">
        <tr class="box-title">
            <th>Bank Account</th>
            <th>Sort Code</th>
            <th>Bank Account Check</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% _.each(bankAccounts, function(ba, i){%>
            @BankAccountLine("ba")
        <%})%>
    </tbody>
</table>
    
<button class="btn btn-primary addNewDebitCard">Add New</button>

@helper BankAccountLine(string current){
    <tr data-card-id="<%-(@current).Id%>" >
        <td>
            <%if(!(@current).StatusInformation){%>
                <i class="icon-white icon-question-sign" data-title="Not validated"></i>
            <%} else if((@current).StatusInformation == "OK"){%>
                <i class="icon-white icon-ok" data-title="Validated"></i>
            <%} else {%>
                <i class="icon-white icon-exclamation-sign" data-title="<%- (@current).StatusInformation %>"></i>
            <%}%>
            <%-(@current).BankAccount%>
        </td>
        <td><%-(@current).SortCode%></td>
        <td><%-(@current).StatusInformation || "-"%></td>
        <td><%-(@current).Type%></td>
        <td>
            <button class="btn btn-primary btn-mini checkeBankAccount">Check</button>
            <% if(!(@current).isDefault){%>
                <button class="btn btn-primary btn-mini setDefault">Set Default</button>
            <%}%>
        </td>
    </tr>
}