@model dynamic

<table class="table centered box">
	<thead class="box">
		<tr class="box-title">
			<th>Date Added</th>
			<th>PayPoint Card Transaction ID</th>
			<th>Card No</th>
			<th>Expire Date</th>
            <th>Card Holder</th>
            <th>Account Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="box-content"><%
		_.each(paymentAccounts.PayPointCards, function(pp) {
			%><tr class="paypoint_account_tr">
				<td><%
					if (pp.IsDefault) {
						%><i class="icon-ok"></i><%
					}
					%><%- EzBob.formatDateHumanFull(pp.DateAdded)
				%></td>
				<td><%- pp.TransactionId %></td>
				<td><%- pp.CardNo %></td>
				<td><%- EzBob.formatDateHumanFull(pp.ExpireDate) || 'Unknown'%></td>
                <td><%- pp.CardHolder %></td>
			  	<td>
				<span class="paypoint_account" data-toggle="tooltip" data-title="<%- pp.BankAccountName %><br><%- pp.AccNumber %><br><%- pp.SortCode %>">
					<%- pp.PayPointAccountName %>
					<button class="btn btn-mini btn-primary copy_account" data-title="<%- pp.BankAccountName %><br><%- pp.AccNumber %><br><%- pp.SortCode %>"><i class="fa fa-copy"></i></button>
				</span>
				</td>
				<td class="buttons_container"><%
					if (!pp.IsDefault) {
						%><button class="btn btn-mini btn-primary set-paypoint-default" data-transactionid="<%- pp.TransactionId %>">
							<i class="fa fa-check"></i>Set Default
						</button><%
					}
				%></td>
			</tr><%
		});
	%></tbody>
</table>
<div class="payment-cards-buttons">
	<a class="btn btn-primary" href="@Url.Action("AddPayPoint", "PaymentAccounts", new { Area = "Underwriter" })/<%- customerId %>" target="_blank">Add New</a>
    <button class="btn btn-primary add-existing">Add Existing</button>
    Customer default card selection:
    <div class="debitCardCustomerSelection make-switch" data-on="default" data-off="danger" data-animated="true" data-off-label="Not Allowed" data-on-label="Allowed">
        <input type="checkbox" checked/>
    </div>
</div>
