@{ Layout = ""; }
<!DOCTYPE html>
<html>
<head>
	<title>On Upload</title>

	<script>
		(function() {
			window.parent.@{ WriteLiteral(ViewData["key"]); }(JSON.stringify({
				submitted: true,
				error: @{ WriteLiteral(ViewData["error"]); },
				model: @{ WriteLiteral(ViewData["model"]); }
			}));
		})();
	</script>
</head>

<body></body>
</html>
