@{ Layout = ""; }
<!DOCTYPE html>
<html>
<head>
	<title>On Upload</title>

	<script>
		function Body_OnLoad() {
			document.getElementById('close').onclick = function() {
				var oResult = {
					accepted: @{ WriteLiteral(ViewData["accepted_count"]); },
					submitted: true,
					error: '',
					model: @{ WriteLiteral(ViewData["model"]); }
				};

				window.parent.@{ WriteLiteral(ViewData["key"]); }(JSON.stringify(oResult));
			};
		} // Body_OnLoad
	</script>
</head>

<body onload="Body_OnLoad()">
	@ViewData["accepted_count"] files accepted

	<button id="close" class="button orange">Continue</button>
</body>
</html>
