@{ Layout = ""; }

<form id=upload action="@{ WriteLiteral(ViewData["handler"]); }" method="POST" enctype="multipart/form-data">
	<input type=file name=file0 class=upload-file-name />
	<input type=file name=file1 class=upload-file-name />
	<input type=file name=file2 class=upload-file-name />
	<input type=file name=file3 class=upload-file-name />
	
	<input type=hidden name=action id=action />
	<input type=hidden name=key id=key value="@ViewData["key"]" />
	
	<button id=ok>Submit files</button>
	<button id=cancel>Cancel</button>
</form>

<script>
	(function() {
		function SubmitForm(evt) {
			var oSrc = evt.target || evt.srcElement;

			document.getElementById('action').value = oSrc.id;
			document.getElementById('upload').submit();
		}; // SubmitForm

		document.getElementById('ok').onclick = SubmitForm;
		document.getElementById('cancel').onclick = SubmitForm;
	})();
</script>