@{ Layout = ""; }
<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>

	<script>
		window.sFormAction = "@{ WriteLiteral(ViewData["handler"]); }";
		window.sOnCancelMethodName = "@{ WriteLiteral(ViewData["key"]); }";
	</script>

	<script src="../../../../Content/js/lib/jquery-1.8.3.js"></script>
	<script src="../../../../Content/js/ezbob.uiaction.js"></script>
	
	<script>
		function Body_OnLoad() {
			EzBob.UiAction.registerView($('body'));

			$('#ok').click(function() {
				document.getElementById('model').value = JSON.stringify(window.parent[document.getElementById('modelkey').value]());

				var oForm = document.getElementById('upload');

				oForm.action = window.sFormAction;
				oForm.submit();
			}); // on ok

			$('#cancel').click(function() {
				var oResult = { error: '' };
				window.parent[window.sOnCancelMethodName](JSON.stringify(oResult));
			}); // on cancel
		} // Body_OnLoad
	</script>

	<style>
		body.popup { padding: 1em; }
		.upload-file-name { display: block; margin-bottom: 1.6em; }
	</style>
</head>

<body onload="Body_OnLoad()" class="popup">
	<input type="hidden" id="modelkey" value="@{ WriteLiteral(ViewData["modelkey"]); }" />

	<p>Please upload reports for the last 15 months.</p>

	<dl>
		<dt style="font-weight: normal!important;">The files are in PDF format and are titled:</dt>
		<dd><strong>Printed copy of submitted VAT return for your records</strong></dd>
	</dl>

	<form id=upload method="POST" enctype="multipart/form-data">
		<input type="file" name="file0" id="file0" class="upload-file-name" ui-event-control-id="link-account:upload_file" />
		<input type="file" name="file1" id="file1" class="upload-file-name" ui-event-control-id="link-account:upload_file" />
		<input type="file" name="file2" id="file2" class="upload-file-name" ui-event-control-id="link-account:upload_file"/>
		<input type="file" name="file3" id="file3" class="upload-file-name" ui-event-control-id="link-account:upload_file"/>
		<input type="file" name="file4" id="file4" class="upload-file-name" ui-event-control-id="link-account:upload_file"/>

		<input type=hidden name=key id=key value="@ViewData["key"]" />

		<input type="hidden" name="model" id="model" />

		<button type="button" id="cancel" class="button grey pull-right" ui-event-control-id="link-account:cancel_upload">Cancel</button>
		<button type="button" id="ok" class="orange button pull-right" ui-event-control-id="link-account:submit_upload">Submit files</button>
	</form>

	<link rel="stylesheet" href="../../../../Content/css/style.css" />
	<link rel="stylesheet" href="../../../../Content/css/bootstrap.css" />
</body>
</html>
